[2019-08-16 15:07] SpyTec commented on #2716
Currently not blocking me; Found no workaround for the input field

[2019-08-16 15:14] dlabrecq commented on #1767
@mcoker Here are a couple screen shots of what Boaz created in an attempt to match the PatternFly design. The icons are clearly outside the dropdown and input text.

<img width="560" alt="Screen Shot 2019-08-16 at 11 08 51 AM" src="https://user-images.githubusercontent.com/17481322/63177868-d06b0980-c016-11e9-98cd-6b891a491a5f.png">

This is another example of a form input field with a percentage.

[2019-08-16 16:15] redallen commented on #2677
Yes it is.

[2019-08-16 17:14] christiemolloy opened #2720 "Update formatting for pf-org"
So that we can have consistent font styles in the patternfly-org website, can we update the Table component page: https://patternfly-react.surge.sh/patternfly-4/components/table/ so that the link at the top: "Note: Table lives in its own package at @patternfly/react-table!" doesn't use a `<code>` block anymore? (It should just use an `<a>` tag)

Related to #1237

[2019-08-16 19:58] mcoker opened #2721 "Table component modifier usage in docs"
@SpyTec mentioned trouble applying modifier classes in the react table component, and looks like the documentation is a bit unclear.

I see there is `transforms` and `cellTransforms` - an example from the "simple table" example

[code]

I don't see `transforms/cellTransforms` documented, but I could be missing it. That seems to be how you apply table cell modifiers like`.pf-m-center` (`transforms:

[2019-08-16 20:18] TheRealJon opened #2722 "Area Chart color themes sometimes cause contrast issues"
When using the monochromatic color themes on area charts, it's possible that two overlapping lighter colors will be indistinguishable. As seen here in the examples, the data for Cats and Birds overlap, but you can't distinguish the "Birds" data because it does not contrast against the overlapping "Cats" data.

![image](https://user-images.githubusercontent.com/22625502/63195675-44baa280-c041-11e9-

[2019-08-16 20:24] redallen commented on #2674
What do you need to `require()` CSS in the UMD world @ssilvert? Do you have something like [`css-loader`](https://github.com/webpack-contrib/css-loader)? How was importing components working before since they've always had `require('./about-modal-box.css')`?

[2019-08-19 14:40] kmcfaul commented on #2436
Closed in #2676

[2019-08-19 14:40] #2436 closed

[2019-08-19 14:58] redallen commented on #2667
If you grep the error, the type does include `onAuxClick`. Check to make sure your `onAuxClick` event type is `(event: React.MouseEvent<HTMLElement, MouseEvent>) => void`.

TabContent's type is `React.ForwardRefExoticComponent` which may throw things off, but I'm unable to reproduce the error in our integration app. I did find that we limit the type of `ref` to HTMLElement, though, and I've opened

[2019-08-19 15:05] #1294 closed

[2019-08-19 15:06] #2714 closed

[2019-08-19 15:15] rachael-phillips commented on #2675
Hi @karelhala we are investigating this issue this sprint and will report back with next steps on this issue.

[2019-08-19 15:49] #2368 closed

[2019-08-19 16:04] redallen opened #2725 "ClipboardCopy: Investigate NodeJS timer type"
I don't think this type is correct: ```
node_modules/@patternfly/react-core/dist/js/components/ClipboardCopy/ClipboardCopy.d.ts:49:12 - error TS2503: Cannot find namespace 'NodeJS'.

49     timer: NodeJS.Timer;
[code]

[2019-08-19 17:13] redallen commented on #2667
I found [your repo again](https://github.com/ssilvert/systemjs-react/tree/master) and #2724 should fix all your issues.

[2019-08-19 17:36] #2697 closed

[2019-08-19 17:45] jschuler commented on #2716
Hi @SpyTec , i tested this on https://patternfly-react.surge.sh/patternfly-4/demos/paginationtable/ and after I change the number I hit the Return key and it changes the page for me. Are you pressing the Return key after changing the number?

[2019-08-19 17:45] #2706 closed

[2019-08-19 17:46] rachael-phillips commented on #2709
@bond95 did you see @redallen's comment above? :)

[2019-08-19 17:51] jschuler commented on #2693
@mcoker can you see from the DOM why the filter is not working? (I am not sure how the filter works :) )

[2019-08-19 18:03] rachael-phillips commented on #2660
@mcoker and @jschuler is this a core issue?

[2019-08-19 18:07] dlabrecq opened #2727 "Update bullet chart vars from pf-core"
Need to update the bullet chart to use vars from pf-core.

Depends on:
https://github.com/patternfly/patternfly-next/issues/2158

[2019-08-19 18:15] #1697 closed

[2019-08-19 18:23] kmcfaul commented on #1393
Hi @martinpitt. We are not taking on these couple PF3 ListView issues at this time, please refer to the workaround using `flex` for this spacing issue, and contact @mcoker if you have further questions.

[2019-08-19 18:23] #1393 closed

[2019-08-19 18:23] kmcfaul commented on #1392
Hi @martinpitt. We are not taking on these couple PF3 ListView issues at this time, please contact @mcoker or @mcarrano if you have further questions.

[2019-08-19 18:23] #1392 closed

[2019-08-19 18:24] kmcfaul commented on #1394
Hi @martinpitt. We are not taking on these couple PF3 ListView issues at this time, please contact @mcoker to discuss the workaround he has implemented.

[2019-08-19 18:24] #1394 closed

[2019-08-19 18:26] jschuler commented on #2660
@mcoker would you have an example of how a simple label / value form group should look?

[2019-08-19 18:30] #2667 closed

[2019-08-19 18:47] mcoker commented on #2660
@jschuler @jessiehuff you can see an example of checkboxes in a horizontal form here - https://www.patternfly.org/v4/documentation/core/demos/basicforms

[2019-08-19 19:11] rachael-phillips commented on #2609
@xeviknal what do you expect these properties to do? What functionality would you like to see here? Having a little more information will be helpful for addressing this. Thank you!

[2019-08-19 19:11] redallen commented on #2609
Docs for PF3 tabs: https://react-bootstrap.github.io/components/tabs/#tabs-props

[2019-08-19 19:15] redallen commented on #2570
The axe errors:
<img width="858" alt="Screen Shot 2019-08-19 at 15 14 28" src="https://user-images.githubusercontent.com/47335686/63292689-3ca67100-c294-11e9-970f-c336e7adc8ba.png">

[2019-08-19 19:28] dlabrecq commented on #2727
Now that @redallen has merged patternfly/patternfly-next#2158 , I will close this and update #2708 instead.

[2019-08-19 19:28] #2727 closed

[2019-08-19 19:41] #1600 closed

[2019-08-19 19:45] TheRealJon opened #2730 "Chart Documentation Updates"
A few observations on how we could improve chart documentation:

https://docs.google.com/document/d/1Fjmic5rA4XFuksqwjMCb8glDlt647yyLgiadv6fE4dQ/edit?usp=sharing

@janwright73 @LHinson

[2019-08-19 19:52] SpyTec commented on #2716
I did not press the return key, but now that I try it does indeed change the page.

[2019-08-19 20:35] rachael-phillips commented on #2694
@rawagner did you see Zack's PR open for this?

[2019-08-20 06:53] xeviknal commented on #2609
I am expecting to have same behavior has in PF3. Mount the DOM when I click into the tab, unmount it when I am leaving the tab.
I guess it is close to what @redallen linked in the comment above :)
Thanks!

[2019-08-20 07:19] rawagner commented on #2694
@rachael-phillips sorry, I missed that.

And yes, ability to specify my own container via props will be very nice! It will solve my first issue but the second issue still remains.

Im not able to style `AccordionToggle`'s button element because `.pf-c-accordion .pf-c-accordion__toggle` has precedence over my style which Im passing via `className `prop.  The `.pf-c-accordion .pf-c-accordion__toggle

[2019-08-20 08:09] aljesusg opened #2732 "PF4 gutter property in Grid is not working correctly"
The result is the same with 'sm' \| 'md' \| 'lg'

It seems that the css applied not change, there is not values in '@patternfly/react-styles/css/layouts/Grid/grid';

storybook: https://patternfly-react.surge.sh/patternfly-4/layouts/grid/

[2019-08-20 08:12] aljesusg commented on #2732
In fact in the base style there is only one defined

[code]

[2019-08-20 08:42] terezanovotna opened #2734 "Advanced popover demo is broken"
We are experiencing a bug with advanced popover in sources. When I click on the help icon, the popover appears outside of the window.

![Screen Shot 2019-08-20 at 10 34 56](https://user-images.githubusercontent.com/36040135/63331735-99f2fe80-c336-11e9-8d08-25bf4fb1844c.png)

I am experiencing the same bug in the [demo.](https://patternfly-react.surge.sh/patternfly-4/components/popover/)

For examp

[2019-08-20 10:33] abonas commented on #2732
cc @serenamarie125 @LHinson

[2019-08-20 12:43] ssilvert commented on #2667
Thanks for the fix.  I'll try it out soon.

[2019-08-20 13:51] jgiardino commented on #2660
@mcoker That example actually does not have a label included. When I highlight the `.pf-c-form__horizontal-group` element, I see the grid for that group does not include a label.

![image](https://user-images.githubusercontent.com/21063328/63351848-fef62680-c32d-11e9-960d-17cd3d34166d.png)

If I paste a `<label>` into the `pf-c-form-group` element, then I see the following alignment between the la

[2019-08-20 13:52] jgiardino commented on #2660
I don't know that I would consider this blocking us. We can either add custom css as a temporary fix or leave the alignment as is until it is addressed.

[2019-08-20 14:03] lareplog opened #2736 "fix a11y issues in documentation/react/wizard"
in https://github.com/patternfly/patternfly-org/issues/1410 the a11y issue of id attribute value being unique needs to be fixed.

[2019-08-20 14:09] lareplog opened #2737 "a11y issues in documentation/react/table"
for https://github.com/patternfly/patternfly-org/issues/1319 one type of a11y issue needs to be fixed:

1. scope attribute should be used correctly

goes along with this issue https://github.com/patternfly/patternfly-next/issues/2165

[2019-08-20 14:13] janwright73 commented on #2730
@dlabrecq to help review these notes and help prescribe next steps to improve the chart documentation/examples.

+1 to review the general comments - @TheRealJon - can you please help prioritize this list and start building out small examples for the top priority items?

@rachael-phillips - how/where could we put general developer information about charts on the site?  My $.02 is that developers wi

[2019-08-20 14:13] redallen commented on #2732
[Patternfly-next](https://github.com/patternfly/patternfly-next/) won't support different `sm`, `md`, and `lg` breakpoints per #1982 .

[2019-08-20 14:41] mcoker commented on #2660
@jgiardino ah sorry about that, I didn't see that the `Checkbox` component contained a label in the code above - I thought we were just adding a label for the checkbox, not a label for the checkbox + label pair.

@rachael-phillips yes this is a core issue. It's an issue with label alignment when there is anything except for a form control element on the right side of the grid. I filed an issue her

[2019-08-20 14:50] rachael-phillips commented on #2669
@abalakh can I close this issue since #39 has merged?

[2019-08-20 14:55] abalakh commented on #2669
@rachael-phillips no, that's what i've mentioned in https://github.com/patternfly/patternfly-react/issues/2669#issuecomment-519542617, it works for initial switch state, but if user clicks the switch - framework won't be able to figure out the state has changed as nothing changes in DOM.

[2019-08-20 14:59] rachael-phillips commented on #2737
Hi @lareplog what was the rationale for tagging this as P1?

[2019-08-20 15:04] lareplog commented on #2737
@rachael-phillips the original issue was tagged as p1, so i assumed it and the next issue i created would also be considered p1

[2019-08-20 15:13] #1397 closed

[2019-08-20 15:26] rachael-phillips commented on #2609
@redallen are we ready to close this issue?

[2019-08-20 15:28] rachael-phillips commented on #1567
HI @dlabrecq is this still a relevant issue that we should address?

[2019-08-20 15:29] rachael-phillips commented on #2581
Closing this issue because it has been addressed

[2019-08-20 15:29] #2581 closed

[2019-08-20 15:32] dgutride opened #2738 "withOuia should not be listed with the other components"
The withOuia helper component should be moved to a helper section and hidden from the documentation that lists all components.  Let's discuss how to best include the documentation for this instead of listing it as a usable PatternFly component for consumers.

[2019-08-20 15:35] mcoker commented on #2693
@jschuler in https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/BackgroundImage/BackgroundImage.tsx#L82 we should remove the `0` from `width` so that it is just an empty value (`width=""`)

[2019-08-20 15:35] redallen commented on #2738
Relevant link: https://patternfly-react.surge.sh/patternfly-4/components/withouia/

[2019-08-20 15:41] redallen commented on #2609
@rachael-phillips I think we need to better evaluate the value of adding these two props.

What a consumer would have to do themselves as a workaround? What would we have to do as a library to add them? How much does it aid in PF3 -> PF4 conversion? I'm not sure the answers to these yet.

[2019-08-20 15:42] redallen commented on #1954
Looks like there's no other `<FormGroup>`s we use inside components, only the login form.

[2019-08-20 15:52] redallen commented on #2694
@rawagner It's a total hack, but you can pass `class="abc123"` to set your own class since we add it at the end via `{...props}`:

[code]

[2019-08-20 16:42] alecmerdler opened #2739 "`CatalogTile` Icon Should Support `onerror`"
### Description

With standard HTML `<img>` elements, you can [handle errors using `onerror` property](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/image#a-onerror). This is useful if the `src` property points to a URL which returns `HTTP 404` and lets you set a fallback image. It would be nice to have a `onIconError` prop which gave parent components this level of control.

[2019-08-20 17:22] rachael-phillips commented on #970
@dlabaj @dgutride did we find out if we need to address this?

[2019-08-20 17:23] rachael-phillips commented on #2470
@elad661 is this currently blocking you?

[2019-08-20 17:26] redallen commented on #2703
Fixed in #2702 .

[2019-08-20 17:26] #2703 closed

[2019-08-20 17:29] jenny-s51 opened #2741 "Fix FormSelect to consume isRequired prop through context"
This issue is an extension to #1397 and PR #2365

Currently, it looks like `FormGroup` uses context to consume the `isRequired` prop from the parent `Form` component. The isRequired prop also ends up showing up in any child component of `FormGroup`, like `TextInput` for example. This is the expected behavior of the isRequired prop, per @jgiardino.

At the moment,`FormSelect` doesn't do the same th

[2019-08-20 17:39] rachael-phillips opened #2743 "Toggle Filter"
The Core implementation will need to be completed before we start in React.
Related core issue: https://github.com/patternfly/patternfly-next/issues/813

[2019-08-20 17:54] redallen commented on #2671
This has since been fixed! https://patternfly-react.surge.sh/patternfly-4/components/select/ works and will show up when we next promote https://patternfly.org !

[2019-08-20 17:54] #2671 closed

[2019-08-20 18:09] dlabrecq commented on #1567
IMO, it would still be helpful not to calculate the page number ourselves. Considering the pagination component already has `itemCount` and `perPage` properties, it could calculate the page number itself, instead of the UI performing that calculation.

[2019-08-20 18:16] rachael-phillips opened #2744 "Left-align buttons on modal"
The issue opened in Core is: https://github.com/patternfly/patternfly-next/issues/1599

This issue is on hold until completed in Core.

[2019-08-20 18:31] dlabrecq commented on #2730
For starters, I would like to see the following react-doc issue addressed. That would go a long way in helping us clarify the documentation.
https://github.com/patternfly/patternfly-react/issues/2139

Unlike most react-core components, chart properties are complex objects with multiple, nested properties. The react-docs does fine with simple types like boolean, string, etc., but there's no way to

[2019-08-20 18:45] mceledonia commented on #2722
I'd suggest starting with setting a top border for each area value which is the same color but 100% opacity, 1px border.

If we can, it would be very helpful to set each values blending mode to "multiply." This makes the colors darken as they overlap, I mocked up a super quick example below.

![image](https://user-images.githubusercontent.com/30935938/63375153-375f2a00-c359-11e9-98d7-ecbe938f8e5c.

[2019-08-20 19:08] jschuler opened #2745 "ActionGroup.tsx has an import it shouldn't have"
`import { Action } from 'history';`
https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/Form/ActionGroup.tsx#L5

[2019-08-20 19:37] #2315 closed

[2019-08-20 21:37] dlabrecq opened #2746 "Wizard: Required fields don't show required asterisk correctly"
In Cost Management, we defined a required field within a wizard step. The asterisk is shown, but the color and spacing is off.

![Screen Shot 2019-08-21 at 11 22 08 AM](https://user-images.githubusercontent.com/17481322/63445210-fa04a600-c405-11e9-9c76-06dc07f74434.png)

This is the code for the text input:
<img width="546" alt="Screen Shot 2019-08-20 at 4 51 56 PM" src="https://user-images.github

[2019-08-21 07:30] elad661 commented on #2470
@rachael-phillips sorry for the delay, missed your initial question -  it's not blocking me, our UX designer said we can just not show the tooltips for now. However, I still think this needs to be fixed.

[2019-08-21 10:16] rawagner commented on #2694
that works, but Im not blocked on this so I wont use it for now as it is really ugly :)

[2019-08-21 12:45] #2693 closed

[2019-08-21 13:24] rachael-phillips opened #2750 "Primary modifier for dropdown"
@rachael-phillips commented on [Wed Aug 21 2019](https://github.com/patternfly/patternfly-next/issues/2173)

The related core issue is https://github.com/patternfly/patternfly-next/issues/1872

[2019-08-21 13:27] rachael-phillips opened #2751 "Provide In-page wizard demo"
The related core issue is: https://github.com/patternfly/patternfly-next/issues/2073

[2019-08-21 14:10] rachael-phillips opened #2752 "Select enhancements: ability to switch icons"
The related core issue is: https://github.com/patternfly/patternfly-next/issues/2152

[2019-08-21 14:10] dlabrecq commented on #2746
Clearing my local storage helped. I can now see the red asterisk, but the spacing is still off.

![Screen Shot 2019-08-21 at 9 26 28 AM](https://user-images.githubusercontent.com/17481322/63435998-e94c3400-c3f5-11e9-9539-63095f50c642.png)

Looks like the computed value for `--pf-c-form__label-required--MarginLeft` is zero.

![Screen Shot 2019-08-21 at 10 10 13 AM](https://user-images.githubusercon

[2019-08-21 14:13] rachael-phillips opened #2753 "Spinner"
Related Core issue: https://github.com/patternfly/patternfly-next/issues/279

[2019-08-21 14:23] redallen commented on #2694
It's ugly, but without adding an extra prop to our entire library (that effectively does the same thing), it's difficult to provide you a way to not add the default classes. This is outside the scope of this issue.

This isn't just an Accordion issue. For all of our components, we simply append the `className` our consumers pass to the end of the element we add to the DOM, like `<div className={cs

[2019-08-21 15:02] rachael-phillips commented on #2746
Hi @dlabrecq is there a workaround for this or is this blocking? Thanks for filing!

[2019-08-21 15:08] rachael-phillips commented on #2470
Thank you for the details @elad661 !

[2019-08-21 15:09] dlabrecq commented on #2746
We do not have a work around. In addition to the asterisk spacing, it is now being displayed as black VS red.

@mcoker suggested, "I’ve seen that pop up a number of times. The global reset CSS is being loaded after the component CSS, causing margins, paddings, etc to be overwritten."

Unfortunately, i don't believe we can control the order in which component CSS is loaded.

[2019-08-21 15:15] rachael-phillips commented on #2730
@janwright73 I think we can better support documentation on the documentation pages - that's where developer information lives. Let's set up some time to look at the prioritized list @TheRealJon that can help us understand more about what we would like to take on.

[2019-08-21 17:42] jschuler commented on #2734
Hi, do you happen to be using the `appendTo` prop in the Popover component?

[2019-08-21 18:10] jschuler commented on #2734
The issue seen in the workspace is related to a css selector for the workspace documentation and is not a bug of the popover itself. Fix for the workspace documentation issue is here: https://github.com/patternfly/patternfly-react/pull/2755

[2019-08-21 18:23] #2350 closed

[2019-08-21 19:56] jessiehuff commented on #2571
This issue appears to be fixed by one of our updates.

[2019-08-21 19:56] #2571 closed

[2019-08-21 20:14] #1954 closed

[2019-08-21 21:56] ssilvert commented on #2674
@redallen @rachael-phillips  It doesn't look like anything was done about react-styles with UMD.

I still get the same errors with the latest patternfly-react.

[2019-08-22 12:15] aljesusg opened #2756 "[PF4] ChipGroup withToolbar no apply styles"
Hi, when you use chipGroup with toolbar styles  not applied

https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/ChipGroup/ChipGroup.tsx#L52

[2019-08-22 12:16] aljesusg commented on #2756
cc @serenamarie125 @abonas

[2019-08-22 13:07] SpyTec opened #2757 "[PF4] FocusTrap throws exception on Modal when showClose prop is false"
When creating a modal with `showClose` to false it will throw an error with FocusTrap

[code]

## Reproducible steps
1. Create a Modal that is open and has `showClose` set to false

## Reproducible sandbox
https://codesandbox.io/embed/fast-river-zlm5n?fontsize=14

[2019-08-22 13:46] rachael-phillips opened #2758 "Add text to Split Button"
Related Core issue: https://github.com/patternfly/patternfly-next/issues/2161

This issue is on hold until 2161 is completed in Core.

[2019-08-22 13:50] rachael-phillips opened #2759 "Tri-State checkbox"
The related Core issue: https://github.com/patternfly/patternfly-next/issues/1411

This issue should not be started until completed in Core.

[2019-08-22 20:06] rachael-phillips commented on #2660
@jkozol do you mind if I close this issue in favor of patternfly/patternfly-next#2167?

[2019-08-22 20:11] rachael-phillips commented on #2734
@jschuler in that case should I move this over to Org?

[2019-08-22 20:12] rvsia commented on #2734
@jschuler the issue in source-ui was fixed by updating to the latest version of PF.

[2019-08-22 20:21] rachael-phillips commented on #2757
Hi @SpyTec is this issue blocking you for now?

[2019-08-22 20:23] dlabrecq opened #2762 "Adjust chart legend position for axis label"
In the Cost Management UI, I want to use the chart's embedded legend, but with an axis label. Unfortunately, the legend and axis label currently occupy the same position. We need the legend to adjust if an axis label is in use.

This is what I want to achieve:
![Screen Shot 2019-08-22 at 4 18 53 PM](https://user-images.githubusercontent.com/17481322/63546896-dbcba280-c4f8-11e9-9c39-f528156c9c5c.pn

[2019-08-22 20:24] dlabrecq commented on #2762
The axis label padding also needs to be fixed in pf-core. Currently, the padding value is 100, but should be 40.

Depends on: https://github.com/patternfly/patternfly-next/issues/2180

[2019-08-22 20:25] rachael-phillips commented on #2738
Hi @redallen what is the urgency of this issue?

[2019-08-22 20:27] rachael-phillips commented on #2746
@mcoker is this an issue we would resolve in Core?

[2019-08-22 20:37] mcoker commented on #2746
@rachael-phillips no, this has to do with the order the CSS is being loaded in react or cost management

[2019-08-22 21:12] jgiardino commented on #2568
Is there an issue for this in core?

[2019-08-22 21:39] SpyTec commented on #2757
@rachael-phillips Yes, but an easy workaround exists

[2019-08-23 10:27] vikram-raj opened #2765 "CatalogTile component is not support icon component"
```CatalogTile``` should support an icon component for showing the icon on the tile.

As Patternfly 4 gives an icon component for the icon which is not usable in ```CatalogTile``` component.

[2019-08-23 11:21] karelhala commented on #2536
No need to add new prop to tab component. You should be able to pass any component to title of tab
`<Tab eventKey={0} title={<div><UserFriendsIcon/>Users</div>}>` however the prop is wrongly defined as it states that you can pass sring only and it will throw error in console because of this.

[2019-08-23 11:40] karelhala commented on #2536
This doesn't really have to be part of PF core styles, it is nice to have but not something critical. I would assume that if you want such thing you'd have to write styles for this. Because you'd also have to provide accessibility attributes and such.

[2019-08-23 12:00] jkozol commented on #2660
@rachael-phillips I am fine with you closing this in favor of https://github.com/patternfly/patternfly-next/issues/2167

[2019-08-23 14:53] SpyTec opened #2768 "[PF4] Stack's gutter does not change depending on value"
With Stack layout, if you provide a gutter with the options of `sm`, `md`, or `lg`, they will all show the same gutter between the entries.

I would expect the gutter to change depending on the option chosen

[2019-08-23 15:02] SpyTec commented on #2768
Duplicate of https://github.com/patternfly/patternfly-react/issues/1982

[2019-08-23 15:02] #2768 closed

[2019-08-23 15:04] SpyTec commented on #1982
If we are not supposed to use differing sizes with these components. How are we supposed to change the sizing without changing it globally or adding custom classes?

Or for that matter, two of my components right now need to be stacked on top of each other inside a Grid cell, I need a margin for them that's small - is there no component in PatternFly that fits here?

[2019-08-23 15:21] mcoker commented on #1982
@SpyTec currently these layouts are designed to work within the page component main sections and match the gutter spacing provided by the main sections, navigation, header, etc.

We have a more generic flex layout in core that is a builder layout and allows you to apply any sort of spacing you'd like, however it currently is not available as a react layout and we're trying to get that feature on t

[2019-08-23 16:58] #2680 closed

[2019-08-23 18:21] #1617 closed

[2019-08-23 18:21] #1365 closed

[2019-08-23 19:57] priley86 opened #2770 "Catalog Tile - custom icon"
As a consumer of PF4 React Extensions, I'd like to be able to fully customize the icon provided to the Catalog Tile. This would allow me to pass custom JSX (including PF React Icons).

Todo:
* add an `icon` prop that can replace the current JSX rendered for the `iconImg` or the `iconClass`.

https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-3/patternfly-react-extension

[2019-08-24 15:21] #996 closed

[2019-08-24 15:21] #1947 closed

[2019-08-24 15:21] #1863 closed

[2019-08-24 15:21] #1977 closed

[2019-08-24 15:21] #338 closed

[2019-08-24 15:21] #1920 closed

[2019-08-24 15:21] #1850 closed

[2019-08-25 16:26] dlabrecq commented on #2506
Regarding a hidden table, I have some thoughts about Victory's architecture.

First, consider how each dataset (i.e., the data points for each line, bar, etc.) in a chart is represented by individual components in the bar chart below.

<img width="493" alt="Screen Shot 2019-08-25 at 11 48 02 AM" src="https://user-images.githubusercontent.com/17481322/63652458-60533680-c72e-11e9-8a75-f6a070594063.p

[2019-08-25 19:01] #2239 closed

[2019-08-25 19:01] #2242 closed

[2019-08-26 02:22] dlabrecq commented on #408
This can be closed. The architecture is now in place and all tasks listed above have been completed. For example:

- Chart color pallets have been created
- Chart CSS variables have been added to pf-core
- The react-tokens package now includes all chart vars from pf-core
- Color themes have been created in react-charts
- Donut utilization chart has been merged in react-charts
- Bullet chart has be

[2019-08-26 02:34] dlabrecq commented on #2730
I would also like to create a Katacoda tutorial to show how to create a chart with a given height and width, then add padding for a legend, labels, etc. Although there is API documentation for these features, showing how all the pieces work together, step by step, may be very helpful?

[2019-08-26 09:08] karelhala opened #2772 "Mssing default props"
It looks like when a lot fo components were transformed to TS a lot of them started to use default parameters instead of defaultProps.

This causes several problems
* snapshots changed when consumers used `mount` - a lot of unnecessary snapshot changes needs to be applied
* React extension is not usable for lot of components - if component does not set `defaultProps` it will not display them in Re

[2019-08-26 09:10] karelhala commented on #2772
@rachael-phillips even though this can seem like a minor problem it should actually be taken care of sooner rather than later. Plus this change is really low hanging fruit so if you want some devs to start codig and understand how React works, it's best issue.

[2019-08-26 09:18] SpyTec commented on #2536
We can't simply update the type definitions however since TabProps extends React.HTMLProps. We'd then get this error:
[code]

[2019-08-26 10:34] SpyTec opened #2773 "fix(tab): fix and document forwardRef type of Tab"
Right now if you try to use Tabs or Tab, you will not get proper TypeScript linting errors for entering in wrong prop types

E.g.
[code]

Here, neither will report an issue with TypeScript

[2019-08-26 10:56] karelhala commented on #2536
@SpyTec that's why I opened this PR https://github.com/patternfly/patternfly-react/pull/2766 to change prop type of title to `React.ReactNode` (string, number, function).

[2019-08-26 13:00] redallen opened #2775 "Add per-example fullscreen pages to docs"
Add an `id` like:
[code]

to all code examples and find a way to dynamically generate fullscreen pages for that code block in `gatsby-node.js`.

[2019-08-26 13:00] redallen commented on #2775
Related: https://github.com/patternfly/patternfly-next/issues/2187

[2019-08-26 13:17] SpyTec opened #2776 "[PF4] Title's size prop has unknown type in documentation"
If we look at [Title's documentation](https://www.patternfly.org/v4/documentation/react/components/title/#title-props) it displays size prop as `unknown` instead of `BaseSizes`.

[2019-08-26 13:27] Boomatang opened #2778 "Update required after eslint-config-airbnb is resloved"
There is an issue with `eslint` not been able to run with `react-scripts@3.1.1`. The following issue has been raised https://github.com/airbnb/javascript/issues/2080

After updating to react-scripts@3.1.1, which included an update to ESLint 6, the eslint-config-airbnb plugin no longer works. See below:

[code]

[2019-08-26 13:41] #2762 closed

[2019-08-26 14:41] carlosga opened #2780 "[PF4] Reset option missing from ButtonType enumeration"
The reset option is missing from the ButtonType enumeration.

[2019-08-26 15:14] SpyTec commented on #2773
My guess is that the props somehow turn into `any`. I couldn't figure out how to fix it without removing `withForwardedRef()`

Linting works for everything but Tab so far.

## Expected results
![image](https://user-images.githubusercontent.com/6598829/63701280-f2d60180-c824-11e9-9093-2bc48795dd60.png)

## Actual results
![image](https://user-images.githubusercontent.com/6598829/63701252-e5207c00-c

[2019-08-26 20:20] rachael-phillips opened #2782 "Dark nav: Opt-in"
Relevant blog post: https://blog.patternfly.org/patternfly/how-do-different-patternfly-visual-themes-affect-navigation-performance-perception-and-preference/

Core issue: https://github.com/patternfly/patternfly-next/issues/2192

[2019-08-26 20:22] tlabaj opened #2783 "Update gutter prop description"
Update the description for the gutter prop so it is not misleading.

[2019-08-27 09:34] Boomatang commented on #2778
@rachael-phillips Thanks for getting back to me so quickly. Turns out it was my fault. I had to remove both `node_modules` and the `package-lock.json` and do a fresh `npm install`.

To answer your question this was with PF3 but I don't think its an actual issue. I am going to close this issue now.

[2019-08-27 09:34] #2778 closed

[2019-08-27 16:51] #2783 closed, assigned to jessiehuff

[2019-08-27 19:09] dlabrecq opened #2786 "Update Victory charts to v33.0.0"
Victory just released a much anticipated, major release. This should help solve many of the issues folks have been noting with tooltips in https://github.com/patternfly/patternfly-react/issues/2541.

See release notes: https://github.com/FormidableLabs/victory/releases/tag/v33.0.0

Unfortunately, this won't be a trivial bump of the Victory package number. There is at least one breaking change that

[2019-08-27 20:02] SpyTec commented on #2773
@rachael-phillips this isn't blocking me :)

[2019-08-28 12:50] rachael-phillips opened #2788 "Add template to our issues"
This request is to add a template to our GitHub issues, so that we can glean more information about each issue that is filed.

https://docs.google.com/document/d/1wl1jROxHBhfGTIc4_YhW4g4VPsP6gIPTI3ctW_lLOLM/edit?usp=sharing

[2019-08-28 13:29] aljesusg commented on #2732
So is this fixed in the storybook and in code?

[2019-08-28 14:08] rawagner opened #2789 "Cannot pass custom className to Accordion Content Body"
I'd like to customize styling of this div https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/Accordion/AccordionContent.tsx#L46 but I'm not able to pass custom className there.

I wonder if that div is even necessary ? Could we just do something like

[code]

[2019-08-28 17:38] christianvogt opened #2790 "Dropdown menu in modal gets clipped or adds scrollbars to modal"
Within a modal, the dropdown is causing our modals to have scrollbars when ideally the menu would be shown over the modal.

It would be better if the dropdown menu was parented to the body instead of within the same container as the dropdown. Popperjs could be used for dropdown to help with positioning and alignment.

There is a similar concern with dropdowns from patternfly base:
https://github.c

[2019-08-28 18:59] SpyTec commented on #2757
Unrelated to the error as it's just React. See the console in the sandbox I linked before :)

This is from the sandbox:
[code]

[2019-08-28 19:08] SpyTec commented on #2757
Yes, sorry. That's the error I wanted to highlight in this issue. If no focusable elements such as the close button or action button, FocusTrap will throw the above error

[2019-08-28 19:11] boaz0 opened #2791 "Uncontrolled switch is not working"
The uncontrolled examples of switch don't work correctly.
Clicking the switch doesn't check or uncheck it.

[2019-08-28 21:32] dlabrecq opened #2793 "Chart themeColor doc incorrect"
The chart `themeColor` property documentation incorrectly recommends the wrong color.

[2019-08-29 07:48] terezanovotna opened #2795 "Provider icons needed"
In Cloud Services, we are using provider icons both in Sources and Topological Inventory.

Can we add these to the pf4 icon set?
We need them both in color and black and white.
I think it is a good idea to add them in pf as these can be reused in the future for other apps.

Here is the list.
{
  "data": {
    "source_types": [
      {
        "name": "openshift"
      },
      {
        "name": "a

[2019-08-29 09:03] karelhala commented on #2772
@dlabaj I am not that big of a fan of adding babel plugin to change code and pass these things around. However given that react wants to deprecate defaultProps on functional components https://github.com/reactjs/rfcs/pull/107 (learned that just now) I think that babel plugin might be better because we'd have to rewrite this to defaultProps and once react deprecates them back to default params.

[2019-08-29 09:14] karelhala commented on #2531
@dgutride yes, we can close it. If someone requests features to be added to react-core select they'll open new issue. Thank you for the investigation.

[2019-08-29 14:15] #2705 closed

[2019-08-29 14:36] priley86 opened #2797 "PF4: Charts - Horizontal Indicators"
I noted in [Subscriptions issue 80](https://github.com/RedHatInsights/curiosity-frontend/issues/80) that we would need to further investigate horizontal indicators from a PF perspective. This issue should help us determine how to approach this and provide clear examples on how to accomplish this.

[2019-08-29 14:53] priley86 opened #2798 "PF4: Virtualized Table - debounce resize behavior"
There is currently an issue with the virtualized table resize usage here in PF React. This issue will ensure the virtualized table resize behavior is handled correctly by throttling the resize event.

Related downstream OpenShift PR (and fix): [2419](https://github.com/openshift/console/pull/2419)

[2019-08-29 15:27] dlabaj commented on #2772
@karelhala Sounds good.  Thanks for the link to the issue above.  We'll go down babel plugin route given the information you found.

[2019-08-29 16:08] #2793 closed

[2019-08-29 17:20] jschuler commented on #2317
Should be done with work for https://github.com/patternfly/patternfly-react/issues/2451

[2019-08-29 17:36] dlabaj opened #2799 "Update React.FC to React.FunctionComponent"
There's a few areas where we are using React.FC instead of React.FunctionComponent in core.  For consistency we should change React.FC to React.FunctionComponent.

[2019-08-29 17:52] andrewballantyne opened #2800 "Modal Footer Overflows Out of the Modal"
When using the Modal examples over on https://patternfly-react.surge.sh/patternfly-4/components/modal/ try to view them in an emulated mobile mode in Chrome I found one of your examples has an overflow issue with the footer buttons:

<img width="376" alt="Screen Shot 2019-08-29 at 11 37 59 AM" src="https://user-images.githubusercontent.com/8126518/63963858-e4295d80-ca63-11e9-89d4-6a7db908854f.png"

[2019-08-29 18:02] ryelo opened #2801 "[PF4] Can't control/command + left click nav items to open in new tab"
Is it possible to get functionality so that if a user wanted to open up something in the navigation in a new tab, they could `control/command + left click` on it? It's possible to right click and open it in a new tab, but the keyboard shortcut doesn't work.

[2019-08-29 19:29] tlabaj commented on #2800
@mcoker thoughts?

[2019-08-29 19:30] #2799 closed

[2019-08-29 21:08] mcoker commented on #2800
@andrewballantyne thanks for reporting this. @tlabaj I opened an issue in core https://github.com/patternfly/patternfly-next/issues/2207

[2019-08-29 21:09] johnsonm325 opened #2803 "[extension] Floating action box on inline edit table"
When I click to edit a row in the inline edit table, everything looks good:
![image](https://user-images.githubusercontent.com/15373136/63976514-80149280-ca7f-11e9-8902-37e55850ea4b.png)

until I scroll:
![image](https://user-images.githubusercontent.com/15373136/63976558-94f12600-ca7f-11e9-8143-96dc4541cada.png)

[2019-08-30 13:11] #2757 closed

[2019-08-30 13:21] tlabaj commented on #2716
I am closing this issue based on the comments.  Please reopen if you are still having an issue with this.

[2019-08-30 13:21] #2716 closed

[2019-08-30 13:43] dlabrecq commented on #1636
It looks ok with the latest packages

[2019-08-30 15:12] ryelo commented on #2801
Closing this. The example in the docs uses `preventDefault`, if you remove that, it'll work. This might want to be reflected in the documentation in case someone else has this issue

[2019-08-30 15:12] #2801 closed

[2019-08-30 17:17] #2745 closed

[2019-08-30 17:40] rachael-phillips commented on #2730
I also wanted to add this feedback from Chris Shinn. Some of his feedback has overlap, but he also makes some other great points that hasn't been captured yet. @TheRealJon would you be interested in including any of these in your list to prioritize?

- No guidance for tooltip styling or content (esp in complicated cases)
- Brush to zoom should be standard/possible
- No empty state components or gu

[2019-08-30 17:58] rachael-phillips commented on #2788
PR: https://github.com/patternfly/patternfly-react/pull/2804

[2019-08-30 19:31] johnsonm325 opened #2808 "[extension] Inline Edit Table re-renders page on action resolver kebab click"
If I have a table with many rows, and I click the action resolver kebab and then click edit, if I am editing a row that is further down the page (i.e. I have to scroll down to get to it) I get a re-render and it jumps to the top of the page. Then I have to scroll back down to find it.

![image](https://user-images.githubusercontent.com/15373136/64046918-38ebd780-cb3b-11e9-80ca-829236eab602.png)

[2019-08-30 19:33] johnsonm325 commented on #2679
Attaching new issue for future implementation on this issue:

https://github.com/patternfly/patternfly-react/issues/2808

[2019-09-02 11:27] boaz0 opened #2812 "TS tag is missing in FormSelect documents"
![image](https://user-images.githubusercontent.com/2453279/64111606-ccb4e200-cd8d-11e9-8cb4-2749be90e37f.png)

[2019-09-02 12:08] katerinapat commented on #2602
There is already a bug report filed in our JIRA. Is there any action planned on this?

[2019-09-02 13:45] SpyTec opened #2814 "[PF4] Switch label prop does not show when Switch is off"
In https://github.com/patternfly/patternfly-react/pull/2468 the `label` prop was changed to only show when the Switch is on. Prior to this it was always showing `label` prop with no regard for if it was on or off.

`label` prop should always show unless `labelOff` is provided, otherwise this is a breaking change and should be rolled back and published in a major version

[2019-09-02 14:28] xeviknal opened #2815 "PF4 - Attempted import error: 'chart_bullet_axis_tick_count' is not exported from '@patternfly/react-tokens'."
Hi there,

I am trying to update patternfly charts to get the CharBullets component available in Kiali project.
After updating to 4.9.2, I get the following error:

[code]

I am using the following PF4 packages:

[code]

Should I update other patternfly components?
it might be trivial, first time I am facing this.

Thanks for you help.

[2019-09-02 16:47] aljesusg commented on #2815
We need @patternfly/react-tokens to 2.6.21 here, the version installed by react-charts is a old release that not include **chart_bullet_axis_tick_count**

[2019-09-03 10:30] aljesusg opened #2818 "[PF4] cellWidth in table is not working"
Hi

In code the method assign width- to the cell.
[code]
https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-table/src/components/Table/utils/decorators/cellWidth.ts#L4-L6

but in the styles modifiers are like width_

so we need change width- to width_

This block us in the migration of tables in WorkloadPage Kiali
Thanks

cc @abonas @serenamarie125

[2019-09-03 14:02] rachael-phillips opened #2819 "Overflow component"
Related issue: https://github.com/patternfly/patternfly-next/issues/2215

This issue should not be started until Core issue is complete

[2019-09-03 15:04] #2812 closed

[2019-09-03 15:13] redallen opened #2822 "Properly use this.setState in components"
Currently in our code we use a callback for some events that looks like this:

`onClick={() => this.setState({toggled: !this.state.toggled})}`

We should use this to [avoid some state edge cases](https://medium.com/@wisecobbler/using-a-function-in-setstate-instead-of-an-object-1f5cfd6e55d1):

`onClick={() => this.setState(oldState => ({toggled: !oldState.toggled}))}`

67 cases over 21 affected fil

[2019-09-03 17:41] dlabrecq commented on #2730
Regarding colors, I worked with @mceledonia to adjust colors for various reasons. As a result, some mocks no longer match exactly. For example, colors were adjusted to address contrast issues with donut charts. In some cases, we added new color pallets (e.g., grey, red, etc.). We also created a new color themes for ordered and unordered charts.

Brush and zoom are available, but prefer the functio

[2019-09-03 17:58] #1746 closed

[2019-09-03 18:18] #2576 closed

[2019-09-03 18:27] rachael-phillips commented on #2818
HI @aljesusg we've seen this and are looking into it. Thanks for filing!

[2019-09-03 18:34] rachael-phillips commented on #2815
@xeviknal is this currently blocking you? @dlabrecq do you have any insight here?

[2019-09-03 18:35] rachael-phillips commented on #2814
Hi @SpyTec it looks like @boaz0 's PR #2816  will resolve this. Any other concerns?

[2019-09-03 18:38] SpyTec commented on #2814
None from my side, awaiting for it to be released :)

[2019-09-03 18:38] rachael-phillips commented on #2808
Hi @johnsonm325 thanks for filing! A few quick questions:

1. Please provide the steps to reproduce so we can better understand and address the issue. Feel free to link CodePen or another tool:

2. Is this bug currently blocking you or is there a workaround?

3. What is your product and what release version are you targeting?

[2019-09-03 18:40] TheRealJon commented on #2730
@rachael-phillips Added those points to my doc

[2019-09-03 18:40] rachael-phillips commented on #2803
HI @johnsonm325 I have the same set of questions here :)

1. Please provide the steps to reproduce so we can better understand and address the issue. Feel free to link CodePen or another tool:

2. Is this bug currently blocking you or is there a workaround?

3. What is your product and what release version are you targeting?

[2019-09-03 18:41] rachael-phillips commented on #2795
Hi @terezanovotna thanks for filing!

[2019-09-03 18:45] rachael-phillips commented on #2790
Hi @christianvogt thanks for filing! A few quick questions for you.

1. Please provide the steps to reproduce so we can better understand and address the issue. Feel free to link CodePen or another tool:

2. Is this bug currently blocking you or is there a workaround?

3. What is your product and what release version are you targeting?

4. Is this issue for PF3 or PF4?

[2019-09-03 18:47] rachael-phillips commented on #2789
Hi @rawagner thanks for filing! A couple quick questions for you:

1. Is this bug currently blocking you or is there a workaround?
2. What is your product and what release version are you targeting?

[2019-09-03 18:52] rachael-phillips commented on #2709
@bond95 did you see @redallen's comment above?

[2019-09-03 18:52] rachael-phillips commented on #2656
@Djfaucette did you resolve your issue here?

[2019-09-03 18:55] rachael-phillips commented on #2730
That's great @TheRealJon . How is the document coming along? Have you had time to sort these into items you find higher priority than others?

[2019-09-03 18:59] TheRealJon commented on #2730
Yes, they have been prioritized according to my own opinion.

[2019-09-03 19:06] dlabrecq commented on #2815
You also need to update react-tokens. The latest package.json shows react-tokens@^2.6.21 as a dependency of react-charts.

[2019-09-03 19:15] dlabrecq commented on #2786
Updated the tooltips for bullet chart. Refctoring pie/donut next.

[2019-09-03 19:30] johnsonm325 commented on #2803
- Go here: https://patternfly-react.surge.sh/patternfly-4/inline%20table/inlineedit/
- Go to the 3rd table down and click one of the kebabs like I've shown in the above photos. Then click edit.
- Scroll up and down on the page and you'll see the box floating.

[2019-09-03 19:32] rawagner commented on #2789
Hi @rachael-phillips

1. not blocking, the workaround I currently use is to target `.pf-c-accordion__expanded-content-body` class which is used by the mentioned div.

2. product is openshift/console. Im using the Accordion in this PR https://github.com/openshift/console/pull/2543

[2019-09-03 19:47] johnsonm325 commented on #2808
1.
- Go here: https://patternfly-react.surge.sh/patternfly-4/inline%20table/inlineedit/
- Go to the 3rd table and expand to edit code.
- Replace the `rows:` value in `this.state` to look like this: https://paste.fedoraproject.org/paste/1UcMdsqG0ORG0xPTr-n3~Q
- Scroll down to one of the values in the middle or towards the bottom and click the kebab and then click edit (You can also click to collaps

[2019-09-04 07:55] xeviknal commented on #2815
Thank you team for being so effective. Closing bc it is fixed with both suggestions.

Since it is a dev dependency, we didn't get the package so it needs to be added manually.

[2019-09-04 07:55] #2815 closed

[2019-09-04 09:37] xeviknal opened #2823 "Feature: ChartBullet misses stacked property"
Hi there,

in PF3, BulletChart had the option `stacked`. Here the [docu](https://patternfly-react.surge.sh/patternfly-3/?knob-Use%20Colors=Primary&knob-Show%20Range%201=true&knob-Show%20Range%202=true&knob-Value%202%20Title=Data2&knob-Show%20Range%203=true&knob-Value%203%20Title=Data3&knob-Value%204%20Title=Data4&knob-Show%20Error%20Threshold=true&knob-Value%205%20Title=Data5&knob-Value%202%20Lege

[2019-09-04 09:42] glekner opened #2824 "[PF4] Button with Loading Prop"
We could really use a button that greys out and shows a spinner after clicked by turning to a loading state. Something like this :

![ezgif-4-1d907f381c42](https://user-images.githubusercontent.com/24938324/64244228-56d98380-cf11-11e9-81c0-b74a9e34a4c2.png)

Could be a great issue for newcomers aswell as this one seems easy. Thoughts?

[2019-09-04 11:18] karelhala commented on #2009
@nicolethoen any update on this? We want to change how our toolbars behave on smaller screens and would like to use these new components.

[2019-09-04 11:52] nicolethoen commented on #2009
@karelhala it's all I'm doing :) hoping to have a PR up this week.

[2019-09-04 12:04] aljesusg opened #2826 "[PF4] Expanded icon in Table reverse turn onclick"
I don't know how to explain this ^^

![Peek 2019-09-04 14-01](https://user-images.githubusercontent.com/3019213/64253069-c012c400-cf1c-11e9-9173-faf54ad736f9.gif)

PF4 storybook: https://patternfly-react.surge.sh/patternfly-4/components/table/

[2019-09-04 12:23] karelhala commented on #2795
openshift, amazon and ansible should be part of react icons. I tried to look for other and I couldn't find vsphere, ovirt and cloudforms. However azure and openstack were easy to find and create - https://github.com/patternfly/patternfly-react/pull/2827

[2019-09-04 12:44] rachael-phillips commented on #2826
Hi @aljesusg is the bug you are seeing the way the caret is rotating? I want to make sure I understand your bug, and is this blocking you at this time or do you have a work around?

[2019-09-04 12:46] rachael-phillips commented on #2824
HI @glekner thanks for filing! What product are you currently working on and what release version are you targeting?

[2019-09-04 12:48] rachael-phillips commented on #2823
Thanks for opening this @xeviknal! @dlabrecq making you aware of this issue - what do you think? cc @mcarrano , @kybaker

[2019-09-04 12:56] aljesusg commented on #2826
Yes @rachael-phillips , the carpet should rotate in the other way ^^. We want to use it....can we use any workaround with some css?

[2019-09-04 12:57] rachael-phillips commented on #2826
@mcoker @tlabaj any work around here that you can think of?

[2019-09-04 12:59] rachael-phillips commented on #2730
Ok great, thanks @TheRealJon !

[2019-09-04 13:08] SpyTec opened #2828 "[PF4] Changing selections value outside Select does not update correctly in Select component"
Changing the `selections` prop outside the Select component does not update the component correctly. In typeahead, it shows the clear icon but does not show the text for the selected item. Clicking dropdown and then closing it makes it show up.

## Expected Results
Selected item is shown

## Actual results
Selected item is not shown

## Reproducible sandbox
This sandbox has a timeout of 2 seconds

[2019-09-04 13:52] mcoker commented on #2826
Hi @aljesusg! We did make some changes to the rotation on 6/27 in this PR - https://github.com/patternfly/patternfly-next/pull/1932/files (look for "table.scss"). We added a transition and changed the rotation. Before this PR, the icon rotation matched what is in your screenshot (it rotated in the wrong direction), however it wasn't visible and didn't animate that way, since there was no `transiti

[2019-09-04 14:06] aljesusg commented on #2826
Ok let me check it because I was working with:

"@patternfly/react-core": "3.89.2",
"@patternfly/react-table": "2.17.5",

[2019-09-04 14:30] aljesusg commented on #2826
After upgrade to 2.19.14 I have the same result @mcoker . Do I have to update any dependencies?

[2019-09-04 14:42] aljesusg opened #2829 "[PF4] NotificationDrawer"
PF3 Component: [Storybook](https://patternfly-react.surge.sh/patternfly-3/index.html?selectedKind=patternfly-react%2FCommunication%2FNotification%20Drawer&selectedStory=Notification%20Drawer&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs)

StoryBook: [Drawer](https://patternfly-react.surge.sh/patternfly-4/experimental/drawer/)

[2019-09-04 15:02] dlabrecq commented on #2823
I wasn't aware there was a stacked version of bullet chart? I worked from the design below, which does not describe stacked bars:

https://www.patternfly.org/v3/pattern-library/data-visualization/bullet-chart/#design

[2019-09-04 15:21] dlabrecq commented on #2823
I see that the PF3 React component supported a stacked property. Just never had a design for it.

[2019-09-04 15:22] suomiy opened #2831 "PF4: Wizard - missing onClose crashes the wizard"
The `onClose` prop is optional but the wizard crashes when it is missing.

We can either:

- keep it optional. In that case multiple null checks have to be added to the wizard.
- change it to required which would be a breaking change

[2019-09-04 16:37] mcarrano commented on #2823
@rachael-phillips @dlabrecq Yes, I went and looked back at the PF3 design and there was never a "stacked" version. @xeviknal can you explain a bit more about the use case for this? We could add it, but it's not clear to me why you would want to stack the bars like this.

As for the tooltip issue, I do agree. @mceledonia what are your thoughts? should the tooltip display from the center of the bar

[2019-09-04 16:52] dlabrecq commented on #2823
FYI, Victory places its tooltips at the end of the bar. Although, we have altered the tooltip position vertically (e.g., slightly, by a few pixels), so it aligns better at the top corner of the bar. We don't do that when the bullet is shown vertically.

I doubt we can move the tooltip so it appears horizontally centered on each bar. It would be difficult to determine what the center of the bar is

[2019-09-04 19:00] #2551 closed

[2019-09-04 20:14] karelhala opened #2836 "Icon missing: path missing"
Cloud services need new icon - path missing to show when users are on wrong page.

[2019-09-04 20:27] rachael-phillips opened #2837 "Epic: Charts Updates"
This includes the Victory Charts and related bugs and enhancements

[2019-09-04 21:29] Djfaucette commented on #2656
@rachael-phillips Hi, Rachael

No, but I do have a little bit more context after heading down a rabbit hole.

This is an issue I encountered only after upgrading my version of react-table. This is an issue with my testing framework, Jest, not being able to resolve the export syntax in a testing environment. I initially thought it was a React error since it was showing in a local dev environment. M

[2019-09-04 22:12] mcoker commented on #2826
@tlabaj do you know if @aljesusg needs to update dependencies?

[2019-09-05 04:15] andrewballantyne opened #2839 "TextArea resize prop needed"
Hello,

Upon implementing the TextArea component into our project we ended up having a horizontal resize issue with the FormGroup and TextArea components:

![image](https://user-images.githubusercontent.com/8126518/64311374-e282fc80-cf71-11e9-95b1-244dac33e78f.png)

Note: There may also be a _bug_ in the FormGroup for losing the stacking nature but I'll leave that up to you to determine the best a

[2019-09-05 08:06] glekner commented on #2824
@rachael-phillips OpenShift 4.3 (CNV)

[2019-09-05 09:06] karelhala opened #2841 "Dropdown Split button 3rd state input"
Consumers should be able to add 3rd state in split button dropdown in order to show that current page is partially selected.

[2019-09-05 09:10] xeviknal commented on #2823
@mcarrano we use the BulletCharts to represent segments of traffic. They could be from 1 to N segments. Each segment must be in the range [1-100]. Sum of the segments must be 100.
We want to show to the users how are the segments distributed: number of segments, easy visualize if the sum is smaller, bigger or equals to 100, quick visualization of traffic distribution, etc.

Quick video of usage:
!

[2019-09-05 12:15] gdoyle1 opened #2843 "Sparkline location and design changes requested"
After speaking with @mcarrano and @mceledonia, we'd like to move Sparkline to it's own page under Charts (remove from area chart examples). We also saw that the implementation did not match the design - there should be a 1 px line marking the data points (as we do with line chart) and the opaque area fill should be 10% opacity of that same line color (i.e. line is #0066cc and area fill is #0066cc

[2019-09-05 12:48] seanforyou23 opened #2844 "Request for documentation around writing code examples"
There's this unwritten rule about how code examples for components need to be written. All imports need to be registered outside of the code examples, and the imports within the code examples do not actually import the modules as one might think.

I've noticed more than one contributor getting tripped up over this simply because it is not written down anywhere. Can we document how it works somewhe

[2019-09-05 12:49] riccardo-forina commented on #2844
+1, I just stumbled upon it. Also being forced to write examples in JS and not in TS feels bad.

[2019-09-05 12:58] boaz0 commented on #2791
@rachael-phillips note that this may be fixed by https://github.com/patternfly/patternfly-react/pull/2749

[2019-09-05 13:01] newswangerd opened #2845 "ClipboardCopy adds commas to rendered text"
[code]

Adds a bunch of extra commas to the output
<img width="940" alt="Screen Shot 2019-09-05 at 8 59 04 AM" src="https://user-images.githubusercontent.com/6063371/64343966-7d53f900-cfbb-11e9-8a8e-64b0eb6e8495.png">

It looks like this might be happening because `children` is an array instead of a string and the component is adding in commas between the items in the array.

<img width="221" alt=

[2019-09-05 13:23] newswangerd opened #2846 "ClipboardCopy doesn't update when children are updated"
![Screen Recording 2019-09-05 at 9 18 04 AM mov](https://user-images.githubusercontent.com/6063371/64345424-577c2380-cfbe-11e9-84c4-498a9eb360af.gif)

The `ClipboardCopy` component should be updating along with the counter in that video, but it doesn't.

Here's the code to generate that example:

[code]

[2019-09-05 13:36] seanforyou23 opened #2847 "Console errors in test suite"
Below is a recent list of components that are throwing errors in the jest test suite.

- [ ] VirtualizedTable.test.tsx
- [ ] Alert.test.tsx
- [ ] OptionsMenu.test.tsx
- [ ] SelectToggle.test.tsx
- [ ] DropdownToggle.test.tsx
- [ ] ContextSelectorItem.test.tsx
- [ ] EmptyStateIcon.test.tsx

[2019-09-05 13:45] rachael-phillips commented on #2694
@rawagner do you have any follow up questions here or did @redallen 's answers help you out?

[2019-09-05 13:56] rachael-phillips commented on #2846
Thanks for filing! A couple of quick questions. Is this currently blocking you at this time? Also, what product are you working on and what release version are you targeting?

[2019-09-05 13:58] rachael-phillips commented on #2846
@newswangerd ignore my question about product! I know you work on Ansible :D

[2019-09-05 13:58] rachael-phillips commented on #2845
Hi @newswangerd is this currently blocking you?

[2019-09-05 14:03] dlabrecq commented on #2843
Moving the example is not an issue. However, while implementing the initial charts, @mceledonia asked us to remove the line color from area charts. I assume that would also apply to sparkline since it's also an area chart?

[2019-09-05 14:32] rachael-phillips commented on #2841
Hi @karelhala thanks for filing. I'll follow up with members on our team to see what next steps look like here.

[2019-09-05 14:37] seanforyou23 opened #2850 "ClipboardCopy accessible name"
I want to be able to customize the accessible name that's attached to the ClipboardCopy input and button to improve the accessible experience. In the example below, I want to refer to the input as "callback url" and the button as "copy callback url button". With the current implementation, we expose the actual value of the text to be copied to screen reader users, and offer a generic text "copy to

[2019-09-05 14:40] seanforyou23 commented on #2847
FWIW I see that running the test suite multiple times in a row may generate a slightly different set of results, but the reoccurring theme is that there are several warnings and sometimes errors that could stand to be addressed.

[2019-09-05 15:15] mcarrano commented on #2823
@xeviknal Thanks for posting these screens. It definitely gives me a better example of what you are looking for. The usage makes sense, but I wouldn't call this a bullet chart. Bullet charts are typically used to show a value against a threshold, not parts of a whole. Seems like what you need is a stacked horizontal bar chart of some type. @dlabrecq is it possible to create a variant of the bar ch

[2019-09-05 15:49] dlabrecq commented on #2823
Creating a stacked version of bullet chart is easy. I believe we can just wrap the underlying components using ChartStack component. Probably don't need a new component for this, just a `stacked` boolean property?

The units are provided raw. That is, the bullet chart doesn't depend on the values being percentages. They can be anything you want, really. It's up to the dev to label the units proper

[2019-09-05 15:54] newswangerd commented on #2845
@rachael-phillips no. I have a workaround for it. If you put everything in one variable it doesn't add commas.

[2019-09-05 15:56] newswangerd commented on #2846
@rachael-phillips this is a blocker. I'm using this component to copy an install command and I need to be able to update the command with additional parameters when the user makes selects the package version. I haven't found a workaround for this.

[2019-09-05 17:36] dlabrecq commented on #2823
A horizontal, stacked bar chart would be an easy thing for users to implement. I created something similar for Cost Management before implementing the bullet chart.

Adding a stacked version of bullet chart would also be simple. I believe we can just wrap the underlying components using ChartStack component. Probably don't need a new component for that, just a `stacked` boolean property?

The unit

[2019-09-05 18:01] mcarrano commented on #2823
What do you feel is the preferred approach @dlabrecq ? My only problem with the stacked bullet as it was implemented for PF3 is that it shows gradations behind the primary bar which implies threshold values and adds confusion IMO. If we can make something that looks like @xeviknal 's examples with the bullet chart, then I'm OK with that. But I still have concerns that it falls outside of the commo

[2019-09-05 18:41] mcarrano opened #2853 "Add stacked area chart example"
We should have an example that shows a stacked area chart since this is a common use case for using area charts.

[2019-09-05 18:45] dlabrecq commented on #2823
I agree that qualitative ranges and comparative warning measures would be confusing. We show tooltips for the qualitative range (i.e., the gray area in the background).

That said, I did a quick POC and discovered it won't be as easy as I had thought. Adding ChartStack unexpectedly affects the axis tics.

Perhaps a horizontal, stacked bar chart would be the better approach?

[2019-09-05 19:13] dlabrecq commented on #2853
This will be similar to the existing area charts. However, the ChartArea components are wrapped with a <ChartStack> component. For example:

![Screen Shot 2019-09-05 at 11 28 09 AM](https://user-images.githubusercontent.com/17481322/64371849-924a7f80-cfef-11e9-8b12-0abd1f7e2dd4.png)

@mcarrano @LHinson Do we need a design?

[2019-09-05 19:24] keithjgrant opened #2855 "FormGroup not passing `className` through to child"
Expected behavior:
`<FormGroup className="some-class">` should render to `<div class="pf-c-form__group some-class">`

Actual behavior:
The className is ignored, so only `<div class="pf-c-form__group">` is rendered.

This seems to be a regression, as it worked before we recently upgraded to react-core ^3.87.3

[2019-09-05 19:50] #2538 closed

[2019-09-05 19:57] #2751 closed

[2019-09-05 20:08] SpyTec commented on #2846
@newswangerd submitted a PR for it in #2849, luckily it's an easy fix :)

[2019-09-05 20:51] #2750 closed

[2019-09-05 20:52] mcarrano commented on #2853
@mceledonia I will defer to you. Are you good with just adding this example as @dlabrecq shows it or do we need more design work?

[2019-09-05 22:41] rachael-phillips commented on #2839
Thanks for filing @andrewballantyne ! I'm glad you have a work around for now, and we'll take a look at this.

[2019-09-05 23:02] rachael-phillips commented on #2846
@newswangerd and @SpyTec thanks so much for the update!

[2019-09-05 23:07] rachael-phillips commented on #2855
Hi @keithjgrant is this currently blocking you and is this issue a PF3 or PF4 issue?

[2019-09-05 23:14] SpyTec commented on #2831
Is the error related to focusTrap? We've added another prop in Modal to disable it so no errors occur if it is true. The same can be added to Wizard

[2019-09-05 23:18] keithjgrant commented on #2855
This is PF4. Not really blocked as we can work around for the time being by wrapping things in an extra div.

[2019-09-06 00:05] rachael-phillips opened #2860 "Add `.pf-l-flex__item` wrapper to examples"
Here is the related Core issue: https://github.com/patternfly/patternfly-next/issues/1984

The layout needs to be built with all the options.

[2019-09-06 09:17] tumido opened #2865 "ChipGroupToolbarItem is not propagating className"
`ChipGroupToolbarItem` component is not propagating `className` despite advertising this prop in documentation and TS.

jsx:
[code]

renders:
[code]

`className` prop is advertised in [docs](https://www.patternfly.org/v4/documentation/react/components/chipgroup/#chipgrouptoolbaritem-props) and present in the [consumed props](https://github.com/patternfly/patternfly-react/blob/ae5a74a9a8584ed4c4275

[2019-09-06 09:25] tumido opened #2866 "ChipGroupToolbarItem can't handle a single Chip"
When `ChipGroup` is used `withToolbar` (therefore using `ChipGroupToolbarItem`), it crashes when the `ChipGrouToolbarItem` contains a single `Chip`.

[code]

results in:
[code]

This all happens because `ChipGroup` [is expecting `children` of each `ChipGroupToolbarItem` to be an array](https://github.com/patternfly/patternfly-react/blob/ae5a74a9a8584ed4c4275247731d7b5ed24591f8/packages/patternfly-

[2019-09-06 09:32] tumido opened #2867 "ChipGroupToolbarItem is missing remove button"
`ChipGroupToolbarItem` [is expected to contain a delete action button](https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/filters#filter-chips)

![attribute-value-multi-chips](https://user-images.githubusercontent.com/7453394/64417555-9a5ef980-d099-11e9-9aeb-0d93ba7e08ca.png)

The button [is missing](https://www.patternfly.org/v4/documentation/react/components/chipgroup/#chip-group

[2019-09-06 11:19] karelhala commented on #2865
This is rather crucial issue, because we want to use chips in data toolbar component.

[2019-09-06 11:19] karelhala commented on #2866
This is rather crucial issue, because we want to use chips in data toolbar component.

[2019-09-06 11:20] karelhala commented on #2867
This is rather crucial issue, because we want to use chips in data toolbar component.

[2019-09-06 12:35] tlabaj commented on #2744
Closed by #2835

[2019-09-06 12:35] #2744 closed

[2019-09-06 12:47] SpyTec opened #2868 "PageSidebar opens and closes if it is closed and we're resizing from md to sm"
When resizing a Page with PageSidebar from md to sm size that has a closed sidebar, it will open and close the sidebar instantly when switching between md and sm. This can be seen on both the demo from PatternFly website and from surge:

* https://www.patternfly.org/v4/documentation/react/demos/pagelayout/pagelayoutsimplenav/
* https://patternfly-react-seed.surge.sh/

## Reproducible steps
1. Open

[2019-09-06 14:24] tlabaj commented on #2798
Closed by #2754

[2019-09-06 14:24] #2798 closed

[2019-09-06 15:00] #2818 closed

[2019-09-06 15:02] #2669 closed

[2019-09-06 15:10] LHinson commented on #2867
Added an issue for design to look at this so we can address this issue

[2019-09-06 15:16] tlabaj commented on #2483
cc @priley86  Can you weigh in here please.

[2019-09-06 15:25] mceledonia commented on #2483
Chiming in here, I don't think it would hurt to have as an option, but I'd concur that if you had a dropdown with enough items for this to be an issue another design approach would be worth considering. Maybe that's something we suggest in design documentation. How does it currently behave when the dropdown list extends beyond the browser height in say a mobile size viewport?

[2019-09-06 15:43] mcoker commented on #2483
@mceledonia it overflows the viewport and you have to scroll the window

![Sep-06-2019 10-42-39](https://user-images.githubusercontent.com/35148959/64441295-346f7380-d093-11e9-809e-4ab320a2575a.gif)

[2019-09-06 15:50] priley86 opened #2871 "Docgen - Props table missing props"
Noted this today while reviewing it w/ @evwilkin - how props tables don't seem to always include all of the interface props.

Ex: `Dropdown` props are missing:
https://www.patternfly.org/v4/documentation/react/components/dropdown/#dropdowngroup-props

But included in the MD file:
[code]

cc: @redallen

[2019-09-06 16:00] rachael-phillips commented on #1855
Closing this because it was resolved in #2495

[2019-09-06 16:36] mcarrano commented on #2483
Select lists (unlike dropdowns) could have lots of items if the contents are being loaded from some data set. That's why the type-ahead select is useful because it provides a way to filter the list of choices to something more manageable. For this reason, I think allowing the consumer to set a max height and then scroll makes sense.

[2019-09-06 16:41] LHinson opened #2873 "Charting documentation spike"
How do we improve our Charting documentation? Design and dev should think through how this can be addressed on the site. Do we surface the Katkoda tutorials? What issues are required to complete the work?

related to: https://github.com/patternfly/patternfly-react/issues/2730

[2019-09-06 16:42] LHinson commented on #2759
There is already a tri-state checkbox in React. Closing this issue.

[2019-09-06 16:42] #2759 closed

[2019-09-06 16:46] LHinson opened #2874 "Compact pagination"
Introduce compact pagination as a follow up to core issue, https://github.com/patternfly/patternfly-next/issues/2110

[2019-09-06 16:49] LHinson opened #2875 "Column re-ordering on table"
Introduce column re-ordering to table
Assuming this is a feature of reactabular that we can surface, ensure that @mcarrano is able to review and does not have any concern from a design perspective.

[2019-09-06 16:54] LHinson opened #2876 "Hide default bulk selection from table for bulk select"
When we introduce the bulk select, we will want to ensure there is the ability to hide the default bulk select seen in the table header today. This should be configurable dependent on whether or not you want to use you bulk select component or not.

related issue #2364

[2019-09-06 17:39] #2753 closed

[2019-09-06 17:43] evwilkin commented on #2720
Fixed in #2832

[2019-09-06 17:43] #2720 closed

[2019-09-06 18:08] #2665 closed

[2019-09-06 18:09] #2694 closed

[2019-09-06 18:15] #2623 closed

[2019-09-06 18:39] redallen opened #2879 "Checkbox <input> never has checked atrribute in DOM"
Unless we pass `defaultChecked` to a checkbox, React doesn't change the `checked` attribute in the DOM. This is default browser behavior. [React has a related issue that's been open for years](https://github.com/facebook/react/issues/6321#issuecomment-201040512). However, changing the attribute makes it easier for Selenium testing to take place.

We should evaluate whether we want to make the attr

[2019-09-06 18:53] #2782 closed

[2019-09-06 21:23] sjd78 commented on #232
Unfortunately, I am not working on this anymore.

[2019-09-07 21:18] dlabrecq commented on #2786
Refactored pie, donut, donut utilization, donut threshold to work with the `constrainToVisibleArea` feature.

Still testing / working with the bullet chart a bit.

A draft PR is below, which includes new Victory props added, demo app updated, and documentation.

PR: https://github.com/patternfly/patternfly-react/pull/2883

[2019-09-08 23:03] dlabrecq commented on #2541
Fixed via https://github.com/patternfly/patternfly-react/pull/2883

[2019-09-08 23:15] dlabrecq commented on #2873
1. I've already created a Katacoda tutorial for bar chart. This shows how to create a chart with a given height and width, then adds padding for a legend, labels, tooltips, etc.

My plan is to create a Katacoda tutorial for each type of chart and link to each from the API docs, perhaps as the first example.

2. I would also like to see the react-docs issue #2139 addressed. That would go a long way

[2019-09-08 23:51] dlabrecq commented on #2722
The problem with `mix-blend-mode` is that it applies to all children of the svg. There's no way to apply the CSS rule to just the `g` and `path` elements representing each area.

As a test, applying `.VictoryContainer svg * { mix-blend-mode: multiply }` demonstrates that areas are more visible, but it also breaks tooltips.

<img width="719" alt="Screen Shot 2019-09-08 at 7 39 11 PM" src="https://u

[2019-09-08 23:51] dlabrecq commented on #2722
Wanted to note that the design on https://www.patternfly.org/v3/pattern-library/data-visualization/area-chart/#design does not include multiple area charts. Perhaps this type of data is best represented as a line chart? And our chart examples should mimic the "Single Area Chart" as shown on patternfly.org?

[2019-09-09 00:31] dlabrecq commented on #2722
Experimented a bit and got a little further. I was able to apply CSS to target just the `clip-path` attributes. The grid lines are also slightly more visible, IMO.

`.VictoryContainer svg g[clip-path] { mix-blend-mode: multiply }`

Before:
<img width="697" alt="Screen Shot 2019-09-08 at 8 20 05 PM" src="https://user-images.githubusercontent.com/17481322/64496711-2299f600-d276-11e9-9ac5-9b1f8bf1d4e

[2019-09-09 01:05] dlabrecq commented on #2722
Experimented a bit and got a little further. I was able to apply CSS to target just the `g` elements with `clip-path` attributes used for each area. The grid lines are also slightly more visible, IMO.

`.VictoryContainer svg g[clip-path] { mix-blend-mode: multiply }`

Before:
<img width="697" alt="Screen Shot 2019-09-08 at 8 20 05 PM" src="https://user-images.githubusercontent.com/17481322/6449671

[2019-09-09 01:11] dlabrecq commented on #2786
Implemented a solution that works with bullet chart and the `constrainToVisibleArea` feature.

PR #2883 is now available.

[2019-09-09 03:46] dlabrecq commented on #2823
I refactored the bullet chart a bit and this is what a stacked bullet chart would look like. Although, I'm not sure the qualitative range makes sense (i.e., the grey bar)? Would it just used as a grey background?

![chrome-capture (1)](https://user-images.githubusercontent.com/17481322/64502056-0f951f00-d292-11e9-8b1b-653a7afd2c37.gif)

[2019-09-09 04:09] dlabrecq commented on #2823
For kicks, I created an example of what you can do with a stacked bar chart. You can change the tooltip orientation to be `top`, but the pointer behaves similarly to bullet chart.

![chrome-cap](https://user-images.githubusercontent.com/17481322/64502746-d52d8100-d295-11e9-9c2e-06635dd4f048.gif)

[2019-09-09 04:21] dlabrecq commented on #2823
For kicks, I created an example of what you can do with a stacked bar chart. You can change the tooltip orientation to be `top`, but the pointer position behaves similarly to bullet chart.

![chrome-capture (3)](https://user-images.githubusercontent.com/17481322/64502992-09ee0800-d297-11e9-8a3a-88b865301805.gif)

<img width="746" alt="Screen Shot 2019-09-09 at 12 15 49 AM" src="https://user-images

[2019-09-09 08:31] SpyTec commented on #2095
Closing as it's tracked in https://github.com/patternfly/patternfly-next/issues/2019

[2019-09-09 08:31] #2095 closed

[2019-09-09 10:22] ares commented on #232
There's alternative implementation - see https://github.com/patternfly/patternfly-react/pull/1420

[2019-09-09 11:29] SpyTec opened #2885 "PF4: Dropdown is missing prop documentation"
At the moment, going to [Dropdown's documentation](https://www.patternfly.org/v4/documentation/react/components/dropdown/) you will not see the documentation for the Dropdown component, only it's siblings.

[2019-09-09 12:47] rebeccaalpert commented on #2374
This is still a bug.

[2019-09-09 14:54] mceledonia commented on #2843
@dlabrecq  I think as a general styling thing we can make them both have them. They are both the same color, but the line should be 100% opacity, and the fill be 10%.

[2019-09-09 15:17] christiemolloy opened #2886 "Option/Prop to add to Clipboard copy so that its expanded by default"
https://github.com/patternfly/patternfly-next/issues/2228

Information at this issue above ^

[2019-09-09 15:30] dlabrecq commented on #2843
Per my discussion with @mceledonia, the opacity will be updated to 30%. We currently use an opacity of 40% and 10% is too light.

30% opacity
![Screen Shot 2019-09-09 at 11 18 13 AM](https://user-images.githubusercontent.com/17481322/64544441-05f0d300-d2f5-11e9-9da6-e2bba3c46766.png)

10% opacity
![Screen Shot 2019-09-09 at 11 14 27 AM](https://user-images.githubusercontent.com/17481322/64544484-1

[2019-09-09 15:55] tlabaj opened #2888 "PF4 DataToolbar: Add chip groups to toolbar"
This is a follow up issue for the initial implementation of the experimental DataToolbar component.  This issue will t rack the work need to add the Chipgroup to the toolbar.

[2019-09-09 17:02] mceledonia commented on #2853
I left a visual in #2796 - Looks like it would apply here as well.

[2019-09-09 18:01] mcarrano commented on #2823
Thanks for prototyping this @dlabrecq . I still feel like logically that this is a bar chart rather than a bullet chart and should be implemented as such. What do you think @mceledonia ? Any input on what this should look like or a preference between the two visual approaches shown here?

[2019-09-09 18:03] LHinson opened #2889 "Update dependencies"
https://github.com/patternfly/patternfly-react/network/alerts

[2019-09-09 18:08] #2836 closed

[2019-09-09 18:24] dlabrecq commented on #2853
Added a stacked area chart example here: https://github.com/patternfly/patternfly-react/pull/2891

![Screen Shot 2019-09-09 at 2 18 13 PM](https://user-images.githubusercontent.com/17481322/64556339-3cd2e300-d30d-11e9-9635-3b8295693db1.png)

[2019-09-09 19:15] tlabaj opened #2893 "Update release notes for 2019.07 release"

[2019-09-09 19:16] #2758 closed

[2019-09-09 19:57] tlabaj commented on #2885
Closing this since it is . duplicate of #2871

[2019-09-09 19:57] #2885 closed

[2019-09-09 20:00] #2871 closed

[2019-09-09 20:53] dlabrecq commented on #2722
The mix-blend-mode will be set via https://github.com/patternfly/patternfly-next/pull/2239

[2019-09-10 08:05] aljesusg commented on #2826
Hi @tlabaj @mcoker the css code applied is but in my case -webkit-transform is strikethrough
[code]

to 0 onlick, should it be negative to make the rotation to the other way?

[2019-09-10 15:05] jschuler opened #2898 "Dropdown and dropdown-like components should have the same interaction"
Following up on https://github.com/patternfly/patternfly-react/pull/2890, I noticed that not all dropdown and dropdown-like components have the same interaction pattern. The components in question are:
- Application launcher
- Context selector
- Dropdown
- FormSelect
- Options menu
- Pagination
- Select

Here are some interactions i would generally expect to happen across these using the keyboard:

[2019-09-10 15:10] #2675 closed

[2019-09-10 15:15] #2855 closed

[2019-09-10 15:19] #2797 closed

[2019-09-10 17:38] nicolethoen opened #2900 "DataToolbar toggle groups are not applying aria-haspopup when appropriate"
the toggle group button should have aria-haspopup when isExpanded = true && viewport is smaller than lg global breakpoint

[2019-09-10 18:08] jschuler opened #2901 "Select component creatable feature should allow user strings"
There are some strings that are hard coded at the moment, for example
"Create <value>"
and
"No results found"

This wouldn't work with i18n

[2019-09-10 19:50] LHinson commented on #2800
see core issue https://github.com/patternfly/patternfly-next/issues/2021

[2019-09-10 20:11] tlabaj commented on #2826
@aljesusg how are you doing your imports?  We do not see this issue in our workspace with the latest core.

[2019-09-10 20:36] mcarrano opened #2903 "Styling of Pagination component is incorrect"
The styling of the "items per page" select menu is not correct. This should not use standard Select list styling as shown below.

![Screen Shot 2019-09-10 at 4.33.20 PM.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/febd2fcc-441b-42ae-aec1-7788ca14133b)

Core implementation is correct. See

![Screen Shot 2019-09-10 at 4.35.33 PM.png](https://images.zenhubusercontent.com/5ce8165

[2019-09-11 07:13] aljesusg commented on #2826
This is my code @tlabaj we have not problems with another components so my concern is if PF3 style could be giving problems here with PF4

[code]

[2019-09-11 12:50] SpyTec commented on #2903
I've fixed this up somewhat locally, though I'm having some difficulty understanding how fix the isPlain option for the dropdown.

At the moment if you apply isPlain to the component you will get the behaviour that exists for OptionsMenu, i.e. isPlain is slightly lighter and gets darker on hover as seen in the example here

![image](https://user-images.githubusercontent.com/6598829/64698490-4beb99

[2019-09-11 14:30] tlabaj commented on #2898
cc @jessiehuff @jgiardino
Jenn isn't there a related accessibility issue open?

[2019-09-11 14:52] christiemolloy commented on #2839
Hi @andrewballantyne I believe this issue is coming from the Core repository. Do you mind taking a look at the issue I created: https://github.com/patternfly/patternfly-next/issues/2251 to see that I covered everything?

[2019-09-11 14:55] jgiardino commented on #2898
@jschuler Thanks for capturing your observations! I would love to see the keyboard interaction made consistent across all of the components.

There is another issue that I had created related to this: https://github.com/patternfly/patternfly-react/issues/1615. Should we keep that one and copy your comments to that issue? (and maybe also identify that issue as a bug as you did here? 😉)

@jessiehuff

[2019-09-11 15:19] #2893 closed

[2019-09-11 16:13] andrewballantyne commented on #2839
Hi @christiemolloy. unless I am missing something, I don't believe that covers the main/all the issues here. That might cover the alignment issue between the FormGroup label and the contained element (which is definitely good).

I believe a prop is still needed so the consumer of a TextArea can set the resize ability without resorting to a style prop. I believe TextAreas should have this ability b

[2019-09-11 16:46] davebertz opened #2905 "Changing text input of type date manually does not transfer automatically from year to month, leading to a bug"
Steps to reproduce:

1. Have a `<TextInput type="date"/>`

2. Enter any numeric value to replace yyyy.

3. Notice that after you enter your year of birth, the field does not switch over to mm.

*Note that if you enter any numeric values to replace mm, it automatically switched over to dd
**You can enter 5 digits in the yyyy section because of that bug

[2019-09-11 16:56] christiemolloy commented on #2839
Sorry about the misunderstanding. So the issue I filed is an issue with the parent.
I think I understand now, that you would like a modifier in Core/Prop in React that styles the text area to either resize only on the vertical axis or resize only on the horizontal axis?

@andrewballantyne let me know if this aligns with what you were thinking and I will update the issue accordingly!

[2019-09-11 17:20] andrewballantyne commented on #2839
No worries about the misunderstanding - I probably could have made a more clear ticket. I definitely think the parent issue filed is valid hopefully it addresses the FormGroup layout issue.

As for the prop issue... I think a prop that allows for vertical, horizontal or both (which could be the default / no prop provided), something like:
[code]

[2019-09-11 17:46] dlabrecq opened #2906 "Security alerts showing up in product repos"
These security alerts are showing up in Cost Management, partly due to PatternFly dependencies.

![Screen Shot 2019-09-11 at 1 40 51 PM](https://user-images.githubusercontent.com/17481322/64721301-29a14e00-d49a-11e9-8e5a-ae25a42607ef.png)

See https://github.com/project-koku/koku-ui/issues/976

[2019-09-11 18:17] rebeccaalpert commented on #2868
I opened an issue for this at patternfly-next (https://github.com/patternfly/patternfly-next/issues/2252) since it seems like a CSS issue (props and modifiers look OK). It doesn't look like there's any .pf-m-collapsed-related styles for the smaller breakpoints, so I'm wondering if that's all we need. I got it to go away locally by adding this:
[code]

[2019-09-11 20:33] LHinson opened #2907 "Table spike: Investigate extensions improvements"
This is a spike to determine the effort to address #2803, #2808 as well as the type errors that occurr in the inline edit table.

Investigate the required work involved and then revisit with Dana, Leslie, Jan, Joachim, Patrick, Titani to understand work involved and determine the path forward.

[2019-09-11 20:35] LHinson opened #2908 "Table spike: Column reordering"
Can we make [Column re-ordering on table](https://github.com/patternfly/patternfly-react/issues/2875) available? We need to ensure design understand the default behavior to make sure they approve

Clarifications:
- This is only for PatternFly table (not extensions)
- This is an investigation
- Follow up with Dana, Jan, Leslie, Titani to clarify effort and agree upon next steps

[2019-09-11 20:36] LHinson commented on #2808
on hold while we investigate effort in #2907

[2019-09-11 20:37] LHinson commented on #2803
on hold while we investigate effort in #2907

[2019-09-11 20:37] LHinson commented on #2875
on hold while we investigate #2908

[2019-09-11 20:40] LHinson opened #2909 "Spike: Identify the work involved for inline edit"
What issues are required to address inline edit for tables #2679 ?

- What questions are there for design?
- What required from core?
- How does the markup provided by reactabular compare to the design established by PF?

[2019-09-11 20:44] LHinson opened #2910 "Add bulk select to table"
Design file: https://marvelapp.com/i50gj84
related to #2876

[2019-09-11 21:01] dlabrecq commented on #1636
This is still a problem with the latest packages. New screenshot below

![Screen Shot 2019-09-11 at 1 08 30 PM](https://user-images.githubusercontent.com/17481322/64735036-be657500-d4b5-11e9-9a80-872c1c7f90dc.png)

[2019-09-11 21:31] dlabrecq commented on #1636
![chrome-capture](https://user-images.githubusercontent.com/17481322/64737033-f2429980-d4b9-11e9-874b-a5be462c89f3.gif)

[2019-09-11 21:35] boaz0 commented on #2845
@newswangerd I can't reproduce it on my environment can you give me a link to your code so I can debug it?

[2019-09-11 21:42] boaz0 commented on #2905
@davebertz what browser are you using?
I was using Firefox and couldn't reproduce it.

[2019-09-11 21:45] davebertz commented on #2905
I was using chrome, also the text input was inside a form group component.

[2019-09-12 07:23] marusak opened #2912 "Update to xterm v4 in console"
[Currently](https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-3/react-console/package.json#L41) version 3.3.0 is used, which is a year old release and since then there has been some interesting improvements and fixes.

Now is also available version 4.0.0 which changes quiet a few things around.
One of them is the fact, that addons are now separate packages, so [fit](ht

[2019-09-12 07:46] ia3andy opened #2913 "Use TextInput with React Hook Form (using ref)"
I am trying to use this library with Patternfly-react 4: https://react-hook-form.com/

They say:

But I don't see such `ref` exposed. Any idea on how to solve that?

[2019-09-12 15:45] christianvogt opened #2914 "add support for expanded vs collapsed text in Expandable uncontrolled variant"
Support for the expanded vs collapsed text for Expandable uncontrolled variant.

This issue, https://github.com/patternfly/patternfly-react/issues/2350, requested an uncontrolled variant for the Expandable component. Which was implemented. However it also requested support to supply two pieces of text. One for expanded, and another for collapsed. Without this feature, we're left with having to add

[2019-09-12 16:00] tlabaj opened #2915 "PF4 Select - Single select example regression"
There is a regression in the Single select Examples.  The Single select is showing check boxes next to each item.  The example should match what is in core.

[2019-09-12 20:30] thaorell opened #2917 "cannot render Wizard and AboutModal to specified element"
Similar to #2551, an appendTo() props could be added to Wizard and AboutModal like what @jschuler did in #2802 so that these components could be rendered in specified element on the DOM tree.

[2019-09-13 12:23] KKoukiou opened #2919 "Avoid inline-styling to meet tighter content-security-policy"
@priley86 This was reported first here - https://github.com/patternfly/patternfly-react/issues/2606
And this was the fix PR https://github.com/patternfly/patternfly-react/pull/2653

But using the versions that are supposed to have this fix:
-    "@patternfly/react-core": "3.86.2",
-    "@patternfly/react-table": "2.16.16

Don't seem to remove the inline style warnings.

Maybe there are still some

[2019-09-13 15:38] KKoukiou commented on #2444
Commenting so that the bot will not close the issue for start.
Any update on this?

[2019-09-13 16:12] dlabrecq opened #2920 "Chart tutorials"
As a user, I want a Katacoda tutorial for each type of chart. This will help folks understand how the various properties all work together, specifically `padding`, `height`, and `width`. There should also be a link, as the first example, in the react-docs.

I've already created a Katacoda tutorial for bar chart. This shows how to create a simple chart with a given height and width, then adds paddi

[2019-09-13 16:51] mcarrano commented on #2444
@tlabaj Would it be easy to implement something like this now that we have a spinner @tlabaj ?

![select-with-spinner](https://user-images.githubusercontent.com/6619860/64879858-e1fafd80-d624-11e9-833d-e8e396162708.png)

Would it require any core implementation?  Let me know if this is what you had in mind @KKoukiou . It will still need to get into our release plan.

[2019-09-13 18:08] #2843 closed

[2019-09-13 18:40] christiemolloy opened #2924 "add prop to clipboardcopy expandable content to render code"
Once https://github.com/patternfly/patternfly-next/pull/2260 is merged, this issue should be started. Add a prop like `isCode` to `pf-c-clipboard-copy__expanded-content` to add the html element `<pre>` which will render the text inside of `pf-c-clipboard-copy__expanded-content`  to display as code.

[2019-09-13 19:15] jenny-s51 commented on #1654
@dlabaj @seanforyou23 What would be the preferred way to approach this? I’m looking at the `TimedToastNotification.js` file in PF3, but that class belongs to its own component ToastNotification. Should I try to reproduce the same class in TSX, add this new file to the Alert component, and call it within `Alert.tsx`? Or should I just add that timer functionality somewhere in `Alert.tsx` directly?

[2019-09-13 21:08] mceledonia commented on #2823
Yeah, I'm struggling to see how without the qualitative range (gray bar) this isn't just a stacked bar chart. I think the bullet chart usage is inherently tied to comparing large amounts of ranges and data in a single chart... However if this is something we want to support, I'd say let's have a clear definition of when you'd use one over the other. The visuals look fine to me @dlabrecq thanks for

[2019-09-13 22:16] mcoker opened #2929 "Empty state icon and primary button updates"
`.pf-c-empty-state__icon` can now be a `div` that allows for an icon, in case that icon is a component, like the `Spinner` component.

Also added a new element `.pf-c-empty-state__primary` that can be used in lieu of `<Button variant="primary">` as the primary button in the empty state component.

Core PR - https://github.com/patternfly/patternfly-next/pull/2254/

[2019-09-13 22:19] mcoker opened #2930 "Height: auto; prop for table component <tr> elements"
We need to add a prop so that a `<tr>` element can have class `.pf-m-height-auto`, which assigns an auto height. This is to address a bug in the table where the child(ren) of a cell that are set to `height: 100%` will end up only being `1px` tall because we have CSS that defines `<tr>` elements as `1px`.

Core PR - https://github.com/patternfly/patternfly-next/pull/2254/

[2019-09-13 22:21] mcoker commented on #1433
A demo for this has been added in core. We now have demos for [table empty state](https://pf4.patternfly.org/demos/Table/examples-full?component=Table%20-%20empty%20state%20demo) and [table loading](https://pf4.patternfly.org/demos/Table/examples-full?component=Table%20-%20loading%20state%20demo).

However, before we can build these demos, we need updates for empty state (https://github.com/patter

[2019-09-14 20:55] #2398 closed

[2019-09-14 23:33] sjd78 opened #2931 "PF3 Card use break with webpack tree shaking on when using embedded sub-components"
Using the following style, the `Card` component breaks with webpack tree shaking (i.e. production mode) turned on:

[code]

The reason it breaks due to a change in #2190 that moved the sub components from `Card.js` to the peer `index.js`.  It is the only component that looks like this.

[2019-09-15 03:46] dlabrecq commented on #2873
Update: #2 above has been completed. We now have a tutorial available for each chart type. See https://github.com/patternfly/patternfly-react/issues/2920

Unfortunately, #3 didn't work out very well. We don't have the ability to format the react-docgen documentation, so adding property types in the description isn't readable -- everything ends up on the same, unbroken line.

IMO, we really need to

[2019-09-15 15:55] #2452 closed

[2019-09-16 08:10] aljesusg commented on #2826
Update !
In styles .pf-c-table__toggle .pf-c-button.pf-m-expanded > * when user click the arrow,
We have the transform: rotate(0deg) when in demo there is a rotate(--pf-c-table__toggle--c-button--m-expanded__toggle-icon--Transform) => this value is 360 in patternfly

So it seems that this is not in last version @mcoker @tlabaj .

[2019-09-16 08:17] aljesusg commented on #2826
So I fixed this overriding styles with

[code]

[2019-09-16 11:27] boaz0 commented on #2929
can I work on this?

[2019-09-16 13:03] priley86 commented on #2919
Hey @KKoukiou - can you provide any further insight here? Our fix attempted to remove all explicit references of `Stylesheet.parse` and `Stylesheet.inject`, however that does not seem to be agreeing w/ your CSP checker.

This kind of takes me back to my original thoughts here and looking at the `nonce` option:
https://github.com/patternfly/patternfly-react/issues/2606#issuecomment-516063260

I am

[2019-09-16 13:17] rachael-phillips commented on #2931
Hi @sjd78 do you have a work around for this or is this a blocker for you at this time?

[2019-09-16 13:19] rachael-phillips commented on #2790
Hi @christianvogt I'm following up here. Is this still an issue after #2418 was merged?

[2019-09-16 13:22] rachael-phillips commented on #2602
@katerinapat this issue has not been planned so far. What release version are you targeting for this fix?

[2019-09-16 13:27] sjd78 commented on #2931
I have a work around -- import and use `CardTitle` and `CardBody` directly.  Looks like an easy fix, I may submit a PR for that if I have a few extra cycles this week.

[2019-09-16 13:28] rachael-phillips commented on #2931
OK thank you!

[2019-09-16 13:46] #2786 closed

[2019-09-16 14:20] rachael-phillips commented on #2656
@Djfaucette because this isn't something we can solve for on our side, we'll close this issue. Please let me know if you feel we should re-open

[2019-09-16 14:20] #2656 closed

[2019-09-16 14:43] christianvogt commented on #2790
@rachael-phillips yes this is still a problem.

I don't have a simple way to create a codepen without patternfly being hosted on a CDN. So here's a snippet I tried in your live documentation by combining the modal and dropdown examples:

![dropdown in modal](https://user-images.githubusercontent.com/14068621/64967599-d438b880-d86e-11e9-9322-04a37a9b3b63.gif)

[code]

[2019-09-16 14:47] christianvogt commented on #2790
https://github.com/patternfly/patternfly-react/pull/2418 worked around the issue. But we have another use case that is experiencing this issue as well that we cannot easily work around.

[2019-09-16 14:48] tlabaj commented on #2915
at further examination, the examples are ok.

[2019-09-16 14:48] #2915 closed

[2019-09-16 14:50] rachael-phillips commented on #2868
@rebeccaalpert are we ready to close this issue?

[2019-09-16 14:50] #2868 closed

[2019-09-16 14:51] rachael-phillips commented on #2913
@tlabaj making you aware of this issue

[2019-09-16 15:15] jessiehuff opened #2933 "fix(documentation): Update React documentation"
- Remove outdated information
- Remove redundant information from subproject READMES
- Add badges and custom build steps to each subproject README
- Add information about monorepo
- Update unmaintained generators

[2019-09-16 15:26] gdoyle1 opened #2934 "Incorrect color for link button in toolbar demo"
The link button in this toolbar demo is supposed to be #0066cc I believe https://www.patternfly.org/v4/documentation/react/demos/toolbardemo/. This is appearing on the site (I assume the workspace as well but I can't access it right now).

@jschuler @rachael-phillips

[2019-09-16 16:07] rachael-phillips commented on #2934
HI @gdoyle1 can you include a screen shot of what you are seeing that is incorrect?

[2019-09-16 16:15] rachael-phillips commented on #2929
Hi @boaz0 it's not ready yet from a core perspective. Are you blocked or waiting on this?

[2019-09-16 16:17] gdoyle1 commented on #2934
@rachael-phillips
<img width="985" alt="Screen Shot 2019-09-16 at 12 16 57 PM" src="https://user-images.githubusercontent.com/30870144/64974967-f1c04f00-d87b-11e9-8118-17f10abe0b18.png">

[2019-09-16 16:17] rachael-phillips commented on #2914
@christianvogt we've seen this and will be taking a look. Is this feature blocking you at this time?

[2019-09-16 16:19] rachael-phillips commented on #2906
@redallen will your PR solve the issue here?

[2019-09-16 16:20] rachael-phillips commented on #2905
@davebertz is this a PF4 component? Is this currently blocking you?

[2019-09-16 17:03] boaz0 commented on #2929
the latter

[2019-09-16 17:07] jenny-s51 commented on #2004
Hi @mcarrano @dlabaj  -- just wondering if this issue is still on hold ... are there any corresponding issues in core/react for the toolbar refactor? Does anyone know the status of those? I see https://github.com/patternfly/patternfly-react/issues/2009 is related but still open

[2019-09-16 17:07] #1855 closed

[2019-09-16 17:07] mcoker commented on #2929
@rachael-phillips this work was completed in core as part of https://github.com/patternfly/patternfly-next/pull/2254. This work is needed before react can finish building the empty state and loading state table demos in https://github.com/patternfly/patternfly-react/issues/1433

[2019-09-16 17:26] redallen commented on #2906
Partially. All the important alerts that aren't a part of our `devDependencies` and build processes will be resolved.

[2019-09-16 17:27] mcoker commented on #2826
@aljesusg if you remove all of the transforms in the dev tools that rotate the icon, is its default state a down arrow icon?

[2019-09-16 17:40] christianvogt commented on #2914
@rachael-phillips it's not blocking us because we worked around the issue by using the controlled variant.

[2019-09-16 18:07] mcarrano commented on #2004
I think that the Toolbar is complete now and #2009 should probably be closed. @tlabaj can you confirm that is the case? I am not aware of anything else that should be blocking this. There is design documentation recently  released here that should provide more detail on expected behavior. https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/card-view

[2019-09-16 18:10] #2541 closed

[2019-09-16 18:28] aljesusg commented on #2826
The default state is right arrow icon like the demo.

[2019-09-16 18:28] tlabaj opened #2937 "PF4 Dropdown: disabled button should only apply the disabled attribute"
This is related to issue #2666 that fixed the button component.  The same issue exists in the Dropdown.

The `<button>` in the Toggle class should not apply the pf-m-disabled modifier.

[2019-09-16 18:34] TheRealJon opened #2938 "Missing key prop console warning for ChartPie and related components"
The same warning is thrown on ChartPie, ChartDonut, and ChartDonutUtilization pages.

<img width="1108" alt="Screen Shot 2019-09-16 at 4 18 01 PM" src="https://user-images.githubusercontent.com/22625502/64990325-9bfc9e80-d89d-11e9-85cd-aa09f754e048.png">

[2019-09-16 18:38] mcoker commented on #2826
@aljesusg the icon in the demo is actually a down arrow with a css `transform` applied that rotates it 270 degrees to make it appear as a right arrow. If you undo the `transform`, the icon points downward. Just wanted to make sure you have the same icon.

[2019-09-16 18:38] dlabrecq opened #2939 "Broken link to donut chart tutorial"
Simple fix for the donut chart tutorial link.

[2019-09-16 18:44] dlabrecq commented on #2938
Cannot reproduce with the examples.

If you rebuild clean, does it still occur?

[2019-09-16 18:47] mcarrano commented on #2823
@xeviknal any reason you cannot create what you need using the stacked bar chart as @dlabrecq shows above? You can find documentation on the Stacked Bar Chart here: https://www.patternfly.org/v4/documentation/react/charts/chartstack/ We'd prefer not to add a stacked bullet chart per this conversation.

[2019-09-16 18:48] dlabrecq commented on #2920
Fixed by:

https://github.com/patternfly/patternfly-react/pull/2883
https://github.com/patternfly/training-scenarios/pull/101

[2019-09-16 18:48] #2920 closed

[2019-09-16 18:51] dlabrecq commented on #2722
Fixed by:

https://github.com/patternfly/patternfly-next/pull/2239
https://github.com/patternfly/patternfly-react/pull/2883

[2019-09-16 18:51] #2722 closed

[2019-09-16 19:11] AllenBW opened #2941 "PF4 react-table colums (title) to support jsx (also in collapsed view)"
Pretty pretty please, would be great if pf-table didn't hate this

this kinda thing
[code]
throws this warning (it doesn't enjoy the `<><AnsibeTowerIcon size='md' />...</>`
<img width="1136" alt="Screen Shot 2019-09-16 at 3 10 23 PM" src="https://user-images.githubusercontent.com/6640236/64986011-28a25f00-d894-11e9-848e-7a758580eabe.png">

also, it doesn't collapse very well, displays fallback rat

[2019-09-16 19:17] katierik commented on #2941
@LHinson @rachael-phillips Can you help prioritize this? This is currently in production for cloud.redhat.com Insights :(

[2019-09-16 19:37] mcoker opened #2942 "Update nav examples and demos"
Core issue - https://github.com/patternfly/patternfly-next/issues/2272

After discussing with @kybaker, the "simple nav" variation should never be be top-level navigation and should only be used in expandable nav.

Grouped navigation should use the "default nav" style.

We just need to update our examples and likely update the documentation to be more clear about usage.

Also need to update this p

[2019-09-16 20:11] TheRealJon commented on #2938
Yes, v5.0.0 with a fresh yarn install and build. I get this warning on the ChartDonutUtilization, ChartDonut, and ChartPie doc pages.

[2019-09-16 20:19] dlabrecq commented on #2938
Odd about ChartPie and ChartDonut. There are no lists or maps in either source. In fact, ChartPie is a really simple component.

[2019-09-16 20:21] TheRealJon commented on #2938
I think it has something to do with how the container component is cloned, then the children are passed in as an array (chart, getTitle(), getSubTitle()).

[2019-09-16 20:46] rachael-phillips commented on #2929
We are going to pull this up into the prioritized backlog. The prioritized backlog is now the place where we are going to surface issues we want to make visible and top of mind: https://github.com/patternfly/patternfly-react/milestone/20

We are also going to place this on on hold until the Core work is done.

[2019-09-16 21:34] dlabrecq commented on #2938
Interesting... We're cloning the container because folks started providing their own in an effort to set `responsive=false`.

Although it doesn't seem to matter if we clone or just use ChartContainer directly. If I make any change in the code, it will generate a key error for either scenario. If I then build clean, there's no error.

ChartDonutThreshold
![Screen Shot 2019-09-16 at 5 30 53 PM](http

[2019-09-16 22:52] dlabrecq commented on #2938
Please take a look at PR https://github.com/patternfly/patternfly-react/pull/2943. If that doesn't work for you, perhaps we can use it as a base to debug further?

[2019-09-17 09:49] lucasponce opened #2944 "Error using react-table actions: compilation error"
Using react-table "@patternfly/react-table": "2.17.5" I have following compilation error inside the component:

[code]

Client code is something like this:

[code]

[code]

[2019-09-17 09:54] KKoukiou commented on #2919
Hey @priley86 I am not sure how I can help you solve this - I can help you test any changes before merging though against cockpit.

So I see you use this module, https://github.com/emotion-js/emotion,
which is where makeStyleTag that our webpack is complaining about is taken from.
What is this doing that you can't do by importing CSS and styling the components with classes?
I will be glad if you c

[2019-09-17 12:45] davebertz commented on #2905
It's functionnal, so it's not a blocker, just an issue that should be fixed ! :)

[2019-09-17 14:06] dgutride commented on #2919
@KKoukiou  - our current method of including css should work with what you are asking - can you create a simple repo with a repro case for this issue so we can test it out?  @redallen @priley86 ...

[2019-09-17 14:08] #2865 closed

[2019-09-17 14:33] #2866 closed

[2019-09-17 14:43] #2845 closed

[2019-09-17 14:57] #2939 closed

[2019-09-17 15:23] KKoukiou commented on #2919
Sure, here is a minimal reproducer https://github.com/KKoukiou/patternfly-react-table-example

Clone the repo, install the npm dependencies with 'npm install .' run webpack to bundle the code with 'webpack --progress' command and then run 'npm run-script start' to serve the page with webpack-dev-server.

In the browser console you can see the same warnings that we are getting in cockpit when using

[2019-09-17 15:47] dlabrecq commented on #2938
I can reproduce the message consistently by changing `ChartPie` to simply render this:

![Screen Shot 2019-09-17 at 11 02 24 AM](https://user-images.githubusercontent.com/17481322/65054011-e08a4780-d93a-11e9-987d-87582d9d3652.png)

No legend, no container wrapper, etc...

![Screen Shot 2019-09-17 at 10 42 27 AM](https://user-images.githubusercontent.com/17481322/65054017-e3853800-d93a-11e9-9468-3e

[2019-09-17 18:58] tlabaj opened #2947 "PF4: Investigate what library to use for the Date and Time Picker(s)"
Some investigation need to be done to determine what library we should use to implement the Dat and Time Picker(s).  The library chosen should support  our design.  This is related to core issue [#180 ](https://github.com/patternfly/patternfly-next/issues/180)

[2019-09-17 19:21] lucasponce commented on #2944
With react-scripts 3 we could finally workaround this changing tsconfig.json

[code]

And using ` // @ts-ignore ` with some areas of the code.

Not ideal, but it's a workaround.

I think perhaps react-table component should be protected to be used in react-scripts 3 scenarios.

[2019-09-17 19:29] rachael-phillips commented on #2941
@AllenBW Can you split this up into two issues for us?

[2019-09-17 19:30] rachael-phillips commented on #2941
@priley86 can this all be addressed in React for table or will we need to open a Core issue? cc @mcoker

[2019-09-17 19:38] AllenBW commented on #2941
@rachael-phillips unsure if there two issues here, i believe the collapsed column name issue is because its gettin somethin it doesn't want/support SO if we make it supported

[2019-09-17 21:17] priley86 commented on #2919
so one possibility here is modifying our usage of Emotion to add nonce's as mentioned previously. There is various ways of achieving this, but essentially just adding nonce keys to your style tags... we could add support for a global using `create-emotion` API like so:
https://github.com/priley86/patternfly-react/commit/a6bd0ede2d5bc8ddd3d77251a7cc718d02c0f211

`create-emotion` docs: https://emoti

[2019-09-18 12:31] jotak commented on #2944
I really wish we get a fix about that in Patternfly as the "solution" being to disable null-checks in consuming projects is really not satisfactory.

[2019-09-18 12:40] lucasponce commented on #2944
Absolutely, I hope @tlabaj can maintain this open and probably to involve authors of the react-table project for this.

The workaround is used to solve a blocker, but as you commented, it's not a "solution", I'd call it a "hack".

[2019-09-18 13:27] brumik opened #2951 "PF3: InputGroup.Button looks borken with InputGroup.Addon"
Putting the button between the form field and an addon produces results which look broken.

Smallest example:
[code]

Produces results like this:
![Screenshot from 2019-09-18 15-20-51](https://user-images.githubusercontent.com/8531681/65152312-00e40000-da28-11e9-95b6-6076ec4e33ed.png)

Here you can see that one border of the InputGroup.Addon is missing while there is space towards the button and t

[2019-09-18 15:09] tlabaj opened #2952 "Add PR check for associated issue"
Update the PR template  to verify there is an associated issue.

[2019-09-18 15:13] #2814 closed

[2019-09-18 15:16] #2828 closed

[2019-09-18 15:16] #2831 closed

[2019-09-18 15:22] seanforyou23 commented on #2908
@LHinson here's the takeaways from the investigation

Column reordering is totally possible, we'll be looking at rolling our own implementation of the drag and drop functionality as well as the column reordering, as [the one from reactabular](https://reactabular.js.org/#/drag-and-drop) currently has issues and is a bit overengineered it seems.

Design states needed

- Styling for the source column

[2019-09-18 15:22] #2908 closed

[2019-09-18 21:39] jschuler opened #2954 "Expandable: Cannot toggle isExpanded after creation"
The controlled version of Expandable is not reacting to changes made to the isExpanded prop after initial creation

[2019-09-18 21:52] dlabrecq commented on #2938
There seems to be two issues; cloning the container and the labels prop. If the property was passed thru via `rest`, the warning was generated. It didn't matter if we cloned ChartContainer or VictoryContainer.

That said, I was able to clone the container differently and eliminate my local warning messages. The tests no longer generate warnings, either.

[2019-09-19 08:49] brumik commented on #2951
It was a mistake, sorry

[2019-09-19 08:49] #2951 closed

[2019-09-19 09:40] lucasponce commented on #2944
Closing this.
Finally there was a bad import that triggered ts compiler inside the react-table and in our project we have a more strict settings, but yes, fixing the wrong import fixed the problem, and we can consume react-table no matter what level of strict was used in that specific module.

[2019-09-19 09:40] #2944 closed

[2019-09-19 10:29] #2886 closed

[2019-09-19 11:29] #2666 closed

[2019-09-19 13:09] rachael-phillips commented on #2917
Hi @thaorell we've seen this, and I've added the enhancement label for us to take a look at. Thanks for filing!

[2019-09-19 13:30] dlabrecq opened #2961 "Update chart tutorial paths"
Renamed the chart tutorials to be more readable. As a result, paths to the chart tutorials must be updated.

[2019-09-19 13:41] christiemolloy opened #2963 "feat(button): add "control" prop for styling"
This PR was just merged in Core https://github.com/patternfly/patternfly-next/pull/2005 which adds a variation of the button "pf-m-control" to be used with input groups etc.

Add variation of the button
Update the context selector
Update the input group component

[2019-09-19 14:03] rachael-phillips commented on #2823
@xeviknal did you see @mcarrano 's message above?

[2019-09-19 14:55] xeviknal commented on #2823
@rachael-phillips thank you for the reminder.
@mcarrano I did a quick look into it and it looks like I could use that one for my purposes. I did skip that chart, I just did a 1to1 matching from PF3 to PF4.
I will try to quickly migrate the current bullet chart to chartstack and I'll tell you the outcome :)

[2019-09-19 17:09] #2954 closed

[2019-09-19 17:30] tlabaj opened #2966 "(Modal): Simplify disabling of FocusTrap"
Removes complexity and uses FocusTrapReact's active prop instead of switching to Bullseye component

[2019-09-19 18:12] tlabaj commented on #2966
Closed by #2862

[2019-09-19 18:12] #2966 closed

[2019-09-19 18:42] priley86 commented on #2941
this should fix the warning: https://github.com/patternfly/patternfly-react/pull/2967

As far as mobile support for headings w/ icons, this is a question for Core... should we add some kind of attribute to support this? Is there alternative markup we aren't considering?

Indeed able to replicate w/ markup like this...

[code]

[2019-09-19 18:44] afreen23 opened #2968 "RFE: Extend the "name" property in legends to accept react components/ html elements"
### Current Scenario
The legends are defined as an array of objects of the following type:
[code]
### Desirable Feature
Make `name` property to be of React Elements or Html Elements as well.

I needed it in a scenario where I want to make it a link.
Extending this can help in creating more custom legends

[2019-09-19 20:08] afreen23 opened #2971 "RFE: Manage empty space between the bars of Bar Charts"
![bar](https://user-images.githubusercontent.com/25664409/65277081-cb820400-db46-11e9-9d47-6360ed986525.png)

### Issue

When there are only two datapoints the bars have a lot of empty space in between
Adding `domainPadding` just centralizes them.
If somebody needs to have bars left aligned, then it is not possible to fix this issue, except adding the extra conditions in code, to maintain the stat

[2019-09-19 20:33] mcarrano commented on #2585
This is still an issue that was noted to me yesterday by one of our designers. Examples in the Modal should be updated to look like this:

![Small](https://user-images.githubusercontent.com/6619860/65279004-3efe2400-dafb-11e9-92d9-1230b3973744.png)

[2019-09-19 20:54] #2961 closed

[2019-09-19 21:03] dlabrecq opened #2972 "Sparkline chart example is missing a container"
The sparkline chart demonstrates how to use a ChartLabel; however, that should be wrapped with a ChartContainer. Otherwise, we output raw `tspan` tags without an SVG, resulting in the console warning below.

![Screen Shot 2019-09-19 at 5 00 05 PM](https://user-images.githubusercontent.com/17481322/65280872-40c9e680-daff-11e9-8415-1199ddf165a0.png)

[2019-09-19 21:11] dlabrecq opened #2974 "Add ariaDesc and ariaTitle props ChartStack"
Similar to ChartGoup, ChartStack can be used standalone. For this case, ChartStack should support ariaDesc and ariaTitle, just as ChartGroup does.

[2019-09-19 21:21] dlabrecq opened #2976 "ChartVoronoiContainer is missing style and responsive props"
The `ChartVoronoiContainer` component is missing style and responsive props. These are simple pass-thru properties, but must be added to the `ChartVoronoiContainerProps` interface.

[2019-09-20 04:03] tonilxm opened #2978 "Provide option auto-focus for Alert Component"
Alert component should have option for auto-focus when rendered. This will allow user to focus on feedback after a long action (ie. filling a form).

[2019-09-20 12:45] dgutride commented on #2947
Before a library can be chosen - we need to understand what product requirements are for timezone impacts on the date in a picker.  If there is any need to move a date or time based on a user defined timezone in any application, momentjs and general javascript date solutions would not be appropriate.

[2019-09-20 13:52] rachael-phillips commented on #2978
Hi @tonilxm, a few quick questions for you:

1. Is this issue currently blocking you?
2. What product is this request for?
3. What release version are you targeting?

Thank you!

[2019-09-20 14:05] mcoker commented on #2874
Compact pagination was merged - https://github.com/patternfly/patternfly-next/pull/2275

[2019-09-20 14:12] LHinson commented on #2907
Closing since this is no long a product request.

[2019-09-20 14:12] #2907 closed

[2019-09-20 16:00] AlexSCorey opened #2980 "Button shows error in console on reload"
When I go to a page that has a button the page loads fine without any error in the console.  However, when I refresh the page I get a console error. `Warning: Failed prop type: Invalid prop component supplied to `Button`, expected a ReactNode.`

![Button Bug](https://user-images.githubusercontent.com/39280967/65341306-0ebb9180-db9e-11e9-9b63-59f2e1441087.gif)

[2019-09-20 17:25] jschuler opened #2982 "Select: Allow an initial option to be selected"
It should be possible to specify which of the passed in options into the Select component should be initially selected (value shown in the toggle, and when the menu is expanded, it should have a checkbox to indicate it is already selected)

[2019-09-20 17:36] jschuler commented on #2982
After talking to @kmcfaul , the solution is to set the selected state to the string value of the option that should be initially selected.

[2019-09-20 17:36] #2982 closed

[2019-09-20 19:23] redallen commented on #2952
I think changing our PR template might be a better approach. Extra CI checks can't be run after an issue's text is updated -- there's no CI hook for that.

[2019-09-21 03:18] tonilxm commented on #2978
Hi @rachael-phillips ,
1. Not an issue, more likely a feature request.
2. Alert as in '@patternfly/react-code'
3. PF4.

[2019-09-23 13:21] #2876 closed

[2019-09-23 13:51] AllenBW commented on #2941
Good/Bad news, #2967 DID fix the column title error, but we're still not seeing the jsx content on collapse
<img width="667" alt="Screen Shot 2019-09-23 at 9 49 41 AM" src="https://user-images.githubusercontent.com/6640236/65431496-92b48a00-dde7-11e9-82f3-4ccf36d1e64f.png">

cc @mcoker @priley86  🤗

[2019-09-23 14:06] #2972 closed

[2019-09-23 14:34] rachael-phillips opened #2986 "Incorrect alert on Spinner page"
There is an incorrect alert that appears on the spinner page that looks like:
<img width="1167" alt="Screen Shot 2019-09-23 at 10 33 12 AM" src="https://user-images.githubusercontent.com/40275806/65434882-90552e80-dded-11e9-86f3-4626ac410fc3.png">

This needs to be corrected because it should look like:

<img width="859" alt="Screen Shot 2019-09-23 at 10 34 04 AM" src="https://user-images.githubus

[2019-09-23 16:51] #2841 closed

[2019-09-23 16:54] #2609 closed

[2019-09-23 17:00] tlabaj opened #2990 "PF4 Table: Document the decorators and transforms"
There is currently no documentation for where to use the Table decorators and transforms.

cc @karelhala

[2019-09-23 17:02] #2938 closed

[2019-09-23 17:08] #2930 closed

[2019-09-23 20:26] #2974 closed

[2019-09-23 20:30] rachael-phillips commented on #2971
@dlabrecq does Victory charts allow for this? Curious to hear your thoughts!

[2019-09-24 04:37] martinpovolny opened #2994 "PF3 React: HorizontalNavMenuItem's onItemClick has wrong propType"
Details:

HorizontalNavMenuItem 's onItemClick should be a function not an object.

It's getting passed as `onClick` to `<a href ...>` so it must be a bug.

This causes a React warning each time the onItemClick handler is set.

Fix: https://github.com/patternfly/patternfly-react/pull/2984

[2019-09-24 09:00] martinpovolny commented on #2994
Illustration of the issue:

[code]

[2019-09-24 11:08] martinpovolny commented on #2994
this is PF3 not PF4

[2019-09-24 13:29] tlabaj commented on #2994
Closed by #2984

[2019-09-24 13:29] #2994 closed

[2019-09-24 13:32] rachael-phillips commented on #1448
We're ready to close this one

[2019-09-24 13:32] #1448 closed

[2019-09-24 13:46] rachael-phillips commented on #2823
Hi @xeviknal we're going to close this issue. If you have any further issues please re-poen this.

[2019-09-24 13:52] dlabrecq commented on #2971
This was something we chatted about on the PatternFly charts channel. Victory evenly positions bars according to the size of the chart. The larger the chart, the more space between them.

You can adjust the chart size or adjust the position of each bars using the Chart's `domainPadding` property. For example, `domainPadding={{ x: [125, 125] }}` could be applied dynamically based on the number of d

[2019-09-24 13:53] rachael-phillips commented on #2009
Closing this issue

[2019-09-24 13:53] #2009 closed

[2019-09-24 13:54] #2976 closed

[2019-09-24 14:34] redallen commented on #2879
- [W3Schools](https://www.w3schools.com/tags/att_input_type_checkbox.asp)

By default, the browser does not touch the `checked` attribute that may be defined on an `<input>` element like `<input checked="">` when a user checks or unchecks a checkbox. This is apparent in [a simple example.](https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_checkbox)

As you can tell, after check

[2019-09-24 14:38] xeviknal commented on #2823
Thanks for you time and discussing about this. I move the topic to UI/UX
Kiali to discuss the details of this issue.

On Tue, Sep 24, 2019 at 3:48 PM Rachael Phillips <notifications@github.com>
wrote:

--
Xavier Canal i Masjuan

[2019-09-24 14:47] redallen opened #2997 "Revert changing checked attribute for Switch"
As decided by #2879, we should revert #2749 and add some documentation that QE testers should look at the `checked` _property_ (not _attribute_) for `<input type="checkbox">` elements.

[2019-09-24 17:18] afreen23 commented on #2971
Sorry for the typo, I mean , if I want a left aligned graph, I wont be able to do that.
The `domainpadding` will centralize them up.
Moreover this ugly case with two datapoints, even with three, it does not look as bad.

Also @dlabrecq `offset` will create a space between the set of bars only.
We want to have something between the datapoints.

Now digging more into it, feels like a victory chart i

[2019-09-24 19:05] dlabrecq commented on #2971
I prefer Victory's default behavior in favor of consistency. However, I believe you can still achieve left alignment with something like `domainPadding={{ x: [25, 500] }}`.

![Screen Shot 2019-09-24 at 2 56 15 PM](https://user-images.githubusercontent.com/17481322/65541669-c5d84580-dedb-11e9-9447-7970e7e6ab4b.png)
The width in this particular example is 600px.

Feel free to reopen if needed.

[2019-09-24 19:05] #2971 closed

[2019-09-25 09:38] KKoukiou opened #2999 "PF4 Table: The documentation needs improvements"
- [ ] Clearly define the type of the `cells` and `rows` properties of the `Table` component
    - [ ] What is `IRow` - All properties here should be mentioned in the documentation
    - [ ] What is `ICell` - All properties here should be mentioned in the documentation
https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-table/src/components/Table/Table.tsx#L127..L

[2019-09-25 12:34] akshygupt opened #3000 "Select dropdown is not fully visible inside Page Component"
System Details:
Operating System: Fedora 29
Chrome 77

"@patternfly/patternfly": "^2.33.3",
 "@patternfly/react-core": "^3.104.0",
 "@patternfly/react-styles": "^3.5.22",

I used the Page layout and tried to put in a Select Dropdown but when i expanded it, it wasn't fully visible. [Code Sandbox Code](https://codesandbox.io/s/interesting-jones-xrcys) [Code Sandbox Example](https://xrcys.csb.app/)

[2019-09-25 12:49] #2889 closed

[2019-09-25 12:49] #2906 closed

[2019-09-25 12:51] redallen opened #3001 "Fix PF3 stories that use stories.addWithInfo"
Currently PF3 stories that use `addWithInfo` just error out after #2895. We should fix these to use the supported [`@storybook/addon-info`](https://github.com/storybookjs/storybook/tree/release/3.4/addons/info) API that looks like this:
[code]

[2019-09-25 12:51] redallen opened #3002 "Add codecov back to CircleCI"
Codecov has been removed for some time and should be added back. We need to collect jest test coverage and re-add `codecov` in CI after each test suite runs.

[2019-09-25 13:01] redallen commented on #3000
Hey @akshygupt , it looks like your Select isn't visible because the page is not tall enough to accommodate it. You can set `height: 100vh;` on the `<Page>` component to fix this, which is the pattern we often use in our examples. I've fixed your example by using a `style` tag: https://codesandbox.io/s/confident-noyce-wcrty
[code]
Your fix of overriding the `overflow-x: hidden;` property is also v

[2019-09-25 13:48] #2937 closed

[2019-09-25 14:33] #2585 closed

[2019-09-25 14:39] dlabrecq opened #3005 "Charts: Responsive legend"
As a user, I want to have a responsive chart legend, like so:

![chrome-capture (3)](https://user-images.githubusercontent.com/17481322/65610415-4d2ac500-df7f-11e9-851f-8f8f870fecf4.gif)

Users can implement this manually today, via `ChartLegend`'s `itemsPerRow` property, as shown by the bullet chart example above. However, I believe we my be able to do some of the work automatically. That is, pro

[2019-09-25 14:57] #3001 closed

[2019-09-25 14:57] #3002 closed

[2019-09-25 15:03] dlabrecq opened #3006 "TabContainer generates required title message"
In Cost Management, using the latest packages, we noticed the following message in the browser console.

![Screen Shot 2019-09-24 at 1 13 03 PM](https://user-images.githubusercontent.com/17481322/65538311-0c767180-ded5-11e9-85d2-a51ef9d6002a.png)

The `title` property is set for the `Tab` component, but not using `TabContainer` directly. And `Tab0` is an internal const in `Tab.tsx`.

![Screen Shot

[2019-09-25 15:29] KKoukiou commented on #1450
This issue is actually quite important and I really believe it should not be an extension rather a part of the built in functionality.

The WA provided above is not ideal since whenever the row will collapse to closed and to open again the whole expandable part of the component needs to be mounted from scratch.
That means that the expanded component will lose its state when collapsed to closed, wh

[2019-09-25 15:32] mcoker commented on #2941
@AllenBW the problem with this approach and how the table is configured currently is that we use the `data-label` attribute on each cell to generate the title/header via CSS on the left of each cell in the mobile/responsive layout. We do that by using `content: attr(data-label);` in the `::before` pseudo element of each cell, and unfortunately the `content` property value isn't parsed by the brows

[2019-09-25 15:46] dlabrecq commented on #1450
Two new props; `mountOnEnter` and `unmountOnExit`, were just added to `Tabs` in support of this functionality -- hoping we can apply something similar for expandable rows?

[2019-09-25 16:32] AllenBW commented on #2941
Thanks for the quick reply @mcoker!!! Also bummer. Lemme play around a bit to see what I can come up with....

[2019-09-25 17:04] mcoker commented on #2941
@AllenBW sounds good! Let me know if you want to brainstorm or if I can help out in any way.

[2019-09-25 17:19] #2483 closed

[2019-09-25 17:20] #2963 closed

[2019-09-25 17:36] #2860 closed

[2019-09-25 18:32] mturley opened #3010 "[PF3] Overlay component from react-bootstrap uses deprecated lifecycle method, causing warnings in React 16.9.x and will break in React 17"
For our PF3 components, we depend on a legacy version of react-bootstrap (v0.32.4, which supports bootstrap v3: https://5c507d49471426000887a6a7--react-bootstrap.netlify.com/). They don't actively develop on that version anymore, since that library has moved on to bootstrap v4 and we can't upgrade it without breaking all of our PF3 styles.

That legacy version of react-bootstrap is now causing dep

[2019-09-25 18:47] abalakh commented on #2879
@redallen thank you! @quarckster fyi ^

[2019-09-25 19:46] afreen23 commented on #2968
Luckily found a solution for having this implemented.
We need to create custom legend component for doing anything extra on top of legends.
[code]

[2019-09-25 20:23] tlabaj commented on #2901
closed by #2993

[2019-09-25 20:23] #2901 closed

[2019-09-25 20:24] tlabaj commented on #2874
closed by #2998

[2019-09-25 20:24] #2874 closed

[2019-09-25 20:28] #2929 closed

[2019-09-26 01:16] rachael-phillips opened #3013 "Allow tooltip text to be left-aligned"
The related Core PR is here: https://github.com/patternfly/patternfly-next/pull/2284?

In this issue we should allow for the tooltip text to be left-aligned. This issue will be populated with more description.

[2019-09-26 11:37] bond95 commented on #2709
I got this error `Uncaught SyntaxError: Unexpected token *`

[2019-09-26 11:48] bond95 commented on #2709
Fixed, thank you.

[2019-09-26 11:48] #2709 closed

[2019-09-26 12:46] dlabrecq opened #3014 "Charts: Move threshold to own example"
Similar to Sparkline, the ChartThreshold should be moved to it's own example. Thresholds can be applied to more than area charts. This will make it easier to find the example and we could potentially add more examples later for bar, line, etc.

We should also remove the `themeVariant={ChartThemeVariant.light}` properties, since we don't support a dark theme, yet.

[2019-09-26 12:54] dlabrecq opened #3015 "Charts: Theme examples"
A custom theme is typically applied to multiple charts, while `style` properties are applied to individual charts. As a user, I would like to view examples of the different approaches.

An example showing how to create a custom theme that overrides default padding and colors. And as an alternative, an example showing how to override those same properties via the chart's `style` attribute.

These e

[2019-09-26 14:10] redallen commented on #2879
#2997 is the followup to this spike.

[2019-09-26 14:10] #2879 closed

[2019-09-26 14:13] #2924 closed

[2019-09-26 14:13] #2451 closed

[2019-09-26 14:23] #2903 closed

[2019-09-26 14:32] tlabaj commented on #2317
closed by #3011

[2019-09-26 14:32] #2317 closed

[2019-09-26 14:55] tlabaj commented on #2900
closed by #3012

[2019-09-26 14:56] #2900 closed

[2019-09-26 15:11] nicolethoen opened #3017 "DataToolbar missing unit tests, integration tests, and demos"

[2019-09-26 16:44] priley86 opened #3018 "PF4 Table: TableBody documentation not accurate"
I noted in conversation w/ @KKoukiou today that some props currently showing in the `TableBody` definition are calculated (and not typically passed by a consumer). We should hide those props from the documentation:

<img width="969" alt="Screen Shot 2019-09-26 at 12 53 32 PM" src="https://user-images.githubusercontent.com/4237045/65708523-c4825680-e05c-11e9-8f2b-406326ed0365.png">

Alongside this

[2019-09-26 18:07] dlabaj commented on #1306
The firefox issue https://bugzilla.mozilla.org/show_bug.cgi?id=843003 has been fixed as of version 66.  However the issue is still being seen in the table, even after upgrading to the latest released version of PatternFly.  One possible solution is to update the API to allow a tooltip too specified for the columns.  However after speaking with Karel a better solution might be to write a title deco

[2019-09-26 18:30] #2737 closed

[2019-09-26 18:33] mturley commented on #2358
I think this discussion deserves to be revisited at some point. I find @priley86's idea really compelling:

I could see us taking the basic `<table>`, `<thead>`, `<tbody>`, `<tr>`, `<td>` pieces, with patternfly classNames and a11y attributes applied, and making them standalone components that we consume from within react-table. I don't think it would really add a maintenance burden if it's just a

[2019-09-26 19:45] mcarrano commented on #2910
Updated design link to reflect what I believe to be the approved/latest designs.

[2019-09-26 19:47] tlabaj opened #3020 "Button: Add an example of a link button with anchor component"
In the "Link button" example, add a link button that has an anchor component .  It is not clear from the examples that you when you specific the link variant you still need to specify component to be 'a' for the button to function as a hyperlink.

e.g. of what to add
` <Button component="a" href="https://pf-next.com/" target="_blank" variant="link">
      Secondary Link to Core Docs
    </Button>`

[2019-09-26 19:47] mcarrano commented on #2910
Also note that this may be more like a demo rather than an updated component as it requires interaction between the selector in the Toolbar and the Table. It's not really adding this capability to the table directly. There is an issue for this demo open in Core here: https://github.com/patternfly/patternfly-next/issues/1878

[2019-09-26 21:27] #2819 closed

[2019-09-27 02:55] dlabrecq opened #3022 "Charts: issues with ChartThreshold"
As a user, I want to provide my own dashed line color via the `style` property.

I noted the following issues with the new `ChartThreshold` component, which prevents me from doing so.

1. I can specify a `themeColor`, but that does not match the color provided to my custom `ChartLegend`.
2. `ChartThreshold` does not allow me to override styles. The style property is destructured, but never used.
3

[2019-09-27 13:31] dlabrecq opened #3025 "Charts: Update ChartThreshold theme with pf-core variable"
The ChartThreshold defines a hard coded value in its theme. Similar to other themes, that should be pulled from a PatternFly core variable.

[code]

[2019-09-27 13:51] jessiehuff commented on #2934
It looks like this has since been fixed.

![Image 9-27-19 at 9 49 AM](https://user-images.githubusercontent.com/28281340/65774431-39f93000-e10c-11e9-9a0d-d3843025ebb0.jpg)

[2019-09-27 13:51] #2934 closed

[2019-09-27 14:38] rachael-phillips opened #3026 "Empty state enhancement"
More information needed. Core issue: https://github.com/patternfly/patternfly-next/issues/1423

[2019-09-27 14:50] tlabaj commented on #2952
Thanks Zack.  I will update working here.

[2019-09-27 15:05] LHinson commented on #2873
This is not a relevant issue anymore.

[2019-09-27 15:05] #2873 closed

[2019-09-27 15:53] dlabrecq opened #3027 "Charts: Add props to ChartLabel"
Early on, the `textAnchor`, `transform`, and `verticalAnchor` props were omitted from `ChartLabel` because react-docs does not understand the following VictoryLabelProps types defined by https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/victory/index.d.ts.

[code]

We need to enable these properties; for example, so users can override the label's position. For the `textAnchor` p

[2019-09-27 16:06] dlabrecq commented on #3027
I believe those types should be defined as:

[code]

[2019-09-27 16:25] #2454 closed

[2019-09-27 17:30] mturley opened #3029 "Disappearing-selection bug in OptionsMenu caused by event handler change in InternalDropdownItem"
In the OptionsMenu examples at https://patternfly-react.surge.sh/patternfly-4/components/optionsmenu/, changing the selection in the "single option" menu fails and causes the selection to disappear entirely.

![yuqLFtEQDl](https://user-images.githubusercontent.com/811963/65788990-5dcb6e80-e12a-11e9-9784-87e0e530844e.gif)

This is a bug that @nicolethoen noticed when working on her PR for chip grou

[2019-09-27 18:10] mturley commented on #2362
It turns out that the formatting-related rules in TSLint that should have closed this in #2787 were broken, and I forgot to reopen this before opening #2810 to fix it.

[2019-09-27 20:05] dlabrecq commented on #1636
It appears that Insights Chrome is including the latest version (i.e., "^2.33.5") for the patternfly base CSS.

See https://github.com/RedHatInsights/insights-chrome/blob/master/package.json#L111

<img width="988" alt="Screen Shot 2019-09-27 at 3 10 56 PM" src="https://user-images.githubusercontent.com/17481322/65795854-3cbe4a00-e139-11e9-9969-15d82a4a8348.png">

[2019-09-27 20:46] tlabaj opened #3032 "PF4 Tabs: Refactor the Tab rendering class"
Refactor the Tabs component so the class that actually does the rendering is a separate class form the Tab component that the Consumer would use.  It is confusing to reuse the same class. and has caused regressions.

[2019-09-27 21:03] mcoker commented on #1636
The last time I looked at this, it was due to an older version of core being included alongside the new version. Is there an environment where I can reproduce this bug? I put together a demo and am unable to reproduce it - https://codepen.io/mcoker/pen/qBWGEWw

[2019-09-27 22:50] dlabrecq commented on #1636
Please see the issue here https://ci.cloud.redhat.com/beta/hybrid/cost-management/aws. I've provided the login creds offline.

[2019-09-27 23:01] dlabrecq commented on #1636
Insights includes the PatternFly base CSS, while Cost Management only includes the PatternFly addons. See https://github.com/project-koku/koku-ui/blob/master/webpack.config.js#L53

I'm certain we're using the latest, so there shouldn't any old CSS? What old selector should I be looking for?

You can find the issue here https://ci.cloud.redhat.com/beta/hybrid/cost-management/aws. Please use the log

[2019-09-27 23:17] mcoker commented on #1636
This `z-index` declaration is the offending style. It no longer exists in patternfly.

<img width="2076" alt="Screen Shot 2019-09-27 at 6 13 36 PM" src="https://user-images.githubusercontent.com/35148959/65807258-1b6a5780-e153-11e9-97bf-0f00b55ee0ec.png">
![Untitled 3](https://user-images.githubusercontent.com/35148959/65807257-1b6a5780-e153-11e9-8b10-e122cb34317d.png)

[2019-09-28 00:01] mturley commented on #2599
Activity!

(I'd still like to fix this when time allows)

[2019-09-28 01:32] dlabrecq commented on #1636
I believe this is due to the components embedding their own CSS.

The Insights components package appears to be using an older version of PatternFly, while Cost Management is using the latest PatternFly React components. As a result, there are duplicated CSS blocks and stylesheets.

That said, that Insights components package has been deprecated. The new package includes the latest PatternFly, so

[2019-09-28 01:32] #1636 closed

[2019-09-28 14:23] #1208 closed

[2019-09-30 13:17] KKoukiou opened #3035 "Expandable component generates a React Warning when used exactly how the example in the docs does"
[code]

Steps to reproduce:
Just use the example from the documentation (tested with react@16.9.0).

I have a simple react app using only this here https://github.com/KKoukiou/patternfly-react-table-example/tree/expandable-example

[2019-09-30 13:21] AllenBW commented on #2941
@mcoker ok ok ok WHAT IF we make data-label a brand new optional prop…. n then do something like this: `'data-label': dataLabel || typeof title === 'string' ? title : column-${key}`,
here https://github.com/patternfly/patternfly-react/blob/419b6ff6d8e83a4de7fdc11e3f8338468d5a8348/packages/patternfly-4/react-table/src/components/Table/utils/headerUtils.tsx#L83

so if yah want to customize collapsed

[2019-09-30 13:31] seanforyou23 commented on #2909
@LHinson here are the takeaways from this investigation:

From a design standpoint, we want to better understand any restrictions around entering edit mode for multiple rows at a time, and what validation errors should look like when the edit operation fails for some reason. If there are any particular keyboard interactions we want to behave a certain way, that would be good to know also.

From th

[2019-09-30 13:31] #2909 closed

[2019-09-30 13:31] rachael-phillips commented on #2888
Closing because this has been complete

[2019-09-30 13:31] #2888 closed

[2019-09-30 14:16] KKoukiou commented on #3035
Actually it was an issue with @patternfly/react-core@3.104.0 but not an issue with the latest @patternfly/react-core@3.112.2

Thus, closing - sorry for the noise.

[2019-09-30 14:16] #3035 closed

[2019-09-30 15:47] KKoukiou opened #3038 "Clarification about dependency on node_modules/@patternfly/react-core/dist/styles/base.css"
From the documentation it is clear that we should import the css file mentioned in the title so that the components we use will not diverge in appearance from the ones we see in the blog. See https://github.com/patternfly/patternfly-react/tree/master/packages/patternfly-4/react-core#pre-requisites

My question here is, since that component clearly needs that file to look as expected why you don't

[2019-09-30 15:48] xeviknal opened #3039 "Inline Alert: icon hidden by background"
Hey there,

I am trying to implement a Inline Alert (both variants: Success and warning). The problem I have is the following:

![Screenshot of Kiali Console (50)](https://user-images.githubusercontent.com/613814/65893976-3cc48100-e3a9-11e9-93c3-72ac7682df82.jpg)

The Icon is hidden behind the background image. It looks like the components puts both icon and backgound in the same color.

![modal-i

[2019-09-30 17:37] tlabaj commented on #3006
closed by #3031

[2019-09-30 17:37] #3006 closed

[2019-09-30 18:15] jschuler commented on #3038
Hi @KKoukiou , as far as I can remember, it used to be the case that the common css and variables was bundled into each component, but that duplication came at the cost of size, so the decision was taken to take out common css and put it into a separate base.css file to keep the component css leaner. CC @mcoker

[2019-09-30 18:21] mcoker commented on #3039
Hi @xeviknal the value of `background-color` should be `transparent` or `#0000` for inline alerts. Are you importing patternfly core (`@patternfly/patternfly`) separately or are you using what comes with patternfly-react? It looks like you aren't getting the correct styles for the inline variation of the alert component.

This is from https://www.patternfly.org/v4/documentation/react/components/al

[2019-09-30 18:22] tlabaj commented on #3000
cc @mcoker

[2019-09-30 18:25] #3026 closed

[2019-09-30 18:26] rachael-phillips commented on #3026
Closed because it was closed in #1423

[2019-09-30 19:21] rvsia commented on #2046
@tlabaj So, this issue should be closed now, right? https://github.com/patternfly/patternfly-react/pull/2835

[2019-09-30 20:10] mturley commented on #3010
It looks like the react-bootstrap team is resolving this, so after their PR (https://github.com/react-bootstrap/react-bootstrap/pull/4530) is merged we should be able to grab their next release to resolve this issue (at least in the components we use from react-bootstrap).

[2019-09-30 22:07] mcoker opened #3042 "react-core README.md updates"
Was looking at this page and curious if we should update a couple of small things - https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/README.md

[code]

to
* remove the unnecessary "the"
* maybe update the link?

[code]

---

[code]

change to
* Add punctuation
* don't link to surge, link to pf.org
* don't link to the core GH repo for info on how component

[2019-09-30 22:15] mcoker commented on #3000
@akshygupt in PatternFly, we apply `height: 100%;` to `<html>`, `<body>`, and `<div class="pf-c-page">`. In order for the `<Page>` component to be full height, if you have any additional elements in your application that exist between `<body>` and `<div class="pf-c-page">`, you will need to add `height: 100%;` to them in your application's CSS. This is mentioned here in the page layout demo docume

[2019-09-30 22:29] mtho11 opened #3043 "For Popover, allow to hide close box"
In migrating the from PF3 to PF4 the new [popover](https://patternfly-react.surge.sh/patternfly-4/components/popover/) component always displays the close box and there is no way to hide the close box.

Here is the PF4 Popover with close box:
![hide-closebox](https://user-images.githubusercontent.com/1312165/65921349-d9c9ee80-e396-11e9-9b56-3edd5a171bc6.png)

This is our [Kiali](https://www.kiali.

[2019-09-30 22:52] mcoker opened #3044 "Update nav examples and demos"
https://github.com/patternfly/patternfly-next/pull/2387

* on Navigation component examples
  * remove "basic" example
  * update "grouped" exmaple to use default navigation instead of simple
* on Page Layout demos
  * update "grouped nav" example to use default nav instead of simple
  * remove "basic nav" example

Also need to update this patternfly logo (any demos, examples, and the default page

[2019-09-30 22:54] mcoker opened #3045 "Add input group examples with plain button modifier"
Core issue - https://github.com/patternfly/patternfly-next/issues/2299

Just need to add an example of the input group component with a `<Button variant="plain">` button.

[2019-09-30 22:55] mcoker opened #3046 "Add support for expanded state on data toolbar's toggle button"
core issue - https://github.com/patternfly/patternfly-next/issues/2303

[2019-10-01 02:09] dlabrecq opened #3047 "Charts: Cannot wrap chart with Tippy tooltip"
OpenShift currently wraps the donut chart with our Tooltip component. The tooltip's `isVisible` property is triggered manually during a mouse-over event.

The problem is that the tooltip is shown once, but never again. Tippy appears to lose reference and/or state due to the way we clone the container component for the pie, donut, and donut utilization charts.

We need to slightly modify how we clo

[2019-10-01 08:20] xeviknal commented on #3039
Hey @mcoker :)

I am importing the library like follows:

[code]

Actually you can see the source code here if that could provide you more information:
https://github.com/kiali/kiali-ui/pull/1455/files

Here another screenshot with the css:

![background-alert-error](https://user-images.githubusercontent.com/613814/65944037-219d5400-e431-11e9-98f3-b5a99954e77e.png)

Looks like the following overri

[2019-10-01 09:15] SpyTec commented on #2536
Fixed in #2681

[2019-10-01 09:15] #2536 closed

[2019-10-01 10:51] SpyTec commented on #3039
Looking at the CSS in patternfly-next and they appear correct, so does my own React application and any experiments I've tried.

Trying out Kiali I do see the issue happening, but it seems like the CSS has been moved about. Inline is now at the very beginning of the inline CSS, whereas danger is now at line ~4000 when I ran it.

I would presume this has something to do with the build process and i

[2019-10-01 11:31] SpyTec commented on #1740
There was a fix back in August which would position the popover better, #2711. Did this solve the issues or is there anything still broken?

[2019-10-01 13:04] #3047 closed

[2019-10-01 14:08] karelhala commented on #1306
I would write tooltip decorator, it shouldn't be that hard and it would allow consumers to adapt to it much easier than updating API.

[2019-10-01 14:30] mcarrano opened #4673 "Inline edit for description list"
Want to support editable fields in a definition list (re-only form) allowing user to place either a single field or an entire form into edit mode.

Design doc: https://docs.google.com/document/d/15aOWgpkd0Zp0hvbKM4jfG6Jf00FHjY_f92bkosbo1Ds/edit?usp=sharing

Design issue: https://github.com/patternfly/patternfly-next/issues/295

cc: @rachael-phillips @mcoker Not sure if this is a new component or j

[2019-10-01 15:03] #1740 closed

[2019-10-01 15:28] dlabrecq commented on #2968
This is exactly how Victory supports customization. If you wanted to add tooltips; for example, this is how that feature would be added.

[2019-10-01 15:28] #2968 closed

[2019-10-01 15:47] xeviknal commented on #3039
Thank you @SpyTec, Ill check that out. Could this be because we have both PF3 and PF4 coliving in the same project?

[2019-10-01 15:52] tlabaj commented on #2837
Closing this. All issues have been completed.

[2019-10-01 15:52] #2837 closed

[2019-10-01 15:59] tlabaj commented on #2791
closed by PR #2749

[2019-10-01 15:59] #2791 closed

[2019-10-01 16:53] magalhas opened #3051 "Remember me checkbox is not displaying properly in LoginForm"
Hey guys,

If you try and get into https://www.patternfly.org/v4/documentation/react/components/loginpage/simpleloginpage/ and click in the "remember session" checkbox you can see it never gets toggled even though it is setting the state properly and passing the prop as well.

I've tried this both in Chrome and Firefox and couldn't get it to display correctly.

[2019-10-01 17:49] tlabaj commented on #2756
@aljesusg  is this still an issue?  I believe it was resolved by #2881

[2019-10-01 18:05] redallen commented on #2772
@karelhala I'm thinking that this can be a part of our greater move to using `tsc` instead of `babel` and that we could write it as a [TypeScript transform plugin](https://dev.doctorevidence.com/how-to-write-a-typescript-transform-plugin-fc5308fdd943). Let me explain.

Currently, to generate `propTypes`, we use [babel-plugin-typescript-to-proptypes](https://www.npmjs.com/package/babel-plugin-types

[2019-10-01 18:19] tlabaj commented on #3042
cc @jessiehuff

[2019-10-01 18:26] tlabaj commented on #2602
@katierik is this still an issue.  I believe PR #2558 fixed this.

[2019-10-01 18:27] tlabaj commented on #2602
@katierik please reopen if this is still an issue.

[2019-10-01 18:27] #2602 closed

[2019-10-01 20:18] #3038 closed

[2019-10-01 20:44] boaz0 commented on #2980
Hi @AlexSCorey

Can you show the code of that page? It's hard to tell what causes this error but my guess (which is not good) is it's related to the breadcrumb.

Thanks.

[2019-10-01 20:52] boaz0 commented on #2850
Hey @seanforyou23 did you try to use `textAriaLabel` prop?
It allows you to set aria-label on the text input to anything you want.
In addition the clipboard copy button aria-label is set to `hoverTip` prop.

[2019-10-02 12:10] LHinson opened #3057 "Inline edit for forms"
As a follow up to https://github.com/patternfly/patternfly-next/issues/2321

[2019-10-02 12:11] LHinson opened #3058 "inline edit for single row (with no expand)"
As a follow up to the issue https://github.com/patternfly/patternfly-next/issues/2315

[2019-10-02 14:11] dlabrecq opened #3059 "Charts: Tooltip examples"
As a user, I want to see examples of how to apply tooltips. The current examples do show tooltips, but there are a few different ways they can be applied. It would be best these examples were all in one place.

- [x] Using data labels
- [x] Using a Voronoi container
- [x] Wrapping a chart with a Tippy tooltip
- [x] Adding custom tooltip component to legends
- [x] Using CSS overflow Vs the `constra

[2019-10-02 14:19] #2362 closed

[2019-10-02 14:41] rachael-phillips commented on #2999
Hi @KKoukiou we would like to turn this issue into an epic, so we can track your list in separate issues. Which list items have been completed so far with PR #3016?

[2019-10-02 14:48] rachael-phillips commented on #2913
Hi @ia3andy , we will make this a spike and let you know what the results are.

[2019-10-02 14:55] rachael-phillips commented on #2905
@davebertz we've seen this issue and we're investigating it.

[2019-10-02 15:07] KKoukiou commented on #2999
None really... All of the above remain todo.

[2019-10-02 16:23] jgiardino commented on #2850
I tested the current behavior by editing the [first example](https://www.patternfly.org/v4/documentation/react/components/clipboardcopy/#clipboard-copy) to include the `textAriaLabel` prop that @boaz0 mentioned above:
`<ClipboardCopy textAriaLabel="ssh key">This is editable</ClipboardCopy>`

This does add the text "ssh key" as the input label. In VO on safari, the screen reader behavior is to anno

[2019-10-02 19:23] jgiardino commented on #1306
It's worth noting that the example provided in [this comment](https://github.com/patternfly/patternfly-react/issues/1306#issuecomment-460799413) is not valid HTML because you cannot nest an [interactive element](https://www.w3.org/TR/html53/dom.html#interactive-content-2) inside another interactive element. Whatever solution we provide should produce valid HTML.

In this [section of the HTML spec]

[2019-10-02 20:02] karelhala opened #3060 "[Select] custom component as select option"
We need to allow consumers to change component that is used in select option in order to allow HTML nesting of iteractive elements.

[2019-10-02 20:09] janwright73 opened #3062 "Correct naming of all components that should map 1:1"
This issue is linked to:
https://github.com/patternfly/patternfly-org/issues/1486

React
Application Launcher some of the example names need updating ** app to application**
DataToolbar should be Data toolbar
FormSelect should be Form select
Nav should be Navigation
NotificationBadge should be Notification badge
TopologyView should be Topology view

[2019-10-03 07:30] boaz0 commented on #2990
@tlabaj can I work on that?
Thanks.

[2019-10-03 10:01] akshygupt commented on #3000
@mcoker  thanks for the info.

[2019-10-03 10:01] #3000 closed

[2019-10-03 12:48] #2941 closed

[2019-10-03 14:08] tlabaj commented on #3062
Closed by PR #3054

[2019-10-03 14:08] #3062 closed

[2019-10-03 14:37] dgutride commented on #2905
@davebertz  - can you provide some more details?  This is using the html <input type = date when you do this and the behavior we've provided just utilizes the html component functionality.

When I change to a type date, I see mm/dd/yyyy and if I enter any date, it will move through the portions the normal way.  If I skip to yyyy, it doesn't bring the user back to the beginning as that is what the

[2019-10-03 14:49] tlabaj commented on #2790
cc @mcoker

[2019-10-03 15:14] #2568 closed

[2019-10-03 15:29] karelhala opened #3065 "[Radio] checked is not updating"
When `isChecked` is updated the value is not propagated to Radio.

[2019-10-03 15:33] #3014 closed

[2019-10-03 17:25] newswangerd commented on #2846
I just updated our app to use the latest version of @patternfly/react-core (`v3.112.3`) and this is still broken, even though it looks like the patch to fix this was added in `v3.99.4`

[2019-10-03 18:16] redallen commented on #2846
Can you paste some example code or create a [CodeSandbox?](https://codesandbox.io/)

[2019-10-03 19:07] newswangerd commented on #2846
@redallen I tested it on code sandbox, and it worked. I did some digging and it turns out this was breaking on my app because the dependencies didn't get reloaded correctly after I updated them. Sorry to bother you with this!

[2019-10-03 19:07] #2846 closed

[2019-10-03 19:38] #3065 closed

[2019-10-03 19:42] #3059 closed

[2019-10-03 22:00] tlabaj commented on #2504
closed by PR #2360

[2019-10-03 22:00] #2504 closed

[2019-10-03 22:13] #3015 closed

[2019-10-03 22:13] #3027 closed

[2019-10-03 22:17] tlabaj commented on #232
A Date Picker was added via PR #1420

[2019-10-03 22:17] #232 closed

[2019-10-03 22:35] tlabaj commented on #2265
All issues in this epic are complete

[2019-10-03 22:35] #2265 closed

[2019-10-03 22:36] tlabaj commented on #2262
All issues in this epic are closed.

[2019-10-03 22:36] #2262 closed

[2019-10-03 22:44] tlabaj commented on #2444
Yes.  Since we have a spinner, the consumer should be able to add it instead of DropDownItems if data is loading.
@KKoukiou can we close this issue now?

[2019-10-04 00:10] dlabrecq opened #3069 "Charts: Simplify legend tooltip example"
I believe we can simplify the legend tooltip example so it's more understandable.

[2019-10-04 01:55] dlabrecq opened #3071 "Charts: Use markdown links"
Replace HTML anchors in examples with markdown links

[2019-10-04 07:48] jotak opened #3073 "Charts: interactive legend"
Is there any plan to have a built-in interactive legend as there was in pf3 / c3 charts ?
Previously, clicking on legend icons would show/hide the related series in charts.

With victory chart I believe there's no such mechanism built-in, but we can implement it through events. I'm doing something like that in Kiali: https://github.com/kiali/kiali-ui/pull/1457/commits/63d400d58c2fdcbbb4a77c087c2b7

[2019-10-04 08:41] jotak commented on #3073
PS: this is something I can contribute for, if it gets some chance to be accepted

[2019-10-04 09:08] KKoukiou commented on #2444
Right, I imagined something like this indeed.

[2019-10-04 10:17] SpyTec commented on #3039
PF3 has different classes for alerts so that wouldn't be the problem. I would put my bets on the project importing PF4 CSS in an incorrect manner or if you're importing multiple things from PF4, that it's in the wrong order

[2019-10-04 10:19] xeviknal commented on #3039
Do you guys have documentation about how to do these imports?
We are doing this way: https://github.com/kiali/kiali-ui/blob/master/src/styles/index.scss

[2019-10-04 11:39] SpyTec commented on #3039
For my app I'm using something like this, which will include everything that's needed AFAIK. [Which is documented on the website](https://www.patternfly.org/v4/get-started/developers#install-and-configure-patternfly-react)

[code]

[2019-10-04 13:41] xeviknal commented on #3039
Good, thanks for that. I'll play around next week.
@aljesusg we should check that out together :)

[2019-10-04 13:50] dlabrecq commented on #3073
I have implemented this in Cost Management using the ChartLegend. This implementation allows the user to click on either the legend symbol or label.

This is the custom Legend component with event handlers for onClick:

<img width="644" alt="Screen Shot 2019-10-04 at 9 36 38 AM" src="https://user-images.githubusercontent.com/17481322/66211797-b9e24580-e68a-11e9-8663-78596b5614fc.png">

And this is

[2019-10-04 14:07] #3060 closed

[2019-10-04 15:37] #2537 closed

[2019-10-04 15:48] jotak commented on #3073
I see, it's another approach of dealing with events, it's interesting.

Yes, same as you, I ended up correlating chart data and legend data, enforcing a 1-to-1 relation between a timeseries and a legend item (here's how: https://github.com/kiali/kiali-ui/pull/1457/commits/63d400d58c2fdcbbb4a77c087c2b76511be6801e#diff-7bf01c70aab3be56bf4a4e8e7ffce668R3-R20 in `VCLines` objects). I understand that v

[2019-10-04 16:00] dlabrecq commented on #3073
I'm going to try kicking of a design discussion about what we want to implement. That is, should we strive to implement the C3 features in PF3 or something completely different, like what Analytics has implemented with their legend toggle button?

[2019-10-04 16:09] jotak commented on #3073
I haven't seen toggle buttons in action but I'm confident that you'll get good design feedback :)

[2019-10-04 16:12] dlabrecq commented on #3073
This is from Analytics -- think it's called the ISV monitor UI

<img width="252" alt="Screen Shot 2019-10-04 at 12 10 01 PM" src="https://user-images.githubusercontent.com/17481322/66222796-f53b3f00-e69f-11e9-817b-68b92f10de8c.png">

[2019-10-04 18:41] mtho11 commented on #3043
We also have another more complicated Popover for namespaces:

![namnespace](https://user-images.githubusercontent.com/1312165/66231680-ee123200-e69b-11e9-9153-ac9d684049cf.png)

[2019-10-04 20:02] tlabaj commented on #2986
Closed by #3063

[2019-10-04 20:02] #2986 closed

[2019-10-04 20:03] tlabaj commented on #3032
closed by #3033

[2019-10-04 20:03] #3032 closed

[2019-10-04 22:37] #2053 closed

[2019-10-05 18:24] #2533 closed

[2019-10-05 18:54] thaorell commented on #2917
Hi @rachael-phillips, has there been any update on this issue?

[2019-10-05 19:22] jenny-s51 commented on #2485
Hi @SpyTec, since #2483 is closed, does that mean select is currently scrollable? Just wondering if there's anything blocking this issue, or if I can start working on it

[2019-10-05 19:24] #2044 closed

[2019-10-05 19:24] #2555 closed

[2019-10-05 22:09] SpyTec commented on #2485
Hi Jenny, since there's now a max height prop there shouldn't be anything blocking this. I know table has virtual scrolling if that's something we can use

[2019-10-06 10:12] boaz0 commented on #2980
@AlexSCorey :wave:

OK, the problem is what I thought: the type of [the `component` prop](https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/Button/Button.tsx#L28) doesn't cover all the cases.

`ReactNode` is good for HTML elements (`'a'`, `'button'`) or a react component that is passed after rendering (`<Link to="/my_switch" />`). However, i

[2019-10-06 16:19] boaz0 commented on #2917
@rachael-phillips can you assign this to me?

[2019-10-07 02:29] dlabrecq commented on #3073
FYI @jotak, I created a POC with you're implementation. The POC relies on the theme to coordinate colors between ChartArea, ChartScatter, and the custom ChartLegend -- not necessary to use custom colors.

I also fixed ChartLegend so that you won't need to rely on VictoryLegend. That change will be added via https://github.com/patternfly/patternfly-react/pull/3067

I like your use of the `onMouseOv

[2019-10-07 06:17] rh-kgarg commented on #1878
@ibolton336 i am also facing the same problem with Webpack 4. Were you able to figure out a solution for this?

[2019-10-07 06:36] rh-kgarg commented on #1878
@ibolton336 NVM. Solved it by just moving the `import '@patternfly/react-core/dist/styles/base.css';` at top of my index.tsx file.

[2019-10-07 06:49] jotak commented on #3073
Awesome! :)
About my previous example, yes it was an exact copy of pf3 behaviours but I wanted to check what could be done with events. I'm not sure if people will prefer hiding/showing versus highlighting.

I'm fine with just an example if you think events won't be stable and robust enough for that.

[2019-10-07 12:45] boaz0 commented on #2978
@rachael-phillips can you please assign this to me too?
Thanks.

[2019-10-07 13:08] dlabrecq commented on #3073
Good point. I believe we want to omit the data being hidden, Vs just applying styles, so that the chart can adjust its domain appropriately. I'll update my hide / show POC to do that and share.

[2019-10-07 13:46] dlabrecq opened #3079 "Charts: Interactive data point examples"
The PF3 design states:

Interactive Data Points: - Specific data points may be represented by dots on the line portion of the area chart. - To help the user see which point they are hovering, the dot expands and a vertical line is displayed.

We omitted this from our examples, but have since discovered a way to support that feature using the `ChartScatter` component.

![chrome-capture (3)](https:/

[2019-10-07 13:53] dlabrecq opened #3080 "Charts: Legend examples"
As a user, I want to see examples of how to apply various legend features.

The current examples do show legends, but there are a few different ways they can be applied. It would be best these examples were all in one place.

- [x] Using the `legendData` prop
- [x] Using the responsive legend feature
- [x] Right, bottom, bottom-left aligned legends
- [x] Using a stand alone `ChartLegend` component

[2019-10-07 14:48] dlabrecq commented on #3079
Thinking we should have separate Scatter examples, considering this is optional; an area and line chart.

[2019-10-07 15:01] mcarrano commented on #2540
@rachael-phillips @LHinson is this still something on our roadmap?

[2019-10-07 15:03] mcarrano commented on #2364
Currently in progress

[2019-10-07 15:04] mcarrano commented on #2266
Accessibility issue is still pending. Is this something we want to get on our roadmap @rachael-phillips @LHinson ?

[2019-10-07 15:23] rachael-phillips commented on #2978
Hi @boaz0 this is currently under accessibility review, and we'll get back to you once that review has been complete. cc @jessiehuff @tlabaj

[2019-10-07 17:03] dgutride commented on #2919
@KKoukiou  - quick update from our end.  Thank you very much for the repo with info on how to reproduce this.  The use of emotion (just being required by an import statement) is causing this, none of our code.  For now, I'd like to remove emotion as a required import by our normal use cases, but it's going to take a bit of work.  Can you give us an idea of when you'd need to have this by?

[2019-10-07 20:20] cmwylie19 commented on #2607
Hi Guys, just submitted the fix for this. I made the react example identical to the html version.

[2019-10-07 20:22] rachael-phillips commented on #2607
Hi @cmwylie19 do you mind linking the issue here? @tlabaj I'm going to assign @cmwylie19

[2019-10-07 20:23] cmwylie19 commented on #2607
sure https://github.com/patternfly/patternfly-react/issues/2607 @rachael-phillips thanks! Submitting a PR now

[2019-10-07 20:31] #2569 closed

[2019-10-07 22:15] seanforyou23 opened #3087 "Pagination prev button always disabled with perPage of 1"
I notice that when setting `perPage` to 1 in the Pagination component, it starts to have issues. Seems to be two separate issues. One is that when paging one page at a time, the "previous" button and "jump to beginning" button remain disabled, so the only way you can go backward is to use the numeric input, which isn't an option for the compact version.

The second issue also happens when using a

[2019-10-07 23:09] jenny-s51 opened #3088 "Tooltip: Provide examples on how/why to use TooltipContent"
This is a follow-up issue for #3013

We export `TooltipContent` in `Tooltip/index.ts` but don't show its props in the docs.

Edit: We should provide examples on how/why to use `TooltipContent`.

_Originally posted by @redallen in https://github.com/patternfly/patternfly-react/pull/3053_

[2019-10-07 23:14] jenny-s51 opened #3089 "PF4 Tooltip: add support for right-aligned content"
This is a follow-up to #3013.
--
Why only support a left aligned option? What if designers want to support right-aligned content, next?

Even if we don't support right-aligned content for now, something more like this would scale better in the future.

[code]

Then we could create an enum

[code]

Looks like we already take this approach for the `position` property.

_Originally posted by @dlabrec

[2019-10-08 08:07] KKoukiou commented on #2919
Since the blocked css does not affect somehow the look of the used components I don't think this is extra urgent. We will just keep using the affected components and we will just see the warnings for the suppressed styles.

[2019-10-08 13:11] #2980 closed

[2019-10-08 13:18] #2912 closed

[2019-10-08 13:44] jotak commented on #3073
Hi @dlabrecq ,
If you want to take a look (might give some ideas for an example), I've implemented a solution with a mixture of events (for hovering) and react state (for clicks show/hide) which refreshes the domains as wanted. This is in file "SparklineChart.tsx" here: https://github.com/kiali/kiali-ui/pull/1457/files#diff-f91e53dbcd8ec7fb34893a2d850e6c6e

It's also using an aggregated model for

[2019-10-08 14:17] dlabrecq commented on #3073
Thanks, I'll check it out. I'll also share the example I'm working on; although, this has not been approved by our design team.

https://github.com/dlabrecq/patternfly-react/blob/interactive-legend/packages/patternfly-4/react-charts/src/components/ChartLegend/examples/ChartLegend.md

The `onClick` events work to hide / show each data series individually, while the `onMouseOver` / `onMouseOut` even

[2019-10-08 15:07] #3051 closed

[2019-10-08 15:37] KKoukiou opened #3090 "PF4 Table causes warning about duplicate keys if a column named ID exists on the table"
The warning looks like this:
[code]

The problem is that rowData.id will be the rows cell description which is an object and not the id of the table.
This the code here https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-table/src/components/Table/base/resolve-row-key.ts#L34
will end up creating for rowKey something that is {Object}-row which of course is not val

[2019-10-08 16:15] rebeccaalpert commented on #3029
The unit test failures are happening in the keyhandler-related tests in util.test.js. Keyhandler is still behaving as expected in real life (and I confirmed that ids are being passed along correctly). For whatever reason, we're getting a null document.activeElement during the test, so the focus test fails. I'm going to look into alternative ways of checking the focus.

[2019-10-08 17:53] mcarrano commented on #3089
@jenny-s51 Can you give me an example of where you would want right-aligned content in a tooltip?

[2019-10-08 18:07] rachael-phillips opened #3091 "Validated text input"
Follow up issue to 2320 on Core: https://github.com/patternfly/patternfly-next/issues/2320

[2019-10-08 18:14] jeremylenz opened #3092 "Add eslint-plugin-react-hooks to eslint-plugin-patternfly-react"
Add `eslint-plugin-react-hooks` to `eslint-plugin-patternfly-react` so that Foreman and plugin devs will benefit from its guidance when using Hooks.

See more discussion on #3083

[2019-10-08 18:14] dlabrecq commented on #3089
@mcarrano This issue was created in regard to my review comments in https://github.com/patternfly/patternfly-react/pull/3053, where we added a new `isContentLeftAligned` property.

For the React modal component, we have both `isSmall` and `isLarge` properties. This looks very odd in my code because the modal cannot be both, obviously.

![Screen Shot 2019-10-08 at 2 09 47 PM](https://user-images.gi

[2019-10-08 18:46] ibolton336 commented on #2531
Moving to the PF4 select component in its current state is a concern for a few reasons:
- There is a large amount of additional component UI state required to convert the [mig-ui](https://github.com/fusor/mig-ui)  existing select dropdowns.

-  **isPlaceholder** logic required to handle the case where a user can click/select the placeholder text. In my opinion, this value should not be selectable

[2019-10-08 18:50] ibolton336 commented on #2531
@karelhala Added some feedback here. Rather than open a new issue, I was hoping you could re-open this one? Thanks

[2019-10-08 19:17] dlabrecq commented on #3073
Thanks, I'll check it out. I'll also share the example I'm working on; although, this has not been reviewed by our design team -- just a POC regarding what is possible. Note that this is based on the ChartLegend fixes which have not been merged, yet.

https://github.com/dlabrecq/patternfly-react/blob/interactive-legend/packages/patternfly-4/react-charts/src/components/ChartLegend/examples/ChartLeg

[2019-10-08 20:22] mcarrano commented on #3089
Yes, one could right-align the tooltip text, but it does not seem like a good solution from a readability standpoint IMO.

[2019-10-09 08:52] karelhala commented on #2531
@ibolton336 sure we can reopen this one, however wouldn't these issues lost in this quite old issue?

That is actually by design, every dropdown like component does that in order to allow for more customizable experience. Do you want to close on each select or after user clicks outside? With one unified solution there would be a lot of `if`s.

[2019-10-09 10:04] KKoukiou opened #3094 "Table: Fix documentation regarding allowed values for Header Cells"
In [cockpit](https://cockpit-project.org/) we have tables currently that look like this:
![Screen Shot 2019-10-09 at 11 49 13](https://user-images.githubusercontent.com/14921356/66470950-d87d7d80-ea8a-11e9-977d-ac2d09507c7f.png)

This is a compact PF4 table with checkboxes.
The issue here is that the last header column is used for an action so the representation of the iCell is a React.Node.

The

[2019-10-09 12:16] ibolton336 commented on #2531
I think there should be some sort of default onToggle that handles most users primary use case. Then if the user requires modification, open up the onToggle prop for customization.

[2019-10-09 13:16] dlabrecq commented on #3089
We can probably close the issue

[2019-10-09 13:18] SpyTec opened #3095 "[PF4] Changing selections value outside Select does not update correctly in Select component"
This is a duplicate of #2828. Issue was not resolved properly in my PR #2848 and still exists.

[2019-10-09 13:51] rachael-phillips commented on #2540
@mcarrano, no I do not see it on our roadmap currently.

[2019-10-09 13:57] KKoukiou commented on #3094
Update: The button in the header was bad design in the first place (just got feedback from our designers about this) so we are doing to remove that from the table header cells.
However, I am keeping this issue open anyway since the documentation need clarification.

[2019-10-09 14:20] nicolethoen opened #3097 "DataToolbar: implement structural and interaction changes to match PF-Core"
- .pf-c-data-toolbar__expandable-content mov into the .pf-c-data-toolbar__content to which it relates

- add .pf-m-toggle-group-summarymodifier to address mcarrano’s design update

[2019-10-09 15:32] rachael-phillips opened #3099 "PF4 Table: The documentation needs improvements"
Creating an epic out of issue #2999

[2019-10-09 15:34] rachael-phillips opened #3100 "Clearly define the type of the cells and rows properties of the Table component"
What is IRow - All properties here should be mentioned in the documentation
 What is ICell - All properties here should be mentioned in the documentation
https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-table/src/components/Table/Table.tsx#L127..L138

[2019-10-09 15:59] rachael-phillips commented on #2795
Hi @terezanovotna what release are you targeting for these icons?

[2019-10-09 16:03] rachael-phillips opened #3101 "Table documentation issues"
What is RowWrapper and BodyWrapper - the props description mentions only that it's a Function..

cellFormatters, columnTransforms, cellTransforms, formatters, transforms are not documented at all - there is issue about it but let's keep it here as well since this issue is more extended #2990

[2019-10-09 16:07] #3080 closed

[2019-10-09 16:08] #3025 closed

[2019-10-09 16:08] #3079 closed

[2019-10-09 16:08] #3069 closed

[2019-10-09 16:13] terezanovotna commented on #2795
@rachael-phillips summit release.

[2019-10-09 16:24] #3089 closed

[2019-10-09 16:54] #3071 closed

[2019-10-09 17:29] mcoker commented on #2790
@christianvogt mentioned https://github.com/patternfly/patternfly-next/issues/2194 which is the root issue.

This could work, but we would need to see how that impacts the overall `z-index` structure we have in place for how components overlay other components.

I would like to investigate in https://github.com/patternfly/patternfly-next/issues/2194 if we can reconsider the modal's overflow behavi

[2019-10-09 17:34] christianvogt commented on #2790
Isn't a dropdown supposed to be an enhanced, more customizable variant of a `<select>` menu? The browser select menus appear on top of everything; even beyond the browser window itself.
What use cases are there to not have the dropdown menu appear above everything?
Furthermore popperjs allows for specifying the container for the cases where the menu _may_ need to be contained.

[2019-10-09 18:19] mcoker commented on #2790
Just leaving my initial thoughts and want to verify we don't have a requirement for that. It very well may be the case that we don't. I think this would be a great enhancement to the dropdown.

Even better!

[2019-10-09 18:45] redallen commented on #3018
Yes, I agree we should add a frontmatter or some special syntax in the interface definition (maybe `@hide`?) to hide props from the docs. I prefer the latter, but it'll take tweaking our `gatsby-transformer-react-docgen-typescript`.

[2019-10-09 19:28] kmcfaul commented on #2531
@ibolton336 Two of the bullets should be resolvable.

Regarding `isPlaceholder`- You may leave out the placeholder option of the options list and use the `placeholderText` property instead to provide a default string (or node) without showing it in the list. The display logic of the select dropdown prefers {selected option display} > {placeholderText} > {isPlaceholder option display}.

Regarding o

[2019-10-09 19:47] ibolton336 commented on #2531
The issue with this approach is that if there are multiple dropdowns within a component, I am required to keep track of multiple toggle methods & boolean values which clutters up the downstream app. If there was a stateful component offering, that would be really useful

[2019-10-09 20:30] #2822 closed

[2019-10-09 20:58] ibolton336 commented on #2531
Thanks @kmcfaul for the help. Was able to resolve most of my issues.

[2019-10-10 09:01] tonilxm opened #3103 "Compact sized table is not shrunk when used with <VirtualTableBody>"
Compact Table row size is not shrunk when used with `<VirtualTableBody>` from '@patternfly/react-virtualized-extension'.

[2019-10-10 09:20] KKoukiou opened #3104 "Missing Slider component from @patternfly/react-core"
The equivalent from PF3 is https://www.patternfly.org/v3/pattern-library/forms-and-controls/slider/

[2019-10-10 11:35] sharvit commented on #3092
It make sense to me that anyone who works with react-hooks (most of the pf community?) will use the react-hooks eslint rules.

Some more information about the eslant rules by react:
https://reactjs.org/docs/hooks-rules.html

[2019-10-10 14:12] KKoukiou opened #3105 "react-console: Buttons are glued together"
![Screen Shot 2019-10-10 at 16 10 24](https://user-images.githubusercontent.com/14921356/66576727-7e5ae600-eb78-11e9-96d4-5e37e5872d24.png)

The dropdown button for Send key and the button for Disconnect are glued together.

It would look better if there was some space in between. Feel free to close if the design team disagrees.

(initially reported in Cockpit https://github.com/cockpit-project/co

[2019-10-10 14:44] rachael-phillips commented on #3103
@tonilxm could you provide us with an example of how you are using this? A code snippet would be great, thank you!

[2019-10-10 14:56] rachael-phillips commented on #3105
@kybaker , @mceledonia , and @mcarrano the buttons are sticking together in this issue. This is a PF3 issue. Is this an issue we want to fix in PF3?

[2019-10-10 15:21] tlabaj opened #3106 "Select: Update the selections prop description"
Update the 'selections` prop description.  It is unclear that selections is not just for multi select variants of the Select. The prop description should be updated so it is more clear that it should be used for single select.

[2019-10-10 15:35] #2426 closed

[2019-10-10 15:52] jessiehuff opened #3108 "Accessibility Keyboard Interaction"
### Ultimate goals:
- To have consistent keyboard behavior across similar components
- Have keyboard behavior documented for consumers/contributors
- Avoid regressions

### Updating Components:
- Component behaviors should be based off of [Design Documentation](https://docs.google.com/document/d/1m9nICFRgCXnXeHYN487BMX9MHw4DjvOln2B5p8yJa70/edit#heading=h.1b322xkjq2i7)
- Current state of components

[2019-10-10 16:51] dlabaj opened #3109 "Radio button isChecked is not working with multiple buttons in version 3.112.3"
Radio button isChecked is not working when there is more than one radio button on the screen when using isChecked.  The button remains checked even after setting it too false once it's been set for the first time.

[2019-10-10 17:00] dlabaj commented on #3109
Fixed by https://github.com/patternfly/patternfly-react/pull/3066

[2019-10-10 17:00] #3109 closed

[2019-10-10 17:29] mcarrano commented on #3105
I agree that there should be some spacing. But given that this is PF3, I don't believe we can simply drop these buttons into a standard layout as we would for PF4. My assumption in the there is some additional HTML or CSS that is needed to properly space these. @mcoker any idea how this can be made to work in a PF3 context? Components are arranged using the Bootstrap grid system, correct?

[2019-10-10 18:21] rachael-phillips commented on #3105
Updating here that we do not need a Core update - this will be an update in React

[2019-10-10 18:24] rachael-phillips commented on #3101
Closing because it is redundant.

[2019-10-10 18:24] #3101 closed

[2019-10-10 18:38] #3005 closed

[2019-10-10 19:40] #2914 closed

[2019-10-10 19:45] dlabaj opened #3111 "Console error when using radio buttons in build 3.113.4"
I'm seeing the following error when using radio buttons with version 3.113.4 of react-core.

<img width="1690" alt="Screen Shot 2019-10-10 at 2 41 17 PM" src="https://user-images.githubusercontent.com/6126356/66600785-52d5fc80-eb74-11e9-81a7-1ac97b36bea1.png">

Here' is the code in integr8tly causing the issue:

<React.Fragment>
              <Form>
                <FormGroup controlId="radio" dis

[2019-10-10 23:01] mcoker commented on #2839
https://github.com/patternfly/patternfly-next/pull/2331 has been merged, and we now have `pf-m-resize-horizontal` and `pf-m-resize-vertical` variants.

[2019-10-11 02:41] dlabrecq opened #3113 "Charts examples: use inline style for visibility"
In the chart examples, we currently use a selector to define height and width on the div container. However, users cannot view those values as they're hidden in a file.

Instead of using the `stack-chart` selector in this example:
<img width="550" alt="Screen Shot 2019-10-10 at 9 42 51 PM" src="https://user-images.githubusercontent.com/17481322/66618418-fe984000-eba6-11e9-9a59-b1a260ce850e.png">

[2019-10-11 03:17] dlabrecq opened #3114 "Cannot debug source maps"
I'm having trouble debugging the PatternFly examples in Chrome. It's nearly impossible to set a breakpoint, which makes development very difficult -- been using `console.log` output.

I see the `sourceMappingURL` at the bottom of each file, but also see `React.createElement `statements, which suggests that Chrome is not loading the source maps properly.

I see the same result in Chrome and Firefox

[2019-10-11 03:21] dlabrecq commented on #3114
The solution below seems to be relevant.
https://stackoverflow.com/questions/57488144/cannot-debug-gatsby-website-in-chrome-dev-tools

After applying that to Gatsby's webpack config, I'm able to set breakpoints with Chrome.

Button
<img width="572" alt="Screen Shot 2019-10-10 at 11 19 36 PM" src="https://user-images.githubusercontent.com/17481322/66622091-71f47e80-ebb4-11e9-8e8e-003d22c50c88.png">

[2019-10-11 08:26] jotak opened #3116 "Allow to trigger Popover on mouseenter"
Hi,

In Kiali we have a regression with PF4, as it seems popovers can't be triggered on mouse-enter anymore (or I didn't find how).
Is it done on purpose? It would be nice to get it back.

Before you ask, I've also considered using `Tooltip` instead of `Popover` but it doesn't really look well because it's not short content (as supposed to be in tooltips) and also tooltip text is centered which is

[2019-10-11 13:35] karelhala opened #3117 "Do not expect `onFilter` to return filtered values"
We are trying to implement filterable select that filters data on server. We saw that we can use `onFilter` function for filtering. However it kept throwing errors so checked the codebase and saw that PF expects from this function to return actually filtered stuff. That is not possible to do, we don't know when the request on server will finish and we can't simply send async function. Plus this is

[2019-10-11 13:43] rachael-phillips opened #3118 "Improvement from table documentation"
What is RowWrapper and BodyWrapper? the props description mentions only that it's a Function.

[2019-10-11 13:44] rachael-phillips opened #3119 "Trying to use TableBody outside of table and without properties passed"
The TableBody and TableHeader components are supposed to be used with properties? The examples never use them (Just use them without properties - and I guess the properties we pass to Table are propagated internally)
But it really makes sense for the consumers to be able to use TableBody so we need examples for that.
*  trying to use TableBody outside of table and without properties passed (which

[2019-10-11 13:45] rachael-phillips opened #3120 "Table row should be able to have it's only rowLabeledBy property"
rowLabeledBy property does not make sense to be part of the table (or I understand wrong what it is about?) It's row should be able to have it's only rowLabeledBy property.

[2019-10-11 13:47] rachael-phillips opened #3121 "Table - apply custom classes on Rows"
I could not find anywhere documented how to apply custom classes on Rows (in our use case we want to mark rows with a color that signals a warning if the resource on that row has some issue)

[2019-10-11 13:49] rachael-phillips opened #3122 "Document TableVariant"
 Document TableVariant. This issue is part of the Table documentation epic.

[2019-10-11 14:35] #3020 closed

[2019-10-11 14:49] #3114 closed

[2019-10-11 16:09] #3095 closed

[2019-10-11 16:31] #3117 closed

[2019-10-11 17:42] #3013 closed

[2019-10-11 17:42] #3029 closed

[2019-10-11 20:33] mcoker opened #3128 "Select component's toggle-button element should use plain modifier"
https://github.com/patternfly/patternfly-next/pull/2364/

Just need to add the plain variant class to `.pf-c-select__toggle-button`

[2019-10-13 08:13] boaz0 opened #3132 "[PF4] [react-table] auto modifier is set on `td` instead of `tr`"
@jenny-s51 messaged me about a mistake on my side regarding where the  `pf-m-height-auto` class is set.

Currently we are passing `cellHeightAuto` to `transforms` of a cell. This adds to classname the `pf-m-height-auto` class. The problem is: this is not where this modifier should be set and that's why she couldn't get it work.

To fix that, the modifier should be set in the row, `tr` element.

//

[2019-10-14 11:55] jiridostal opened #3134 "[PF4] [Popover] Popover title bottom margin too big"
All our mockups show that popover title margin is smaller, can we please revisit this?

Now:
![image](https://user-images.githubusercontent.com/6286045/66749302-cd12c380-ee89-11e9-9edb-4836f9370675.png)

Expected:
![image](https://user-images.githubusercontent.com/6286045/66749445-3692d200-ee8a-11e9-8b1f-42cba1d3f251.png)

@katierik

[2019-10-14 14:59] seanforyou23 opened #3136 "Pagination and pagination overflow OOB logic"
This is a feature request for our existing [Pagination](https://www.patternfly.org/v4/documentation/react/components/pagination/) component. Currently, Pagination seems to expose only some fundamental aspects of pagination such as tracking the current page, number of items per page, how many items are in the dataset, etc.

While this certainly helps prop a consumer up for implementing pagination o

[2019-10-14 16:10] katierik commented on #3134
Key issue is adding a table inside the popover.

[2019-10-14 18:54] tlabaj commented on #3134
cc @mcoker @kybaker

[2019-10-14 20:15] mcarrano opened #3141 "[Spike] Investigate React Tree Table approach"
Determine the best path forward for introducing a tree table component. A design proposal can be found here: https://docs.google.com/document/d/1KXwK7rFXUBQ1RDn-VaxMepe3hoCb8Sl4i_4K_EaM-kg/edit?usp=sharing

Tree table is a complex component and it would be good to evaluate approaches to implementing in React.  Goals/outcomes for this spike:

* Implement basic tree-table based on the existing desig

[2019-10-14 21:14] seanforyou23 commented on #3090
@KKoukiou it's not currently obvious from our docs, but you can instead attach the `rowKey` property directly to the TableBody component like so

`<TableBody rowKey={({ rowData, rowIndex }) => rowIndex} />` - that would basically generate the same type keys as they come out of the box. To customize the keys, you can incorporate rowData into the key like so

[code]

Another way of doing this is usi

[2019-10-14 21:14] #3090 closed

[2019-10-14 23:46] seanforyou23 opened #3142 "Hovering over expandable table controls causes caption movement"
It seems to be a webkit thing. Hovering/tapping over the collapsable areas causes the caption to incrementally lower its position.

Browser: Safari 13.0.2 (14608.2.40.1.2)
OS: macOS Mojave 10.14.6

### Expandable table
![2019-10-14 19 21 38](https://user-images.githubusercontent.com/5942899/66789701-c6e90b00-eeba-11e9-9695-2b4ae69f77d0.gif)

### Compound expandable table
![2019-10-14 19 35 08](htt

[2019-10-14 23:46] seanforyou23 opened #3188 "Hovering over expandable table controls causes caption movement"
It seems to be a webkit thing. Hovering/tapping over the collapsable areas causes the caption to incrementally lower its position. Seems to surface on devices running webkit.

I'm seeing this issue in the following browsers/platform

- Safari 13.0.2 - macOS Mojave 10.14.6
- Chrome, Firefox, and Safari - iOS
- PS4 browser

### Expandable table
![2019-10-14 19 21 38](https://user-images.githubuserco

[2019-10-15 00:12] seanforyou23 opened #3143 "ForwardRef issue with Tabs"
When I implement basic tabs I get the following

[code]

and

[code]

Seems like I've heard of others encountering similar issues, is there a known workaround or something I can check? I tried attaching refs as shown in one of the examples but no luck.

<img width="745" alt="Screen Shot 2019-10-14 at 8 11 33 PM" src="https://user-images.githubusercontent.com/5942899/66790697-dc603400-eebe-11e9-867

[2019-10-15 05:02] boaz0 commented on #3143
@seanforyou23 this one got fixed by @tlabaj [here](https://github.com/patternfly/patternfly-react/pull/3031)

can you update the package and check that again?

Thanks.

[2019-10-15 10:23] boaz0 commented on #2913
@kmcfaul I started playing with this few weeks ago.
If you want an inspiration look at these:
- https://github.com/patternfly/patternfly-react/compare/master...boaz0:closes_2978#diff-f38b62f842ac8072cabe98f378404c07
- https://github.com/patternfly/patternfly-react/compare/master...boaz0:closes_2978#diff-f98c6bfa71a1898d10cd743b0957f404
- https://github.com/patternfly/patternfly-react/compare/maste

[2019-10-15 13:12] seanforyou23 commented on #3143
Thx @boaz0, I just needed to bump my version of react-core 👍

[2019-10-15 13:12] #3143 closed

[2019-10-15 14:18] #3022 closed

[2019-10-15 14:31] #2917 closed

[2019-10-15 15:22] #2997 closed

[2019-10-15 18:52] kmcfaul commented on #2913
Currently, setting a `ref` prop on TextInput sets the ref on the component itself, and not the contained input element, which the library requires. A fix for this would be to either add an `innerRef` property, or forward the `ref` property down to the input element instead of setting it on TextInput.

@rachael-phillips We can probably move forward with a bug fix for this after deciding to which me

[2019-10-15 19:15] rachael-phillips commented on #3103
@tonilxm hello again! Do you mind providing us with an example of how you are using this? A code snippet would be great, thank you!

[2019-10-15 19:22] dgutride commented on #2531
@ibolton336  - circling back around on this - seems like @kmcfaul was able to help you resolve the issues.  Do you feel like a new stateful component offering would help with the other pieces?  If so, I'd like to recommend we close this issue and open something new to track that request if you are ok with it.

[2019-10-15 19:31] ibolton336 commented on #2531
Sure, we can close this. Yes that would be great if we could get something stateful in place for the above mentioned reasons. Thanks

[2019-10-15 19:40] ibolton336 opened #3147 "Select: Stateful select feature request"
![image](https://user-images.githubusercontent.com/11218376/66863587-577a2680-ef61-11e9-856b-d50fa0de61f7.png)

Providing a stateful option for the select component would really help in scenarios where the end user requires multiple dropdowns within a mapped list of data.

[Example of creating a state map to handle toggle value state](https://github.com/fusor/mig-ui/pull/600/files#diff-8d2e158fee7

[2019-10-15 19:47] ibolton336 commented on #3147
#2531

[2019-10-15 20:39] boaz0 commented on #2913
@kmcfaul - you can find it [here](https://github.com/boaz0/patternfly-react/commit/669bb0cf63b9c5b4f176cc9ca66e77f3b281ec51). The main changes:
 - https://github.com/boaz0/patternfly-react/blob/669bb0cf63b9c5b4f176cc9ca66e77f3b281ec51/packages/patternfly-4/react-core/src/components/TextInput/TextInput.tsx#L88
- https://github.com/boaz0/patternfly-react/blob/669bb0cf63b9c5b4f176cc9ca66e77f3b281ec51

[2019-10-15 20:53] seanforyou23 opened #3148 "Specifying expandable cellFormatter breaks columns type for table"
When I specify `cellFormatters: [expandable]` as part of a column definition that's typed `(ICell | string)[]` (as directed in the docs) I get [type errors](https://gist.github.com/seanforyou23/60484029a78c463c79a129c885177dd5).

I created a [branch](https://github.com/seanforyou23/patternfly-react-seed/tree/table-type-issue) using pf-seed where you can easily see the problem. The implementation s

[2019-10-16 10:19] idevat commented on #2358
Sorry for delay.
@mturley, If I understand correctly, by compromise you mean instead of (see above):
[code]
use rather someting like this:
[code]
This is actually a much better approach, I guess.

I would like to collaborate if you think I am able to contribute with something useful. Currently, I'm just a `patternfly` user and I'm not familiar with its development process.

[2019-10-16 13:52] mturley commented on #2358
@idevat something like that, yes. My only suggestion was to do something to make the existing inner components that make up our current Table reusable outside it (refactor them a little if necessary, and export them) rather than have two competing Table implementations. I'm not sure what the best API for that would be, I would have to dig into it a bit more.

Unfortunately I won't be available to

[2019-10-16 13:55] SpyTec opened #3150 "CSS: Select typeahead gets incorrect CSS from upstream"
Right now the react-core distribution has a code snippet for Select#Typeahead which looks as follows.
[code]
Upstream there isn't anything about this, instead I can find these lines
https://github.com/patternfly/patternfly-next/blob/6ccd07725a8649febc9090d2d3e62219079b9bb8/src/patternfly/components/Select/select.scss#L312-L318

This issue is causing padding issues for the select boxes on my applic

[2019-10-16 13:55] dlabrecq opened #3151 "Charts: Add support for vertical cursor"
Designers (for Curiosity and Cost Management) are asking to show a chart cursor while hovering over data points, similar to what we had in PF3. For example:

![Screen Shot 2019-10-16 at 9 49 39 AM](https://user-images.githubusercontent.com/17481322/66925397-4df0cd00-effa-11e9-8801-1183d48e2054.png)

This particular POC makes use of Victory's `createContainer` method to merge `voronoi` and `cursor`

[2019-10-16 14:37] vmuzikar opened #3152 "PF4 testability for integration UI tests"
Hi,
we're facing some issues with writing integration UI tests (tests that use real browsers) for our PF4/React based application. The problem is in the selectors. We currently need to strongly rely on CSS classes and element sequence so most of our selectors now look like this:
[code]
This is quite unusable for us in long term. All it takes to break a test will be just minor change to the UI, lik

[2019-10-16 15:10] kmcfaul opened #3153 "TextInput: expose ref of input element with forwardRef"
The ref of TextInput's input element should be settable to allow for react hooks.

See: #2913

[2019-10-16 15:11] #2913 closed

[2019-10-16 16:04] seanforyou23 opened #3154 "Regression in local workspace development workflow/doc"
Some time ago, after starting the PF4 workspace with `yarn start:pf4`, we included output that confirmed the development server had started successfully and also a note about what url/port the server could be reached at.

At some point, months ago, this stopped working. Aside from it being a general regression of behavior in our development workflow, it also made me realize that we haven't documen

[2019-10-16 18:36] johnparkTopQuad opened #3155 "Tree shaking issue"
We noticed that even though we're only using a couple of icons and a single react component, we're getting ove 2MB of icons included in our production bundles. Is the tree shaking working as intended? Is there something we need to do configuration-wise on our end to take advantage of tree-shaking on the consuming side? We're using a custom webpack configuration that is similar in setup to the seed

[2019-10-16 19:33] israel-hdez opened #3172 "react-table 2.22.19 typing issue"
In version 2.22.19 of react-table, which seems to be the latest at the time of writing, the sample found at this link is generating errors when building: https://www.patternfly.org/v4/documentation/react/components/table/#table-with-width-modifiers

The error is:

[code]

Indeed, apparently, the `transforms` attribute of `ICell` is typed as `ITransforms` as seen in this code: https://github.com/pa

[2019-10-16 19:45] dgutride commented on #3152
Hi @vmuzikar  - we directly support using OUIA tags with our components to support automated test suites.  You can read more about those in this issue on the forum:  https://forum.patternfly.org/t/open-web-ui-design-specification-for-enabling-automation-ouia/154

and this closed issue that resulted in a way to turn OUIA tags on for discoverability when running automated tests - https://github.com/

[2019-10-16 19:49] quarckster commented on #3152
@vmuzikar we discuss using OUIA offline

[2019-10-16 21:20] israel-hdez opened #3156 "Dropdown-panel size issue"
When using the generic Dropdown panel pattern (https://www.patternfly.org/v4/documentation/react/components/dropdown/#dropdown-panel), it is possible to place arbitrary content in the panel:

![image](https://user-images.githubusercontent.com/23639005/66958957-05073b80-f02f-11e9-89fe-6a6855a1b2a0.png)

At some point, the generated markup of Dropdown changed to remove `ul` DOM nodes, which is fine.