[2017-03-08 22:39] priley86 opened #1 "Documentation"
## API Documentation
We'd like to choose a tool which generates API docs for our code. To date in Patternfly, we've used tools like [jsdoc](http://usejsdoc.org/). What kinds of API docs would you prefer to see used?

## Showcase Documentation
We have a few tools being used in Patternfly today for showcasing our components. There is [patternfly.org](http://www.patternfly.org/#_), patternlab (for pa

[2017-03-08 22:42] priley86 opened #2 "Release Process"
## Release Process
Today in Patternfly, we have [patternfly-eng-release](https://github.com/patternfly/patternfly-eng-release) to manage releases. We also have some projects gravitating towards [semantic-releases](https://github.com/semantic-release/semantic-release) which automate releases to npm with semantic versioning after every PR merge based on commit message. What type of release process w

[2017-03-08 22:49] priley86 opened #3 "Build Process & Boilerplate"
## Build Process
Today, most React communities use Webpack. Can we agree that Webpack/Babel should be the standard to transpile our es6 to es5?

## Boilerplate
What boilerplate would we like to see used to seed this repository? This should be the standard starting boilerplate we can share with developers creating new React apps with Patternfly. The [create-react-app](https://github.com/facebookinc

[2017-03-08 22:57] priley86 opened #4 "Contribution Guidelines"
## Contribution Guidelines
In Patternfly, we adhere to the [Contributor Covenant Code of Conduct](http://contributor-covenant.org/). We also use the Apache 2.0 license (see [LICENSE.txt](https://github.com/patternfly/patternfly/blob/master/LICENSE.txt)). We also have HTML/CSS [guidelines](http://codeguide.patternfly.org/) along with an [eslint.yaml](https://github.com/patternfly/patternfly/blob/ma

[2017-03-08 23:06] priley86 opened #5 "Dependency Guidelines"
## Dependency Guidelines
Some of our components in Patternfly are managed in other OS upstream projects. Today, we have a few other React Bootstrap implementations already underway. Some of these include:

- [Reactstrap](https://reactstrap.github.io/): BS4 with React Components
- [React Bootstrap](https://react-bootstrap.github.io/): BS3 with React Components

To get things going sooner than later

[2017-03-08 23:11] priley86 opened #6 "Component Contribution / Types"
## Component Contribution
What sorts of components would you like to contribute to this repository? Would you like to see components contributed independently (w/o) Redux integrations? Is there cases you'd prefer to see Redux used in the component definition?

## Typescript, Flow, vs Vanilla JS
Would you like to use typings (such as [Typescript](https://www.typescriptlang.org/) or [Flow](https://f

[2017-03-09 00:56] benjaminapetersen commented on #6
I'm willing to drop the first comment & a vote for vanilla JS! es6 has some great features for sure. Typescript would be my absolute least interest as I don't have deep roots on Java/C#.  Flow does seem a bit more familiar and friendly to JavaScript idioms, but I certainly haven't looked into it enough to make a strong argument.

[2017-03-09 13:27] matobet commented on #3
@priley86 Definitely huge :+1: @ Webpack/Babel but perhaps `create-react-app` is too much for something that is intended to be ultimately consumed as a library. The standard `create-react-app` contains a lot of stuff that is relevant for "standalone" projects which would more likely stand in the way...

From my little experience in developing shared React(and Redux) [components](https://github.com

[2017-03-09 13:50] priley86 commented on #3
thanks very much @matobet for sharing this and it's definitely noted. I'm still not sure whether we want to treat this as a "library" only repository or as a "starter kit" which contains boilerplate code along with library components. We could certainly support both if we wanted here, or just take the "library" only approach. I did something on a very simple level like you have described with this

[2017-03-09 13:55] priley86 commented on #6
@benjaminapetersen thanks for weighing in. This is a really interesting subject at Red Hat right now which I've already heard several opinions on. I certainly see pros/cons of going with types. I'd like to support the most preferred option amongst this community. So anyone else who feels strongly about this, please help us out and weigh in here.

[2017-03-09 14:43] benjaminapetersen commented on #6
Yeah does seem like TypeScript is gaining some ground around here.  Anyone using Flow yet?

[2017-03-09 16:38] gregsheremeta commented on #3
As long as it's usable as a library either way :) I'm not sure we would use a starter kit, but that would of course be useful for new projects. +1 to showcase projects -- I guess a starter kit is a kind of showcase...

[2017-03-09 16:40] gregsheremeta commented on #6
plain ES6 ++

[2017-03-10 18:29] matobet commented on #6
Regarding Redux (or any "framework" dependencies for that matter) I will again contribute my $0.02 from work on https://github.com/matobet/ovirt-ui-components.

We started by including in the repository both components that are "pure React" (just accept everything via props - data & handlers) and also their Redux-*connected* equivalents. This necessitated also co-location of **reducers** in the re

[2017-03-13 10:55] jtomasek commented on #6
+1 for plain ES6 although we should have the infrastructure prepared to start using Flow if we decide so eventually.

According to Redux usage recommendations, there should not be a large amount of connected components inside the app. A general rule is that each route is controlled by a connected component and all it's children are receiving everything via props. Since the PatternFly components ar

[2017-03-13 11:09] jtomasek commented on #5
This is quite a big decision to make, since it will introduce another dependency into the chain (bootstrap > patternfly css > react-bootstrap > patternfly-react) So in case of update to bootstrap 4, we'd need to wait for react-bootstrap to get updated to bootstrap 4 version. I am not sure how much of a problem this is. And on the other side, we'd have to make this change in our codebase by ourselv

[2017-03-13 11:24] jtomasek commented on #4
IMHO we should adhere to industry standards in terms of linting as much as possible. There are several respected style guides available:
http://standardjs.com/ - oppinionated style guide
https://github.com/airbnb/javascript - Airbnb style guide
https://github.com/facebookincubator/create-react-app/tree/master/packages/eslint-config-react-app - create-react-app eslint config

Personally I quite lik

[2017-03-13 11:32] jtomasek commented on #3
+1 to Webpack + Babel base

+1 to using create-react-app for a 'showcase' app which IIUC is going to be part of this repository.
As mentioned previously, create-react-app is not suitable for library-type projects, so we would have to have separate build process which builds the library alongside the create-react-app one.

Important thing is that patternfly-react component should be exported (and c

[2017-03-13 11:34] andresgalante commented on #5
Hi Thomas,

Thanks for bringing this up. We are already working on a patternfly based on bootstrap 4 here https://github.com/patternfly/patternfly-css

There are 2 things to be aware of:
- Bootstrap 4 is still on alpha 6, they'll release betas soon but I don't see a stable version of BS4 for quite a long time. Every alpha that has been release so far was full of huge changes, but I believe that it

[2017-03-13 12:05] gregsheremeta commented on #4
We follow standardjs in oVirt projects.

[2017-03-13 12:12] priley86 commented on #6
@matobet +1 for "pure" and agnostic components. Thanks for noting this. I was leaning towards this think it will be easier to maintain our UI components, but wanted to ask the community before we get started. We can always introduce some Redux examples in other demo/showcase apps.

@jtomasek agree on most components here being stateless functional components! :1st_place_medal:

@jtomasek would van

[2017-03-13 12:24] priley86 commented on #5
@jtomasek thanks for reaching out and a warm welcome 😸. I am definitely looking forward to collaborating on this! I will dig into the `react-bootstrap` examples further this week (and thanks for noting this bit about custom-styles, agree it will help). Completely agree that we will have to ensure PF styles and HTML can be rendered correctly according to our existing PF design standards. There may

[2017-03-13 12:33] jtomasek commented on #6
@priley86 yes, we're currently using vanilla es6. As mentioned in https://github.com/patternfly/patternfly-react/issues/3#issuecomment-286082627 patternfly-react components should be compiled such that they can be consumed regardless of the tools it uses

[2017-03-13 12:34] priley86 commented on #3
@jtomasek agree with all of this (and it certainly seems we are learning towards library only approach). Maybe you can contribute a simple es6 component this week or next to kickstart us when you have a chance? This would give us a good starting point to review and make notes on as we get going (and confirm we could all consume it in our apps). I am hoping to get some more time next sprint to star

[2017-03-13 12:53] jtomasek commented on #3
@priley86 cool!, I'll try to bring something up by the end of this week so we can test the approach.

[2017-03-17 02:37] priley86 commented on #4
+1 to standardjs. I'm ok with this linter.

[2017-03-17 02:40] priley86 commented on #1
Any thoughts on [react-docgen](https://github.com/reactjs/react-docgen) as opposed to using `jsdocs` ?

[2017-03-23 20:08] bleathem commented on #2
The concept of semantic versioning and a release on every PR sounds very appealing.  It definitely reduces the overhead associated with performing a cumulative release.

Is there an automated to aggregate the release notes?  If I'm upgrading from 6.2.13 to 6.5.12 for instance, and I want to know what has changed between those versions, do I have to look at the PR message for each release in betwee

[2017-03-27 16:54] priley86 commented on #2
@bleathem  Other than this [plugin](https://www.npmjs.com/package/semantic-release#generatenotes) which seems poorly documented, I'm not sure how to generate release notes. If we were to go with semantic-releases, I would almost suggest doing this manually or documenting them via Github project milestones & Github project releases. We could always notify the ML as we have before.

The major differ

[2017-04-03 19:13] jgiardino opened #11 "Component - Dropdown, Infotip & Kebab"
Implement one or more components that provide the following UI elements:

- ~~[PatternFly Dropdown](http://www.patternfly.org/pattern-library/widgets/#dropdowns)~~ *This has been contributed in #130*
- ~~[PatternFly Kebab](http://www.patternfly.org/pattern-library/widgets/#kebabs)~~ *This has been contributed*
- [PatternFly Infotip](http://www.patternfly.org/pattern-library/widgets/#info-tip)
- ~~

[2017-04-03 19:15] jgiardino opened #12 "Component - Button and Button Group"
Implement components that provides the following UI elements:

- ~~[PatternFly Button](http://www.patternfly.org/pattern-library/widgets/#buttons)~~ *This component as already been contributed*
- [PatternFly Button Group](http://www.patternfly.org/pattern-library/widgets/#button-groups)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (se

[2017-04-04 12:35] jtomasek commented on #11
I've been implementing this functionality in TripleO UI currently together with Toolbar components. We've made a decision to use react-bootstrap since it plays very well with PatternFly styling and we did not have to reimplement the components and can be sure that Dropdown etc. works properly.

I am happy to contribute those components if we agree on adding react-bootstrap as a dependency to patte

[2017-04-04 12:39] jtomasek commented on #5
I've been adding react-bootstrap to TripleO UI currently and I've implemented a set of Patternfly-based components using it and it was working very well. It saves a lot of time reimplementing those basic components and ensures that they are going to work properly. Here is the patch which introduces it in TripleO UI if anyone is interested: https://review.openstack.org/#/c/452175/

I'd be happy to

[2017-04-04 12:58] priley86 commented on #5
Hey @jtomasek. Thanks for reaching out and noting this. I would like to update this issue on a few things after some discussions here...

After looking further at `react-bootstrap` (BS3) and `reactstrap` (BS4), we've identified that Patternfly is both a **subset** of Bootstrap (for example, we only suggest the use of primary, secondary, and destructive buttons [link](http://www.patternfly.org/patt

[2017-04-04 13:08] priley86 commented on #5
@jtomasek i should also point out, that there exists a large number of complex patterns that have been implemented outside of PF that we'd like to standardize w/ React and our designs as part of this process. Graphs, Charts, Table View w/ pagination, List View w/ pagination, etc. Over time, this should make life on everyone easier and build more consistency in products...

Hope this helps.

[2017-04-04 13:38] jtomasek commented on #5
@priley86 thanks for the info, much appretiated. My point about react-bootstrap is that we don't necessarily need make user use components which react-bootstrap exposes. We could very simply create wrapper components which would render react-bootstrap components internally (where needed) - allowing us to add usage restrictions to match patternfly standards, while allowing us to leverage the large

[2017-04-04 14:49] priley86 commented on #5
@jtomasek I think we are getting into the nuts and bolts of this topic (which is good). I would agree that creating wrapper components is an option (where we create extensions and also restrictions of `react-bootstrap` components). I would also propose that copying all dependency source per component is also an option, and would allow for more customization (w/o all the excess code we don't want).

[2017-04-04 14:51] priley86 commented on #5
Also - as a follow up. If you feel confident with the "extension" approach, maybe you could share a proposal on this for our `Alert`? @jtomasek

[2017-04-04 18:16] bleathem commented on #5
The extension approach is also better aligned with our goal of consuming patternfly-webcomponents in patternfly-react.

[2017-04-04 19:19] priley86 commented on #5
@bleathem I was talking specifically about "copying React Bootstrap" vs "extending React Bootstrap", but agree that `patternfly-webcomponents` could be extended directly and imported into a React application (as these are standalone components /vanilla es6 modules w/ very few dependencies). When we look at frameworks like `React Bootstrap` or `Reactstrap` though, they are written with a lot of und

[2017-04-07 20:35] priley86 commented on #1
It looks like react-storybook-addon-info supports `react-docgen` comments in our components. Still awaiting this upstream PR to be merged...
https://github.com/storybooks/react-storybook-addon-info/pull/122

[2017-04-16 21:31] priley86 opened #14 "Component - Canvas Pattern"
Implement components that provide the following UI elements associated with the [Canvas pattern](http://www.patternfly.org/pattern-library/content-views/canvas-view/#/overview):

- Canvas
- Canvas Toolbar
- Canvas Top Aligned Toolbox
- Canvas Properties Panel

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)
- Should imple

[2017-04-19 14:16] jgiardino opened #18 "Component - Label"
Implement a component that provides the following UI element:

- [PatternFly Label](http://www.patternfly.org/pattern-library/widgets/#labels)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)
- the component supports:
  - color variations as shown in the PatternFly library

[2017-04-19 14:18] jgiardino opened #19 "Component - Tooltip"
Implement a component that provides the following UI element:

- [PatternFly Tooltip](http://www.patternfly.org/pattern-library/widgets/#tooltip)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)
- the component supports:
  - display directions as shown in the PatternFly library

[2017-04-19 14:21] jgiardino opened #20 "Component - Popover"
Implement a component that provides the following UI element:

- [PatternFly Popover](http://www.patternfly.org/pattern-library/widgets/#popover)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)
- the component supports:
  - displaying a title
  - displaying a close icon

[2017-04-19 14:22] jgiardino opened #21 "Component - List Group"
Implement a component that provides the following UI element:

- [PatternFly List Group](http://www.patternfly.org/pattern-library/widgets/#list-group)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)

[2017-04-19 15:17] priley86 opened #22 "Add Github Badges"
Add Github badges to README

[2017-04-19 15:48] matanwerbner commented on #21
i'm free to work on this :)

[2017-05-12 16:56] vojtechszocs commented on #6
+1 on having ES6 code since that's what most (modern) JS projects use these days. ES6 allows to write cleaner code, compared to ES5. Transpiling to ES5 is usually part of project's build process - bring all (typically ES6 compatible) sources together and create an optimized bundle for deployment.

Redux is an architecture with JS implementation and React support. `patternfly-react` is used to prov

[2017-05-14 18:02] priley86 commented on #6
thanks @vojtechszocs for the feedback.

I am open to what the community feels best on this subject. It seems that many large software teams are moving to type safe JS (Flow, Typescript, etc) and I certainly understand the added benefits there. It also comes at a maintenance cost ;)

At this point, I do not want this to become a barrier to contributing, but agree it should be revisited again in the

[2017-05-15 15:21] #2 closed

[2017-05-15 20:47] #4 closed

[2017-05-16 18:51] jtomasek opened #26 "Use Prettier for code formatting and linting"
Prettier automatically formats code, which ensures consistent code
format across the codebase. This is highly simplifies code reviews and
limits the amount of core format nits in reviews. This is especially valuable in projects with large number of contributors.

Unfortunatelly Prettier does not work by default with standardjs so to
get the best of both worlds we can use eslint configs used by sta

[2017-05-16 19:09] #22 closed

[2017-05-18 08:23] matanwerbner opened #28 "Npm install fails on prepublish"
prepublish script runs **babel** command, however if babel is not installed globally it fails, since devDependencies have not yet been installed.

a quick solution may be:
https://github.com/npm/npm/issues/10366
`"prepublish": "npm install --ignore-scripts && npm run build",`
or to have travis run the build task on merge, which seems more natural to me.

[2017-05-18 12:34] #26 closed

[2017-05-20 02:55] priley86 opened #30 "Component - List"
Implement a component that provides the following UI element:

- [PatternFly List View](http://www.patternfly.org/pattern-library/content-views/list-view/)

Adds the new List styles here:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-pf.html

Started in #63 . Needs help ;)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Li

[2017-06-06 13:09] waldenraines opened #33 "There are several eslint errors in master"
Running npm test in master results in the following:

[code]

[2017-06-06 13:46] jtomasek commented on #33
I suspect this is caused by prettier version not being pinned properly in package.json. What version do you have? `npm list | grep prettier`. Mine is 1.3.1 and I see no errors.

We should consider using Yarn to ensure consistent deps versions. As a quick fix we can pin the version in pacakge.json to 1.3.1 in the meantime.

[2017-06-06 14:20] waldenraines commented on #33
Yeah, that was my suspicion as well, 1.4.2 here.

I went the route of just running an `npm update` as part of the build in case another `^` gets in there unexpectedly.  I would be fine with the `~1.3.1` approach as well (although I would really prefer `1.3.1` without the `~`).  Anyway, we can continue this discussion in the PR.

[2017-06-16 16:13] priley86 opened #36 "Update to Storybook 3"
Let's update our Storybook to Storybook3 after the latest major updates to this project.

More details here:
https://medium.com/storybookjs/announcing-storybook-3-0-329748b8f4cd

[2017-06-16 17:18] priley86 commented on #28
Reference #29

Closing this for now.

[2017-06-16 17:18] #28 closed

[2017-06-16 17:19] priley86 commented on #1
Referencing #37 : this has now been resolved in Storybook 3.

[2017-06-22 13:42] #33 closed

[2017-06-30 13:27] #36 closed

[2017-07-20 18:50] priley86 opened #42 "Component - Nav Dropdown"
* We will need to enhance React Bootstrap's [NavDropdown](https://react-bootstrap.github.io/components.html#navs-dropdown) to support Patternfly style navs w/ icons.  We also need to review all `Nav` styles built by React Bootstrap in the masthead.

This was noted during development of the PF-R Demo App:
https://github.com/patternfly/patternfly-react-demo-app

[2017-07-20 18:56] priley86 opened #43 "Component - Secondary Nav"
It was noted during development of PF-React Demo App, that support for a Secondary Nav within the Vertical Nav is needed.

* Ideally, we can add support for a `SecondaryNav` in the VerticalNav and fully implement this pattern in React (instead of Jquery). This [code](https://github.com/priley86/patternfly-react-demo-app/blob/architecture/src/components/Nav/VerticalNav.tsx#L19) is incomplete.

[2017-07-20 18:58] priley86 opened #44 "Add Typescript defintions"
* add Typescript type definitions into the `patternfly-react` distributions (so that custom type definition is not needed in PF React Demo App)

[2017-07-20 19:40] jgiardino opened #45 "ijneccccccgekivgehhhigcthvifvibkcgthkddebnvrgtuf"

[2017-07-20 19:41] #45 closed

[2017-08-08 21:58] dlabrecq opened #46 "GitHub release does not include lib / support Bower"
I noticed that patternfly-react has a transpiled lib directory, but it's only available if you install the npm package.

For example, when I download the Github release for 0.5.0, the lib directory cannot be found -- only the source is available. This is true whether I download the zip, tar, or select the tag for https://github.com/patternfly/patternfly-react/tree/v0.5.0

Considering there are Git

[2017-08-09 13:31] priley86 commented on #46
thanks for noting this @dlabrecq.

I don't think this is super pressing at the moment (as I believe most of our consumers in the React community have adopted NPM), but in the future once we've adopted Storybooks in `patternfly-ng` and `patternfly-webcomponents` (more details in our PR [there](https://github.com/patternfly-webcomponents/patternfly-webcomponents/pull/65)) i'm happy to revisit this f

[2017-08-09 13:34] priley86 commented on #46
Also please note that we are currently using npm@5 here and will no longer need the `shrinkwrap`.

[2017-08-09 14:02] dlabrecq commented on #46
I just want to clarify that the GitHub release isn't necessarily to support Bower. My point is that the released GitHub download simply doesn't contain the released lib files. Regardless if we support bower, the download should probably have right files for the release.

[2017-08-14 15:46] priley86 opened #47 "Component - Toast Notification"
Implement a component that provides the following UI element:

- [PatternFly Toast Notification](http://www.patternfly.org/pattern-library/communication/toast-notifications/)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)
- the component supports:
  - display directions as shown in the PatternFly library

[2017-09-19 15:22] waldenraines commented on #30
Shouldn't this be closed now?

[2017-09-19 17:20] #1 closed

[2017-09-19 17:21] #5 closed

[2017-09-19 17:21] #6 closed

[2017-09-19 17:23] priley86 opened #52 "Component - Tabs"
Implement a component that provides the following UI element:

- [PatternFly Tabs](http://www.patternfly.org/pattern-library/widgets/#tabs)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)
- Support for basic tabs, justified tabs, patternfly tabs, secondary tabs

[2017-09-19 18:31] priley86 commented on #30
good point! I will close #21 and leave this open... hoping to revisit the new list in #31 soon...

[2017-09-19 18:32] priley86 commented on #21
Resolved in #50

[2017-09-19 18:32] #21 closed

[2017-09-29 15:25] kahowell opened #54 "Component - Select"
Currently we are porting a UI for subscription-management from the cockpit project. In our efforts, we needed to utilize a select component. The simplest implementation was to use bootstrap-select. For reference, here's what we're doing at the moment: https://github.com/candlepin/subscription-manager/pull/1709 (we're using jQuery internally to style the select, but it feels wrong).

The cockpit de

[2017-09-29 16:23] waldenraines commented on #54
I actually ported bootstrap-select to react several months ago and haven't touched it since.  Let me dust it off and open a PR.

[2017-09-29 16:38] waldenraines commented on #54
Since this is just a react version of bootstrap select with patternfly classes would something like https://github.com/tjwebb/react-bootstrap-select work?

[2017-09-29 17:38] kahowell commented on #54
Yeah, that would work for us. We want to use whatever the upstream patternfly/patternfly-react community uses using as much as possible. Are you thinking that patternfly-react could simply add that as a dependency and document appropriately?

[2017-09-29 18:54] waldenraines commented on #54
I'm not sure how we should approach this for patternfly-react, do we want to include that library in patternfly-react or just recommend it as an approach for selects?

I know that patternfly currently contains bootstrap-select but I don't know whether that is their intention longer term after they pull out the jQuery bits into another project.

@priley86 any thoughts on this?  I can see the benefi

[2017-10-02 14:19] priley86 commented on #54
@waldenraines I will raise this at today's React repo design review. I think react-bootstrap-select may work given its similarity but we'll have to contrast with what's in PF core today and discuss differences.

I would propose incorporating this lib as a dependency in pf-react and standardizing its design there like you suggested. It's our hope to keep this repo as pure React components (non jque

[2017-10-02 16:06] waldenraines commented on #54
I'm confused.  I think if we want to avoid jQuery in patternfly-react we will have to write this ourselves or customize something like [react-select](https://github.com/JedWatson/react-select) to look like the bootstrap-select that is used in patternfly core.  Unfortunately [react-bootstrap-select](https://github.com/tjwebb/react-bootstrap-select) is really just a react wrapper for the jQuery impl

[2017-10-02 20:58] priley86 commented on #54
@waldenraines sorry, did not realize react-bootstrap-select was a jquery wrapper. For that reason, I do not think this is a good candidate to introduce as a dependency. We'd like to take the same approach in pf-react as we've taken in patternfly-ng (and only implement or consume pure React components implemented as ES6 modules).

My vote would be to write our own pure React components that are Boo

[2017-10-03 15:41] jgiardino opened #56 "Component - Vertical Navigation"
Implement a component that provides the following UI element:

* [PatternFly Vertical Navigation](http://www.patternfly.org/pattern-library/navigation/vertical-navigation/)

And with initial support for the following features:
* mobile support
* burger bar toggles menu text labels
* secondary nav

Support for ability to pin navigation and display tertiary navigation could be added later.

The navb

[2017-10-03 17:28] priley86 commented on #54
@waldenraines [react-select](http://jedwatson.github.io/react-select/) looks promising to me. It appears we'll need to import some additional CSS to make it work, but I think we'll be customizing that CSS anyways (so I'd be fine with customizing that CSS in this project for now).

I've already added PF LESS to a separate Storybook I've been playing with by extending Storybook's webpack config (so

[2017-10-03 17:47] waldenraines commented on #54
The react-select implementation I created was just a wrapper around jQuery as well but we could look at doing another one using [react-select](http://jedwatson.github.io/react-select/).  I think consuming patternfly-less would be a good thing to do regardless,

[2017-10-03 18:41] priley86 commented on #54
ok @waldenraines - I've chatted with @jgiardino on this. I think we are ready to consume PF LESS in this project. This should allow further customization and enable us to write our own LESS.

Feel free to build on top of this PR or let me know if you'd like to merge it. I am fine with changing file structures/folder organization if desired, but this gives the basic idea of how we can do this with

[2017-10-10 13:16] #47 closed

[2017-10-11 19:28] priley86 commented on #54
@waldenraines Please note that #57 should enable consuming a third party component such as react-select. Please feel free to proceed with this should be ready :)

[2017-10-30 15:55] kahowell opened #59 "Component - Modal"
In our efforts to port the subscriptions cockpit UI from the cockpit repo, we have need of a modal dialog. It was relatively easy to simply copy the cockpit implementation into our repo and tweak (for now), but it'd be awesome if we could consume from patternfly-react instead.

See https://github.com/cockpit-project/cockpit/blob/c04c148225c59d2f053300d80b6b4731e421b8e6/pkg/lib/cockpit-components-d

[2017-11-01 12:13] priley86 commented on #59
@kahowell please feel free to start this. I agree with your assessment of the Cockpit implementation - it looks a bit dated now with the direct dom access / adding document event listeners. There are APIs for adding event listeners now in React (see the Notification List in this repo for example). Also the use of `self` should no longer be needed in es6 (as we have lexical scope with arrow functio

[2017-11-01 12:15] priley86 commented on #59
FWIW, i am not tied to React Bootstrap implementations directly, but see them as good examples. We can choose to extend them (using inheritance), or reimplement them.  Reimplementation may prove easier in the long term when we upgrade to Bootstrap4 though.

[2017-11-01 19:03] priley86 opened #61 "Bug - Alert API"
Per this this [PR](https://github.com/theforeman/foreman/pull/4944) in Foreman, we will need to add the `onMouseOver`, `onMouseLeave` support for Alert (similarly to the way we do NotificationList).

[2017-11-03 14:04] #61 closed

[2017-11-07 22:29] priley86 opened #64 "Component - Wizard"
Implement a component that provides the following UI element:

* [PatternFly Wizard](http://www.patternfly.org/pattern-library/communication/wizard/)

[2017-11-08 14:04] priley86 commented on #59
@kahowell have you started this? I may end up taking a stab at this alongside the Wizard in #64  just extending the React Bootstrap modal for now. I should have something up by end of day to get us started...

[2017-11-08 16:30] priley86 commented on #59
@kahowell awesome! I will report back soon...

[2017-11-08 17:00] sharvit opened #65 "Component - Search"
Implement a component that provides the following UI element:
* http://www.patternfly.org/pattern-library/widgets/#search

Would you consider it necessary as a standalone component?
Or just have the basic FormControls like in react-bootstrap?
https://react-bootstrap.github.io/components.html#forms

[2017-11-08 17:34] danseethaler commented on #65
I'm working on a search component that has a filter dropdown, a search bar with auto-completion, and a bookmark tooltip (implemented in https://github.com/theforeman/foreman/pull/4807). I think the standard form controls are a good place to start. Using react gives us so much flexibility. It would be fairly simple to integrate several components into one once we get the main building blocks in pla

[2017-11-08 18:21] priley86 commented on #65
Referencing the existing ux-design [documentation](https://github.com/patternfly/patternfly-design/blob/master/pattern-library/forms-and-controls/find/design/overview.md) we have in PF. It looks like the widget pattern on the patternfly.org website is much simpler than what's in those specs. We also have this existing test page: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/searc

[2017-11-09 17:10] jgiardino commented on #65
To answer your question, @sharvit, I don't have a strong preference, but I kind of lean toward a more basic component, like the [react-bootstrap FormControls](https://react-bootstrap.github.io/components.html#forms) that you referenced, versus having one component that is specific for search. Ideally, the basic component could accommodate the combination of elements that are present in the Search

[2017-11-09 18:52] sharvit commented on #65
Thanks for replying!

As @danseethaler and I discussed, ideally, we would like to use only `patternfly-react` and stop using `react-bootstrap` as a dependency in our project.

I think that the strategy to have the `search-widget` is something like:
Wrap or export (depends on the differences between bootstrap to patternfly) the form components:
- [ ] [FormGroup, FormControl, ControlLabel](https://r

[2017-11-10 03:12] priley86 commented on #65
This sounds reasonable to me @sharvit, and I like the approach of starting small and building up to the more complex form components.

I'm not quite sure how best to lay out the stories/documentation in pf-react at this point, but please work w/ @jgiardino on this.

[2017-11-10 14:34] serenamarie125 opened #68 "Component - Modal Overlay"
Provide implementation for the modal overlay as documented here: http://www.patternfly.org/pattern-library/forms-and-controls/modal-overlay/

Note that @jeff-phillips-18 implemented this in OpenShift, but this has not yet been contributed back to Angular PatternFly (associated Issue: https://github.com/patternfly/angular-patternfly/issues/673)
He has some suggestions re: implementation that should

[2017-11-11 15:52] priley86 commented on #68
@serenamarie125 i've added PR #69 to start the Wizard pattern in PF React. I have setup some time next week to review this further w/ @jeff-phillips-18. thanks!  :bowtie:

[2017-11-11 15:56] priley86 commented on #59
@kahowell a preliminary PR is up... repurposing this issue in #68

[2017-11-11 15:56] #59 closed

[2017-11-12 23:52] mturley opened #70 "Enhancement: Convert CSS to Styled Components"
I'm not sure if there is interest in the PatternFly community for this, but https://www.styled-components.com/ is a very neat and powerful way to express styles in React components, and has been gaining popularity lately.  It provides a lot of benefits, the most compelling of which for me is that it would make components more modular, and useful alongside components styled differently without the

[2017-11-13 08:45] jtomasek commented on #70
I like styled components too but I'd like to see more detail on what does it mean in terms of whole patternfly ecosystem. Potential problem with this approach is that patternfly styles are defined in separate library and patternfly-react as well as other patternfly js libs are reusing them.

Do I understand it correctly that using styled components would mean we'd have to rewrite the styles for th

[2017-11-13 12:06] mturley commented on #70
I like that approach. Good points.

[2017-11-13 14:01] priley86 commented on #70
The #1 front-end topic of 2017 😸

I have a lot of thoughts on this, but I think the material-ui team did a great job comparing some of the "CSS in JS" libraries recently here:
https://github.com/oliviertassinari/a-journey-toward-better-style

Of the ones I've looked at so far, I like [Glamorous](https://github.com/paypal/glamorous) the most b/c it can be compiled to "real CSS" (for performance rea

[2017-11-13 14:02] priley86 commented on #70
thanks @mturley for bring this one to light!

[2017-11-13 14:10] priley86 commented on #70
i would be curious to hear @ohadlevy's thoughts on this issue too...

[2017-11-13 14:13] priley86 opened #71 "Better Accessibility support"
I noted that the upstream Storybook team has recently done a lot of work to introduce an [accessibility addon](https://github.com/storybooks/storybook-addon-a11y). Is this something we'd be interested in adding to PF React?

It uses the [axe-core](https://github.com/dequelabs/axe-core) accessibility engine to test components. It would be good to know which axe-core rules we'd like to target.

http

[2017-11-13 14:15] priley86 opened #72 "Internationalization support"
t.b.d. cc: @jtomasek

[2017-11-13 18:23] priley86 opened #73 "Component - List Group"
Implement a component that provides the following UI element:

- [PatternFly List Group](http://www.patternfly.org/pattern-library/widgets/#list-group)

Acceptance Criteria:

- When rendered, the component matches the examples in the PatternFly Pattern Library (see link above)

[2017-11-13 23:16] mturley commented on #70
Thanks for your reply, @priley86. I hadn't looked at Glamorous yet, I'll check that out.

As @jtomasek mentioned, the fact that the Patternfly CSS is currently shared between multiple projects means that moving those styles into the React components definitely would be a maintainability nightmare.  I hadn't realized when I first posted this issue that the styles were in a separate library (that se

[2017-11-14 00:15] priley86 commented on #70
+1 @mturley ... also great meeting you today after orientation! A warm welcome to Red Hat ;)

What initially got me turned onto Glamorous was this demo by Kent Dodds (I'm a big fan). I love love love the demo of jest-glamor-react... and introducing the ability of "true" css regression testing with Jest. This was a jaw dropping moment for me when I first saw it. He did waht ?!? 😮

Fast forward to 2

[2017-11-14 01:33] mturley commented on #70
Thanks! That does look pretty awesome.

[2017-11-15 19:58] priley86 commented on #44
I believe we voted against maintaining these definitions in PatternFly React b/c it would be too much of a burden at this point. Will leave this open for future though...

[2017-11-16 14:45] mturley commented on #56
After discussing it with Serena, it looks like I'll be taking this on as my first contribution!

[2017-11-16 14:47] ohadlevy commented on #56
@mturley looking forward to it

[2017-11-16 15:20] mturley commented on #56
I don't have membership in https://github.com/orgs/patternfly/people yet, does anyone mind assigning me to this issue?  Or adding me to the org if you have permissions. Not sure what the official process is for that, if any. I verified my redhat email on github.

[2017-11-16 15:25] mturley commented on #70
@priley86 should we close this issue? It's clear that we have reasons not to move all the CSS into JS like I was originally thinking. Or should we leave it open just to track the idea of maybe doing something with it later?

[2017-11-16 18:26] priley86 commented on #56
i've added you as a maintainer just now @mturley !

[2017-11-16 18:29] mturley opened #78 "npm@5 warnings, package-lock.json not tracked in git?"
Hey guys,

Is there a reason we don't have a `package-lock.json` file either tracked in git or in the .gitignore?  Are most people not yet on npm@5 for whatever reason?  Ideally we should check this file in.  Every time I run `npm install` it generates one, and it comes up in `git status` as an untracked file.

Also, I'm seeing some other warnings related to npm 4-to-5 migration:

[code]

Assuming

[2017-11-16 18:33] mturley commented on #56
Thanks!  Getting started on this, hopefully I'll have a PR up tonight or tomorrow sometime.

[2017-11-16 19:20] priley86 commented on #78
+1 ... noticed the same. One of the previous PRs missed this somehow. Hoping to fix in #74 ...

[2017-11-16 20:31] priley86 commented on #70
@mturley I'm fine with closing this for now. Let's revisit this later when ready and remember to re-open this issue when the time comes ;)

[2017-11-16 20:31] #70 closed

[2017-11-21 02:16] serenamarie125 opened #80 "Component - Login Screen"
Provide implementation for the login screen as documented here: http://www.patternfly.org/pattern-library/application-framework/login-page/#/design

Associated JIRA Issue: https://patternfly.atlassian.net/browse/OSUX-306

[2017-11-21 02:16] serenamarie125 opened #81 "Component - About Screen"
Provide implementation for the about screen as documented here:
http://www.patternfly.org/pattern-library/communication/about-modal/#/design

Note : Ang PF implementation can be found here for reference: http://www.patternfly.org/angular-patternfly/#/api/patternfly.modals.component:pfAboutModal

Associated JIRA Issue: https://patternfly.atlassian.net/browse/OSUX-305

[2017-11-21 02:52] serenamarie125 opened #82 "Component - Empty State Pattern"
Provide implementation for the empty state as documented here:
http://www.patternfly.org/pattern-library/communication/empty-state/#/design

Note : Ang PF implementation can be found here for reference: http://www.patternfly.org/angular-patternfly/#/api/patternfly.views.component:pfEmptyState

Associated JIRA Story:
https://patternfly.atlassian.net/browse/OSUX-304

[2017-11-21 02:55] serenamarie125 opened #83 "Component - Fixed Accordion"
Provide implementation for the fixed accordion which is used in the Notification Drawer (http://www.patternfly.org/pattern-library/communication/notification-drawer/#/design)

Note : Ang PF implementation can be found here for reference: http://www.patternfly.org/angular-patternfly/#/api/patternfly.utils:pfFixedAccordion

Associated JIRA Issue: https://patternfly.atlassian.net/browse/OSUX-302

[2017-11-21 02:58] serenamarie125 opened #84 "Component - Notification Drawer"
Provide implementation for the notification drawer (http://www.patternfly.org/pattern-library/communication/notification-drawer/#/design)

Note : Ang PF implementation can be found here for reference: http://www.patternfly.org/angular-patternfly/#/api/patternfly.notification.component:pfNotificationDrawer

Associated JIRA Issue: https://patternfly.atlassian.net/browse/OSUX-303

[2017-11-21 08:36] ohadlevy commented on #84
Foreman has already implemented most of this pattern, ideally we can start with that and later on send a pr to foreman to use the new patternfly component instead. for details see https://github.com/theforeman/foreman/tree/develop/webpack/assets/javascripts/react_app/components/notifications/drawer

[2017-11-22 06:18] priley86 opened #85 "List-Group a11y/storybook review"
This issue is just to ensure we are not missing anything w/ the List Group [PR](https://github.com/patternfly/patternfly-react/pull/74) recently merged.

[2017-11-22 06:19] #73 closed

[2017-11-22 06:20] priley86 commented on #78
can you possibly confirm if we can close this now @mturley ?

[2017-11-22 16:06] mturley commented on #78
Yep, this is all fixed now.  Thanks @priley86

[2017-11-22 16:06] #78 closed

[2017-11-22 16:07] mturley commented on #78
Oh, well actually I closed this after just reading the title.. I forgot about the prepublish warning.  @priley86 do you think that is worth opening a separate issue for?

[2017-11-25 22:52] priley86 commented on #78
@mturley it seems that spawn-sync (dep of commitizen) still has a prepublish script causing that warning...  (see `npm ls spawn-sync` output)
https://github.com/ForbesLindesay/spawn-sync/blob/master/package.json#L16

I think we are OK to ignore it for now. I am planning to enable greenkeeper.io soon and we can continue tracking all dependency updates. Hopefully that warning is addressed upstream..

[2017-11-30 12:01] sharvit commented on #82
@amirfefer - introduced it here https://github.com/theforeman/foreman/pull/5024

[2017-11-30 13:30] priley86 commented on #20
We've added partial support in #86.

[2017-11-30 18:17] #19 closed

[2017-11-30 18:20] priley86 opened #91 "Component - Tooltip"
Implement a component that provides the following UI element:

- [PatternFly Tooltip](http://www.patternfly.org/pattern-library/widgets/#tooltip)

[2017-11-30 18:30] priley86 commented on #91
@jgiardino @mcarrano I've merged the base functionality for Tooltip in #79 . Let's follow up here on any remaining issues.

[2017-11-30 18:31] sharvit commented on #72
https://github.com/yahoo/react-intl
But why patternfly need to be worried about it?

Supporting right-to-left writing direction can be a nightmare, this can help:
https://github.com/vkalinichev/postcss-rtl

[2017-11-30 21:29] jgiardino opened #92 "Component - test"
This issue is created to test the project board automation.

[2017-11-30 21:37] waldenraines commented on #72
It's a good questio.  I don't see any strings that need translating in patternfly-react nor can I think of any instance where patternfly-react would include text that isn't overridable by the consumer.

[2017-12-04 13:01] priley86 opened #94 "Ensure storybook-deployer can support npm run scripts"
We noted in #93 that storybook-deployer does not support custom npm run script for `build-storybook`. I will follow up w/ an upstream PR to ensure this support and then circle back to pf-react.

[2017-12-04 18:52] priley86 commented on #94
Upstream PR is up:
https://github.com/storybooks/storybook-deployer/pull/28

[2017-12-05 17:38] jgiardino commented on #91
This looks good to me. I'm closing this issue.

[2017-12-05 17:38] #91 closed

[2017-12-05 22:08] jgiardino commented on #85
@priley86 The list group component looks great! There are just a couple of things I noticed:

- In the Linked Items storybook example, a ListGroupItem should have either onClick or href, but not both.
- In the Custom Content storybook example, you should be able to use the header prop to define the headers.

[2017-12-05 22:26] jgiardino commented on #71
No objections from me. After reviewing the rules, some of these like 'bypass' and 'document-title' don't seem applicable for our case.

[2017-12-05 23:33] jgiardino commented on #56
Work for this component is included in PR #88

[2017-12-05 23:36] jgiardino commented on #20
@priley86 Do you remember what work is remaining for this?

[2017-12-07 18:15] priley86 opened #97 "Immutability in PF React"
It seems that there are a lot of Immutability helpers in the wild with React. I would like to determine if we are OK w/ introducing any of these in PF React, or if we should just prefer simple state modification, i.e. `Object.assign` or direct array modification in our examples (fully recognizing that the state is typically not mutable).

Here is a list of some common ones I am seeing:
https://gis

[2017-12-07 19:05] jtomasek commented on #97
TripleO UI uses immutable.js but we mostly use it on reducer -> selectors part. Do you have an example of when immutable data would be useful in patternfly-react?

If I was to choose lib for immutable data, I'd consider Ramda as it seems to have same functionality as immutable.js with POJO. https://github.com/este/este/issues/626

[2017-12-07 19:10] sharvit commented on #97
I am personally not a big fan of Immutable libraries.
You can achieve an immutability by using ES2015 syntax + some babel transpilers.

https://wecodetheweb.com/2016/02/12/immutable-javascript-using-es6-and-beyond/

[2017-12-07 19:12] sharvit commented on #97
We use `seamless-immutable` in foreman

[2017-12-07 20:38] danseethaler opened #98 "Add Spinner Component"
Just creating a simple issue to add the `Spinner` component from patternfly (http://www.patternfly.org/pattern-library/widgets/#spinner) into this repository.

Seems like this would be a simple component with the only a few props `loading`, `children`, and some style props for size. When `loading` is true the spinner shows, when it's not the children show.

I'm planning to work on this but wanted

[2017-12-07 22:36] priley86 commented on #85
OK! Thanks @jgiardino - I will make the update there...

[2017-12-07 22:36] priley86 commented on #97
After chatting in slack... it seems that we are OK w/ simple state modification and `Object.assign` in the simple Storybook examples. Appreciate all the feedback here. I'm going to close this for now.

[2017-12-07 22:36] #97 closed

[2017-12-07 22:38] #44 closed

[2017-12-08 14:50] jgiardino commented on #20
Closing this for now. We can create new issues as further enhancements are needed.

[2017-12-08 14:50] #20 closed

[2017-12-08 20:48] cdcabrera opened #102 "Component - Toolbar"
Provide implementation for the toolbar as documented here:
http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/

Note : Ang PF implementation can be found here for reference:  http://www.patternfly.org/angular-patternfly/#/api/patternfly.toolbars.component:pfToolbar

Toolbar consists of multiple patterns:  Filter, Sort, Actions & Find that could be broken into several PRs

Note th

[2017-12-08 21:05] #68 closed

[2017-12-08 21:07] priley86 commented on #64
The Modal Wizard has been pattern has been implemented in #69 .

The remaining issues in PF Core can be addressed in the future (thus leaving this issue open):

patternfly/patternfly#869
patternfly/patternfly#841
patternfly/patternfly#851

[2017-12-11 12:52] priley86 commented on #85
@jgiardino originally I had implemented the `onClick` as to prevent the Storybook page from changing when clicking the linked item, but I agree that it would be better to showcase the linked item as it would be used in the application.

re: the custom content header... this works, but I noted that if you specify an `onClick` instead of an `href`, it will render the header inside of a button. This

[2017-12-11 12:56] #12 closed

[2017-12-11 12:57] priley86 opened #105 "Review Pull Request / Readme updates / Contribution Guidelines"
In this issue I would like to review our current pull request template and ensure it meets the needs of our contributors and our core pf-react stakeholders. I'd also hope this would help further define our contribution guidelines (spelled out in CONTRIBUTING.md and the README.md).

cc: @serenamarie125 @jeff-phillips-18  @LHinson @maryclarke @jgiardino

[2017-12-11 13:11] priley86 commented on #18
cc: @dabeng maybe this another easy one to tackle? I am not sure what your current sprint looks like, but if you can slide it in, it would be helpful!

cc: @LHinson

[2017-12-11 14:58] jeff-phillips-18 opened #106 "Component - Filter"
Provide implementation for the filter as documented here:
http://www.patternfly.org/pattern-library/forms-and-controls/filter/

Note : Ang PF implementation can be found here for reference: http://www.patternfly.org/angular-patternfly/#/api/patternfly.filters.component:pfFilter

[2017-12-11 16:35] priley86 commented on #65
@sharvit @danseethaler what is the status here? I think we are planning to attempt the Toolbar pattern next sprint. From the PR @danseethaler mentioned, it does not seem to match the current PF design pattern for [Toolbar](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toolbar.html?#), but maybe we can reuse some of the components started there?

Any thoughts here are definitely a

[2017-12-11 16:53] sharvit commented on #65
@priley86 , I am in the development process of it as it's a part of a feature i am implementing for foreman.
http://projects.theforeman.org/issues/21604

Soon i will publish a pr that exporting the From related components from bootstrap and show how to use them.

[2017-12-11 21:15] priley86 opened #107 "Component - Data Table"
Provide implementation for the Data Table as documented here:
http://www.patternfly.org/pattern-library/content-views/table-view/#/design

The following features of data table were captured in #143 for the `Table` component:
   * ~~Customizable table header (and PF styles applied to the table header)~~
   * ~~Customizable table cells (and PF styles applied to table cells)~~
   * ~~Customizable tab

[2017-12-11 21:18] priley86 commented on #107
cc: @jeff-phillips-18 @ohadlevy

have we explored the following React data table? or settled on another?
https://allenfang.github.io/react-bootstrap-table/

It seems quite flexible as well (with the ability to customize header/footer):
http://allenfang.github.io/react-bootstrap-table/custom.html#pagination

Initially I believe we also looked at React-Table, but not sure where things have landed.
h

[2017-12-11 23:11] jgiardino commented on #85
Regarding the `href` vs `onClick`, what I meant is that on the [react-bootstrap](https://react-bootstrap.github.io/components.html#listgroup) site, it looks like they expect one of these to be defined, not both. In your storybook example when you include both, it's rendered as a link (versus a button). I'm curious if the `onClick` would still work in that case or if including both would somehow ig

[2017-12-12 03:30] dabeng commented on #107
I think solution4 is to encapsulate jquery DataTables as a reactjs component. In this way, we can make maximum use of the whole APIs of DataTables at little cost.
By the way, we should't focus merely on features design doc described. We know that end users always have all kinds of strange demands for DataTables.

[2017-12-12 14:00] #98 closed

[2017-12-12 16:34] #92 closed

[2017-12-13 00:25] priley86 commented on #18
Pretty please also update any existing `<label>` JSX to use the new <Label> once done...

[2017-12-13 00:29] priley86 commented on #52
Existing PR is quite dated and needs updating...
https://github.com/patternfly/patternfly-react/pull/49

[2017-12-13 05:17] dabeng commented on #18
Hi @priley86 , you said that you wanna update all existing <label> tags with new Label component. Is the following screenshot your expected result?

<img width="1600" alt="screen shot 2017-12-13 at 1 10 19 pm" src="https://user-images.githubusercontent.com/5689075/33922741-c1bedc36-e007-11e7-9e2e-2906961720a6.png">

<img width="1600" alt="screen shot 2017-12-13 at 1 10 24 pm" src="https://user-ima

[2017-12-13 15:45] priley86 commented on #85
Re: `href` vs `onClick` in Linked example. That is how it was added previously to prevent the page change from happening (as to prevent default action), and it seemed to work. But to your point - if it's truly a link, just an `href` for the Linked example is fine with me (even if the page change occurs and we would rather demonstrate that usage)...

Re: `onClick` in Custom Content example. Yes, I

[2017-12-13 15:53] priley86 commented on #18
thanks @dabeng, this is exactly what I was hoping to find ;)  I think we should ensure the `Label` can be flexible enough to support all labels... React Bootstrap should accept `className` but I have not tested it.

[2017-12-13 16:07] jgiardino commented on #18
I think what @priley86 meant was to find any instances of '`<span class="label label-`' and to replace those with the new `<Label>` component.

These are different elements than the `<label>` elements that are used in the modal and wizard components, which should not be replaced with the `<Label>` component.

[2017-12-13 16:19] priley86 commented on #18
Ahh good distinction. I would propose we create a new component then as these are fairly common... I guess bigger question I have then is, why do our forms in PF Core use <span>s as opposed to <label>s ?

[2017-12-13 16:19] jgiardino commented on #18
Oh, I think I may have misread @priley86's comments.

The `<Label >` component results in the following runtime html:
`<span class="label label-default">Default</span>`

This html is nothing like what we should be using within forms. While they share the same name, I would argue that is just a naming convention provided by Bootstrap, and is not meant to suggest that `<span class="label label-defau

[2017-12-13 16:32] jgiardino commented on #18
![bitmoji](https://render.bitstrips.com/v2/cpanel/4a148723-fbbf-4972-8e6e-120148c5a497-a07a3b9e-da41-4f2c-af4f-5c7d9c4da655-v1.png?transparent=1&palette=1&width=123)
Oh, Bootstrap! This is quite confusing given their use of 'label' as a name for text that has a color behind it.

[2017-12-13 16:43] #18 closed

[2017-12-13 16:44] priley86 commented on #18
thanks @jgiardino 👍  . This clarifies it. We can rebase those examples once we have `ControlLabel` added.

[2017-12-14 06:06] dabeng commented on #52
Hi @priley86 , because #49 involves many dated code snippets and conflicts, I created new [PR](https://github.com/patternfly/patternfly-react/pull/112) for component tabs.

[2017-12-14 13:17] ohadlevy commented on #107
@amirfefer started to evaluate react-bootstrap-table current wip in https://github.com/theforeman/foreman/pull/5024

[2017-12-14 13:25] priley86 commented on #107
@ohadlevy 👍  - will start there and follow this PR as it goes...

[2017-12-15 14:24] serenamarie125 opened #115 "Component - Field Level Help"
Provide implementation for the Field Level Help as documented here:
http://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/

This will include the following features of Data Table:

Story examples demonstrating these features in a mock application scenario

Link to JIRA story:
https://patternfly.atlassian.net/browse/OSUX-350

[2017-12-15 14:25] serenamarie125 opened #116 "Component - Horizontal Forms"
Create a base structure for Horizontal Forms:
https://react-bootstrap.github.io/components.html#forms-layout

Include story examples demonstrating these features in a mock application scenario

Link to JIRA story:
https://patternfly.atlassian.net/browse/OSUX-346

[2017-12-15 14:27] serenamarie125 opened #117 "Form Validation States"
Create support for form validation states:
https://react-bootstrap.github.io/components.html#forms-validation

Include story examples demonstrating these features in a mock application scenario

Link to JIRA story:
https://patternfly.atlassian.net/browse/OSUX-343

[2017-12-15 14:42] serenamarie125 opened #118 "Password Input Field Support"
Create support for password input fields:
https://react-bootstrap.github.io/components.html#forms-layout

Include story examples demonstrating these features in a mock application scenario

Link to JIRA story:
https://patternfly.atlassian.net/browse/OSUX-349

[2017-12-15 14:57] serenamarie125 opened #119 "Checkbox Support"
Create support for checkboxes:

Include story examples demonstrating these features in a mock application scenario

Link to JIRA story:
https://patternfly.atlassian.net/browse/OSUX-348

[2017-12-15 14:57] serenamarie125 opened #120 "Radio Button Support"
Create support for radio buttons:

Include story examples demonstrating these features in a mock application scenario

Link to JIRA story:
https://patternfly.atlassian.net/browse/OSUX-347

[2017-12-15 14:58] serenamarie125 opened #121 "Toggle/Switch Support"
Create support for Toggle/Switch component:

Include story examples demonstrating these features in a mock application scenario

Link to JIRA story:
https://patternfly.atlassian.net/browse/OSUX-347

[2017-12-15 15:35] serenamarie125 opened #123 "Paging Support"
Create support for Paging component:
PatternFly design documentation: https://www.patternfly.org/pattern-library/navigation/pagination/

Include story examples demonstrating paging into a mock application scenario

* ~~Add pagination row component (for use in list view, table view, card view)~~ (finished in #143)
* Add simple previous/next pagers [here](https://rawgit.com/patternfly/patternfly/mas

[2017-12-15 16:18] serenamarie125 opened #124 "Change View Support in Toolbar"
Provide implementation for the change view component in the toolbar as documented here:
http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/

Note : Ang PF implementation can be found here for reference:  http://www.patternfly.org/angular-patternfly/#/api/patternfly.toolbars.component:pfToolbar

Note that other portions of the Toolbar are being tracked in https://github.com/patter

[2017-12-15 16:25] serenamarie125 opened #125 "Component - File Select"
Create support for file select:

Include story examples demonstrating these features in a mock application scenario

Associated JIRA Issue: https://patternfly.atlassian.net/browse/OSUX-334

[2017-12-15 20:27] jeff-phillips-18 opened #126 "Wizard - Support for Embedded Wizard"
Follow on to https://github.com/patternfly/patternfly-react/issues/64
Requires https://github.com/patternfly/patternfly/issues/841

[2017-12-15 20:28] jeff-phillips-18 opened #127 "Wizard - Support Robust Mobile Navigation"
Follow on to https://github.com/patternfly/patternfly-react/issues/64

[2017-12-15 20:30] jeff-phillips-18 opened #128 "Wizard - Show keyboard focus in steps panel"
Follow on to https://github.com/patternfly/patternfly-react/issues/64
Requires https://github.com/patternfly/patternfly/issues/869

[2017-12-15 20:30] jeff-phillips-18 commented on #64
Added issues for the remaining features. Closing this.

[2017-12-15 20:30] #64 closed

[2017-12-18 20:21] serenamarie125 commented on #116
@sharvit since you added a PR, how about we assign you to this issue?

[2017-12-18 20:29] serenamarie125 commented on #118
@sharvit would you mind assigning yourself to this, since you've already put up a PR ?!  Thank you!

[2017-12-18 20:32] serenamarie125 commented on #117
@sharvit thanks for the PR, can you assign yourself to this?

[2017-12-19 08:15] sharvit commented on #117
sure @serenamarie125 , how do I do that?

[2017-12-19 19:50] jgiardino commented on #11
The work that remains for this component is to add the [Infotip variation](http://www.patternfly.org/pattern-library/widgets/#info-tip)

We might also want to consider grouping "Button" and "DropdownKebab" storybook sections into a single section labeled "Buttons and Dropdowns"?

[2017-12-20 15:20] sharvit opened #136 "Unable to upgrade to v0.21.0"
Hi,

I am having this error when trying to update `patternfly-react` and run `npm install`

[code]

Tried to create a `.nvmrc` file but it didn't affect the error.

[2017-12-20 16:45] priley86 commented on #136
@sharvit ok now?

[2017-12-20 17:07] sharvit commented on #136
@priley86, yes! Thanks for the fast fix  :tada:

[2017-12-20 17:07] #136 closed

[2017-12-24 13:58] sharvit opened #144 "Alert - confusing alert types"
The `Alert` component should receive a `type` prop with one of the values `['danger', 'error', 'warning', 'success',  'info']`

`danger` and `error` giving the same result and they are identical.

https://github.com/patternfly/patternfly-react/blob/master/src/components/Alert/constants.js#L1-L2
https://github.com/patternfly/patternfly-react/blob/master/src/components/Alert/Alert.js#L41
https://git

[2017-12-24 14:06] sharvit commented on #144
Same for `ToastNotification`
https://github.com/patternfly/patternfly-react/blob/master/src/components/ToastNotification/constants.js#L2-L3

[2017-12-24 14:35] sharvit opened #145 "ToastNotificationList - supplying a className will override pf className"
Hi,

* In the `ToastNotificationList`, one of the prop i can pass is `className`.
* `ToastNotificationList` should use the patternfly className `toast-notifications-list-pf`.
* If i pass my own `className` it will override the default className `toast-notifications-list-pf`.

https://github.com/patternfly/patternfly-react/blob/master/src/components/ToastNotification/ToastNotificationList.js#L67

*

[2018-01-01 18:46] danseethaler opened #148 "Listview.Item actions bleeding off container"
The `ListView.Item` actions are pushed outside of the container when header text is lengthy. I've been able to reproduce this issue in the storybook by adding `actions` to one of the `ListView.Item`s with long header text [here](https://github.com/patternfly/patternfly-react/blob/master/src/components/ListView/ListView.stories.js#L120).

![actions_spacing_issue](https://user-images.githubuserconte

[2018-01-02 12:02] jeff-phillips-18 commented on #145
Agreed, the 'toast-notifications-list-pf' class should always be added and any additional classes added to it.

[2018-01-04 19:04] #106 closed

[2018-01-05 12:01] #85 closed

[2018-01-05 17:14] danseethaler opened #153 "Turn off close icon on expanded ListViewItem"
I'd like to be able to disable the close icon when a `ListViewItem` is expanded to show it's `children`.

In our use case the close icon pushes the first child out of alignment. See below
![image](https://user-images.githubusercontent.com/11202705/34619707-0ca7e858-f211-11e7-8dd6-1f35c7a236cb.png)

I would also assume that most people would collapse the children by clicking on the dropdown header

[2018-01-08 12:40] #116 closed

[2018-01-08 12:40] #117 closed

[2018-01-08 12:40] #118 closed

[2018-01-08 12:42] jeff-phillips-18 commented on #153
Ideally, the close button should have no impact on the contents.

[2018-01-08 14:31] cdcabrera commented on #125
[Appears some of the baseline work for this is being accomplished with this example](http://rawgit.com/sharvit/patternfly-react/storybook/forms/index.html?knob-Label=Danger%20Will%20Robinson%21&knob-Disabled=false&knob-Show%20Labels=false&knob-Show%20Help=true&knob-Show%20Modal=true&knob-Show%20Loading=false&selectedKind=Forms&selectedStory=Input%20Groups&full=0&addons=1&stories=1&panelRight=0&add

[2018-01-08 14:36] #82 closed

[2018-01-09 13:59] priley86 commented on #144
I believe this was just a conveniency established back in the commit here:
https://github.com/patternfly/patternfly-react/commit/ce337fdf7a7b077d45924938844e49fc1d45eba5#diff-70839dc751b9f23f82319d0fbbd0aca4

I'm fine with either/or (as i agree that having both is causing confusion). It looks like angular-pf uses `danger` type though.

[2018-01-09 14:45] sharvit commented on #144
@priley86 my main concern is to end up using both of them in my source code.
This is why I thought about blocking `danger` type in my source code.
Or would you prefer to remove one of them from `patternfly-react` itslef?

I would be fine with both options and can make the pr soon to speed it up.

[2018-01-09 15:09] jeff-phillips-18 commented on #144
This goes back to patternfly having both. Two different names that resolve to the same look.

I think the thought was at some point there may be a need to distinguish the two, but its never happened.  There is a PF class `alert-danger` which is used which I believe causes the confusion, there is no `alert-error` though `error` is more commonly used for status.

So, yes this is a backward compatibi

[2018-01-09 17:07] sharvit commented on #144
@jeff-phillips-18 since we deliver features in react as props and not as classes I feel good about delivering danger class with prop `type=error`.

I don't see a reason to support both of them and i think better to deprecate on of them now before we will start to see mixed usage everywhere.

[2018-01-09 21:25] #102 closed

[2018-01-09 21:25] #124 closed

[2018-01-10 13:29] priley86 commented on #145
I'm fine with this modification @sharvit. No issue making `toast-notifications-list-pf` the default.

[2018-01-10 13:55] priley86 commented on #119
I am running into issues with inline styles and additional div's being rendered with the React Bootstrap checkbox. I will update this issue shortly with details.

[2018-01-10 13:55] #125 closed

[2018-01-10 14:00] priley86 commented on #54
Update: I am currently reviewing the styles applied for react-bootstrap select and comparing our existing jquery bootstrap-select in PF Core. We should be able to handle most simple use cases of the select with a minor bit of CSS. Will follow up with an upstream PR into Core shortly and reference that issue here.

[2018-01-10 14:37] tstrachota commented on #123
FYI I'm currently working on a pagination component. It seems that I lack permissions to assign this issue to myself. I'll provide a PR soon.

[2018-01-10 18:07] jeff-phillips-18 opened #158 "ListView storybook does not have an example or documentation for using subcomponents"
There is no usage nor documentation for the following:

- ListViewActions
- ListViewAdditionalInfo
- ListViewBody
- ListViewCheckbox
- ListViewDescription
- ListViewDescriptonHeading
- ListViewDescriptionText
- ListViewExpand
- ListViewGroupItem
- ListViewGroupItemContainer
- ListViewGroupItemHeader
- ListVIewIcon
- ListViewInfoItem
- ListViewLeft
- ListViewMainInfo
- ListViewRow

[2018-01-10 21:27] danseethaler commented on #153
Anyone know if this issue is evident in patternfly itself?

[2018-01-10 21:31] priley86 opened #159 "Rename constants.js files for consistency"
I noted in #150 we decided to rename `constants.js` files to `{Component}Constants.js`. This issue is just a reminder to go back and update other components / update CONTRIBUTING.md.

[2018-01-11 12:51] jeff-phillips-18 commented on #123
Thanks @tstrachota, I have added you to the contributors team. You should now have assign permissions.

[2018-01-11 14:16] priley86 commented on #123
@tstrachota apologies for the confusion on this and thanks for the contribution. I will compare/contrast today. Hopefully we can get this one in soon ;)

[2018-01-11 14:25] tstrachota commented on #123
@priley86 I was looking into open PRs if somebody already started implementing it but apparently I missed yours :-/
That happens. Anyway, I'm ready to incorporate your ideas or collaborate towards a single solution.

[2018-01-11 14:29] priley86 commented on #123
@tstrachota thanks! feel free to chime in with any issues...

[2018-01-11 14:43] priley86 commented on #123
@tstrachota also... i am likely not going to get around to implementing the

https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/pagination.html

[2018-01-11 18:54] serenamarie125 commented on #120
@priley86 It looks Radio Buttons are already in the [Supported Form Controls](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Label=Danger%20Will%20Robinson%21&knob-Show%20Help=true&knob-Disabled=false&selectedKind=Forms&selectedStory=Supported%20Controls&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs) in the storybook, can you confirm?

[2018-01-11 18:54] serenamarie125 commented on #119
@priley86 It looks checkboxes are already in the [Supported Form Controls](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Label=Danger%20Will%20Robinson%21&knob-Show%20Help=true&knob-Disabled=false&selectedKind=Forms&selectedStory=Supported%20Controls&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs) in the storybook, can you confirm?

[2018-01-12 00:00] priley86 commented on #119
So... the React Bootstrap Checkbox implementation seems to do the following:

If I just use the default `<Checkbox>`, I get the following markup:
[code]
I use the inline option,`<Checkbox inline>`  I get:
[code]

These both work fine in forms typically, but for the DataTable selection checkboxes, these classes applied on the outer elements break the design. To match our existing design most closel

[2018-01-12 01:15] priley86 commented on #72
Please reference the December 2017 Community meeting where @jtomasek and @vojtechszocs presented on this topic.
https://bluejeans.com/s/vsHaD

Examples can also be found in the following apps:
https://github.com/oVirt/ovirt-engine-dashboard
https://github.com/openstack/tripleo-ui

Closing this issue since it will be an application specific concern. We should keep all language strings overridable (

[2018-01-12 01:15] #72 closed

[2018-01-12 01:16] priley86 commented on #120
Made some additional notes about Radio alongside `Checkbox` in #119

[2018-01-12 11:37] sharvit commented on #119
@priley86 - I think I prefer to create another new component called `DataTableCheckbox, DataTable.Checkbox`.
This component can handle it inside and should be used only inside the DataTable.

[2018-01-12 11:39] jeff-phillips-18 commented on #153
I believe it is. Looking at http://www.patternfly.org/pattern-library/content-views/list-view/#/code you can see the close button is overlaid on top of the expanded content.

[2018-01-12 12:19] jeff-phillips-18 commented on #119
I'm OK with this proposal @sharvit though for option 3 it seems we lose bootstrap's additional capabilities and could cause some inconsistencies.

[2018-01-12 13:30] jeff-phillips-18 commented on #120
Should we update this issue to reflect current status? Currently we do have radio button support. If there are issues with the current implementation then those should be separate issues.

[2018-01-12 13:30] jeff-phillips-18 commented on #119
Should we update this issue to reflect current status? Currently we do have checkbox support. If there are issues with the current implementation then those should be separate issues.

[2018-01-12 13:36] priley86 commented on #119
i guess this is just really a case where I disagree with React Bootstrap's api (and would have just had `Checkbox` render an `input`), however to keep it consistent with the React Bootstrap docs, I'm fine with @sharvit 's proposal. I think this should be something that gets re-evaluated when we look at Reacstrap / PF Next...

Also fine w/ closing this issue @jeff-phillips-18.

[2018-01-12 13:44] priley86 commented on #120
I'm fine with the same resolution as we had in Checkbox issue. We can add `Forms.Radio` too I guess.

[2018-01-15 13:22] jeff-phillips-18 opened #166 "Investigate use of Storyshots"
It may make things easier if we use the components' storybooks to also test the components using [storyshots](https://github.com/storybooks/storybook/tree/master/addons/storyshots)

[2018-01-15 13:33] #119 closed

[2018-01-15 13:33] #120 closed

[2018-01-15 22:08] #81 closed

[2018-01-15 22:09] #121 closed

[2018-01-16 06:31] sharvit commented on #145
Closed, this issue fixed thanks to @jeff-phillips-18 https://github.com/patternfly/patternfly-react/pull/163

[2018-01-16 06:31] #145 closed

[2018-01-17 14:45] jeff-phillips-18 opened #169 "Add Less -> Sass Converter"
Since we need to support both Less and Sass, we should use a converted to that contributors need only create the less files rather than both.

See https://github.com/patternfly/angular-patternfly/pull/692

[2018-01-18 14:03] priley86 commented on #97
It seems that another one has started trending quite recently...
https://github.com/mweststrate/immer

[2018-01-18 16:59] jeff-phillips-18 opened #170 "Component - Infotip"
Need patternfly-react support for PatternFly Infotip

Acceptance Criteria:

- When rendered, the component matches the examples  [PatternFly Infotip](http://www.patternfly.org/pattern-library/widgets/#info-tip)

[2018-01-18 17:00] jeff-phillips-18 commented on #11
Added #170 to complete the remainder of this issue.

[2018-01-18 17:00] #11 closed

[2018-01-18 17:18] #43 closed

[2018-01-18 21:08] #144 closed

[2018-01-19 08:34] jtomasek commented on #153
The close button is floated right, so any block content will stack under it (as visible at [1]), any floated content will get pushed by it. We can allow to not include it in react component unless it is always required from the UX point of view / patternfly guidelines.

[1] http://www.patternfly.org/pattern-library/content-views/list-view/#/code

[2018-01-19 15:04] jgiardino commented on #153
@mcarrano Can you weigh in on this issue?

These are the only possible options I can think of for addressing the use case where the expanded contents occupy the full width:
1. Make the X optional
2. Include extra margin/padding on the right to prevent overlap or pushing of contents
3. Include extra margin/padding on the top to prevent overlap or pushing of contents

And for options 2 and 3, would

[2018-01-19 15:40] mcarrano commented on #153
Yes, I do see the problem. In our earlier mockups, the expansion was more intended as a way to show details of an object in the list, but agree that the Close button does not really work if we are embedding something like a list that takes up the full width of the container.

My recommendation is that we consider the Close (X) button optional.  I can send a PR to update the design documentation to

[2018-01-22 12:57] jeff-phillips-18 opened #172 "ToastNotificationList: Removing last toast notification removes auto-dismiss feature"
If I close the last toast notification in the list via the close button, the other notifications do not auto-dismiss after the timer delay period expires.

[2018-01-22 15:21] jgiardino commented on #153
Thanks, @mcarrano! I agree with making the Close button optional.

[2018-01-22 20:08] danseethaler commented on #153
Great thanks everyone! I'll submit a PR to make this happen.

[2018-01-23 14:23] jeff-phillips-18 opened #174 "ListView does not support compound expansion"
The current implementation of ListView does not support compound expansion.
Pattern can be seen at http://www.patternfly.org/pattern-library/content-views/list-view/#example-code-3

[2018-01-23 18:15] michaelkro opened #176 "Error in path for GitHub repo"
If a new contributor follows the current guidelines, they will encounter an error when trying to pull code from the upstream remote due to a typo.

[code]

should be

[code]

[2018-01-23 18:50] serenamarie125 opened #178 "Component : Tree View"
Provide implementation for the [PatternFly TreeView](http://www.patternfly.org/pattern-library/widgets/#bootstrap-tree-view)

Need to clarify the amount of work is in scope for this Issue - it's very basic functionality, for the initial feature.  We should be able to follow up with incremental functionality as needed.

Test page for the PF core implementation can be found here for comparison: http

[2018-01-23 19:51] #176 closed

[2018-01-23 20:20] #52 closed

[2018-01-23 20:32] #153 closed

[2018-01-24 00:28] serenamarie125 opened #180 "Component : Time Picker"
Provide implementation for the [PatternFly Time Picker](http://www.patternfly.org/pattern-library/widgets/#timepicker)

Test page for the PF core implementation can be found here for comparison: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/time-picker.html

Include story examples demonstrating this features in a mock application scenario

[2018-01-24 00:34] serenamarie125 opened #181 "Kebab menu placement is off"
The kebab menu placement in the storybook is a bit off
https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Right%20aligned=false&selectedKind=DropdownKebab&selectedStory=DropdownKebab&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

The arrow should be pointing at the kebab

FYI, the PF core test page works as expected : https://rawgit.com/p

[2018-01-24 00:35] serenamarie125 opened #182 "Component : Progress Bars"
Provide implementation for the PatternFly [Progress Bars](http://www.patternfly.org/pattern-library/widgets/#progress-bars)

Test page for the PF core implementation can be found here for comparison: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/progress-bars.html

Include story examples demonstrating this features in a mock application scenario

[2018-01-24 00:46] serenamarie125 opened #183 "Component : Slider"
Provide implementation for the [PatternFly Slider](http://www.patternfly.org/pattern-library/forms-and-controls/slider/)

Test page for the PF core implementation can be found here for comparison: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/bootstrap-slider.html?

Include story examples demonstrating this features in a mock application scenario

[2018-01-24 00:57] serenamarie125 opened #184 "Component : Application Launcher"
Provide implementation for the [PatternFly Application Launder](http://www.patternfly.org/pattern-library/application-framework/launcher/)

Test page for the PF core implementation can be found here for comparison: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/application-launcher.html

Include story examples demonstrating this features in a mock application scenario

[2018-01-24 14:53] jeff-phillips-18 commented on #181
This is due to `Dropdown` adding the `btn-group` class to the kebab.

`<div class="dropdown-kebab-pf dropdown open btn-group"`

which adds styling to the kebab button:

`.btn-group > .btn:first-child {
    margin-left: 0;
}`

[2018-01-24 14:57] jeff-phillips-18 commented on #181
Looks like this would be fixed by https://github.com/patternfly/patternfly/pull/835

[2018-01-24 15:02] jgiardino commented on #181
Yes
@jeff-phillips-18 would you have time to review that one so that it can get merged?

[2018-01-24 15:05] ZitaNemeckova commented on #182
@serenamarie125 can you please assign it to me? Thanks :)

[2018-01-25 04:05] #174 closed

[2018-01-25 11:33] jeff-phillips-18 commented on #181
Fixed by upgrading to Patternfly 3.37.6

[2018-01-25 11:33] #181 closed

[2018-01-25 13:22] tstrachota opened #187 "Component - Inline edit"
Implementation of inline editing in forms, tables and list view:
http://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/

Patternfly currently contains only design of inline edits so the styles will most likely need to be implemented prior to adding the components.

[2018-01-25 15:40] jeff-phillips-18 commented on #187
Thank you for using the project board! :1st_place_medal:

[2018-01-25 21:15] jgiardino commented on #187
+1 for using the project board!

@tstrachota Another option is to add the css in patternfly-react first since this implementation doesn't exist in core, and then we can create a separate issue to add the css to patternfly core. Just keep in mind that any css we add to patternfly-react should follow the [patternfly coding guide](http://codeguide.patternfly.org/).

[2018-01-26 13:21] ZitaNemeckova commented on #182
https://github.com/patternfly/patternfly-react/pull/188

[2018-01-26 16:18] danseethaler opened #189 "Add auto-complete component"
I wanted to start a discussion about adding an auto-complete component to patternfly-react. I understand there isn't an official specification for this in the patternfly core but it's a common component that we may want to support. I started building one in Foreman using the downshift library and I thought it would be worth submitting here for discussion. You can check it out on [this storybook](h

[2018-01-26 18:04] priley86 commented on #189
Wonderful! I am a big proponent of this library as it has a very flexible js api surface and exposes primitives capable of any CSS.

Maybe we can do some design/a11y review next?

Great job...

[2018-01-26 18:16] danseethaler commented on #189
Thanks @priley86! Yeah downshift is really terrific and handles a lot of the a11y without much effort on our part. I'm happy to submit a PR if it's easier to review the code that way or if we want to have some more design discussions first we could do that here.

There are a couple of features I haven't implemented yet that I think we'll need.

1. we probably want the component to accept an array

[2018-01-26 19:30] jgiardino commented on #189
This looks like a really nice feature to add! I haven't seen anything in patternfly that addresses auto-complete. I'm adding @maryclarke and @mcarrano just to loop them in on this (and point us to any existing documentation, if any).

I'm always in favor of pushing something just to facilitate review and discussion.

As for keyboard interaction, my preference is to follow what bootstrap 3 has as c

[2018-01-26 20:45] mcarrano commented on #189
I do like the idea of having an auto-complete component in PatternFly core. Adding @andresgalante and @LHinson to the conversation. Not sure what it would mean to add this from a core CSS standpoint. Thoughts?

[2018-01-26 20:52] danseethaler commented on #189
Great feedback @jgiardino. I've created a PR to make the code review easier and added support for headers, dividers, and disabled items.

I've also done some work to enable handling the enter/tab key. I agree with everything you said except I think it may make sense to change the functionality of the tab key. Since this is an autocomplete feature instead of a dropdown button it feels really natura

[2018-01-26 21:24] danseethaler commented on #189
Thanks for pointing out the core CSS implications @mcarrano. The only custom style in this implementation is for the dropdown container [here](https://github.com/patternfly/patternfly-react/pull/190/files#diff-5a2174c8709569017a7fd55ef8c3bcf1R13) so hopefully fairly easy to determine how to handle.

[2018-01-28 12:44] sharvit commented on #182
Closed since introduced in version [1.4.0](https://github.com/patternfly/patternfly-react/releases/tag/v1.4.0)
thanks @ZitaNemeckova :+1:

[2018-01-28 12:44] #182 closed

[2018-01-29 17:46] jgiardino commented on #189
I checked out the storybook. I agree with you about the key commands, @danseethaler. After playing around with the control, I think what you have works really well.

[2018-01-29 18:17] priley86 commented on #189
another thing I really <3 about this upstream project is it's being contributed to by one of the lead a11y experts in our field, Marcy Sutton. I know her through a friend of a friend leading a local Girl Develop It chapter - it might be worth reaching out and saying "hi" @jgiardino  😸

https://marcysutton.com/about/

[2018-01-29 18:50] mturley commented on #180
This was mentioned today on slack as a need. Not sure what our process is for prioritizing stuff based on community input.

[2018-01-29 20:04] priley86 opened #192 "Component - Base Card"
Create the [base component Card](http://www.patternfly.org/pattern-library/cards/base-card/
)

This will be the base for the following components:
[Aggregate Status Cards](http://www.patternfly.org/patter

- n-library/cards/aggregate-status-card/) #206
- [Trend Card](http://www.patternfly.org/pattern-library/cards/trend-card/) #207
- [Utilization Bar Card](http://www.patternfly.org/pattern-library

[2018-01-29 20:14] priley86 opened #193 "Component - Utilization Bar"
Implement the Utilization Bar Chart demonstrated here:
http://www.patternfly.org/pattern-library/data-visualization/utilization-bar-chart/
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/utilization-bar-charts.html

Dev Notes:
It seems like this component can be written as a vanilla js component (as it's quite simple). We had something like [this](https://github.com/patternfly-webc

[2018-01-30 08:20] gilad215 commented on #192
I would like to work on this issue

[2018-01-30 20:15] priley86 commented on #192
Hello @gilad215 - i think we should break down these components into their smaller elements as much as is feasible (i.e. these JSX class components typically follow the `class` referenced in the div's). So yes - I would propose breaking down Heading, Title, Body, etc. We will need to ensure the base jsx elements created can be used alongside each of the Card variations where necessary (so feel fre

[2018-01-30 23:16] serenamarie125 opened #197 "About should allow for an optional image for product name"
Enhance the About screen to optionally take an image (which is text) which can be shown on the About screen.

This is a requirement for some of our products don't have product identity logos, but have an image including the product name in a specific font.

Note that this is already supported in login & masthead ( top banner )

[2018-01-31 14:09] mturley opened #200 "Move controlled.js helper into its own package?"
Long-term, low-priority, but the controlled state helper that I wrote as part of #88 is a great candidate for a utility repo that would be useful to the React community at large (even those who aren't using patternfly-react). I was quite surprised to see that something like it didn't really exist yet.

It might be cool to document and share it, as a repo at perhaps `patternfly/react-controlled-sta

[2018-01-31 14:23] serenamarie125 opened #201 "Expose several NPM packages"
Currently, PatternFly React only exposes a single NPM package “patternfly-react” and exposes all modules within a single package in an automated semantic release process.

In the long term, it would be nice to expose several NPM packages in an automated semantic release process via a single repository, a “monorepo”. This will allow further breakdown of the distributions and reduce the dependency t

[2018-01-31 14:26] priley86 commented on #200
i think this relates to #160 - ideally long term we can get maximum visibility on pf-react related distributions in a "monorepo", however I am not opposed to exposing packages in separate repos if that becomes the consensus (and also not opposed to separate repos when those packages are cross framework/generic es6 modules). Maintaining a separate package is minimal effort if automated release tool

[2018-01-31 14:32] mturley commented on #200
Ah, yes! A monorepo with multiple npm packages deployed from it. Hadn't thought of that, that will probably work great. And in fact, if people wanted to look at the source for this helper they'd end up at the source for all of patternfly-react, which is great for visibility.

Relevant: #201

[2018-01-31 15:19] #197 closed

[2018-01-31 16:17] priley86 commented on #107
moving this to backlog - additional features can be added in future pr's.

[2018-02-01 03:12] serenamarie125 commented on #192
@priley86 I'd suggest that we change the scope of this issue to be focused solely on the base card : the design elements can be found here: http://www.patternfly.org/pattern-library/cards/base-card/#design

I'd like to create individual issues for each of the following : Aggregate Status Cards, Base Card, Trend Card, Utilization Bar Card

Are you ok with that ?

[2018-02-01 03:13] serenamarie125 commented on #193
@ZitaNemeckova is this something you could start on?  It's similar to what you did with Progress Bar

[2018-02-01 11:50] jeff-phillips-18 commented on #107
@priley86 Would it make more sense to close this issue and open another to add the additional features? Seeing this in the backlog makes me believe there is no Data Table support.

[2018-02-01 14:31] priley86 opened #204 "Enhancement - Data Tables"
In this issue we will build on the existing Data Table Component implemented in #107.

Link to current PF Design docs:
https://github.com/patternfly/patternfly-design/blob/master/pattern-library/content-views/table-view/design/overview.md

Some remaining features which PatternFly currently has design for and could be implemented now:
* Simplified API consumption via `controlled` HOC and `DataTable

[2018-02-01 14:32] priley86 commented on #107
@jeff-phillips-18 sure - closing this issue and opened an additional issue in #204 to capture additional data table work.

[2018-02-01 14:33] #107 closed

[2018-02-01 15:14] priley86 opened #205 "Component - Aggregate Status Card"

[2018-02-01 15:15] #205 closed

[2018-02-01 15:18] serenamarie125 opened #206 "Component - Aggregate Status Card"
Create the [Aggregate Status Card](http://www.patternfly.org/pattern-library/cards/aggregate-status-card/) , based off of the [PatternFly Base Card](http://www.patternfly.org/pattern-library/cards/base-card/)

Note that the Base Card has an associated [Issue#192](https://github.com/patternfly/patternfly-react/issues/192)

Dev Notes:
Ideally - we can also provide some simple helpers on top of the c

[2018-02-01 15:19] serenamarie125 opened #207 "Component - Trend Card"
Create the [Trend Card](http://www.patternfly.org/pattern-library/cards/trend-card/) , based off of the [PatternFly Base Card](http://www.patternfly.org/pattern-library/cards/base-card/)

Note that the Base Card has an associated [Issue#192](https://github.com/patternfly/patternfly-react/issues/192)

Dev Notes:
Ideally - we can also provide some simple helpers on top of the core Card components to

[2018-02-01 15:19] serenamarie125 opened #208 "Component - Utilization Bar Card"
Create the [Utilization Bar Card](http://www.patternfly.org/pattern-library/cards/utilization-trend-card/
) , based off of the [PatternFly Base Card](http://www.patternfly.org/pattern-library/cards/base-card/)

Note that the Base Card has an associated [Issue#192](https://github.com/patternfly/patternfly-react/issues/192)

Dev Notes:
Ideally - we can also provide some simple helpers on top of the

[2018-02-01 19:32] mcarrano commented on #204
Just to address your questions @priley86 ...

* We don't specifically call our Export to CSV as an action. I guess it's something that is use case dependent. @serenamarie125 do you see a need for this?
* We do currently have a pattern for a Tree List, but not a Tree Table, although these would seem pretty similar. See http://www.patternfly.org/pattern-library/content-views/tree-list-view/
* We als

[2018-02-05 15:23] ZitaNemeckova commented on #193
This one's tricky but I'm working on it (https://github.com/patternfly/patternfly-react/pull/211)

[2018-02-06 20:38] #115 closed

[2018-02-08 14:22] dabeng commented on #183
Hi @serenamarie125 . I made a **[Demo](https://rawgit.com/dabeng/patternfly/slider-dist/dist/tests/bootstrap-slider.html)** to implement the expected behavior described on design doc of patternfy.org.

[2018-02-08 19:46] benjaminapetersen opened #214 "Top level menu item in VerticalNav should close on second click"
It's a bit confusing that repeatedly clicking a top-level item does not toggle the menu open/close.

![2018-02-08 14 41 34](https://user-images.githubusercontent.com/280512/35994380-3ceb3686-0cde-11e8-91ea-871d6bbcbe75.gif)

I also noticed that a click outside of the menu occasionally didn't close the menu w/o a second click.

[2018-02-10 00:22] dabeng commented on #189
This recommend was also put forward on patternfly repo before - [typeahead or autocomplete is very popular plugin which should be introduced into patternfly](https://github.com/patternfly/patternfly/issues/332)

[2018-02-10 03:17] benjaminapetersen opened #215 "Migrate from npm to yarn"
Per [comments on issue 19 in patternfly-react-demo-app](https://github.com/patternfly/patternfly-react-demo-app/issues/19#issuecomment-364618983), since `yarn` is being used in products, consider migrating repos from `npm` to `yarn`.

[2018-02-11 06:07] dabeng commented on #180
@serenamarie125 @priley86 I managed to make a **[demo](https://rawgit.com/dabeng/patternfly-react/t-p-dist/.out/index.html?selectedKind=Timepicker&selectedStory=Timepicker&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs)** for component timepicker. Please review and if it makes sense, I'm glad to commit the according PR :blush:

[2018-02-12 15:26] priley86 opened #217 "Enhancement - Pagination previous/next paging"
Create support for Paging component:
PatternFly design documentation: https://www.patternfly.org/pattern-library/navigation/pagination/

Follow up enhancement from #123

Include story examples demonstrating paging into a mock application scenario

* ~~Add pagination row component (for use in list view, table view, card view)~~ (finished in #143)
* Add simple previous/next pagers [here](https://raw

[2018-02-12 15:27] priley86 commented on #123
Opened #217 to add the simple previous/next paging buttons. Closing this one and putting back to the backlog.

[2018-02-12 15:27] #123 closed

[2018-02-12 15:31] priley86 commented on #201
Referencing our other [discussion](https://github.com/patternfly/patternfly-react/pull/160#issuecomment-361946200) on this here too. Support for this is currently being added to semantic-releases upstream: https://github.com/patternfly/patternfly-react/pull/160#issuecomment-361946200

[2018-02-12 15:40] priley86 commented on #54
I believe we can target the Downshift component for selects/multiselects as well. That work was started here:
https://github.com/patternfly/patternfly-react/pull/190

Moving this to backlog for now...

[2018-02-13 13:23] karelhala opened #218 "[Discussion] How to create bussiness logic components?"
Since patterfly is our main pattern library framework and react is starting to be used accross multiple projects it would be nice to create couple of business logic components, e.g. more complex components to be used accross multiple projects.

This repository is really great way how to style and create multiple components as building blocks for each application. However it lacks some more complex

[2018-02-13 14:43] jeff-phillips-18 commented on #214
Is this in hover disabled mode?

[2018-02-13 15:19] priley86 commented on #218
@karelhala thanks for raising this (I think others have as well). I think our long term plan is to move this repo to a monorepo. We have another issue on this topic started here:
https://github.com/patternfly/patternfly-react/issues/201

Does this help? Would you be OK closing this issue and referencing that one?

[2018-02-13 15:53] karelhala commented on #218
@priley86 yeah, that basically answers my question. I should have looked into issues before rasing this one. So closing it and I'll continue discussion in #201.

[2018-02-13 16:00] karelhala commented on #201
I really like the idea of monorepo and splitting code into separate bundles which can be included one by one and make it easier to maintain and have much more sophisticated components in this repo. However I would not use multiple packages, that might be the end goal in future, but right now we can use webpack and it's [libraries](https://webpack.js.org/guides/author-libraries/#expose-the-library)

[2018-02-13 16:47] priley86 commented on #218
hey @karelhala - i am thinking about this a bit more... just would like some clarity since it is a good question. Do you see the need to potentially create alternative repos for specific products or the potential to create more shared UI components that are specific to PatternFly? I guess that is the key distinction here... if they are UI components specific to PF, I would think they would live he

[2018-02-13 18:05] priley86 opened #219 "Test coverage: Charts"
Coveralls indicates current coverage is 35% for Charts. This would be nice to improve upon as "good first issues" while familiarizing with the repo. Just going to identify a few of these for now...

https://coveralls.io/github/patternfly/patternfly-react?branch=master

[2018-02-13 18:11] priley86 opened #220 "Test coverage: Toast Notification"
Coveralls indicates current coverage is 43% for Toast Notification.

https://coveralls.io/github/patternfly/patternfly-react?branch=master

It would be nice to improve this.

Bonus:
Our current Toast Notification example in Storybook  is not wrapped with a `toast-notifications-list-pf` div and alignment is off. Wrapping that example with `ToastNotificationList` should address the issue.
<img width

[2018-02-13 20:59] #56 closed

[2018-02-14 12:36] dabeng commented on #187
@jgiardino Great idea. Recently I focused on "inline edit on form". It involves five types of existing patternfly widgets, so rate of progress is a little slower than developing common widgets.

[2018-02-14 13:56] serenamarie125 commented on #180
@jgiardino @maryclarke from a design perspective, there are differences as well
1 - AM/PM button versus arrows
2 - if the user edits in the text field, should the drop panel automatically close?  Because right now in both examples, the drop panel remains displayed ...
3 - should the AM/PM be optional?  Often 24 hour time is displayed

@Rohoover from a visual perspective, there are a bunch of diffe

[2018-02-14 14:15] priley86 opened #221 "Update to Storybook 3.3"
Ensure all `@storybook` dependencies can be updated to 3.3.

I noted the following problems w/ constants as propTypes when attempting this in the past (however it appears there is a workaround).
https://github.com/patternfly/patternfly-react/pull/147#issuecomment-355323113

It would be nice if someone can follow up on this on react-docgen notation.

[2018-02-14 14:40] karelhala opened #222 "Component - Filter label with remove button"
As Filter is using filter item which basically is using Label with remove button, it would be nice to expose Label with remove button as well. This way we can use these labels on more places.

Currently used for instance in [Filter](http://www.patternfly.org/pattern-library/forms-and-controls/filter/)

### Label with remove button
![screenshot from 2018-02-14 15-40-06](https://user-images.githubus

[2018-02-14 15:05] karelhala commented on #218
Well there might not be need for additional repos per product. But it would be beneficial since patternfly can work on core components with their own merge/review process and repo for multiple teams/repo per team can be managed by said team. However this can be achieved by letting other's merge in monorepo of patternfly (don't know how that can be possible).

I aggree with you that **all** UI comp

[2018-02-14 16:20] jeff-phillips-18 opened #224 "Vertical navigation controlled state gets confused when no initial item is active"
When starting with no active items then setting an active item, the first active item remains considered active and is highlighted.

[2018-02-14 16:32] priley86 commented on #218
@karelhala we had a short conversation this morning in the maintainer meeting. We are looking to open up some meetings to others in the future (so look for an invite if you are interested).

From the sounds of it, we can start introducing domain specific components in a new directory here in PF-React for now. However, all newly introduced components should go through a proper vetting process (and

[2018-02-14 16:35] priley86 commented on #201
Responded in #218 regarding organization. I think using webpack to expose commonJS/AMD definitions here is a separate issue from this one now (as far as moving to automated semantic releases of monorepo is concerned).

Do you mind starting a separate issue on webpack/AMD? I think right now, exposing our babel transpiled es6 modules is working fine, and we leave code splits to Webpack on the applic

[2018-02-15 13:32] epastorc opened #227 "Error with ListView.Item"
I have the following problem with this component.

[code]
I use it in this way(as in the examples).

[code]
Thanks.

[2018-02-15 14:29] Rohoover commented on #180
@serenamarie125 @maryclarke @jgiardino

So I checked out the [pf documentation](http://www.patternfly.org/pattern-library/widgets/#timepicker) as well as what is available on the [rawgit site](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/time-picker.html) the top example in Serena's post seems to be the correct design as it's reflected in both areas.

As a personal note I prefer

[2018-02-15 15:21] maryclarke commented on #180
I personally like the AM/PM with carrots as well rather than a toggle button.  I do believe that the AM/PM should be optional so that if for localization the time picker needs to reflect 24 hour time, there is no confusion.

For your second point @serenamarie125, I think that at the very least, if the dropdown stays open, it should reflect the time that the user is typing, but I am ok if it does s

[2018-02-15 16:46] jgiardino commented on #180
@Rohoover I think the pf documentation and rawgit site are pulling the same example, which is why they match.

Regarding visual styling, I wanted to point out that this component is based on a third-party component. In general when we are implementing the JS version of a PF component based on a third-party component, I think we should question whether the visual styling shown in the core patternfl

[2018-02-15 17:04] Rohoover commented on #180
@jgiardino

Ah ok. I didn't realize that what was being used wasn't from PF in terms of iconography etc. I assumed since it was in the documentation that it had previously been vetted.

YES - lets use those PF icons.

To elaborate on my preference of a caret for AM/PM. Currently we're using a button that is toggling am/pm. That seems like a misappropriation of a button. Just my $0.02.

[2018-02-15 20:42] priley86 commented on #159
Fixed in #228

[2018-02-15 20:42] #159 closed

[2018-02-15 21:26] priley86 opened #229 "Consistency - Use ...props for destructing/spread'ing props"
Would like to standardize on this if possible and use `...props` globally going forward. We may also need to break out a few nested inlined components into `InnerComponents` directory so that `no-shadow` lint rule doesn't break once airbnb config is merged.

Just opening this issue first though.

[2018-02-15 21:26] priley86 opened #230 "Consistency - use "classNames""
Per the vote yesterday, we can use `classNames` globally instead of `cx` or `ClassNames`.

[2018-02-15 22:30] AllenBW commented on #230
Gonna propose some work for this issue, in addition to the transition, document this convention (like in an .md or something neat like that)

[2018-02-15 22:35] AllenBW commented on #229
Hmmm also perhaps include the retroactive transition  across the repo as to avoid confusion?
And as I mentioned in #230... add mention of this consensus convention https://github.com/patternfly/patternfly-react/blob/master/CONTRIBUTING.md#code-consistency

[2018-02-16 14:30] ZitaNemeckova commented on #208
@serenamarie125 Do you mean Utilization Bar Card or Utilization Trend Card? First link is pointing to the second card.

[2018-02-16 16:22] sjd78 opened #232 "Component: Date Picker"
Provide an implementation for the Patternfly Date Picker.

See [Patternfly Bootstrap Datepicker widget](http://www.patternfly.org/pattern-library/widgets/#bootstrap-datepicker) and [Patternfly Form and Controls Datepicker](http://www.patternfly.org/pattern-library/forms-and-controls/datepicker/).

See PR #226

[2018-02-16 16:24] sjd78 commented on #232
My intention is to integrate the [DateTimePicker](http://jquense.github.io/react-widgets/api/DateTimePicker/) from [react-widgets](http://jquense.github.io/react-widgets/) and align with PF style and UX designs.

[2018-02-19 10:40] ohadlevy opened #234 "missing Icon storybook"
Icon has no storybook, please add a few examples - thanks

[2018-02-19 12:53] priley86 opened #235 "Airbnb Config"
In this issue, we will adopt the [Airbnb React config](https://www.npmjs.com/package/eslint-config-airbnb) for further enhancing PF React standards. This should aid in PR reviews and help us further a more consistent codebase.

[2018-02-19 12:56] priley86 opened #236 "Enhancement - Airbnb/A11y Config"
In this issue we will further review Airbnb Config/Eslint Configs available (or those currently disabled such as `eslint-plugin-jsx-a11y` rules) and further refine our code standards.

[2018-02-19 12:56] priley86 commented on #236
cc: @jgiardino

[2018-02-19 14:55] AllenBW commented on #172
confirmed, looks like the timer is getting jacked 🆙 ... if ya close last notification, hover over others, **then** they close... otherwise, they persist FOR ALL ⌛️

working this presently 🌮 💃

[2018-02-19 18:12] #220 closed

[2018-02-19 22:40] AllenBW opened #237 "Open browser window when running `npm start`"
Terribly handy for development, when running `npm run start` or `npm start` storyboard starts up, but who wants to manually enter `http://localhost:6006`!

not me 😏

[2018-02-19 22:47] priley86 commented on #235
Closed via #216

[2018-02-19 22:47] #235 closed

[2018-02-20 19:03] AllenBW commented on #217
adding #162 as a record of another place where pagination was done to this issue

[2018-02-20 19:58] #237 closed

[2018-02-20 19:59] lucasponce opened #239 "VerticalNav combined with Link from react-router-dom"
Perhaps this question is quite simple but I don't see an obvious way to combine something like:
[code]

or this other attempt

[code]
seems to not work properly.

Any advice about how to use this component ?

I see in https://github.com/patternfly/patternfly-react-demo-app/blob/master/src/components/Nav/VerticalNav.js that the component is completely re-written and I would like to re-use it.

Any

[2018-02-21 10:39] tstrachota commented on #187
https://github.com/patternfly/patternfly-react/pull/240

[2018-02-21 13:19] serenamarie125 opened #241 "Component - Import File"
Provide a component to import a file -

There is some associated PF design work for this https://github.com/patternfly/patternfly-design/issues/506

[2018-02-21 20:22] cdcabrera opened #244 "Minor Issue around Wizard Steps PropTypes.string"
Appears the Wizard ```step: PropTypes.string``` and ```activeStep: PropTypes.string``` stipulate using a string instead of a number for comparison. The functionality is designed around unique label implementations.

Look at expanding the component properties to allow numbers, for implementations that don't want to "stringify" numbers.

- https://github.com/patternfly/patternfly-react/blob/master/s

[2018-02-22 03:28] dabeng commented on #180
Hi @Rohoover @serenamarie125 , could you send a link to show the correct design ?

[2018-02-22 03:54] dabeng commented on #180
@jgiardino I developed this react version of datetimepicker based on https://github.com/YouCanBookMe/react-datetime

[2018-02-22 04:21] dabeng commented on #180
@jgiardino currently, react-datetime doesn't provide API to customize the layout of time, so if we want to get the same style of drop panel we need to send PR to upstream repo.

[2018-02-22 14:51] priley86 opened #247 "Review InfoTip eslint fixes"
@aljesusg when you get a chance, please review fixes in this PR and additionally lint rules. I was not able to address some of these now (but I think we can do better later).

https://github.com/patternfly/patternfly-react/pull/246

[2018-02-22 14:55] AllenBW commented on #217
@priley86 @sharvit @jeff-phillips-18  Ok so been chewing on this one for a bit... leaning towards making the following approach:

1. make a  `<Pager>` component, for the simple previous/next buttons that encompasses the two sizes seen below
<img width="981" alt="screen shot 2018-02-22 at 9 50 15 am" src="https://user-images.githubusercontent.com/6640236/36544981-d2bfc97e-17b5-11e8-9d4b-48a5cdc77f7

[2018-02-22 15:03] aljesusg commented on #247
LGFM the PR #246

[2018-02-22 16:03] sharvit commented on #217
The 3 steps make tons of sense to me.

About step 3,
I am not sure I understand,
what is `<Paginator>`? don't we currently have a proper `<PaginationRow>` component?

Could be nice to recompose them under `Card.PaginationRow`, `Table.PaginationRow` `List.PaginationRow`

[2018-02-22 16:20] AllenBW commented on #217
Oh yeah, woops, its called `<PaginationRow>`

scrap step three, will make <Pager> and <Pagination> who will all live under the Pagination storybook

[2018-02-22 16:23] #244 closed

[2018-02-22 21:28] #172 closed

[2018-02-23 12:03] sharvit commented on #217
I think it makes sense to demonstrate the `<PaginationRow>` naked under the `Pagination` storybook.
For cards/tables/lists can do a full story with pagination (or add to an existing story if it makes sense).

[2018-02-23 13:59] AllenBW commented on #217
hmm by naked... do you mean.... in a story without pager and pagination components?

Below is what I am presently working towards:
<img width="966" alt="screen shot 2018-02-23 at 8 58 33 am" src="https://user-images.githubusercontent.com/6640236/36597653-c7174f08-1877-11e8-832f-3f01c76c7f1a.png">

[2018-02-24 12:02] sharvit opened #250 "Abusing the __mocks__ folder"
**The `__mocks__` folder became a very popular convention in this project.**
It mostly used to wrap components and demonstrate them in a storybook.

But, the jest framework has a totally different story about it:

**Those manual mocks can be an amazing tool when writing tests!**
https://facebook.github.io/jest/docs/en/manual-mocks.html

There is any reason why we are abusing the `__mocks__` conven

[2018-02-24 12:31] priley86 commented on #250
Yea...+1 Avi. I think mocks folder can really be used for auto mocking like Jest describes (am using that feature downstream now). I think we can move current mocks into “Stories” folder and start to use mocks for auto mocks in our tests?

[2018-02-24 12:31] priley86 commented on #250
Thanks for raising this!

[2018-02-26 03:41] dabeng commented on #187
Additional Information:
1. All the components used in "inline-edit in a form" are existing components listed in patrernfly library section of patternfly.org;

2. Currently, "inline-edit in a form" pattern includes 6 types of input field - enhanced text box, enhanced textarea, simple  single select of bootstrap select, multiple select of bootstrap select, bootstrap combobox, bootstrap datepicker;

[2018-02-26 14:08] priley86 commented on #250
@sharvit do you want to take a stab at addressing this one? Would be nice to resolve it now that you mention it...

[2018-02-26 14:49] sharvit commented on #250
@priley86 I want to but not sure it can fit into my work schedule for the next 2-3 weeks.

Let keep tracking it for a while and if no one will take it, i will :+1:

[2018-02-26 15:06] priley86 commented on #250
@sharvit i'm happy to clean this up. I think after discussing a bit w/ @jeff-phillips-18, we will move them into "Stories" and rename the `[Mock]Component.js`'s existing in `__mocks__` to `Stories/Component[Manager].js`. This should be more consistent but I just wanted to make sure that the example stateful managers are denoted differently from others. I'll take a stab at this over the week and we

[2018-02-26 15:07] priley86 commented on #250
probably need to add some conventions to contributing.md on this too...

[2018-02-26 18:26] AllenBW opened #253 "PaginationRow - Disabled buttons fire click events"
Disabled buttons should not execute functions (cuz then what's the point of disabling the... 😕 )

[2018-02-27 09:23] sharvit commented on #217
@AllenBW sorry for the confusion.
By naked I meant just render the component without the context (Card, Tables, etc...) like it does now.

- Storybook
  - Pagination
    - Pager
    - Pagination
    - **PaginationRow** /* naked */
  - Card
    - Some card story
    - Some card story
    - **Card with PaginationRow** /* in the cards context */
  - Table
    - Some table story
    - Some table story

[2018-02-27 12:31] laviro commented on #183
Working on this issue

[2018-02-27 13:07] AllenBW commented on #217
gotcha! yeah without context, that makes sense, no confusion @sharvit , its the direction I was heading 👍

[2018-02-27 15:13] AllenBW commented on #217
@serenamarie125 quick question about https://www.patternfly.org/pattern-library/widgets/#pagination

The default pagination widget, does clicking a right or left arrow change all numbers in the range? (eg if 1, 2, 3, 4, 5 are show, clicking the right arrow would result in 6, 7, 8, 9, 10 being shown) Or increment by one (1, 2, 3, 4 becomes 2, 3, 4, 5)

@patrick OR do we want this component to be un

[2018-02-27 17:20] sharvit commented on #250
@priley86 What about `ComponentPattern.js`?
https://github.com/patternfly/patternfly-react/pull/256

[2018-02-27 17:25] serenamarie125 commented on #217
@AllenBW let me see if I can dig up some mocks which are reflective of the thoughts on PF documentation.  Currently it's not in a great state, and there is an associated Issue with it https://github.com/patternfly/patternfly-design/issues/559

[2018-02-27 17:56] serenamarie125 commented on #217
IMO we want this pagination row
<img width="1015" alt="screen shot 2018-02-27 at 12 40 15 pm" src="https://user-images.githubusercontent.com/12504403/36745456-8b49b6a2-1bbd-11e8-961b-691664bb0cfe.png">

[2018-02-27 18:02] AllenBW commented on #217
yeah! has been implemented, wondering if the rest of the pagination widgets should be implemented? if yes, pager is done... just unsure of behavior of the `default pagination` widget

[2018-02-27 18:06] serenamarie125 commented on #217
@priley86 @AllenBW IMO we need the pagination row to be utilized in card, list & table views.  I'm not sure what the other paging use cases would cover.  Thoughts ?

[2018-02-27 18:11] AllenBW commented on #217
@serenamarie125 I could see the next previous button having a generic use... possibly a building block for other components, but can't say I see much use for the default pagination widget (given that pagination row exits)

[2018-02-27 18:22] AllenBW commented on #217
@serenamarie125 @priley86 I'd like to propose this work be rescoped to only include the pager, in which case the outstanding pr will be recalibrated and unwipped

[2018-02-27 20:28] jgiardino commented on #217
Unless there is a specific product need to include the [bootstrap Pager example](https://getbootstrap.com/docs/3.3/components/#pagination), can we close this issue? The pagination row that is implemented in #143 is the supported PatternFly pagination pattern, and the one we want to encourage people to use.

[2018-02-27 22:19] AllenBW commented on #217
Ooooo I guess we could do that... this issue took a turn from "good first issue" to "bad first issue" 😭

[2018-02-28 13:01] AllenBW opened #257 "Investigate adding Enzyme test utility"
Snapshots are great! but only getcha so far... looking into 👇
https://github.com/airbnb/enzyme

[2018-02-28 14:08] sharvit commented on #257
Interesting!
We are using the enzyme in [foreman](https://github.com/theforeman/foreman) and I have started thinking, is it legit? why not just using the `react-test-renderer`?

Any pros that inspire you to migrate?

[2018-02-28 15:37] AllenBW commented on #257
OH gosh yes.. many MANY pros... for one, its less code `shallow(<foo/>).getElement()` is all yah need to matchsnapshot...

[code]

the tools available to shallow rendering are... amazing... 😌 👇
https://github.com/airbnb/enzyme/blob/master/docs/api/shallow.md

[2018-02-28 15:47] #193 closed

[2018-03-07 11:36] #234 closed

[2018-03-07 11:39] #253 closed

[2018-03-09 08:28] gilad215 opened #267 "Component : Notification Drawer"
#264

[2018-03-09 19:17] priley86 commented on #126
@jeff-phillips-18 @jgiardino can this issue be updated to "remove embedded wizard" references?

[2018-03-10 14:32] #267 closed

[2018-03-12 15:20] Laviro commented on #214
Working on it

[2018-03-12 18:02] #222 closed

[2018-03-13 11:15] Laviro commented on #214
@benjaminapetersen you may set the hoverDisabled prop to true.

[2018-03-13 12:51] Laviro commented on #83
[Check the NotificationDrawer PR #262 made by Gilad](https://rawgit.com/gilad215/patternfly-react/storybook/feature/notif-drawer/index.html?knob-Expanded%20Drawer=false&selectedKind=NotificationDrawer&selectedStory=Stateful%20Drawer%20Wrapper&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs)

[2018-03-13 12:52] Laviro commented on #80
Starting to work on this issue

[2018-03-13 20:08] benjaminapetersen commented on #214
I don't believe it was `hover` triggered, I think it was `click` to open, but then `click` again did not close.

[2018-03-14 12:44] jeff-phillips-18 commented on #126
But we already have support for non-embedded wizard. We can close the issue if we feel we never want to support embedded.

[2018-03-14 16:39] chalettu commented on #230
Going to mark this one as in progress. I am starting work on it.

[2018-03-15 15:31] karelhala opened #270 "Component - Pagination with sort and select"
Since we have pagination row based on http://www.patternfly.org/pattern-library/navigation/pagination/ done we could also create some variations of this pagination.

First variation could be pagination with checkbox for select all and sort

**Both enabled**
![screenshot from 2018-03-15 16-26-14](https://user-images.githubusercontent.com/3439771/37472980-9e902a04-286d-11e8-8e68-b34e2e1e073d.png)

*

[2018-03-16 01:43] priley86 commented on #54
i noted in mIQ/v2v that we still needed to wrap jquery boostrap-select typeahead/select to match the existing mIQ design most closely.  It would be nice to formalize the select/typeahead pattern in PF-React in the future w/ this issue and formally vet the pattern in PatternFly (ensuring a11y, design, forward facing React API support).

[2018-03-16 14:07] AllenBW opened #272 "Infotip does not match pf pattern, missing message dropdown 😱"
kinda related to #247, cept not really...

Looks like the tooltip dropdown is not working here...

### PF pattern for info tip is this
<img width="871" alt="screen shot 2018-03-16 at 10 03 52 am" src="https://user-images.githubusercontent.com/6640236/37524868-8c1a6e7c-2901-11e8-931b-c538709c4f2d.png">

### Present info tip is this
<img width="879" alt="screen shot 2018-03-16 at 10 04 01 am" src="h

[2018-03-16 15:43] #192 closed

[2018-03-16 16:09] AllenBW opened #273 "Form - modal not dismissible - makes documentation kinda uselessssssss 😭"
Maybe instead of launching by default we have it on a button... present state, modal can't be dismissed, makes all the description test and the with info documentation useless

### [its this thing](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Show%20Help=true&knob-Disabled=false&knob-Field%20Level%20Help%20Content=Please%20specify%20Country%20code%20%3Cbr%3E%20%3Ca%20tar

[2018-03-16 16:10] priley86 commented on #273
+1 from me on this..

[2018-03-16 16:26] AllenBW commented on #272
woops

[2018-03-16 16:26] #272 closed

[2018-03-19 13:25] priley86 opened #275 "Visual Regression testing"
I'd like to open this issue for conversation (since I've heard a few folks start to mention it). Visual Regression tests give us more detailed information (pixel-to-pixel) and granular level details about specific browsers. They also keep us aware of CSS changes happening upstream in PF Core (and let us know when something changes here in PF React that is expected/unexpected).

There are many tool

[2018-03-19 13:29] jeff-phillips-18 commented on #275
Sounds great @priley86   Definitely nice to know when things change and if there is little overhead, 👍 👍 👍

[2018-03-19 13:39] Rohoover commented on #275
Agreed. I think this information could be valuable and interesting. 1-Click review/approval sound nice.

[2018-03-19 14:00] maryclarke commented on #275
Agree, without understanding all the technical implications, this sounds like a good addition

[2018-03-19 14:26] LHinson commented on #275
![bitmoji](https://render.bitstrips.com/v2/cpanel/7e6af720-36b5-4740-bd15-f8a9e26af9a2-15206079-98a4-479e-bb46-baa63bbd1a81-v1.png?transparent=1&palette=1&width=246)

@priley86 this would be nice to review at the repo leads meeting

[2018-03-19 15:04] waldenraines opened #277 "ListView: close icon is being displayed even if hideCloseIcon is provided"
You can see this in the [latest storybook](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Stacked=false&selectedKind=ListView&selectedStory=List%20of%20expandable%20items&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs).  The close icon is still being displayed regardless of the presence of `hideCloseIcon`.  I would expect this icon to

[2018-03-19 19:33] #217 closed

[2018-03-20 12:28] AllenBW commented on #273
yep, another of my oversights, show modal knob is already present, achieves the goal of this bug 🤦‍♂️ 👍

[2018-03-20 12:28] #273 closed

[2018-03-20 12:50] priley86 commented on #273
@AllenBW originally it was requested that buttons open modals (that was a design consistency thing with other PF documentation). I'm honestly not hugely worried whether it is driven via Knob or Button, as long as test coverage for these patterns is good. 😸 Maybe it is worth asking for design preference on each pattern (in how you are presenting the stories). I can see the case for presenting the p

[2018-03-20 13:10] AllenBW commented on #273
@maryclarke !!! ok checking out the modal form... then checking out the modal overlay... which do you prefer ?

[2018-03-20 20:36] jgiardino commented on #273
If the question is this: Do we show a modal from clicking a button or by selecting a knob?
I'm inclined to use a button. I do think they should be the same for both examples. And it would be nice to be consistent with test pages in other repos, so if most of those cases are using a button, then that's what I'd suggest doing here.

[2018-03-20 20:54] AllenBW commented on #273
Unsure of what other repos, but I'll morph it however desired. 🌮 🎉

[2018-03-21 18:52] #170 closed

[2018-03-21 19:25] mturley commented on #224
Hmm. I guess maybe `initialActive` should be required, if you are not using `active` somewhere in the tree? hmm that's difficult to enforce. There are custom propTypes functions you can write though so it's doable.

[2018-03-21 19:53] mturley commented on #224
Action items for when I get around to this:

- [ ] Add notes to documentation / code comments / storybook descriptions to explain the workaround of always specifying an active item even if you don't have a real one.
- [ ] Maybe introduce some kind of loading state where it is acceptable to not have an active item
- [ ] Maybe introduce more strict propTypes testing or other warnings/failures when y

[2018-03-21 20:59] #230 closed

[2018-03-21 21:07] jeff-phillips-18 commented on #270
Looks like a combination of the PaginationRow and Toolbar

[2018-03-21 21:13] jeff-phillips-18 commented on #239
@lucasponce Did you see the storybook for Vertical Nav at https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=Vertical%20Navigation&selectedStory=Items%20as%20JSX&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

Have you been able to proceed?

[2018-03-21 21:17] jeff-phillips-18 commented on #227
@epastorc Are you still having an issue with this? Sorry for not seeing this earlier.

[2018-03-21 21:23] lucasponce commented on #239
@jeff-phillips-18 yeah, but unfortunately the Vertical Nav is not very friendly with the Link component, I guess it is not yet supported (or I didn't find a good way to use it without re-implementing the component in plain div+style).

So, we used a workaround invoking the history of the router.

https://github.com/kiali/swsui/blob/master/src/components/Nav/Navigation.tsx#L59

If in future version

[2018-03-22 08:34] epastorc commented on #227
Yes, I have still this problem.
I have tried it  in another way much simpler, but it isn't work (I have the same error).

[code]
[code]
I am using the version 1.8.0.

Thanks.

[2018-03-24 15:27] priley86 opened #287 "Enzyme testing approach / shallow rendering / component instance"
As further analysis is being done on the testing approaches of our React component's done to date here, I would like to revisit cases in the repository where we can begin to use [shallow](http://airbnb.io/enzyme/docs/api/shallow.html) rendering for constructing minimal snapshots that are easier to visualize and maintain. This would ensure snapshots are more targeted to each component and do not as

[2018-03-26 21:09] vojtechszocs commented on #215
I was playing with this today and got it working. Will post a PR soon.

[2018-03-27 15:03] vojtechszocs commented on #215
PR is ready, let me know what you think.

[2018-03-29 00:03] samvarankashyap commented on #184
@dgutride @serenamarie125 I was wondering if i can get a status of the launcher component. I am currently working on a User interface project and would like to add this component. Thank you.

[2018-04-02 11:58] jeff-phillips-18 commented on #287
Agreed, I like this approach much better.

[2018-04-02 15:33] #221 closed

[2018-04-02 15:53] dmiller9911 opened #294 "Remove bindMethods in favor of Class properties"
Class properties are on their way to making it into the spec. Moving to them will also align us better with the greater React community since many projects have adopted this syntax.  Example of the change is below:
### Before
[code]
### After
[code]
[TC39 Proposal](https://github.com/tc39/proposal-class-fields)
[Stage Explanations](https://tc39.github.io/process-document/)

[2018-04-06 16:44] josejulio opened #297 "Infotip fails in Storyboard"
When trying to view the `InfoTip` component inside the Storyboard, I'm getting a:

[code]

Link: https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=InfoTip&selectedStory=InfoTip&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

[2018-04-09 18:30] michaelkro opened #300 "Uncaught error when using Cards with height matching"
Seeing this error in Chrome console when using Card with height matching

[code]

Seems to have something to do with the use of the debounce helper [helpers.js](https://github.com/patternfly/patternfly-react/blob/master/src/common/helpers.js#L10)

## To Replicate Issue
1. Open storybook locally
2. Visit Cards --> Base Card w/HeightMatching
3. Inspect JS console

[2018-04-09 20:25] priley86 commented on #300
Hmm - this is different than the other issue I was having in #296. thanks @michaelkro

[2018-04-09 20:36] #297 closed

[2018-04-09 22:33] dmiller9911 commented on #300
Looks like this is the culpurate: [CardHeightMatching.js#L23](https://github.com/patternfly/patternfly-react/blob/master/src/components/Cards/CardHeightMatching.js#L23)
[code]
The `this._matchHeights([selector])` is invoked inside the debounce arg.  This should be something like
[code]

[2018-04-10 19:33] chalettu commented on #158
@jeff-phillips-18 , I was starting to look at this.  I am wanting to get some input on how you think we should organize this.   Do you want a story per sub component or how do you envision you would like this to be structured?

[2018-04-11 14:05] jeff-phillips-18 commented on #158
@chalettu Typically we do one story but include the doc for each subcomponent in that story.

[2018-04-11 17:51] jgiardino opened #303 "Documentation for structural patterns"
When new UI components are added to patternfly-react, we will usually reference documentation that exists somewhere else (e.g. patternfly.org, react bootstrap, etc...) that explains when/why/how to use the UI component.

But in the case of structural patterns, like #256 and #268, is it obvious to consumers what approach they should take? Are there ways that we can document when/how a consumer woul

[2018-04-11 17:52] jgiardino commented on #303
@jeff-phillips-18 @priley86 @cdcabrera Would you review and provide any comments or suggestions on this? I'm not sure what else I should capture.

[2018-04-11 18:12] jgiardino opened #304 "Organization of storybook examples"
Currently, the way patterns are organized in [patternfly.org](http://www.patternfly.org/pattern-library/) and the [patternfly-react storybook](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html) do not align very well.

As a first step to making the organization of components in storybook better aligned with the information architecture in pf.org, we’d like to introduce a third lev

[2018-04-11 18:17] jgiardino commented on #303
I created this other issue #304 to handle reorganizing the storybook examples, if that's what you're referring to.

We discussed splitting the structural patterns from the UI patterns, but when I look at some of storybook examples for structural patterns like #256, isn't obvious to me how they would be split out.

[2018-04-11 19:15] jeff-phillips-18 commented on #304
without adding another layer I guess that's a good starting point. I'll start taking a look at adjusting to this to see how it goes.

[2018-04-12 17:57] chalettu commented on #158
@jeff-phillips-18 , here is a sample I am working on.  Is this the structure you think is what you would like.
![story examples](https://user-images.githubusercontent.com/230549/38695147-a3a92a04-3e48-11e8-9529-aa7bc8ab9576.gif)

[2018-04-12 18:05] #215 closed

[2018-04-12 18:08] jeff-phillips-18 commented on #158
Yes. However, I am currently working on https://github.com/patternfly/patternfly-react/issues/304 which will change this a bit. Trying to get to one story per component.

I'm ok with you continuing here and I'll update what I do to what you do if you get there first for the list view component.

[2018-04-13 15:03] priley86 commented on #158
Would like to piggyback on this. Showing the variations of the detail expansions would be extra helpful for us.

Relevant PR in V2V/MIQ:
https://github.com/priley86/miq_v2v_ui_plugin/pull/193

[2018-04-13 17:57] #84 closed

[2018-04-15 14:03] gilad215 commented on #303
+1 on this, on the Notification Drawer aswell, we need to give an example of the data that the drawer wrappers expect, it's not shown right now on the storybook.

[2018-04-15 18:09] mturley commented on #303
It would be nice to have a better site for documentation of components and their propTypes, or maybe Storybook could be turned into this site. It is a little annoying that all the important info (At least in the case of my VerticalNav and WizardPattern) is hidden behind a tiny "Show Info" button in the corner that is easy to miss.

A good example of something that might be more useful is the Gromm

[2018-04-16 15:28] priley86 commented on #303
i agree w/ this sentiment and would be OK with gravitating away from Storybook in the long run (someone pitched the idea of following a similar path to PF Next and using Gatsby). It would be great to have a similar skeleton, but I guess as long as the documentation hierarchy follows a similar path, we have options. The Storybook community is doing a lot in the way of improving the core template w/

[2018-04-16 15:31] priley86 commented on #303
i'd also love to think that a new category would apply for canvas type components in the very distant future...but i'm not going to go there right now 😉

[2018-04-16 16:39] #300 closed

[2018-04-16 17:12] #229 closed

[2018-04-17 18:05] #183 closed

[2018-04-19 15:51] AllenBW opened #314 "On text overflow, truncate and employ tooltip"
https://patternfly.slack.com/archives/C4FM977N0/p1524143281000438

tl;dr - [add the functionality of this]( https://github.com/amirfefer/react-ellipsis-with-tooltip) as a knob to existing tooltip

😋 🔨 🛠

[2018-04-19 16:17] cdcabrera commented on #169
This is minor, but if anyone is curious. @jeff-phillips-18  @priley86 Looks like a side piece to this issue/task could be addressing some of the Sass NPM install issues vs the Yarn install.

The `optional dependency` install `"bootstrap-sass": "^3.3.7"` from Patternfly core is where it's at... adding `bootstrap-sass` into PF-React as a some form of dependency resolves NPMs issues.

[2018-04-23 15:35] AllenBW opened #318 "Code Improvement: Breadcrumbs currently do not support React Router Link"
tl;dr add react router support to breadcrumbs

https://github.com/priley86/miq_v2v_ui_plugin/issues/204

[2018-04-24 13:06] gilad215 commented on #184
Talked to @dgutride, i'll take it from here.

[2018-04-25 01:32] serenamarie125 commented on #184
@gilad215 this is great that you are continuing with all these contributions!  Thank you
Our design documentation is here: http://www.patternfly.org/pattern-library/application-framework/launcher/#overview and there already is Core code that exists.

[2018-04-29 12:01] ohadlevy commented on #187
closed via #240

[2018-04-29 12:01] #187 closed

[2018-04-29 12:03] ohadlevy commented on #178
wasn't this done via #196? can we close it?

[2018-04-30 13:36] priley86 opened #321 "Component: Treeview a11y enhancements/Patterns"
Builds on existing Treeview implemented #178 / #196.

Would like to review/implement:
* treeview a11y enhancements
* treeview patterns for the consumer

This has already been started in the following PR:
https://github.com/patternfly/patternfly-react/pull/264

We've already incorporated the existing treeview downstream, but it would be nice to integrate these changes to our existing treeview so ev

[2018-04-30 13:38] priley86 commented on #178
yes - we already consumed it and merged it. I will close this and i've opened #321 for anything else remaining...

[2018-04-30 13:38] #178 closed

[2018-05-02 13:17] jgiardino opened #324 "Document Browser Support"
The PR template should be updated to include a checklist of browsers that a new feature is tested against. Ideally, this checklist would match the one we use in pf core, but we should check if all of those browsers can be supported by react, and exclude any that aren't.

As part of this issue:

- Determine what browsers from the [patternfly core checklist](https://github.com/patternfly/patternfly/

[2018-05-04 14:49] tstrachota opened #326 "Allow disabling confirm buttons on inline edit tables"
`TableConfirmButtonsRow` doesn't publish props for disabling the confirm and cancel buttons. The confirm button should be disabled until values are edited. That's currently not possible.

[2018-05-04 18:44] AllenBW opened #327 "Dangling timed notification, (aka why won't that thing dismiss)"
[So we found this issue in v2v... ](https://github.com/priley86/miq_v2v_ui_plugin/issues/275#issuecomment-386579768)
where yah get a dangling notification when all are on a timer (> 1 notifications, everyone `persistent=false`), usually the last notification remains.  This is annoying because all were set to dismiss, why didn't the last one dismiss!! 😭 :rage4: 👎

[2018-05-07 16:48] #327 closed

[2018-05-09 20:01] #201 closed

[2018-05-10 09:31] mareklibra opened #337 "Incorrectly published patternfly/react-console"
After https://github.com/patternfly/patternfly-react/pull/332 , the `@patternfy/react-console` is published without relevant JS and styling content.

Observed in @patternfy/react-console 1.1.0.

To reproduce:
[code]

Expected to see:
Built JS and styling files.

[2018-05-10 09:32] mareklibra commented on #337
For completeness, `yarn build` produces `packages/console/dist` correctly

[2018-05-10 11:55] karelhala opened #338 "Missing storybook for couple of components"
When I was reviewing the folder structure after merging monorepo (which is awesome!) I found out that couple of components are missing storybook.
* [ ] dropdown: [code](https://github.com/patternfly/patternfly-react/tree/master/packages/core/src/components/Dropdown)
* [ ] inline edit: [code](https://github.com/patternfly/patternfly-react/tree/master/packages/core/src/components/InlineEdit)
* [ ] n

[2018-05-10 14:15] jeff-phillips-18 opened #340 "SerialConsole shows some extraneous components"
The SerialConsole is now showing an extra text area and span:

![image](https://user-images.githubusercontent.com/11633780/39874151-ff6e0212-543a-11e8-92c3-63a1be2f590a.png)

[2018-05-10 14:16] jeff-phillips-18 commented on #340
@mareklibra Any idea on this? Maybe some missing styling?

[2018-05-11 07:16] mareklibra commented on #340
right, styling is missing the the storybook, related to the #332

[2018-05-11 12:41] #340 closed

[2018-05-11 13:09] #277 closed

[2018-05-14 15:56] #337 closed

[2018-05-14 16:39] xeviknal opened #347 "Component - Bullet chart"
Hey there,

I am wondering if you have plans to work on this bulled charts (horizontal charts)[1]. I see you have the concept developed in patternfly but any code is shown [2].

thanks in advance

[1] http://www.patternfly.org/pattern-library/data-visualization/bullet-chart/
[2] https://github.com/patternfly/patternfly-react/tree/master/packages/core/src/components/Chart

[2018-05-14 17:56] jgiardino opened #348 "Component: Table with Inline Edit"
Currently, there's an issue with both the [Table with Inline Edit Row](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Edit%20whole%20table=true&selectedKind=patternfly-react%2FTable&selectedStory=Table%20With%20Inline%20Edit%20Row&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs) and [Table with Inline Edit Column](https://rawgit.com/pat

[2018-05-15 00:07] serenamarie125 opened #349 "Fix the tab order & keyboard shortcuts of the wizard components"
From the wizard perspective, tabbing off the form should then go to Next, then Back, then Cancel, then back to the first item in the form.

Thus, if no input fields exist on a "page" in the wizard, Next should be the default button, thus hitting Enter would activate it.

If the wizard is in a modal, esc should behave like clicking the "X"
You shouldn't need to be tab to the "X"

[2018-05-15 19:37] dgutride opened #352 "Investigation: prototype and propose method for delivering pf-next styled components as part of pf-react"
Investigate, identify a proposal and implement method for delivering both pf3 and pf-next components in the current PF-React repo

[2018-05-15 19:39] dgutride opened #353 "Investigation: regression tests for pf-core -> pf-react html/css changes"
Investigate, identify a proposal and implement regression tests to keep PF-React in sync with PF-Core changes.

[2018-05-15 21:15] jgiardino opened #354 "Component: Form > Help on Form"
Update the html so that it is more aligned with the [core PatternFly example](http://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/#code).

This includes (but is not necessarily limited to):

- Including the class `popover-pf-info` for the popover toggle
- Having the toggle display on Focus (instead of Enter keypress) in addition to on Click

[2018-05-16 11:43] jgiardino commented on #348
I'm still seeing this issue present.

[2018-05-16 12:14] abonas commented on #347
@serenamarie125 @jeff-phillips-18 any idea if this is going to be added soon? thanks

[2018-05-16 17:49] jgiardino commented on #348
Yep! Thanks!!

[2018-05-16 17:49] #348 closed

[2018-05-19 03:34] serenamarie125 opened #360 "Component: Message Dialog"
Create a message dialog component.

There is a PatternFly design pattern in progress, which can help guide the work.  There are also examples in the V2V project as well as in Sonar (quipicords)

[Example in Quipicords Repo](https://github.com/quipucords/quipucords/tree/master/client/src/components/confirmationModal)
Example Quipicords Screenshots:
![screenshot-2018-5-18 red hat entitlements report

[2018-05-19 03:36] serenamarie125 commented on #360
@michaelkro can you take this after you have a PR up for your current PR?  Additionally, let's chat with @jeff-phillips-18 around how to structure the storybook with dialog options etc before you get to far.

[2018-05-21 11:38] michaelkro commented on #360
@serenamarie125 sounds good, I'm on it!

[2018-05-21 15:31] dmiller9911 commented on #294
I would say that this repo should use class properties, and then leave it up to consumers on whether they want to use `method.bind`, reflective-bind babel, or something similar to `bindMethods`.  I don't think that this repo should provide `bindMethods` though. The goal of the repo, at least in my opinion, would be to provide react components, along with promoting some best practices.  Class prope

[2018-05-22 13:22] serenamarie125 opened #361 "Provide a reasonable default font for Serial Console component"
#356 provides the ability to change the default font for the Serial Console.  We should consider identifying what an appropriate default font should be, from a PatternFly perspective, and providing that, in addition to allowing it to be changed.

[2018-05-23 20:22] #304 closed

[2018-05-24 15:14] skateman opened #364 "Component: TreeGrid Table"
The TreeGrid table is implemented only in [patternfly core](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/tables.html) using jQuery.
![screenshot from 2018-05-24 17-12-49](https://user-images.githubusercontent.com/649130/40494672-b5063442-5f75-11e8-8ccc-e32cfae8077d.png)

It's basically a hierarchical and collapsible structure of table rows. We would need it for ManageIQ compare

[2018-05-28 08:27] goern opened #366 "borken link in README.md"
the section "Using patterfly-react Sass files" contains a link (last word) to https://github.com/patternfly/patternfly-react/blob/master/sass/patternfly-react.scss

This results in a 404

[2018-05-28 16:19] dhilst opened #367 "Broken link in readme."
There is a broken link in the README.md

[patternfly-react.scss](https://github.com/patternfly/patternfly-react/blob/master/sass/patternfly-react.scss) leads to 404 page on github.

Regards,

[2018-05-29 12:32] jeff-phillips-18 commented on #367
Duplicate of #366

[2018-05-29 12:32] #367 closed

[2018-05-29 14:42] michaelkro commented on #360
That being said, any custom CSS I am introducing for this component has been updated to be inline with the provided specs

[2018-05-29 14:50] michaelkro commented on #360
Also, question about the requested examples.  As far as I know, it won't be possible to have multiple dialogs showing simultaneously using the markup as is.  Instead, I can add a modal launcher button for each example.  Thoughts/suggestions?

[2018-05-29 15:34] jeff-phillips-18 commented on #354
@jgiardino The core patternfly example uses an anchor and depends on there being a space after the text and before the anchor for spacing 😢   Do we really want to follow that?

[2018-05-29 15:57] jgiardino commented on #354
@jeff-phillips-18 Good point. I'm also now realizing that having the popover display on focus instead of Click/Enter makes any clickable elements inside the popover inaccessible.

Should the only change we make be adding the class `popover-pf-info` so that the correct color is applied?

[2018-05-31 14:09] tlabaj opened #375 "Broken link from the "Table With Inline Edit Row" Storybook"
The link to PatternFly design documentation from the "Table With Inline Edit Row" Storybook is broken.  When I click on it, I get a 404 Not Found error.
The URL is wrong.  It points to http://www.patternfly.org/forms-and-controls/inline-edit/ instead of
http://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/
![image](https://user-images.githubusercontent.com/39532947/40786880-2e9

[2018-05-31 18:17] #375 closed

[2018-05-31 19:54] #354 closed

[2018-06-01 16:18] #347 closed

[2018-06-03 13:29] Laviro opened #379 "Component: Dual List Selector"
![duallistexample](https://user-images.githubusercontent.com/26363699/40887019-9c567e16-674a-11e8-9feb-018f32cd5ee3.png)

Dual List Selectors allow users to visually compare available and selected items and move items between those states.

[2018-06-05 08:33] mareklibra opened #380 "SerialConsole: fix overflowing on small displays"
This issue was originally reported by @dabeng within VncConsole PR #288 .
Moving here to track independently.

---
When the width of demo window is less than 802px, there will be a little UI issue as shown below:

<img width="1050" alt="40898136-f76a8282-67f1-11e8-90bb-0ce01b8684d9" src="https://user-images.githubusercontent.com/17194943/40964589-ce1e8f3a-68ab-11e8-8b39-2c620f141c50.png">

[2018-06-06 12:19] jotak opened #381 "Provide stateful versions of the charts"
Hi,
I struggled lately while using LineChart in order to access to the underlying C3 chart object and be able to interact with it (example: show/hide the legend on demand, via calling `chart.legend.show()` and `chart.legend.hide()`).

As far as I know this is currently not possible without some changes either in `patternfly-react` or in `react-c3js`. One option I tried was to use `React.RefObject`

[2018-06-06 12:44] jeff-phillips-18 opened #382 "Add ability to Vertical Navigation to show items hidden from masthead at small resolutions"
At small resolutions items in the utility (collapse) area of the masthead are hidden. Those items are designed to be moved to the navigation menu at these resolutions. Vertical Navigation should provide a mechanism to add items only shown at these resolutions.

[2018-06-06 14:28] jeff-phillips-18 commented on #381
I wouldn't mind replacing react-3cjs with our own version. It's not complicated and I believe it would be better to regenerate the chart when the props change (truly change)  rather than require all consumers to handle the onPropsChange themselves.

[2018-06-06 14:38] jotak commented on #381
@jeff-phillips-18 I don't know, because regenerating the entire chart can be very time-consuming if all we need is, let's say, show or hide something like the legend. So IMO it's good to call the C3 API directly to perform a single change.

Eventually, the PF charts could make a best effort to handle some common configuration changes, but handling *all* of possible C3 configuration changes in that

[2018-06-06 15:51] jeff-phillips-18 commented on #381
@jotak Yeah, seems reasonable to me. I thought we could make decisions based on prop changes but you are right, there are too many to try to cover all bases.

I like the approach of your PR above. Should we create a C3Chart component within PF-React that provides this feature?

[2018-06-06 20:46] LHinson opened #384 "Badge component"
Introduce React component for pf4 badge: https://pf-next.com/components/Badge/examples/
Related Core PR: https://github.com/patternfly/patternfly-next/pull/272

[2018-06-06 20:48] LHinson opened #385 "Buttons component"
**Note: This component is on hold until a PR for issue #392 is approved and merged.**
Introduce buttons based on pf4 component: https://pf-next.com/components/Button/examples/

Known updates/changes scheduled that may impact the react implementation include:
- https://github.com/patternfly/patternfly-next/issues/288
- https://github.com/patternfly/patternfly-next/issues/181

[2018-06-06 20:49] LHinson opened #386 "Card component"
Introduce pf4 box component: https://pf-next.com/components/Box/examples/

[2018-06-06 20:50] LHinson opened #387 "Dropdown component"
Introduce pf4 dropdown component: https://pf-next.com/components/Dropdown/examples/

[2018-06-06 22:25] josejulio opened #388 "SplitButton renders wrong in a Toolbar"
When adding a `SplitButton` it renders with a space between the left and right parts of it.

![screenshot_2018-06-06_17-20-42](https://user-images.githubusercontent.com/3845764/41068204-0dc8a154-69ae-11e8-962b-6338517d487b.png)

The issue seems to be caused by this property:

![evil-property](https://user-images.githubusercontent.com/3845764/41068207-133a263a-69ae-11e8-84c7-c8aa97cbd8dd.png)

I te

[2018-06-07 13:08] LHinson opened #389 "Title component"
**Note: This component is on hold until a PR for issue #392 is approved and merged.**

Introduce the pf4 react component for Title: https://pf-next.com/components/Title/examples/

[2018-06-07 13:16] LHinson opened #390 "Form component"
The form component includes the basic elements required for a form including:
- Labels
- Text Inputs
- Checkboxes
- Radios
- Textareas
- Selects
- Datalists
- required fields
- form validation

In this issue, introduce the pf4 form component: https://pf-next.com/components/Form/examples/

Please note, this component has known changes scheduled that will directly impact the react component implemen

[2018-06-07 13:34] LHinson opened #391 "Alert component"
Add the pf4 alert component for react: https://pf-next.com/components/Alert/examples/

[2018-06-07 13:53] dmiller9911 opened #392 "patternfly-next build/injestion framework"
# Summary

Provide an approach that allows patternfly-react to consume patternfly-next.  This approach will cover the following items:
1. Keep `patternfly-react` in sync with `patternfly-next` core
1. Make it easy for consumers to include patternfly-react in their projects
    * Enable code-splitting without workarounds
    * No need for extra Webpack loaders
    * No CSS to import
1. Allow contri

[2018-06-08 13:33] rebeccaalpert commented on #219
It looks like all the charts except PieChart have at least basic tests in place (for proper rendering), though some (StackedBarChart, etc.) have their tests stored in more general files like BarChart.test.js. I made a rendering test for PieChart following the conventions the other tests are using. Is that all you need for this?

[2018-06-08 15:08] priley86 commented on #219
hey @rebeccaalpert - thanks for helping out w/ this!

I've been using the Jest test coverage reporter inside this project to inspect the analyzed coverage. You can see this by running `yarn test` on your local, and then after it's done, navigating to the `coverage\lcov-report\index.html` file (and just opening that in Chrome). Right now, it looks like Charts is still one of our biggest offenders (

[2018-06-11 20:41] LHinson opened #397 "Backdrop"
**Note: This component is on hold until a PR for issue #392 is approved and merged.**
Add the pf4 backdrop component for react: https://pf-next.com/components/Backdrop/examples/

[2018-06-11 20:46] LHinson opened #398 "ModalBox"
Add the pf4 alert component for react: https://pf-next.com/components/ModalBox/examples/

[2018-06-12 15:38] dgutride commented on #352
Initial demo complete - follow on work being tracked here:  https://github.com/patternfly/patternfly-react/issues/392

[2018-06-12 15:38] #352 closed

[2018-06-12 18:00] dgutride opened #399 "Fix patternfly dependencies to support yarn 1.7"
Teams are working around a dependency issue in patternfly-react - see this thread:  https://github.com/oVirt/ovirt-web-ui/pull/637

[2018-06-12 18:03] dgutride commented on #399
closing - not the priority we thought it was

[2018-06-12 18:03] #399 closed

[2018-06-14 15:49] #184 closed

[2018-06-18 13:17] #380 closed

[2018-06-18 13:32] PanSpagetka opened #401 "CompoundLabel"
Implement `CompoundLabel` component which will be used in http://www.patternfly.org/pattern-library/forms-and-controls/filter/#overview and #351

## Input props:

| Name        | Type           | Description  |
| ------------- | ------------- | ----- |
| onDeleteClick     | function | Function which is called when `X` button is pressed |
| category      | object      |  Object with this shape { id

[2018-06-18 14:02] ohadlevy commented on #401
not sure if its related, @amirfefer created https://www.npmjs.com/package/react-ellipsis-with-tooltip that is used in foreman, can we reuse it perhaps? :)

[2018-06-18 14:44] LHinson opened #402 "Data table library for PF4"
This issue to work with @mcarrano about the direction for PF4 data table view and the required features and functionality. Design work is currently being tracked here: https://github.com/patternfly/patternfly-next/issues/199

Questions to answer:
- Will we continue to use what seen in PF React today? If not, what are alternatives?
- Is there any customization required to achieve desired features a

[2018-06-18 16:03] #392 closed

[2018-06-18 17:43] jgiardino commented on #401
Hi @PanSpagetka, since we don't have css for the compound label in core patternfly yet, I created this codepen to illustrate how we could use what's already defined, plus extend it, to match the design: https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-react/less/label-remove.less

Let me know if you have any questions.

[2018-06-18 19:40] LHinson opened #406 "Contributor guide for PF4 components"
This is an issue to start a draft (google doc) for a contributors guide for the PF4 react component effort. This guide should include answers to commonly asked questions, best practices for developing and any other helpful tips/tricks.

[2018-06-19 11:11] PanSpagetka commented on #401
@ohadlevy I could use it for the category (right part) but not inside of label (on the left). So I am not sure if I should use it at all. I would more likely not use it, because at least we will have consistent way how to do it (in this component).

[2018-06-19 12:00] ohadlevy commented on #401
can we extend it in a way its common and solves everyone's kind of
problems? @amirfefer ?

On Tue, Jun 19, 2018 at 2:11 PM Robin Knaur <notifications@github.com>
wrote:

[2018-06-19 13:28] PanSpagetka commented on #401
@ohadlevy I think problem is not the `EllipsisWithTooltip` but `Label`, even putting simple `<div>abc</div>` inside `Label` causes problems.

[2018-06-19 14:19] LHinson opened #408 "Epic: Charting for PF4"
Check out associated core issue for history and design: https://github.com/patternfly/patternfly-next/issues/276

We will proceed with leveraging Victory charting and leverage the Victory theme system to handle the designs. https://drive.google.com/open?id=1tt4CP2TVvgxLC5Tq1D5kxnUIc6FVidhe

For information checking out the library investigation, check out: https://docs.google.com/document/d/1LnIRw

[2018-06-19 17:23] aljesusg opened #410 "Issue after install again repo"
### Reproduce with yarn 1.3.2

- clone repo
- yarn install

### Error

[code]
### Trace ERROR

[code]

### How to FIX

Upgrade yarn to >=1.5.1
We should add in the Readme this requirement

[2018-06-19 17:29] dmiller9911 commented on #410
This is now listed here:
https://github.com/patternfly/patternfly-react#node-environment

It is also making use of the engines field in package.json now.  When I tested it, I did see the error that I needed to upgrade.  I am not sure why it did not show there though. I will take a look.

[2018-06-19 17:46] aljesusg commented on #410
oo I didn't see it, yes I think that we should throw a message or something

[2018-06-20 08:59] theute commented on #239
@jeff-phillips-18 Looks like it shows as "assigned" in the board but @dtaylor113 unassigned himself.
It's blocking us for https://issues.jboss.org/browse/KIALI-989 could we please make sure this doesn't fall through the cracks ?
Thanks!

[2018-06-20 12:21] jeff-phillips-18 commented on #239
I have implemented vertical navigation with `react-router` (not using `<Link>`). There is an example of this at https://github.com/quipucords/quipucords/blob/master/client/src/components/app.js

If you need to use `react-router-dom` and `<Link>` then I can try to get something like that to work.

[2018-06-20 13:22] priley86 opened #411 "Mark Patternfly as a nohoist dependency"
Currently, `patternfly` is a hoisted dependency in the yarn workspace. This means that the hoisted `node_modules` will defer to the earliest version referenced across all packages, and when doing PF upgrades, we'd have to update all packages depending on PF. This places an additional burden on contributors trying to upgrade PF that might not be familiar w/ other packages.

To avoid this, we could

[2018-06-20 17:21] dmiller9911 opened #412 "react-docs: Upgrade to Gatsby v2"
Gatsby V2 fixes most, if not all, of the workarounds that had to be put in place for the current docs.  Upgrading will also open the door for a more seamless docs generation.

[2018-06-20 17:40] Rohoover opened #413 "TypeAheadSelect component - can't see all selections when there are many"
[Storybook](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Submit%20Form%20On%20Enter=true&knob-select%20Hint%20On%20Enter=true&knob-Edit%20whole%20table=true&knob-Set%20the%20Minimum%20Length%20to%20Autocomplete=1&knob-highlight%20Only%20Result=true&knob-Allow%20Adding%20New%20Items=true&knob-Multiple%20Selection=true&knob-Clear%20Button=true&selectedKind=patternfly-react

[2018-06-21 13:33] Rohoover opened #416 "TypeAheadSelect component - Single selection dropdown behavior"
[Storybook
](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Submit%20Form%20On%20Enter=true&knob-select%20Hint%20On%20Enter=true&knob-Edit%20whole%20table=true&knob-Set%20the%20Minimum%20Length%20to%20Autocomplete=1&knob-highlight%20Only%20Result=true&knob-Allow%20Adding%20New%20Items=true&knob-Multiple%20Selection=true&knob-Clear%20Button=true&selectedKind=patternfly-reac

[2018-06-21 16:16] #360 closed

[2018-06-21 16:32] #413 closed

[2018-06-21 17:30] priley86 opened #418 "Field Level Help: expose overlay placement and button class"
It would be nice to expose the Field Level Help popover placement and button class as props. This makes the component a bit more flexible and may allow for custom positioning of the overlay when that is desired.

[2018-06-21 19:10] #247 closed

[2018-06-21 19:14] jeff-phillips-18 commented on #294
I'm in agreement with @dmiller9911. It's not the intention of this repo to provide that type of helper, especially if it's not being used within the repo.

[2018-06-21 19:14] #294 closed

[2018-06-21 19:30] #418 closed

[2018-06-22 14:21] serenamarie125 opened #422 "VncConsole - Send Key menu enhancements"
As mentioned in #288 , it would be nice to enhance the VncConsole component to allow for the following regarding the Send Key menu:

- [ ] by default include Ctrl+Alt+Backspace , Ctrl+Alt+Del & Printscreen on the Send Key menu
- [ ] allow the default options on the Send Key menu to be not shown
- [ ] allow for a mechanism to add additional commands

[2018-06-22 21:45] cdcabrera opened #423 "Copy (a value to clipboard) component"
Copy (a value to clipboard) component.

- Related design issue, https://github.com/patternfly/patternfly-design/issues/689#issuecomment-400822347
- Patternfly-Ng currently has a PR in progress that lays out a design and implementation pattern ... https://github.com/patternfly/patternfly-ng/pull/351

<img width="1113" alt="40154387-1c7c4c30-595c-11e8-9d92-b634642f5604" src="https://user-images.gith

[2018-06-25 00:35] #385 closed

[2018-06-25 00:35] #389 closed

[2018-06-25 09:54] shaded-enmity opened #427 "TypeAheadSelect component is functional"
The current definition:
https://github.com/patternfly/patternfly-react/blob/5883c7e54053b8ba970fad2728ba3b57fee07538/packages/patternfly-react/src/components/TypeAheadSelect/TypeAheadSelect.js#L4
makes `TypeAheadSelect` a functional component and thus preventing me from using `ref=`:

[code]

[2018-06-25 10:31] dmiller9911 commented on #427
@shaded-enmity what is the usecase you are trying to cover? I took a look, and it looks as though the typeahead lib we uses does expose an inputRef prop to get a ref for the input rendered.

[2018-06-25 11:47] shaded-enmity commented on #427
@dmiller9911 I need to focus the component and this is the suggested way of doing it - https://github.com/ericgio/react-bootstrap-typeahead/blob/master/example/examples/PublicMethodsExample.react.js
Besides, the exposed key is slightly different (`inputProps`) and for some reason that didn't work for me.
I'm curious as to what is the benefit of there being a functional facade over a class based co

[2018-06-25 12:41] dmiller9911 commented on #427
Yeah I definitely agreed with that. It will probably be better to just rexport with the name we want. I just wanted to make sure we met what you needed in case we need to do more than just the re-export.

[2018-06-25 14:54] priley86 opened #429 "Render custom MastHead from within VerticalNav"
While working on the PF React Demo App w/ @amarie401 - I noted that we currently cannot override the default `nav` element rendered by the `VerticalNav`. It would be nice to be able to use the new `MastHead` component so that I can customize the MastHead within `VerticalNav`.

This would basically involve no longer rendering the `nav` element here with the Vert Nav if the user specifies:
https://g

[2018-06-25 15:05] priley86 opened #430 "Treeshake VertNav"
While working w/ @amarie401 on the patternfly-react-demo-app, I noted that while attempting to use the ESM / tree shaked modules w/ the PF React VerticalNav, I receive runtime errors after compilation w/ create-react-app.

This may/may not be due to beta babel7 compilation problems, however I will list this issue for us to confirm later once create-react-app releases Webpack4+ builds (currently it

[2018-06-25 15:06] priley86 commented on #430
Preliminary debugging seems to indicate that spreading props by extension (like we do [here](https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-react/src/components/VerticalNav/VerticalNavItemHelper.js#L357)) may not be babel7 safe...

[2018-06-26 09:05] #427 closed

[2018-06-26 15:35] amirfefer opened #431 "Vertical nav doesn't work with turbolinks"
It seems that passing a href prop triggres
[code]
which doesn't work with turbolinks.

Is there an option to edit [this anchor tag](https://github.com/patternfly/patternfly-react/pull/88/files#diff-d249da5334100a824baed07361d25e37R307) with the item's href ?

[2018-06-26 16:06] dmiller9911 opened #432 "Grid Layout"
React components for Grid Layout: https://pf-next.com/layouts/Grid/examples/

[2018-06-26 16:08] dmiller9911 opened #433 "Gallery Layout"
React Components for gallery Layout: https://pf-next.com/layouts/Gallery/examples/

[2018-06-26 16:09] dmiller9911 opened #434 "Bullseye Layout"
React components for bullseye Layout: https://pf-next.com/layouts/Bullseye/examples/

[2018-06-27 09:14] aljesusg commented on #429
Yeah, I am working in Kiali project and we can't.
The problem is that verticalnav render a nav.

https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-react/src/components/VerticalNav/VerticalNav.js#L405

[2018-06-27 15:01] priley86 opened #439 "Prettier printWidth setting"
Per the slack discussion, I would like to consider moving this repo to a 120 printWidth (and overriding Prettier's default of 80). This seems to be the preference amongst some downstream teams for various reasons.

https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/443
https://prettier.io/docs/en/options.html#print-width

Does anyone have an issue w/ this before we move this direction?

[2018-06-27 15:51] jeff-phillips-18 commented on #439
works for me!

[2018-06-27 17:54] priley86 opened #440 "Extend the generator for PF3 components"
To keep a consistent PatternFly React dev experience, it would be nice to extend the generator introduced in #424 for PF3 / PF React Storybook components.

[2018-06-27 20:11] cdcabrera commented on #423
Related discussion https://github.com/syndesisio/syndesis/issues/2740

[2018-06-28 10:31] SpyTec opened #441 ""Illegal reassignment to import 'Table'" using rollup bundler"
I'm getting the following error when importing any component from patternfly-react. I would guess I am missing something on my end but not sure what.

[code]

I'm using [rollup.js bundler](https://rollupjs.org/guide/en) with the following rollup.config.js
[code]

and .babelrc
[code]

[2018-06-28 15:45] karelhala commented on #402
I love the new design of tables! It looks really interesting and easy to use.

As of the implementation I don't really like the idea of relying on other packages let alone on reactabular, it's fairly old and given the design it would be really hard to use and work with it.

For simple tables there is often used package called [react-table](https://github.com/react-tools/react-table), I would recom

[2018-06-28 16:23] jgiardino commented on #398
For keyboard interaction, let's follow what's recommended in the authoring practice guide for modal dialogs: https://www.w3.org/TR/wai-aria-practices-1.1/#dialog_modal

This section also includes a note about where to place focus (it has the green background).

[2018-06-28 16:58] priley86 commented on #402
@karelhala thanks for the feedback...having worked on this a bit in the past, here is my thoughts...

I think we are essentially comparing two very similar APIs for building tables w/ React. I find the [reactabular](https://reactabular.js.org/#/) implementation quite simple to modify and fully featured. I do tend to agree that more HOCs could be provided to make the reactabular API easier on the c

[2018-06-28 17:01] dmiller9911 commented on #398
Side nite. We will want to make sure we test these scenarios with unit tests.

[2018-06-28 18:36] jgiardino opened #442 "Icon component"
Introduce an Icon component.

[2018-06-29 01:50] dmiller9911 opened #444 "[Codemod] PF3 Button -> BF4 Button"
Need to provide a codemod for upgrading PF3 React Buttons to PF4 React Buttons.

[2018-06-29 01:55] dmiller9911 opened #445 "Alignment Layout"
React components for Alignment Layout: https://pf-next.com/layouts/Alignment/examples/

[2018-06-29 15:54] priley86 commented on #440
Going to take a stab at this...

[2018-06-30 11:31] leoluk commented on #318
New link: https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/204

[2018-07-02 17:52] LHinson commented on #402
Just wanted to give you the heads up of continued conversation over in the core repo - https://github.com/patternfly/patternfly-next/issues/199

[2018-07-02 20:16] #434 closed

[2018-07-03 15:50] dmiller9911 commented on #441
The issue here is that we are mutating modules which is not valid in es6.  An example would be
[code]
to fix this we would need to add this mutation to the `./Table` file instead:
[code]

This needs to be done in a few spots throughout patternfly-react.  This will also need to be avoided in react-core.

[2018-07-05 11:28] #384 closed

[2018-07-05 19:22] #433 closed

[2018-07-05 19:30] #429 closed

[2018-07-06 14:34] dmiller9911 opened #460 "TextInput Component"
Text Input form-control component from here: https://pf-next.com/components/FormControls/examples/

API should resemble:
[code]

The issue is blocked by https://github.com/patternfly/patternfly-next/issues/289

[2018-07-06 14:59] dmiller9911 opened #461 "Select Component"
Select Input form-control component from here: https://pf-next.com/components/FormControls/examples/

API should resemble:
[code]
For this first iteration, only controlled selects will be supplied.

The issue is blocked by https://github.com/patternfly/patternfly-next/issues/289

[2018-07-06 19:42] priley86 opened #462 "Upgrade PatternFly to 3.52.1"
Upgrade PatternFly to 3.52.1 for MastHead updates.

[2018-07-06 20:30] #442 closed

[2018-07-09 10:18] #462 closed

[2018-07-11 14:00] ia3andy opened #465 "Cannot resolve symbol 'XXX' on import"
IntelliJ Ultimate is not able to resolve patternfly-react imports:
![image](https://user-images.githubusercontent.com/2223984/42576661-3d4cb8d0-8523-11e8-90a2-ff9acfaca056.png)

It seems to be resolving `patternfly-react/dist/js` instead of `patternfly-react/dist/esm` folder.

Please note that I don't have any problem if I use react-boostrap components.

Could someone help me?

[2018-07-11 14:04] ia3andy commented on #465
I am using the demo app: https://github.com/patternfly/patternfly-react-demo-app

[2018-07-11 14:51] priley86 commented on #465
welcome and thanks for reporting this...

I haven't tried this w/ IntelliJ before. Do you see the same thing in VS Code? I'm curious if there are any IntelliJ settings we could specify. The Dropdown is just re-exported from react-bootstrap in patternfly-react. It should be available though... I would also double check that deleting `node_modules`, re installing `yarn install`, and restarting your

[2018-07-11 15:16] karelhala commented on #408
If we want to use newest technologies we should drop C3, even tho they are awesome and easy to work with, the drawback here is that they are using SVG and I don't think D3 will switch to canvas. From my point of view it really doesn't matter. We can use C3 and change our graphs thanks to D3 (but that would eventually require much more work).

But I'd really like to see PF4 to use newer technologie

[2018-07-11 17:06] LHinson opened #466 "Toolbar Layout"
React component for Toolbar Layout https://pf-next.com/layouts/Toolbar/examples/

[2018-07-11 18:02] jgiardino opened #467 "screen-reader-only text in Alert component"
When the following PF4 core issue is closed:
https://github.com/patternfly/patternfly-next/issues/431

- The sr-only styles that were added for Alert in #449  should be removed
- The class that's added as part of https://github.com/patternfly/patternfly-next/issues/431 should be included in the Alert

[2018-07-12 18:32] #391 closed

[2018-07-13 17:37] josejulio opened #474 "Allow VerticalNav to have Route elements (from react-router-dom)"
I'm trying to use [this](https://reacttraining.com/react-router/web/example/custom-link) example, but `VerticalNav` doesn't allow `Route` as a child.

The idea is to let `react-router-dom` to handle who's active.

[2018-07-13 20:22] jgiardino opened #475 "investigate tooling to check for a11y issues"
Investigate what tools are available that can help us flag accessibility issues that may be present in a component that is being implemented for PatternFly 4. Provide any information that would be helpful in deciding between tools, if there is more than one tool that would work.

[2018-07-13 21:09] LHinson commented on #406
@amarie401 @tlabaj any update on this one? If this is a distraction, we can close this one.

[2018-07-13 21:11] LHinson opened #476 "Split Layout"
React component for Toolbar Layout https://pf-next.com/layouts/Split/examples/

[2018-07-13 21:12] LHinson opened #477 "Stack Layout"
Introduce react component for Stack Layout: https://pf-next.com/layouts/Stack/examples/

[2018-07-13 22:40] tlabaj commented on #406
This is still  work in progress. There are a few Notes in the Document.  As the framework and environment continue to solidify, we should continue to add notes.

[2018-07-14 16:54] Private-SO opened #478 "Does this setup work in windows machine ?"
Hi,

I am running into different types of errors when i am installing the setup in my Windows machine.

These are the commands i had used to

-  yarn add patternfly-react
- yarn install
- yarn build

When i am running yarn build it is throwing different errors like this

[code]

But the setup is working fine in Ubuntu and mac . Why i am getting these errors in my Windows Machine?

BTW i am running

[2018-07-16 18:21] LHinson opened #482 "About modal demo"
Introduce the PF4 About modal demo: https://pf-next.com/demos/AboutModal/examples/

In addition to a React review, this issue should be reviewed by the core contributors of this demo:
* CSS: @mattnolting and/or @srambach
* Design: @mceledonia and/or @mcarrano

[2018-07-17 09:02] Laviro opened #483 "TypeAheadSelect: expose inner 'react-bootstrap-typeahead' components."
Expose inner components for external use,
without the need to import the library in other projects.

[2018-07-17 13:12] LHinson commented on #406
ok thanks for the update @tlabaj!

[2018-07-17 14:54] ares commented on #232
hello, was there some progress? this would be very appreciated addition

[2018-07-17 19:19] dmiller9911 opened #485 "Checkbox Component"
Checkbox Input form-control component from here: https://pf-next.com/components/Check/examples/

API should resemble:
[code]
For this first iteration, only controlled selects will be supplied.
The issue is blocked by https://github.com/patternfly/patternfly-next/issues/289

[2018-07-17 19:20] dmiller9911 opened #486 "Radio Component"
Radio Input form-control component from here: https://pf-next.com/components/Check/examples/

API should resemble:
[code]
For this first iteration, only controlled selects will be supplied.
The issue is blocked by https://github.com/patternfly/patternfly-next/issues/289

[2018-07-17 20:40] LHinson opened #487 "Popover component"
Popover component from here: https://pf-next.com/components/Popover/examples/

See notes below about leveraging popper.js. This issue also includes identifying the best approach for a wrapper and utilizing core CSS.

Note re: behavior, ensure that popover only closes when the user clicks either the close icon or outside of the popover itself as there are use cases where a user needs to be able to

[2018-07-19 13:25] LHinson opened #493 "React.js specifics re: how to use RCUE"
There is a quick start to explain how to use RCUE on pf-core: https://github.com/patternfly/patternfly/blob/master/RCUE-QUICKSTART.md

We also need a modified version to explain the specifics of using RCUE and pf-react.

[2018-07-19 14:15] mattnolting opened #495 "[Update] Grid layout update"
- Added smart grid view
- Updated documentation
- Updated partials

Update is currently a pr.
https://github.com/patternfly/patternfly-next/pull/486

[2018-07-19 14:20] cdcabrera commented on #493
This is a great idea! @LHinson taking a look at the Quick Start guide, looks like it covers the basics. Will see if there are any extra bits we discovered along the way with some of the basic Entitlements work.

Another aspect may also be to list other products using RCUE.

[2018-07-19 19:08] mtho11 commented on #493
This would be a great help! And huge time savings.

[2018-07-24 18:18] #445 closed

[2018-07-24 19:01] #477 closed

[2018-07-24 19:17] #476 closed

[2018-07-24 19:51] #444 closed

[2018-07-26 19:21] #386 closed

[2018-07-27 11:10] jharting opened #500 "Icon broken?"
After upgrading @patternfly/react-core and @patternfly/react-icons to latest versions today I am getting the error below. My dependencies:

[code]

Code:
[code]

Error:
[code]

[2018-07-27 15:59] dmiller9911 commented on #500
@karelhala @jharting It looks like the iconMap now uses `angle-double-left-icon` with the icon suffix. I think we should remove that suffix for the keys.  I know I am asking for an icon we should not require it.  Another option is to have both?

[2018-07-27 17:20] karelhala commented on #500
@dmiller9911 I think that best aproach would be to force consumers not to use Icon component and let them to import icons directly `import { SomeIcon, SomeOtherIcon, AnotherOneIcon } from @patternfly/react-icons;` treeshaking is much better that way.

Of course if you want to have multiple icons it might be tedious so for those events this `<Icon name="some-name-icon" />` is fine. However we shoul

[2018-07-28 12:08] dmiller9911 commented on #500
I think I agree. We should really just drop the icon component and force using the named exports.

[2018-07-28 19:03] maria-le opened #501 "Create PWA demo (Progressive Web App) using lit-html"
Please create a demo starter enterprise app [based on the lit-html PWA Starter Kit.](https://github.com/Polymer/pwa-starter-kit)

https://github.com/Polymer/pwa-starter-kit

This will enhance the current demo app by making it responsive and work offline. As well as being available on the web and also tablet and mobile across all operating systems and browsers.

[2018-07-30 09:02] jharting commented on #500
OK, I successfully worked around by switching to direct imports.

[2018-07-30 10:57] jharting commented on #500
Note that the docs will need to be updated:
1. deprecate `Icon`
1. update the section that explains how to import icons directly (e.g. it talks about `Times` although the proper name is `TimesIcon` now)

[2018-07-30 12:25] karelhala opened #502 "(react-icons) Icons too big on firefox"
When using react-icons on Firefox icons are too large:
![screenshot from 2018-07-30 14-24-15](https://user-images.githubusercontent.com/3439771/43397204-4d6f3ebe-9404-11e8-9059-dd8c5258ad3b.png)

This bug is relevant to FF bug https://bugzilla.mozilla.org/show_bug.cgi?id=1231147 where it's not allowed to use `rem` unints in SVG (FF actually followed the specs where only couple of units are allowed

[2018-07-31 12:49] AllenBW opened #504 "DropdownKebab as a list view action inherits parent onClick"
And this is a problem, cuz one would expect DropdownKebab to do what its there to do, rather than do what the encapsulating list item onclick directs...

The temporary workaround from @dmiller9911 is

[code]

[2018-07-31 20:40] LHinson commented on #402
@karelhala does this address your concerns? As FYI, @mnolting is going to start on basic table styling over in core. https://github.com/patternfly/patternfly-next/issues/513

We've had success with reactabular with PF3, therefore would like to move forward with this solution for PF4 as well however, wanted to loop back around with you as well given you initial concern.

[2018-08-01 14:56] ia3andy commented on #465
Hi @priley86,

Sorry I was in PTO :)

Thanks for answering, I don't use VS Code but a friend of mine does and told me it's nearly the same problem there since you can't follow link on the patternfly-react imports (but no warning).

I tried restarting and all you said..

Cheers,

[2018-08-01 17:44] dmiller9911 opened #507 "@patternfly/react-docs refactor"
The current @patternfly/react-docs package is not currently consumable by the core website team. Along with refactoring the current package, support for the following needs to be added.

1. Docs need to be written alongside components similar to storybook. No more need for authoring graphql queries.
1. Computed enums.
1. Multiple prop tables per component documentation.
1. Ability to inline the so

[2018-08-03 13:21] LHinson opened #508 "POC: PF3 to PF4 migration"
Convert the PF3 React demo app to PF4 React to clarify level of effort of migration. It would also be nice to show what a PF3/4 mixed application looks like.

[2018-08-03 13:25] LHinson opened #509 "PF 4 Table Component (Reactabular)"
Provide Table component based on design and CSS implementation from this issue: patternfly/patternfly-next#513. It has been decided to use Reactabular for this, similar to PF3.

Related to #402 and https://github.com/patternfly/patternfly-next/issues/513

[2018-08-03 18:40] seanforyou23 commented on #475
I've researched several a11y testing/auditing frameworks and a clear winner has emerged. [aXe: The Accessibility Engine](https://www.deque.com/axe/)

### [About aXe Core](https://axe-core.org/about/)

There is a wide range of tooling available that runs on top of axe-core, which contains a common set of rules and standards that we at Patternfly would like to abide by. With aXe, we can move forward

[2018-08-03 19:28] LHinson commented on #475
Thanks @seanforyou23! I'll close this issue and we'll continue to follow along in the issues that you have identified.

[2018-08-03 19:28] #475 closed

[2018-08-05 19:47] LHinson commented on #208
Closing this issue as Utilization Bar Card has been introduced. See [here](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Header=Great%20job%21&knob-Message=This%20is%20really%20working%20out.&knob-Type=success&knob-Menu=true&knob-Action=true&knob-Style=default&knob-Match%20Height=true&selectedKind=patternfly-react%2FCards&selectedStory=Utilization%20Bar%20Card&full=0&addo

[2018-08-05 19:47] #208 closed

[2018-08-06 11:58] #500 closed

[2018-08-06 14:14] priley86 commented on #501
It seems like this issue might be sorely placed? Considering this is a PF React repository...

I.m.h.o. introducing another rendering library such as lit-html/polymer would be "double dipping" in that department (since React is specifically for view rendering and very advanced in this department). I believe responsive/offline is dependent on implementation (i.e. you can find similar things in the

[2018-08-06 17:49] dlabrecq opened #513 "PF4: Alert typings issue"
I'm using the pf4 alert with the Cost Management UI and encountered a couple issues.

1. A simple string does not compile with typescript:

[code]

2. Want to import AlertVariant, but it's not exported in react-core/dist/js/index. Had to create my own AlertVariant object with type any as a workaround:

[code]

[2018-08-06 19:07] #483 closed

[2018-08-06 19:41] dmiller9911 commented on #509
Provide Table component based on design and CSS implementation from this issue: https://github.com/patternfly/patternfly-next/issues/513. It has been decided to use Reactabular for this, similar to PF3.

[2018-08-07 14:06] dmiller9911 opened #516 "TextArea Component"
TextArea form-control component from here: https://pf-next.com/components/FormControls/examples/

API should resemble:
[code]

The issue is blocked by https://github.com/patternfly/patternfly-next/issues/289

[2018-08-07 19:14] priley86 opened #519 "WizardPattern - expose inner Modal props"
As noted in Slack w/ Chris Chase, it does not seem that the `WizardPattern` currently exposes the inner Modal props. This could be resolved by passing those props through:

https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-react/src/components/Wizard/Patterns/WizardPattern.js#L31

[code]

[2018-08-07 20:39] #467 closed

[2018-08-08 01:45] #519 closed

[2018-08-08 07:22] Mhbuur opened #521 "React fragments and VerticalNav"
I'm trying to structure my app into components that deliver different parts of the navigation parts.

One component should deliver the VerticalNavItems for the side menu. Hence multiple items returned. I wanted to use the React.Fragment element to wrap the result, but it doesn't work.

Here is a trivial example. The two items "hello", "world" are rendered. The items inside the React.Fragment block

[2018-08-08 15:33] dmiller9911 commented on #521
@Mhbuur Sadly we are iterating over children here. https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-react/src/components/VerticalNav/VerticalNav.js#L306 Your best bet is to use the `items` prop or use an array for the items

[code]
keys are needed if you go the array route.

[2018-08-08 15:43] dmiller9911 opened #522 "Update Package Folder Structure"
The current folder structure may be confusing to some.  We need to update the current folder structure to call out which version of PatternFly is used (or meant for) for each package. Below is an example of the new structure.

[code]

[2018-08-08 16:27] #485 closed

[2018-08-08 17:01] #495 closed

[2018-08-08 17:11] priley86 commented on #287
Closing this issue - it seems like we have settled on a testing approach w/ Enzyme now.

[2018-08-08 17:11] #287 closed

[2018-08-08 17:14] priley86 commented on #14
This PF3 issue is stale and no longer being actively worked. Closing this for now. Will reopen if we determine it is needed later.

[2018-08-08 17:14] #14 closed

[2018-08-08 17:15] priley86 commented on #30
This PF3 issue is stale and no longer being actively worked. Closing this for now. Will reopen if we determine it is needed later.

[2018-08-08 17:15] #30 closed

[2018-08-08 17:15] priley86 commented on #42
This PF3 issue is stale and no longer being actively worked. Closing this for now. Will reopen if we determine it is needed later.

[2018-08-08 17:15] #42 closed

[2018-08-08 17:16] priley86 commented on #105
this was resolved in #195 . Closing.

[2018-08-08 17:16] #105 closed

[2018-08-08 17:18] priley86 commented on #236
This issue is being repurposed in [475](https://github.com/patternfly/patternfly-react/issues/475). Will revaluate in future issues. Closing.

[2018-08-08 17:18] #236 closed

[2018-08-08 17:25] priley86 commented on #411
Closing this issue for now. We can continue to hoist `patternfly` dependency for consistency as we do today, and use `nohoist` only as an escape hatch when needed. This flexibility in the monorepo structure can be revisited as needed.

[2018-08-08 17:25] #411 closed

[2018-08-08 17:27] priley86 commented on #219
This PF3 issue is stale and no longer being actively worked. Closing this for now. Will reopen if we determine it is needed later.

[2018-08-08 17:27] #219 closed

[2018-08-08 17:42] #486 closed

[2018-08-09 08:57] Mhbuur commented on #521
Thanks! That explains.

Could you elaborate on the items prop route. How would I separate the "here is johnny" items into another component?

[2018-08-09 15:22] dmiller9911 commented on #521
It is sadly an all or nothing on that prop.  It would look something like
[code]
If they the items are from different sources you can just concat the arrays
[code]

[2018-08-09 20:03] mturley opened #525 "Adding custom masthead to VerticalNav breaks built-in stateful behavior"
I'll come back to this issue with reproduction steps and such, but I'm just creating it to bookmark it. Details of what's going wrong are in the discussion here: https://github.com/patternfly/patternfly-react-demo-app/pull/36

[2018-08-10 08:45] rawagner opened #526 "Wizard.Pattern allows to change step even if nextStepDisabled=true"
see this demo app https://github.com/rawagner/patternfly-react-demo (run with yarn, yarn run)
The app uses Wizard.Pattern with 3 steps. https://github.com/rawagner/patternfly-react-demo/blob/master/patternfly-react-demo/src/App.js

When you open the wizard, next step is disabled (nextStepDisabled property is set to true) and you can not click next or use the (2) link in wizard header, which is exp

[2018-08-10 08:49] rawagner opened #527 "Allow disabling back button in Wizard.Pattern"
currently only next button can be disabled (via setting nextStepDisabled), it would be nice to be able to disable a back button too (ie backStepDisabled)

[2018-08-10 17:09] mtho11 commented on #493
@cdcabrera Any progress on the list of products using RCUE (and links to their repos) ?

[2018-08-10 17:36] LHinson commented on #493
@mtho11 were you able to successfully get rcue working? If not, I'd suggest a call with @cdcabrera for immediate/quick resolution as well as send a PR to close out this issue.

As for the list, I'll let @cdcabrera speak to this but I'm pretty sure this was just an idea and hasn't been immediate action on this. It would need to be prioritized and assigned. I assume the above action items helps to a

[2018-08-10 17:57] cdcabrera commented on #493
@mtho11 to get you started, couple of apps using the RCUE styling ... they're subject to change, but should relate the idea
- https://github.com/cloudigrade/frontigrade
- https://github.com/quipucords/quipucords

[2018-08-10 18:32] mtho11 commented on #493
@LHinson I just started on this yesterday (I have been on vacation and other tasks). Will get back to you on my progress. Thank you guys for your prompt action.

[2018-08-13 17:36] priley86 opened #530 "LoginPage follow-up enhancements"
In #362, I noted that key codes were not tracked in our `src/helpers.js` file like other components. We are attempting to keep those consistent for accessibility reasons (so keeping them in a common location will ensure consistency). This can definitely be a follow-up enhancement.

@jgiardino @matthewcarleton @dgutride @lizsurette  - please feel free to add any additional enhancements missed.

[2018-08-13 17:43] #80 closed

[2018-08-13 17:59] #439 closed

[2018-08-14 17:15] #398 closed

[2018-08-14 17:29] amarie401 commented on #397
I believe the PR for this has been merged here: https://github.com/patternfly/patternfly-react/pull/490

Will go ahead and close this issue

cc: @LHinson @tlabaj

[2018-08-14 17:29] #397 closed

[2018-08-15 15:49] #502 closed

[2018-08-15 16:59] mturley opened #535 "Table Inline Edit Buttons are positioned incorrectly when used inside a Modal"
In #534, I added a story to storybook to showcase this bug. When using the `TableInlineEditRow` on a table that is inside a Modal, the buttons appear to be positioned relative to the window, rather than relative to the table or the row. This leads to very broken-looking positioning:

With a large window:

![screenshot 2018-08-15 10 50 32](https://user-images.githubusercontent.com/811963/44158595-0

[2018-08-15 20:11] dlabrecq commented on #513
I still cannot import AlertVariant after installing @patternfly/react-core v1.7.0. Although, we can import Alert and ButtonVariant, like so:

[code]

[2018-08-15 20:39] dmiller9911 commented on #513
@dlabrecq Sigh looks like I missed adding it to the index.d.ts under Alert. A work around is to use the string literal for now `<Alert variant="danger"` you will still get the same type safety since we are actually asserting on the string value not the use of the enum. New versions of TS should give the intellisense too.

[2018-08-16 00:31] mtho11 commented on #493
@LHinson thanks to you and @cdcabrera examples I was able to get RCUE into Kiali.
Great teamwork!
https://github.com/kiali/kiali-ui/pull/586

[2018-08-16 13:40] michaelkro commented on #535
The root cause of this issue is that the inline edit buttons use `position: fixed`.

It turns out that fixed positioning does behave as expected if any ancestor has `transform` set to anything other than none.  [MDN Documentation](https://developer.mozilla.org/en-US/docs/Web/CSS/position#Fixed_positioning)

In our case, the `.modal-dialog` class used by our modals sets

[code]

and so, in this cas

[2018-08-16 17:36] #507 closed

[2018-08-16 18:39] tlabaj opened #538 "Add missing comments to describe Component Props"
The following components are missing comments describing each prop.  These comments are needed for documentation.

- Alert
- Badge
- Button (just the variant prop is missing a comment)
- Card
- Checkbox
- Radio
- Title
- Bullseye
- Gallery
- GalleryItem
- Grid
- GridItem
- Level
- LevelItem
- Split
- SplitItem
- Stack
- StackItem

[2018-08-20 01:09] mturley commented on #525
It appears there may be no actual bug in patternfly-react at all, and the bug may only be in patternfly-react-demo-app. I'm closing this, we can reopen if we find there is really an issue here.

[2018-08-20 01:09] #525 closed

[2018-08-20 15:28] xeviknal opened #541 "Allow Filter.Values to have disable items"
Hi there,

Is it possible to have disabled items in a Filter component (with Filter.TypeSelector and Filter.ValueSelector)? Like the following one:

![screenshot of kiali console](https://user-images.githubusercontent.com/613814/44348449-beee3080-a49a-11e8-84ea-f58c52b5b501.png)

if it doesn't exist, do you think the data passed in to the ValueSelector could be enriched a little bit adding flags f

[2018-08-21 11:01] jeff-phillips-18 commented on #401
Feature added by #464

[2018-08-21 11:01] #401 closed

[2018-08-21 14:37] jgiardino opened #543 "accessibility review of Alerts demo"
When a demo is implemented showing inline notifications and toast notifications, an a11y review of these working components should be completed to catch any potential issues related to accessibility.

As part of this review:

- For alerts that are dynamic (i.e. not present on page load), ensure that the message body of the alert is announced by the screen reader.
- For alerts that are not dynamic,

[2018-08-21 17:57] dmiller9911 commented on #353
This is acheived through a babel plugin and snapshot serializer. Docs for those two peices can be found here:

Babel: https://github.com/patternfly/patternfly-react/tree/master/packages/react-styles#babel-plugin-patternflyreact-stylesbabel
Snapshots: https://github.com/patternfly/patternfly-react/tree/master/packages/react-styles#snapshot-testing

[2018-08-21 17:57] #353 closed

[2018-08-22 07:34] ohadlevy opened #545 "Add breadcrumbs switcher support"
add the missing functionality of breadcrums switcher (see [design](https://www.patternfly.org/pattern-library/navigation/breadcrumbs/#design))
there is an existing implementation [here](https://theforeman.github.io/foreman/?knob-is%20switcher%20open=true&knob-total%20pages=3&knob-current%20page=2&selectedKind=Components%2FBreadcrumbBar&selectedStory=With%20open%20switcher&full=0&addons=1&stories=1

[2018-08-22 07:34] ohadlevy commented on #545
/cc @amirfefer

[2018-08-22 07:39] ohadlevy commented on #545
and the actual code is at https://github.com/theforeman/foreman/tree/develop/webpack/assets/javascripts/react_app/components/BreadcrumbBar

[2018-08-22 10:57] jeff-phillips-18 commented on #545
@ohadlevy There is a breadcrumb component already: [Breadcrumb Storybook](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=patternfly-react%2FNavigation%2FBreadcrumb&selectedStory=Breadcrumb&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs)

Does that provide what you need?

[2018-08-22 11:11] ohadlevy commented on #545
@jeff-phillips-18 no - note the **switcher** functionality in the attached storybook above.

[2018-08-22 16:44] dlabaj opened #546 "A11y support for react tables"
Add support for a11y to react tables for PF4.  Support should contain the same functionality as the HTML counterpart.  A demo of the HTML version can be seen in the following pull request:

https://github.com/mattnolting/patternfly-next/pull/14

We should verify that reactabular can be used with a11y as part of this issue. this is related to #402

[2018-08-22 17:30] #460 closed

[2018-08-23 17:36] LHinson commented on #408
Per @dmiller9911

[2018-08-24 14:18] LHinson opened #547 "Nav System"
Introduce the PF4 nav system: https://pf-next.com/components/NavSystem/examples/

Interaction specs can be viewed here:
https://github.com/patternfly/patternfly-next/wiki/Horizontal-Navigation
https://github.com/patternfly/patternfly-next/wiki/Vertical-Navigation

In addition to a React review, this issue should be reviewed by the core contributors of this demo:
* CSS: @mattnolting
* Design: @kyba

[2018-08-24 14:19] LHinson opened #548 "Page Layout"
Introduce PF4 page layout: https://pf-next.com/demos/PageLayout/examples/

In addition to a React review, this issue should be reviewed by the core contributors of this demo:
* CSS: @andresgalante

[2018-08-24 14:21] LHinson opened #549 "Nav + Page Layout demo"
Introduce nav + page layout demo: https://pf-next.com/demos/PageLayout/examples/

blocked by #547 and #548

[2018-08-24 14:25] LHinson opened #550 "Background image system"
Introduce background image system: https://pf-next.com/components/BackgroundImage/examples/

Note: There is some complexity involved here with how to consume this component because of the static assets and react’s usage of webpack

In addition to a React review, this issue should be reviewed by the core contributors of this demo:
CSS: @andybraren
Design: @mceledonia

[2018-08-24 14:44] LHinson opened #551 "PF4 core refactored variables to remove property name from state variables"
<needs info>

Update react as appropriate since this merged on core: https://github.com/patternfly/patternfly-next/pull/540

[2018-08-24 14:54] LHinson opened #552 "Tooltip"
Introduce PF4 tooltip component: https://pf-next.com/components/Tooltip/examples/

See notes below about leveraging popper.js. This issue also includes identifying the best approach for a wrapper and utilizing core CSS.

In addition to a React review, this issue should be reviewed by the core contributors of this demo:
CSS: @mcoker
Design: @kybaker @mcarrano

[2018-08-24 17:13] dtaylor113 opened #553 "Update Filter to latest PatternFly designs"
Currently the filter component:
1. Has the placeholder text within the dropdown, remove
2. Dropdown shows italicized current value.  Only placeholder should be italicized
3. Dropdown filter can be applied multiple times, restrict to single select/filter application
4. Dropdown doesn't remember previous selection when switching between filter fields.
5. Dropdown should revert to placeholder when it

[2018-08-24 17:48] LHinson opened #554 "Brand component"
Introduce the brand component: https://pf-next.com/components/Brand/examples/

In addition to a React review, this issue should be reviewed by the core contributors of this demo:

CSS: @mattnolting
Design: @kybaker

[2018-08-24 18:19] LHinson opened #556 "Avatar component"
Introduce PF4 avatar component: https://pf-next.com/components/Avatar/examples/

[2018-08-24 18:27] LHinson commented on #406
Closing this for now. We'll add additional issues and post info as necessary.

[2018-08-24 18:27] #406 closed

[2018-08-27 19:17] jgiardino opened #557 "Dropdown keyboard interaction"
The current implementation of the PF4 Dropdown component needs some enhancements to the keyboard interaction. The following suggestions were noted in the [original PR for Dropdown](https://github.com/patternfly/patternfly-react/pull/506):

- When the menu is visible and the user hits `Esc`
  - Current Behavior: Nothing happens
  - Expected Behavior: menu is hidden and focus is placed on the toggle

[2018-08-27 19:28] dtaylor113 opened #559 "Move code from `mockFilterExample.js` into Filter Component?"
`mockFilterExample` seems to have a lot of code which should/can be moved into the Filter component.
Should methods such as `enforceSingleSelection`, `addFilter`, `removeFilter`, `categoryFilterSelected`, `clearFilters`, etc.. be pushed down into the Filter component; and the only methods we have in `mockFilterExample` are callback functions to let app devs know when an action has been applied so