[2019-06-17 15:27] jhadvig opened #2283 "Alert component shouldn't wrap children into a paragraph tag"
When Alert component children contain any tag used for it's formatting  (eg. `ul`, `div`, ...) a warning in the browser console will be shown:

<img width="788" alt="Screen Shot 2019-06-17 at 11 40 09" src="https://user-images.githubusercontent.com/1668218/59616620-17c33f80-9125-11e9-9abc-3be1f228ddb4.png">
<img width="789" alt="Screen Shot 2019-06-17 at 11 40 20" src="https://user-images.githubus

[2019-06-17 16:20] #2156 closed

[2019-06-17 17:33] tlabaj opened #2285 "PageHeader should be updated to use the Context selector"
Currently the PageHeader has div that is hidden because the context selector was not available at the time of implementation.  The Context selector is now available so code should be updated.

` {/* Hide for now until we have the context selector component */}
    {/* <div className={css(styles.pageHeaderSelector)}>
      pf-c-context-selector
    </div> */}`

[2019-06-17 18:29] #2146 closed

[2019-06-17 18:50] seanforyou23 commented on #2275
Looks like the problem was introduced with https://github.com/patternfly/patternfly-react/pull/1757

Tippy supports an `interactive` property out of the box, which allows for highlighting and selecting text, so I'm not sure why we needed to apply pointer-events in the first place. Will keep investigating, just wanted to share finding so far.

[2019-06-17 19:56] priley86 commented on #1628
closed by #2011

[2019-06-17 19:56] #1628 closed

[2019-06-17 19:58] priley86 commented on #204
closing this legacy pf3 issue for now.

[2019-06-17 19:58] #204 closed

[2019-06-17 20:05] priley86 commented on #1310
i think this issue can be closed - `bodyWrapper` and `rowWrapper` were added a while back in #1227.  I don't think we have cellWrapper, but this can be achieved using `cellTransforms`. Are you OK w/ closing this @karelhala ?

[2019-06-17 20:38] #2258 closed

[2019-06-17 20:43] #2243 closed

[2019-06-18 08:00] karelhala commented on #1310
Yeah, we can close this issue, it has been partially resolved or not needed anymore. Closing it and if someone feels like it is still missing they will open a new issue.

[2019-06-18 13:12] rachael-phillips commented on #2275
Thanks for filing this @seanforyou23 !

[2019-06-18 13:14] rachael-phillips commented on #2283
@jhadvig is this a PF3 issue or a PF4 issue? Also, is this blocking you in any way? Thanks!

[2019-06-18 13:21] spadgett commented on #2283
PF4. It blocks https://github.com/openshift/console/pull/1699#issuecomment-502635936

[2019-06-18 13:24] rachael-phillips commented on #1741
Thanks for tagging me @jschuler. @mceledonia what are your feelings on this? I know the dark tooltip was intentional. Do you mind explaining to us why this is the case?

[2019-06-18 13:42] #1310 closed

[2019-06-18 14:12] rachael-phillips commented on #2283
@mcoker Titani wanted me to make you aware of this. If we update this as requested it will no longer match core. It also may change the intended design if changed. What would you recommend as next steps on this bug knowing this?

[2019-06-18 15:36] dlabrecq commented on #2254
Can you please share some snapshots of your implementation?

[2019-06-18 16:03] mcoker commented on #2283
I agree, the `<p>` shouldn't wrap the alert description. This looks like an oversight when we reviewed the alert component in React. The `<p>` in the core example isn't a required part of the component, and is just used as an example. Typically if an element is required for the component, we will add it to the usage documentation for that component. A user should be able to put whatever they want

[2019-06-18 16:24] jhadvig commented on #2283
@mcoker not really sure removing the `<p>` from the example would be of any help, but we need to remove it from the component source -> https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/Alert/Alert.tsx#L62

[2019-06-18 17:05] rachael-phillips commented on #2285
@tlabaj how high priority do you think this is? Could this be a candidate for the help wanted tag?

[2019-06-18 17:05] rachael-phillips commented on #2280
Thanks for opening this issue, @dlabrecq !

[2019-06-18 17:08] rachael-phillips commented on #2277
@redallen do you have an update here and how high priority is this?

[2019-06-18 17:10] rachael-phillips commented on #2237
HI @tlabaj are we ready to close this issue?

[2019-06-18 17:11] rachael-phillips commented on #2223
@redallen will the refactor resolve this?

[2019-06-18 17:22] redallen commented on #2277
This was fixed in #2287 this morning :)

[2019-06-18 17:22] #2277 closed

[2019-06-18 17:41] #1881 closed

[2019-06-18 18:07] dlabrecq commented on #2254
With a couple tweaks to donut utilization chart, I ended up with this:

![chrome-capture](https://user-images.githubusercontent.com/17481322/59708276-6c70c400-91d2-11e9-86ea-874acefcb902.gif)

[2019-06-18 18:12] dlabrecq commented on #2254
And donut threshold:

![chrome-capture](https://user-images.githubusercontent.com/17481322/59708582-0e90ac00-91d3-11e9-8882-c44e88ccb8df.gif)

[2019-06-18 18:19] #2076 closed

[2019-06-18 18:39] gdoyle1 commented on #2254
Mocks for this @dlabrecq @TheRealJon  https://marvelapp.com/c284847/screen/58299421

[2019-06-18 19:24] tlabaj commented on #2283
@mcoker I think the example in core is ok as is.    @jhadvig  PR #2293 has been pushed to resolve this isssue.

[2019-06-18 19:33] #2183 closed

[2019-06-18 19:33] #2213 closed

[2019-06-18 20:14] priley86 opened #2296 "dropdown constants type def warning"
Getting the following downstream w/ latest react-core...

[code]

This is not blocking me at the moment though, just giving a heads up 😸

[2019-06-18 21:26] priley86 commented on #2296
fixed by #2295 . closing

[2019-06-18 21:26] #2296 closed

[2019-06-19 12:53] dgutride opened #2300 "Add support for experimental react components"
Once https://github.com/patternfly/patternfly-next/issues/1950 is done - we need to do the same in react.  Experimental components would not be exported from the main index file - but would be in a separate experimental export

The following should be used for imports
import {experimentalComponent} from '@patternfly/react-core/experimental';

The documentation should also be updated to create a sp

[2019-06-19 13:57] #2119 closed

[2019-06-19 14:29] #2203 closed

[2019-06-19 14:41] #2188 closed

[2019-06-19 15:23] redallen opened #2303 "Add Custom Data-Attributes to Components for OUIA Compatibility"
Custom `data-` attributes on our components can help QE teams with integration tests. One suggestion is [OUIA](https://forum.patternfly.org/t/open-web-ui-design-specification-for-enabling-automation-ouia/154). Investigate how to include such attributes behind a Local Storage flag (for now).

This runtime could be useful for consumers who wish to run their own integration tests that locate PF4 comp

[2019-06-19 15:23] redallen commented on #1459
Closing in favor of #2303.

[2019-06-19 15:23] #1459 closed

[2019-06-19 16:21] jcaianirh commented on #2119
thanks @redallen !

[2019-06-20 13:57] tlabaj commented on #1934
closed by #2126

[2019-06-20 13:57] #1934 closed

[2019-06-20 14:55] #2254 closed

[2019-06-20 15:49] #997 closed

[2019-06-20 15:49] #1128 closed

[2019-06-20 15:49] #845 closed

[2019-06-20 15:49] #846 closed

[2019-06-20 15:49] #1275 closed

[2019-06-20 15:49] #1311 closed

[2019-06-20 15:49] #1329 closed

[2019-06-20 15:49] #1395 closed

[2019-06-20 16:32] TheRealJon opened #2314 "bug(charts) Passing threshold prop in unsorted order will cause unexpected behavior"
If the thresholds array prop is not properly sorted by the `value` property of each threshold item, then the color scale used for dynamically changing the utilization donut colors will be incorrect.

**Usage**
[code]

**Result**
![threshold sort order bug](https://user-images.githubusercontent.com/22625502/59865344-cb5f4600-9356-11e9-80c1-e420c531d4f9.png)

[2019-06-20 16:49] #361 closed

[2019-06-20 16:49] #364 closed

[2019-06-20 16:49] #381 closed

[2019-06-20 16:49] #388 closed

[2019-06-20 16:49] #239 closed

[2019-06-20 16:49] #416 closed

[2019-06-20 16:49] #422 closed

[2019-06-20 16:49] #318 closed

[2019-06-20 16:49] #474 closed

[2019-06-20 16:49] #504 closed

[2019-06-20 16:49] #465 closed

[2019-06-20 16:49] #541 closed

[2019-06-20 16:49] #545 closed

[2019-06-20 16:49] #559 closed

[2019-06-20 16:49] #423 closed

[2019-06-20 16:49] #652 closed

[2019-06-20 16:49] #655 closed

[2019-06-20 16:49] #760 closed

[2019-06-20 16:49] #326 closed

[2019-06-20 17:19] tlabaj commented on #2283
Closed by #2293

[2019-06-20 17:19] #2283 closed

[2019-06-20 17:20] tlabaj commented on #2237
Closed by #2238

[2019-06-20 17:20] #2237 closed

[2019-06-20 17:22] tlabaj commented on #2210
Closing duplicate of #1953

[2019-06-20 17:22] #2210 closed

[2019-06-20 17:22] tlabaj commented on #1953
Closed by #2168

[2019-06-20 17:22] #1953 closed

[2019-06-20 17:43] mcoker opened #2315 "Disabled variation of pagination component"
Once we complete the work needed in core and add an example in https://github.com/patternfly/patternfly-next/issues/1963, let's offer a variation of the pagination in a disabled state.

This is related to @boaz0's issue https://github.com/patternfly/patternfly-next/issues/1785

[2019-06-20 17:49] #207 closed

[2019-06-20 17:49] #206 closed

[2019-06-20 17:49] #180 closed

[2019-06-20 17:49] #189 closed

[2019-06-20 17:49] #214 closed

[2019-06-20 17:49] #54 closed

[2019-06-20 17:49] #275 closed

[2019-06-20 17:49] #241 closed

[2019-06-20 17:49] #270 closed

[2019-06-20 17:49] #227 closed

[2019-06-20 17:49] #303 closed

[2019-06-20 17:49] #314 closed

[2019-06-20 17:49] #83 closed

[2019-06-20 17:49] #324 closed

[2019-06-20 17:49] #349 closed

[2019-06-20 19:41] jschuler opened #2316 "PF4: App launcher - Allow separator between groups"
Note: Test keyboard interaction to make sure that it would still work after changes

[2019-06-20 19:42] jschuler opened #2317 "PF4: App laucher - remove inline style"
Remove inline style of cursor: pointer when the item is a <div> after patternfly/patternfly-next#1944 is merged.

[2019-06-20 20:18] #2202 closed

[2019-06-21 13:42] tlabaj commented on #2154
Closed by #2218

[2019-06-21 13:42] #2154 closed

[2019-06-21 13:47] tlabaj commented on #2084
Closed by #2297

[2019-06-21 13:47] #2084 closed

[2019-06-21 15:09] mcoker opened #2320 "Wrap form label text in new element"
From https://github.com/patternfly/patternfly-next/pull/1952/files

Add `span.pf-c-form__label-text` that wraps the label text.

[2019-06-21 15:12] mcoker opened #2321 "About modal - change strapline element to paragraph"
from https://github.com/patternfly/patternfly-next/pull/1951/files

change `.pf-c-about-modal-box__strapline` to a `<p>` and remove the nested `p.pf-c-title`. Should just be a normal paragraph and the font should now be small with a regular font-weight.

[2019-06-21 15:14] mcoker commented on #2021
Here's the core PR for this new component. https://github.com/patternfly/patternfly-next/pull/1862

[2019-06-21 16:30] jeff-phillips-18 opened #2322 "Application Launcher does not honor position "right""
Setting `position={DropdownPosition.right}` has no effect on the ApplicationLauncher

[2019-06-21 16:30] dlabrecq opened #2323 "react-charts: add support for grid and ticks"
As a user, I want to show a grid and ticks along one axis, per the design below.

<img width="423" alt="Screen Shot 2019-06-21 at 12 22 03 PM" src="https://user-images.githubusercontent.com/17481322/59936969-3e33f400-941f-11e9-8bce-7eaf7fb53a00.png">

Mocks: https://drive.google.com/file/d/1jCxBH0niB78V0PJvzHDBr8Hm5wKmDlgH/view

Victory supports the ability to show grids and ticks; however, the th

[2019-06-21 17:07] dlabrecq commented on #1692
Updated the legends, grids, axis ticks, etc. via this PR:
https://github.com/patternfly/patternfly-react/pull/2324

[2019-06-21 17:24] dlabrecq opened #2325 "Update @patternfly/patternfly package"
An update to the @patternfly/patternfly package is required in order to pull the latest chart vars into react-tokens.

[2019-06-21 18:05] rachael-phillips commented on #2322
@jschuler making you aware of this one.

[2019-06-21 18:06] rachael-phillips commented on #2325
Fixed in: https://github.com/patternfly/patternfly-react/pull/2318

[2019-06-21 18:10] #2325 closed

[2019-06-21 18:16] rachael-phillips commented on #2303
@redallen do you have an update on this one?

[2019-06-21 18:24] rachael-phillips commented on #2275
@seanforyou23 are you working on this one currently?

[2019-06-21 18:24] rachael-phillips commented on #2272
Hi @dtaylor113 how is it going on this issue?

[2019-06-21 18:28] rachael-phillips commented on #2211
@karelhala we are going to create another issue to address the breaking changes here.

[2019-06-21 18:31] rachael-phillips commented on #2211
@mcarrano we don't have a checkbox typeahed in Core - is this a variation that we planned for in design?

[2019-06-21 18:34] rachael-phillips commented on #2045
@Hyperkid123 I wanted to send you an update that we are investigating this currently

[2019-06-21 18:35] jschuler commented on #2322
@mcoker i think we're missing support for modifiers direction `up`: `.pf-c-app-launcher.pf-m-top` and position `right`: `.pf-c-app-launcher__menu.pf-m-align-right`

[2019-06-21 18:37] rachael-phillips opened #2327 "Select Update Breaking Changes"
These are the breaking changes we see in #2211

- isExpanded - all components have isOpen however select has isExpanded is there any reason for it?

cc @karelhala

[2019-06-21 18:40] rachael-phillips commented on #2185
@jeff-phillips-18 making you aware

[2019-06-21 18:45] rachael-phillips commented on #2179
@priley86 can we create two new issues. 1 for tests and 1 for the a11y work? The reason being we're hoping to assign these out to team members.

[2019-06-21 19:47] mcarrano commented on #2211
I'm not sure what you mean by "checkbox typeahead." Can someone give an example?

[2019-06-21 20:20] priley86 opened #2328 "PF4: React Virtualized tests"
Add unit/e2e tests for `@patternfly/react-virtualized-extension`.

[2019-06-21 20:23] priley86 opened #2329 "PF4: React Virtualized a11y pattern"
Revisit React Virtualized a11y patterns. Related issue in Core [1882](https://github.com/patternfly/patternfly-next/issues/1882)

[2019-06-21 20:24] priley86 commented on #2179
done. Opened #2328 and #2329. Feel free to adjust accordingly @rachael-phillips :)

[2019-06-21 20:24] #2179 closed

[2019-06-22 01:15] dlabrecq opened #2331 "PF4 Tooltip: Module not found error"
Installed the latest pre-release packages and encountered this module error with the tooltip component.

<img width="855" alt="Screen Shot 2019-06-21 at 9 13 32 PM" src="https://user-images.githubusercontent.com/17481322/59957758-968fe380-9469-11e9-86cf-a480dc18c025.png">

Package versions:
<img width="288" alt="Screen Shot 2019-06-21 at 9 15 25 PM" src="https://user-images.githubusercontent.com/1

[2019-06-22 18:50] #1375 closed

[2019-06-24 01:24] jamesla opened #2337 "Working Pagination example missing from docs"
https://www.patternfly.org/v4/documentation/react/components/pagination/

I am looking at the docs for the Pagination component however it appears to be missing a working example and the props aren't clear enough for me to wire this up to a Table component.

I'm posting this as a bug as I'd probably argue that this documentation needs to be improved.

In the mean time is there a working example or

[2019-06-24 01:49] #2173 closed

[2019-06-24 07:31] Hyperkid123 commented on #2045
@rachael-phillips thanks

[2019-06-24 07:51] jiridostal opened #2333 "PF4: Popover link not focusable"
Link in the Popover body is not focusable so it's not possible to click it.
Steps to reproduce:

1. Go to https://www.patternfly.org/v4/documentation/react/components/popover/
2. Edit source code for Simple popover (or any example on the page) so it contains an "a" element.
3. Click the "Toggle Popover" button and try to click the newly created link.

[2019-06-24 12:13] quarckster opened #2335 "PF4: Shadow DOM breaks selenium tests"
Examples in https://www.patternfly.org/v4/documentation/react/components/ use Shadow DOM. Tests in https://github.com/RedHatQE/widgetastic.patternfly4 failed because Selenium doesn't support Shadow DOM yet.

[2019-06-24 12:51] rachael-phillips commented on #2331
Hi @dlabrecq will this be a blocking change for our users? @tlabaj making you aware.

[2019-06-24 12:52] rachael-phillips commented on #2333
Hi @jiridostal is this blocking you or is this just a problem with the documentation on the site? @tlabaj making you aware.

[2019-06-24 12:54] rachael-phillips commented on #2335
Hey @redallen making you aware of this one

[2019-06-24 12:57] jschuler commented on #2335
Hi @quarckster, would it be possible to access the element as described in this article?
https://medium.com/rate-engineering/a-guide-to-working-with-shadow-dom-using-selenium-b124992559f

[2019-06-24 12:59] rachael-phillips commented on #1624
@dana did we find out if this is still an issue?

[2019-06-24 13:10] rachael-phillips opened #2336 "Spike: Investigating release automation"
cc @dgutride feel free to fill in with details

We would like to move towards a more automated release process. In this issue we should investigate the release process automation.

[2019-06-24 14:09] jiridostal commented on #2333
Unfortunately I need this functionality to work, it happens everywhere not only in docs.

[2019-06-24 14:13] #2249 closed

[2019-06-24 14:25] jschuler commented on #2335
I could also think of passing a URL attribute that turns off shadow dom

[2019-06-24 14:26] quarckster commented on #2335
@jschuler that could make things much easier!

[2019-06-24 14:29] rachael-phillips commented on #2337
@jamesla what working example is missing?

[2019-06-24 14:32] psav commented on #2335
@quarckster I was wondering if the OUIA attribute is assigned to the outer container, assuming one shadow dom per component, we could easily access the innards

[2019-06-24 14:33] quarckster commented on #2335
@psav I don't think so because shadow host != component root.

[2019-06-24 14:37] redallen commented on #2272
In `Popover/index.ts` we only `export { Popover, PopoverPosition } from './Popover';`, so we shouldn't include `PopOver{Header,Body,etc}` in the docs for consumers since they are not exposed to them.

[2019-06-24 14:37] #2272 closed

[2019-06-24 14:42] psav commented on #2335
That's a shame :)

[2019-06-24 14:49] redallen commented on #2280
Closed in #2281 .

[2019-06-24 15:02] jschuler commented on #2335
@quarckster Would you be able to append `?shadow=false` to every link on the page?

[2019-06-24 15:04] quarckster commented on #2335
Yes, that will work I just need to change that line https://github.com/RedHatQE/widgetastic.patternfly4/blob/master/testing/conftest.py#L38

[2019-06-24 15:24] rachael-phillips commented on #2337
@jschuler would you mind jumping in here and advising?

[2019-06-24 15:32] kmcfaul commented on #2145
The PR does add a similar optional 'icon' property so it should behave the same as the empty state case from what I see.

[2019-06-24 15:33] #2145 closed

[2019-06-24 15:36] rachael-phillips commented on #2333
@seanforyou23 will the issue you reference totally resolve this issue?

[2019-06-24 15:43] #2335 closed

[2019-06-24 15:51] jschuler commented on #2337
Would be good to have a paginated table demo of this. @priley86 do you happen to have an example of this or have implemented this before?

[2019-06-24 16:06] priley86 commented on #2337
hey @jschuler ! I think the closest I have come across of our PF4 Table integrated w/ Pagination is in Insights-Advisor-Frontend (and their Rules table):

https://github.com/RedHatInsights/insights-advisor-frontend/blob/3921ffabd8b864641b8d4f8a1d6fcdab60251de6/src/PresentationalComponents/RulesTable/RulesTable.js#L9

major kudos to @AllenBW for being an early adopter there! 🍏

Agree it would be gr

[2019-06-24 16:13] jschuler commented on #2335
@quarckster this change is in staging now.
https://**staging**.patternfly.org/v4/documentation/react/components/alert/**?shadow=false**
Let me know if this doesn't work for you.

[2019-06-24 16:52] debsmita1 opened #2339 "PF4: Button type is missing in the Expandable Component"
The button type is missing, as a result the component behaves like a submit button on a form when clicked.

![Expandable](https://user-images.githubusercontent.com/22490998/60037062-4d8c9900-96ce-11e9-9a97-f60d749b9459.gif)

[2019-06-24 17:45] dlabrecq commented on #2331
Yes, this is a blocker. I cannot update Cost management to use the latest PF4 packages if our build will not compile.

[2019-06-24 17:57] dlabrecq commented on #2280
The PR below was used to update color scales only. This work was done first.
https://github.com/patternfly/patternfly-react/issues/2076

This issue is to update the remaining theme props to use the vars created by:
patternfly/patternfly-next#1863

[2019-06-24 18:08] #2234 closed

[2019-06-24 18:50] dlabaj commented on #2004
@rachael-phillips @mcarrano We need toolbar implemented to be consistent with core prior to doing this work.  We currently are still using a layout.  If we implement this in react without the toolbar then it will not be the same as what we have in core.

[2019-06-24 18:56] dlabaj commented on #2054
@tlabaj @mcoker I believe this will not require an updates on the react side once 1849 is fixed.  Just verification.  Let me know if you agree.

[2019-06-24 19:07] tlabaj commented on #2053
@mcoker Can you verify that the react implementation matches core.  I am thinking this may be a core issue.

[2019-06-24 19:40] kmcfaul commented on #2211
@karelhala beginning to work on these, and need some clarification about a couple.

Is the `isPlain` modifier missing from the select option component or a different part of the select?

What do you mean by searching via a callback function? If the options update with a server call in some other part of the code, then keeping the options structure in state and updating it should update the select

[2019-06-24 20:10] dlabaj commented on #2045
@Hyperkid123 Are all the request you brought up in this issue blocking you from making progress?

[2019-06-24 20:18] ssilvert commented on #1950
Hi @priley86,

I created a reproducer for you.  Just grab [this branch](https://github.com/ssilvert/systemjs-react/tree/patternfly-react) of my simple patternfly/systemjs app.  If you run 'npm run build' you will see the TypeScript errors.

If this is going to take much longer, can we start thinking about a temporary solution where we just provide some simple .d.ts files?  We do need to get past t

[2019-06-24 20:24] #2320 closed

[2019-06-24 20:35] rachael-phillips commented on #2004
@mcoker @mcarrano should we just wait until toolbar refactor is complete in Core and React to continue with this work?

[2019-06-24 20:44] rachael-phillips commented on #2339
@debsmita1 is this blocking you currently or do you have a work around?

[2019-06-24 21:03] mcarrano commented on #2004
Yes, I think so @rachael-phillips . Having a refactored React toolbar will be a dependency for any of these data views (card, list, or table).

[2019-06-25 05:33] debsmita1 commented on #2339
@rachael-phillips  It isn't blocking me currently. I do have a workaround (I am using preventDefault() )

[2019-06-25 06:42] karelhala commented on #2211
I would expect that this property would have same behavior as `isPlain` on dropdown component. That means, no borders etc. If there is no example in core I think we can skip it. I would just expect similiar API as what has dropdown.

Currently default search function is searching over DOM elements, that is not ideal if I am using translated texts I can't map them to untranslated (present on server

[2019-06-25 06:42] karelhala commented on #2327
Thank you for opening this issue!

[2019-06-25 08:47] Hyperkid123 commented on #2045
@dlabaj well i am using completely different component from `react-select` library which so it does not that much. But i have to keep the styling up to date with every change in pf repo

[2019-06-25 09:15] quarckster commented on #2335
@jschuler Thanks. It works!

[2019-06-25 12:00] quarckster commented on #2335
@redallen @jschuler can you please tell when the changes will go https://patternfly.org?

[2019-06-25 12:17] redallen commented on #2157
Popover was just converted to TypeScript, upgraded to Tippyv2, and its examples review. The Advanced popover example correctly toggles the checkbox and is not closable from clicking away except by clicking the checkbox. Reopen if there's a specific bug.

[2019-06-25 12:17] #2157 closed

[2019-06-25 12:24] #2314 closed

[2019-06-25 12:40] #2275 closed

[2019-06-25 12:44] seanforyou23 commented on #2333
@rachael-phillips I do believe so. I added an example with a link in the [Popover demo](https://patternfly-react.surge.sh/patternfly-4/components/popover/), I'll close this issue for now - feel free to reopen if I overlooked anything.

[2019-06-25 12:44] #2333 closed

[2019-06-25 12:45] rachael-phillips commented on #2331
@jschuler is going to take a look at this @dlabrecq !

[2019-06-25 13:20] jschuler commented on #2331
Hi @dlabrecq , having trouble reproducing this
https://codesandbox.io/s/pedantic-visvesvaraya-t0lzo
Can you perhaps clear out your node_modules folder and try it again?

[2019-06-25 13:50] jiridostal opened #2344 "PF4 Table: Pagination input field weird behavior"
It's almost impossible to enter page number in the pagination field.
Steps to reproduce using docs:
1. Go to https://www.patternfly.org/v4/documentation/react/components/pagination/
2. Try to enter different numbers in the page field - the first number stays in the field regardless backspace, overall experience is strange.

[2019-06-25 14:06] rachael-phillips commented on #2344
Hi @jiridostal would you consider this a bug or do you think this is more of a design flaw?

[2019-06-25 14:16] jiridostal commented on #2344
It was repeatedly reported on our app as a bug.

[2019-06-25 14:20] redallen commented on #2335
@quarckster It's been promoted now.

[2019-06-25 14:29] dlabrecq commented on #2331
I installed the latest pre-release packages and no longer see the tooltip error.

<img width="277" alt="Screen Shot 2019-06-25 at 10 29 04 AM" src="https://user-images.githubusercontent.com/17481322/60106986-1650d300-9734-11e9-868d-9a60c11751f5.png">

However, I see 6 new TS error with tabs. Looks like variant should be optional because there is a default.

<img width="800" alt="Screen Shot 2019-0

[2019-06-25 15:13] tlabaj commented on #2331
Closing this since the latest package resolves he issue.

[2019-06-25 15:13] #2331 closed

[2019-06-25 15:21] #2075 closed

[2019-06-25 15:21] #2323 closed

[2019-06-25 15:21] #1692 closed

[2019-06-25 15:29] dlabrecq commented on #2331
I have to open a new issue for tabs?

[2019-06-25 15:29] dlabrecq opened #2345 "PF4 Tabs Typscript error"
I installed the very latest pre-release packages and the Cost Management build generates 6 new TS errors with tabs. Looks like variant should be optional because there is a default.

<img width="277" alt="Screen Shot 2019-06-25 at 10 29 04 AM" src="https://user-images.githubusercontent.com/17481322/60106986-1650d300-9734-11e9-868d-9a60c11751f5.png">

<img width="800" alt="Screen Shot 2019-06-25 at

[2019-06-25 15:30] tlabaj commented on #2331
At Dan I was about to open it.  You can open it is you want to.

[2019-06-25 15:34] tlabaj opened #2346 "PF4 Tabs: TS Errors."
@dlabrecq is seeing error in Cost Management.

Screen Shot 2019-06-21 at 9 13 32 PM

Package versions:
Screen Shot 2019-06-21 at 9 15 25 PM

[2019-06-25 15:34] tlabaj commented on #2345
Thanks for opening this Dan

[2019-06-25 15:35] tlabaj commented on #2346
This is a duplicate.

[2019-06-25 15:35] #2346 closed

[2019-06-25 15:52] tlabaj commented on #2339
@rachael-phillips @christiemolloy I have opened an issue in core for this as well.[#1980](https://github.com/patternfly/patternfly-next/issues/1980)

[2019-06-25 16:08] TheRealJon commented on #2259
Fixed by https://github.com/patternfly/patternfly-react/pull/2270

[2019-06-25 16:08] #2259 closed

[2019-06-25 17:16] christiemolloy opened #2347 "Update text in the Form Component"
Related to this PR: #2332

Remove the word "required" from the `pf-c-form__label` text, so that the labels mimic what we have in Core.

[2019-06-25 17:29] christianvogt commented on #2144
+1 a little annoying

[2019-06-25 17:31] christianvogt commented on #2050
Same problem occurs on `Split`

[2019-06-25 17:40] tlabaj opened #2349 "PF4 Tabs: Remove commented code from props"
A couple of things need to be updated After Typescript conversion.

1. line 17 of TabContent.tsx  has commented code that should be removed.
2. remove `typeof` from the union in Tabs.tsx.  this is inconsistent with other components.

[2019-06-25 17:49] #2345 closed

[2019-06-25 17:51] #2339 closed

[2019-06-25 18:02] boaz0 commented on #2347
@tlabaj can I take this?

[2019-06-25 18:04] tlabaj commented on #2347
@boaz0 can you fix it now?

[2019-06-25 18:12] tlabaj commented on #2347
@boaz Jessie will fix this one.

[2019-06-25 18:15] christianvogt opened #2350 "support uncontrolled Expandable"
Often times the expandable section doesn't need to be controlled and for developer ease it would be good to have the Expandable component support an uncontrolled variant if the `isExpanded` prop isn't supplied.

This would also require support for the expanded vs unexpanded text.

[2019-06-25 19:44] rachael-phillips commented on #2344
@jiridostal so it sounds like a blocker. Is that right or do you have a workaround?

[2019-06-25 19:49] rachael-phillips commented on #2350
@titani making you aware

[2019-06-25 20:22] #2347 closed

[2019-06-25 20:37] jessiehuff commented on #2050
I don't think the modifiers exist [in core](https://github.com/patternfly/patternfly-next/blob/master/src/patternfly/layouts/Stack/stack.scss) so even though we changed the class name it doesn't do anything.

[2019-06-26 07:21] ares opened #2356 "Donut chart main label is misleading due to round up"
Imagine you draw a donut chart for a fireman operator dashboard. It displays how many building in a city are on fire and how many are ok. Let's say there are 1000 buildings in the city. Now first starts burning, so we have 999 ok (green), 1 on fire (red). The donut chart will show only green color, and only after hovering over it, it says "99.9%", which is one problem, there's no visual indication

[2019-06-26 09:12] jiridostal commented on #2344
I was not able to provide a workaround, I believe this needs to be fixed on PF side.

[2019-06-26 10:25] jiridostal commented on #2344
We got one more report recently - the page number field allows to use only two digits. As we have a lot of pages, it'd be good to have an option to enter at least 4 digits.

[2019-06-26 11:00] idevat opened #2357 "PF4 Table attribute onExpand doesn't reflect a handler update"
This is a simplified use case:
[code]

* First click on cluster-1 nodes (i.e. click on number 2 in the cell) - everything works fine:
  * handler variables are: handlerCounter=0 and expands=[false, false] (console: `using handler`)
  * the handler returns [true, false] as expected (console: `returning from handler`)
  * component is re-rendered, expands state is [true, false] (console: `component

[2019-06-26 11:10] idevat opened #2358 "PF4 Please provide a lightweight composable component set for tables"
Patternfly-table provides heavyweight component `Table`. This component tries to provide complex functionality to ease a development. But my experience with this component is a bit painful and I would welcome a set of simple composable components beside this super "smart" component. Let me elaborate it a bit.

As can be seen for example in issue #1399, component `Table` does not allow the develope

[2019-06-26 12:47] dlabrecq opened #2359 "PF4 tabs: ForwardRef error"
Installed the latest pre-release packages with Cost Management and encountered a runtime error with tabs.

<img width="1747" alt="Screen Shot 2019-06-28 at 9 33 27 PM" src="https://user-images.githubusercontent.com/17481322/60378159-6659bf00-99ec-11e9-8b44-80a5be1859f2.png">

Package versions:
<img width="295" alt="Screen Shot 2019-06-26 at 8 47 05 AM" src="https://user-images.githubusercontent.co

[2019-06-26 13:27] rachael-phillips commented on #2358
@priley86 @tlabaj making you aware

[2019-06-26 13:52] priley86 commented on #1950
hi @ssilvert, thanks for following up w/ this (it gives a better glimpse of what you are looking at).

Regarding the typescript definitions to `react-table`, I've added an [initial draft PR](https://github.com/patternfly/patternfly-react/pull/2360) that will convert some existing react-table components to typescript and will add `d.ts` files for components not yet converted. This would enable you

[2019-06-26 14:26] redallen opened #2361 "Incremental build should hash folder names"
In hashDir.js:15: https://github.com/patternfly/patternfly-react/blob/master/scripts/hashDir.js, we should also hash the folder name before we recursively call `hashDir` again.

[2019-06-26 15:00] mturley opened #2362 "Code style/formatting rules for TypeScript are not enforced by TSLint"
In patternfly-4/react-core, in our tslint.json we extend `tslint-config-prettier`, but we're not running Prettier when we lint our TypeScript.

From https://www.npmjs.com/package/tslint-config-prettier:

With this configuration, TSLint is no longer enforcing any code formatting / style rules. For code formatting we need to run Prettier, either by using its CLI directly, or by adding `tslint-plugin

[2019-06-26 15:10] redallen commented on #2362
Prettier CLI docs: https://prettier.io/docs/en/cli.html

[2019-06-26 15:24] mturley commented on #1950
+1 for adding `no-any`, if we really need `any` in a particular case we can use `// tslint:disable-line:no-any` on those lines.

[2019-06-26 15:29] rachael-phillips commented on #2358
Hi @idevat thanks for filing! Would this experience be improved if we improve the documentation for our current Table?

[2019-06-26 15:34] rachael-phillips commented on #2357
@idevat are you blocked by this currently or do you have a workaround?

[2019-06-26 15:34] rachael-phillips commented on #2356
@dlabrecq making you aware of this one

[2019-06-26 15:35] rachael-phillips commented on #2356
@ares is this blocking you at this time?

[2019-06-26 15:54] rachael-phillips commented on #2303
@dgutride can you add a list of components here of what will need to be delivered? We're trying to understand the stopping point of this effort and when it is complete.

[2019-06-26 17:13] mturley commented on #2359
I'm guessing the TypeError is more serious than the forwardRef error, I'm not sure why forwardRef is even required there

[2019-06-26 17:17] mturley commented on #2359
@dlabrecq, I found someone with a similar issue: https://github.com/atomiks/tippy.js-react/issues/63
In their case it seems like it was either the wrong version of React, or a webpack issue, or a node_modules cache issue. Have you tried deleting `node_modules` and reinstalling? What version of React are you using in Cost Management?

[2019-06-26 17:29] ssilvert commented on #1950
We have used this build config from the beginning and we don't have any problems with `react-core`.

I want my code to produce as few runtime errors as possible.  So it is advisable to keep `strictNullChecks` and `noImplicitAny`.  We also use the `no-any` rule in our linting.  IMHO, use of `any` would defeat the purpose of TypeScript.

You might be able to suppress the `noImplicitAny` errors using

[2019-06-26 17:32] ssilvert commented on #1950
@priley86 Last but not least, where are we now?  Have you been able to get rid of some or all of the errors when transpiling my project?

[2019-06-26 17:36] dlabrecq commented on #2359
I encountered this issue before with the tab component. It was a result of not checking if children were undefined when tabs and tab content are split. I assume there is a similar issue after refactoring the code for typescript.

Note that this was working prior to converting tabs to typescript.

Yes, I've deleted node_modules.

"react-dom": "^16.6.3"

[2019-06-26 17:37] tlabaj commented on #2211
@karelhala the Select menu is the same width as the toggle.  Position left or right would not make a difference to the appearance.

[2019-06-26 17:43] rachael-phillips commented on #2211
@karelhala when you have marked something as critical, what are the timeline needs for this fix?

[2019-06-26 18:05] mcarrano opened #2364 "Epic: Bulk actions in lists and tables"
This epic aggregates a number of separate issues that address bulk selection and bulk actions (including bulk editing) against items in a table or list.

[2019-06-26 18:07] debsmita1 opened #2365 "PF4: Build error when using react-core: 3.53.3 package"
I am trying to use the react-core's latest pre-release package 3.53.3 in the openshift/console code, and my build fails with an error

![Screenshot from 2019-06-26 20-10-22](https://user-images.githubusercontent.com/22490998/60203671-c4f72f80-986a-11e9-9fe9-ad6253c138e0.png)

[2019-06-26 18:14] tlabaj opened #2366 "PF4 Select: Add isDisabled prop to the component"
The consumer should be able to disable the Select component similar to the Dropdown.

This issue is dependent on the core issue [#1985](https://github.com/patternfly/patternfly-next/issues/1985)

@jschuler will be in charge on the PR review for this one.

[2019-06-26 18:25] mcarrano opened #2367 "Add Sparkline example to Area chart"
A Sparkline chart is a variant of an area chart that provides a compact view of the change in a metric over time. These charts are useful for reflecting trends at a glance. To keep the chart compact, axis labels are excluded. The goal is to reflect change over time rather than reporting exact values.

See PF3 implementation here: https://www.patternfly.org/pattern-library/data-visualization/sparkl

[2019-06-26 18:27] tlabaj opened #2368 "PF4 Select: add direction prop to the component"
The consumer would like to set the direction of the select menu (top or down) similar to the Dropdown component.  An example should also be added.

This can be resolved once core issue [#1986](https://github.com/patternfly/patternfly-next/issues/1986) is resolved.

@tlabaj will be in charge of the PR review for this issue :)

[2019-06-26 18:41] tlabaj opened #2369 "PF4 Select: Unable to search by callback function"
Add a callback function for the search

[2019-06-26 18:42] dgutride commented on #2185
@skateman - I just tried to change the class of the container and was able to successfully change the background color, can you provide a little more details as to why this example wouldn't work for you? All of the props supported by the bootstrap modal used are passed through to the modal. https://codesandbox.io/s/pf-react-about-modal-demo-bq1qp?fontsize=14

[2019-06-26 18:44] tlabaj opened #2370 "PF4 Select: Add ability to use custom component in select children"
Add ability to use custom component in select children

[2019-06-26 18:45] tlabaj commented on #2211
Issue #2366 has been opened to address the `isDisabled`
Issue #2368 has been added for the direction prop
Issue #2369 has been added for the Search callback
Issue #2370 has ben added for the custom children

[2019-06-26 18:53] tlabaj opened #2371 "PF4 Select: The isPlain prop is missing"
A isPlain Prop should be added. When true we should display the toggle with no border or background similar to Dropdown.

This issue should be resolved once core issue [#1987](https://github.com/patternfly/patternfly-next/issues/1987) is resolved

* Add demo of plain select to react docs

[2019-06-26 19:03] TheRealJon opened #2372 "babel-plugin-typescript-to-proptypes package does not reliably convert all typescript type definitions"
Noticed that the dist js for ChartDonut only has about half of the prop types defined that it should. There are 54 props with type definitions in the source typescript file, and only 25 prop types in the resulting dist js.

[2019-06-26 20:29] dlabrecq commented on #2356
@rachael-phillips FYI, this is an PF3 issue

[2019-06-26 20:49] skateman commented on #2185
@dgutride yes, adding a class to the document's body (the container) is a workaround we're doing in the PR linked above, however, I see this as an ugly hack.

[2019-06-27 06:34] ares commented on #2356
It's not blocking but the bug reported by customer has a big priority. @amirfefer will send a PR with the fix today I believe. And sorry for confusion, yes this is PF3 issue.

[2019-06-27 08:24] jiridostal opened #2374 "PF4: Pagination - page number converted to three dots"
A bug report to our app says "Page number is lost and replaced w/ "..." if I click to the last page. See attached images.".
It was created on Mac, I was not able to reproduce it on Fedora Firefox nor Chrome.
![image](https://user-images.githubusercontent.com/6286045/60249670-8cd10a80-98c5-11e9-97c8-f7edafea38c8.png)

[2019-06-27 09:57] idevat commented on #2357
Unfortunately, I have no workaround. I can do it just as I described in #2358. When I encountered the issue, I was doing simplification to discover the root cause of the issue. But I haven't tried to find alternative approaches yet. So, there could be a workaround, but I don't know about it.

[2019-06-27 12:40] ares commented on #2356
The suggested fix - https://github.com/patternfly/patternfly-react/pull/2375

[2019-06-27 12:58] rachael-phillips commented on #2356
Thanks @ares and @dlabrecq !

[2019-06-27 13:18] redallen commented on #2139
What's wrong with overriding the existing Victory props to make `animate?: boolean`? What type of `@` annotation would you like to use, and how would you like it to render?

[2019-06-27 13:31] rachael-phillips commented on #2372
@TheRealJon how high priority is this? Would you say this will block anyone?

[2019-06-27 13:40] TheRealJon commented on #2372
@rachael-phillips This shouldn't block anyone, it would just cause javascript console warnings in development mode.

[2019-06-27 13:51] quarckster commented on #2303
@rachael-phillips we would like to have OUIA compatible this list of components:
Alert
Breadcrumb
Button
Context Selector
Donut Chart
Dropdown
FormSelect
Nav
Pagination
Select
Switch
Table
Tabs
`Switch` has already an opend PR.

[2019-06-27 14:09] rachael-phillips commented on #2303
@quarckster thank you! Would it make the most sense to open separate issues to track this work or do you want to track it all here in this issue?

[2019-06-27 14:43] quarckster commented on #2303
@rachael-phillips I plan to open separate PRs for each component.

[2019-06-27 16:15] dlabrecq commented on #2139
If `animate` were a `boolean`, that would generate an error because the underlying Victory component has a different type. Ideally, we wouldn't override types at all.

Overriding props to be a simple `boolean`, `string`, etc. is not going to work. There are far more complex objects with nested properties.

[2019-06-27 16:42] katierik commented on #2374
There is some more strange behavior I am seeing with this number selector.
I cannot type a number in it and get the correct result. e.g. I tried to type "20" to go direct to p20 and got some strange responses: http://www.giphy.com/gifs/kdoQOkTSp1gnldR0F9

[2019-06-27 16:51] #2349 closed

[2019-06-27 17:04] #2130 closed

[2019-06-27 17:05] #2338 closed

[2019-06-27 17:24] tlabaj commented on #2212
Closed by #2216

[2019-06-27 17:24] #2199 closed

[2019-06-27 17:25] #2212 closed

[2019-06-27 17:27] redallen commented on #2139
It wouldn't generate an error if we `Omit<VictoryProps, 'animate'>` and then pass to victory something like `animate ? {object Victory expects} : {}`. Still, what type of annotation would you like to use, and how would you like it to render?

[2019-06-27 17:30] #2083 closed

[2019-06-27 18:10] #2167 closed

[2019-06-27 18:20] #2219 closed

[2019-06-27 18:47] rebeccaalpert commented on #2344
@jiridostal - the width is controlled by patternfly-next; I opened an issue for that at https://github.com/patternfly/patternfly-next/issues/1996.

[2019-06-27 18:56] dgutride commented on #2358
@idevat  - thanks for opening this issue.  Before we agree to take on this work, I'd like to see what @karelhala  and @priley86 have to say about both the feasibility of this request as well as whether or not this is a valuable addition to the component library.  @priley86 is away for a little while so we'll revisit this around the second week of July or so

[2019-06-27 19:06] #1742 closed

[2019-06-27 19:10] redallen opened #2380 "Exclude internal properties from docs"
Props that look like:
[code]
shouldn't show.

[2019-06-27 19:31] SpyTec commented on #2380
Wouldn't items with `@private` JSDoc property be better?

[code]

Or if docs are built with JSDoc in mind, it would be possible to use `@protected` instead and explicitly tell the docs builder to ignore them

[2019-06-27 19:33] jschuler opened #2381 "Sample issue to test new PR approach"
Reviewer will be @redallen

[2019-06-27 19:37] rebeccaalpert commented on #2374
This is related to a text-overflow: ellipsis style from React Core. I opened an issue there at https://github.com/patternfly/patternfly-next/issues/2000.

[2019-06-27 19:37] jschuler commented on #2381
@redallen to the rescue!

[2019-06-27 19:37] redallen commented on #2380
I prefer the JSDoc route! I'm going to have to parse the string either way since JSDoc isn't used, but I'm all for a standard.

[2019-06-27 19:40] redallen commented on #2381
Rescued.

[2019-06-27 19:40] #2381 closed

[2019-06-27 20:18] #2367 closed

[2019-06-27 20:20] #2321 closed

[2019-06-27 20:24] #2021 closed

[2019-06-28 13:53] christiemolloy opened #2390 "feat(accordion): update examples and html structure."
Related to this issue in Core: https://github.com/patternfly/patternfly-next/issues/1913

In Core we added a new example and updated an old example of the Accordion, so that now there is one example that uses just `<div>` and `<h1 - h6>` in its html markup, and another that uses "definition list" `<dl>`, `<dt>` and `<dd>` in its html markup.

In Core we don't have defaults the same way that React

[2019-06-28 13:56] christiemolloy opened #2391 "Add types to buttons"
Related to https://github.com/patternfly/patternfly-next/issues/1980 and https://github.com/patternfly/patternfly-next/pull/1982

Buttons now have a type of "button" by default. If buttons are used to submit data at the end of a form, then they use the "submit" type, and if they are used to reset data in a form they use the "reset" type.

This also adds a default type of "button" to the expandable

[2019-06-28 13:58] christiemolloy opened #2392 "Compact card variation"
Related to https://github.com/patternfly/patternfly-next/issues/1946 and https://github.com/patternfly/patternfly-next/pull/1975

In Core we added a compact variation of the card. In React a prop should be added for the user to specify a card as "compact" so that it gets the compact styling.

[2019-06-28 14:00] christiemolloy opened #2393 "Size change in Progress Component"
Related to : https://github.com/patternfly/patternfly-next/pull/1974

Font-size for the `pf-m-sm` variation of the progress size has been changed. Not sure if anything needs to happen in React here. Feel free to close the issue if it doesn't.

[2019-06-28 14:02] christiemolloy opened #2394 "toggle rotation"
Related to: https://github.com/patternfly/patternfly-next/pull/1932

We added variables for the transform() property and the transition() property. This issue should be used to verify that the transitions set on "toggle elements" in components work properly.

[2019-06-28 14:29] christiemolloy opened #2396 "Add disabled variation for Options Menu"
https://github.com/patternfly/patternfly-next/pull/1973

Add disabled variation for the default options menu and the options menu with the plain modifier.

[2019-06-28 14:39] rachael-phillips commented on #2393
Can close once we update

[2019-06-28 14:49] rachael-phillips commented on #2391
We won't address this for the Albatross release if the build is fine but plan to pick this up for Bluebird

[2019-06-28 15:03] rachael-phillips commented on #2391
We are going to investigate this

[2019-06-28 15:07] matthewcarleton opened #2398 "Align with core implementation of page header"
Currently the react version of `.pf-c-header` uses `pf-c-page__header-tools-group` to layout out the utilities.
In Core it uses `pf-l-toolbar` to layout the items.
This difference is causing some alignment issues.
This could be related to this issue #2009

[2019-06-28 15:22] karelhala commented on #2358
There has been a lengthy discussion at the start of pf4 project about table library [1]. React tabular [2] has been chosen. The main reason why is that any project can write rather simple formatter or transformer. At the same time we found the vanilla API is rather hard to use and we have wrote a wrapper that simplified it to some extend (you can still use vanilla API if you want to, for instance

[2019-06-28 17:34] dlabrecq commented on #2139
I simply want to add documentation without having to also re-typing all Victory properties or having to write special code to pass-thru complex objects. Ideally, we should be able to extend a Victory interface and use their existing documentation. I don't have a solution for you, only stating the problem.

[2019-06-28 18:34] dlabrecq commented on #2359
FYI, this does not appear to be related to slightly different React versions. The versions in react-core and Cost Management have not changed for quite a while. The only recent change I see is the tab components were converted to typescript.

That said, my own debugging shows that the `forwardRef` property is required in `ForwardedRefProps` of `Tab.tsx`. Additionally, the `innerRef` property of `T

[2019-06-28 19:07] mturley commented on #2359
@seanforyou23 is this related to the changes we were discussing the other day about the updated version of Tippy? I wasn't sure if the code you were seeing problems with was merged or not

[2019-06-28 19:10] redallen commented on #2139
Oh, I completely understand that issue. That requires extending [react-docgen](https://github.com/reactjs/react-docgen) to follow imports to resolve types. I can open that issue upstream.

[2019-06-28 19:35] dlabrecq opened #2400 "Tippy error"
I updated to the latest pre-release packages and encountering an issue with Tippy, which prevents the page from rendering.

Note that I've also updated React v16.3.9 and React.dom v16.0.5 to use v16.8.0. That is, in an attempt to fix this issue.

<img width="1182" alt="Screen Shot 2019-06-28 at 3 37 58 PM" src="https://user-images.githubusercontent.com/17481322/60366878-c9326280-99ba-11e9-8303-056

[2019-06-28 19:44] dlabrecq opened #2403 "GridItem warnings"
I updated to the latest pre-release packages and encountering a bunch of new warnings with GridItem.

Note that I've also updated React v16.3.9 and React.dom v16.0.5 to use v16.8.0 -- required for PatternFly's use of Tippy.

<img width="267" alt="Screen Shot 2019-06-28 at 3 30 25 PM" src="https://user-images.githubusercontent.com/17481322/60366498-b0757d00-99b9-11e9-8007-913303ce595f.png">

<img w

[2019-06-28 20:08] jgiardino commented on #1389
I was reviewing the Modal with @jenny-s51 and noticed an issue with how Modal traps focus for screen readers.

I think the PR where we implemented this was https://github.com/patternfly/patternfly-react/pull/1011. I'm not sure if there were other updates made since then that intended to modify this behavior, or if updates since then were made unintentionally, but the behavior required to trap focu

[2019-06-28 20:33] jgiardino opened #2405 "Modal should trap screen reader focus"
Currently, the method for trapping focus in the Modal component for screen readers is not working as expected. This was previously working, but at some point, the behavior changed. I copied this description of the issue from #1389:

I think the PR where we implemented this was https://github.com/patternfly/patternfly-react/pull/1011. I'm not sure if there were other updates made since then that in

[2019-06-28 21:59] dlabrecq commented on #2400
A couple notes from my discussion with @redallen .

Zack mentioned that Tippy requires a function in a higher version of React. (I don't believe the versions in PF and Cost Management have changed in quite a while.) Regardless, the problem wasn't resolved by updating React and React.dom to v16.8.0 for Cost Management.

Zack also suggested that "since there's both PF3 and PF4 and different versions

[2019-06-29 01:30] dlabrecq commented on #2359
Tippy is a separate issue https://github.com/patternfly/patternfly-react/issues/2400

[2019-06-29 01:51] dlabrecq commented on #1756
This can be closed. Color vars are now available in react-tokens and react-charts have been updated to use them.

[2019-06-29 01:51] #1756 closed

[2019-06-30 20:13] dlabrecq commented on #2400
Added a dependency for react v16.8.6, which seems to be helping. I'm now seeing issues #2403 and #2400.

Unfortunately, our tests are failing due to lodash-es, which appears to be used by react-table? Cost Management is not using this.

<img width="881" alt="Screen Shot 2019-06-30 at 4 09 46 PM" src="https://user-images.githubusercontent.com/17481322/60401585-d170d600-9b51-11e9-988a-66bba9fdbb43.p

[2019-07-01 10:39] idevat commented on #2358
It would certainly be a good idea to improve the documentation. However, the main point was not about documentation.

Consider following example:
[code]
There is the component `Example` that uses `Table` component. Rows and columns are stored in the component state - this is common pattern in a documentation. There is also a default component that pushes data to `Example` component. Data can chang

[2019-07-01 11:54] karelhala commented on #2358
In the alternative exaple you are uilding rows in render method, you can actually do the same thing for Table component. About the selected/expanded you'd still have to keep it somehwere and you can buble this information up to parent one or keep it in state.

I dissagree with you Table component is big generic data driven component. There are various reasons (like sharing transformers, accessibil

[2019-07-01 12:39] seanforyou23 commented on #2359
It's possible @mturley - we're using the workaround pattern tippy [recommends](https://github.com/atomiks/tippy.js-react#component-children) (using a `span` as an immediate child) until we come to conclusion on how we want to handle forwardRef across many components. It seems there's been a few approaches used in the codebase so this is probably a good time to align them.

I've got an open PR for

[2019-07-01 12:42] rachael-phillips commented on #2400
@seanforyou23 #2395 solve @dlabrecq 's issue? @tlabaj making you aware

[2019-07-01 12:46] seanforyou23 commented on #2400
@rachael-phillips not as is, but I'm looking to see if there's a way to extend that PR to fix it. Haven't been able to reproduce it locally yet - will keep trying. Working on this today.

[2019-07-01 13:22] #2403 closed

[2019-07-01 13:28] redallen commented on #2139
Looks like [a PR](https://github.com/reactjs/react-docgen/pull/352) is already opened to add support for this. Awaiting its merge and a new package release.

[2019-07-01 13:38] #2392 closed

[2019-07-01 13:45] #2359 closed

[2019-07-01 13:50] redallen commented on #2400
@dlabrecq On the package side, someone else had a problem with lodash imports in react-charts in #2222 and it was solved by making `lodash-es` a dependency of react-charts instead of peerDependency. If you use `lodash-es` elsewhere I'd make sure all those versions align. (But koko-ui looks fine).
[code]

On the Jest side, it looks like it can't handle the module syntax in `lodash-es`, so perhaps y

[2019-07-01 13:52] dlabrecq commented on #2400
FYI, @ patternfly/react-core still has the following dependencies. Although, it appears that 16.8.6 is now required?
[code]

[2019-07-01 13:55] dlabrecq commented on #2400
Thanks, @redallen. We don't use lodash-es in Cost Management and prefer not to make this a dependency just for a test.

We may end up deleting this test rather than transpile lodash-es.

[2019-07-01 14:07] redallen opened #2408 "Bump React to 16.8.6 for Tippy 2"
We need to update our React version to support #2326 . Consumers will have to upgrade their version of React to match our peer dependency in order to use Tippy components. Include this in the release notes @rachael-phillips .

[2019-07-01 14:08] redallen commented on #2400
@dlabrecq Yes, `16.8.6` is now required for both `react` and `react-dom` because of the Tippy upgrade. I've opened #2408 for this. I cut a branch to that Friday without issue. There is the small implementation detail that consumers will have to upgrade React as well in order to use Tippy components.

[2019-07-01 14:56] dlabrecq commented on #2400
Looks like Tippy is having an affect on the chart legends in Cost Management as well. Haven't narrowed it down yet, but we're adding the tooltips to our legends -- the text is not rendering.

![Screen Shot 2019-07-01 at 10 40 38 AM](https://user-images.githubusercontent.com/17481322/60446153-c28c3100-9bee-11e9-9394-8542c5a042d2.png)

[2019-07-01 15:02] karelhala commented on #2357
@idevat this is not really a problem of tables, but how React is working with computed set state. If you look at the documentation [1] of how to use seState with computed state from previous value you will see the solution right away.

This is really easy to fix instead of creating callback with expands from state you can use arrow function in `setExpands` and use `expands` as argument. Here you a

[2019-07-01 15:05] idevat commented on #2358
My original intention was to show why I lack simple components. I apologize for moving to criticism of the component.

With transformers I did a mistake - they are in columns.

Yes, `react-select` can be understood as similar component. But I'm not sure if the variability of this components and `Table` is comparable. Anyway, I would prefer html API with `select` and `options`.

**I can see value i

[2019-07-01 15:12] jessiehuff opened #2411 "Convert Stack to Typescript"
Convert stack to typescript, add demo, and integration testing

[2019-07-01 15:23] redallen commented on #2408
@seanforyou23 You can look at https://github.com/patternfly/patternfly-react/pull/2409/files for what files to change.

[2019-07-01 15:24] dlabrecq opened #2413 "Tippy / Tooltip not rendering properly"
It appears that the Tippy has an affect on the chart legends in Cost Management. We're adding the tooltips to our legends (below), but the text is no longer rendering with react and react-dom v16.8.6.

[code]

Wrapped with Tooltip:
![Screen Shot 2019-07-01 at 10 40 38 AM](https://user-images.githubusercontent.com/17481322/60446153-c28c3100-9bee-11e9-9394-8542c5a042d2.png)

Not Wrapped:
![Screen Sh

[2019-07-01 15:33] dlabrecq commented on #2413
Even this won't render:

![Screen Shot 2019-07-01 at 11 32 52 AM](https://user-images.githubusercontent.com/17481322/60448632-05043c80-9bf4-11e9-923b-66e181bcbc53.png)

![Screen Shot 2019-07-01 at 11 32 44 AM](https://user-images.githubusercontent.com/17481322/60448625-02094c00-9bf4-11e9-85b3-3cfa41d0ff0a.png)

[2019-07-01 15:36] idevat commented on #2357
Thanks! This elegantly solves the issue.

 I was too concentrated on the fact that the handler behaves differently in the `Table` than in the `div`.

Just notice, that it is a problem of `table` because otherwise it wouldn't work in the case of `div`. So it is true that `Table` attribute `onExpand` doesn't reflect a handler update. But with your solution no update of handler is required (because p

[2019-07-01 15:36] #2357 closed

[2019-07-01 15:55] tlabaj commented on #2396
Closed by #2401

[2019-07-01 15:55] #2396 closed

[2019-07-01 16:05] tlabaj commented on #2365
Closing this issue.  #2400 is a duplicate  that is being worked on.

[2019-07-01 16:05] #2365 closed

[2019-07-01 16:06] tlabaj commented on #2400
Closed #2365 since this issue address it.

[2019-07-01 16:09] dlabaj opened #2415 "Unable to click options menu check on the right hand side."
There's an area between the text and the check that does not respond to click events when a user clicks in that area.  See screenshot below.

<img width="184" alt="Screen Shot 2019-07-01 at 11 18 26 AM" src="https://user-images.githubusercontent.com/6126356/60450229-637eea00-9bf7-11e9-91c7-21d8523547a9.png">
@dlabaj for PR review

[2019-07-01 17:11] dlabrecq commented on #2400
I'm still seeing an error with Tippy. Does this mean I have to downgrade my version of React now?

[2019-07-01 17:35] tlabaj opened #2416 "Fail build for PRs with a commit that says "Breaking change""
Remove the "breaking change" option from `yarn commit` script.  This way contributors will not inadvertently bump the react-core version

[2019-07-01 17:46] #2400 closed

[2019-07-01 18:08] dlabrecq commented on #2413
Seems that the issue does not appear with react v16.5.2.

Although Cost Management can downgrade as a workaround, this means we cannot bump our versions of react, react-dom, and react-router-dom.

[2019-07-01 18:34] ssilvert commented on #1950
@priley86 What is the status of this?  Did my last posts make sense to you?

[2019-07-01 19:43] mcoker commented on #2050
@jeff-phillips-18 we don't currently support modifying the gutter size on these layouts. @kybaker and I have talked about it and if you need to override the gutter size, you'll need to write a CSS override or use a utility class. The values for the `gutter` prop in the react layouts should be removed so the gutter is either enabled or disabled. I filed an issue for that here - https://github.com/p

[2019-07-01 19:45] #2189 closed

[2019-07-01 20:44] rachael-phillips commented on #1950
Hi @ssilvert @patrick is on pto currently. cc @dana

[2019-07-02 01:35] boaz0 commented on #2398
Hi @matthewcarleton,
I can't see `pf-c-page__header-tools-group` in any of the examples (maybe you meant `pf-c-page__header-tools`?) can you give more information?

[2019-07-02 01:41] boaz0 commented on #2415
IMO it's a problem with core. There are sub elements in the button that are clickable which prevents the event to bubble to the button.

To fix this we need to set something like:

[code]

[2019-07-02 04:03] boaz0 commented on #2337
@priley86 can you assign this to me?
Thanks.

[2019-07-02 04:15] jamesla commented on #2337
@priley86 Thanks for the example I will have a read through. It would be also good if a really simple example of the most basic table with the most basic pagination component.

[2019-07-02 13:06] quarckster opened #2423 "PF4: make select components OUIA compatible"
This issue tracks implementation of OUIA compatibility for select components:

- [x] Select #2996
- [ ] Context selector
- [x] Dropdown #3135
- [ ] Formselect
- [ ] Options menu

[2019-07-02 13:07] jessiehuff opened #2424 "Convert Bullseye to Typescript"
Convert bullseye to typescript, add demo, and integration testing

[2019-07-02 13:24] quarckster opened #2425 "PF4: make common components OUIA compatible"
This issue tracks implementation of OUIA compatibility for common components:

- [ ] Alert
- [ ] Breadcrumb
- [ ] Button
- [ ] Nav
- [ ] Pagination #2387
- [ ] Switch #2304
- [ ] Tabs

[2019-07-02 13:47] quarckster opened #2426 "PF4: make table components OUIA compatible"
This issue tracks implementation of OUIA compatibility for table component.

[2019-07-02 13:57] dlabrecq commented on #2413
With the latest packages, I'm now able to update React to 16.8.6. I suspect there was an issue with forwardRef as that change has been backed out?

![Screen Shot 2019-07-02 at 9 55 54 AM](https://user-images.githubusercontent.com/17481322/60518549-be741800-9caf-11e9-8bcc-3ab2e51eecfa.png)

[2019-07-02 13:57] #2413 closed

[2019-07-02 16:10] jenny-s51 commented on #1389
please see #2428

[2019-07-02 16:14] TheRealJon opened #2429 "Bug(Chart component): Malformed padding causes runtime errors"
Consumer passes padding values via the `theme` prop in the Victory `BlockProps` form:

[code]

**Expected result:**
Chart component should render with the theme's chart padding values.

**Actual Result:**
Multiple runtime errors are thrown and the Chart component does not render correctly.

[2019-07-02 17:32] #2429 closed

[2019-07-02 17:43] tlabaj commented on #2393
Closed by PR #2397

[2019-07-02 17:43] #2393 closed

[2019-07-02 18:01] jessiehuff opened #2431 "Convert Gallery to Typescript"
Convert gallery to typescript, add demo, and integration testing

[2019-07-02 18:23] matthewcarleton commented on #2398
Hey @boaz0 ya for sure.
Actually I got it backwards, let me try again :) So in the React implementation we have `pf-l-toolbar` laying out the toolbar in the header.
In core we don't have the toolbar layout provided at all and use `pf-c-page__header-tools`.
I believe we could update React and Core to use `pf-c-toolbar` but I might be wrong. @mattnolting WDYT?

[2019-07-02 18:35] mturley commented on #2362
Copying my relevant Slack comments here; we may want to get rid of TSLint and use `typescript-eslint` instead of fixing the TSLint config. Then we could use `eslint-plugin-prettier` for both languages.

[2019-07-02 19:35] mattnolting commented on #2398
@matthewcarleton @boaz0 We definitely need to remove `pf-l-toolbar` from the react implementation, as it's no longer supported in Core. My thought is that we use one standardized layout for flex things like this, but not all of the `pf-l-flex` layout is needed and we can't adjust spacing w/`pf-l-split`. There's an open issue https://github.com/patternfly/patternfly-next/issues/1979 for splitting `

[2019-07-02 19:37] #2361 closed

[2019-07-02 19:54] #2405 closed

[2019-07-02 20:01] jgiardino opened #2435 "Switch - add prop for aria-labelledby"
Related to this comment: https://github.com/patternfly/patternfly-react/issues/1296#issuecomment-468962918

The switch component can be updated to include `aria-labelledby` instead of `aria-label` so that the runtime html can resemble the examples in core that use `aria-labelledby`.

A couple of notes/questions about this solution:

- Core shows an id on both the on and off message `<span>` elemen

[2019-07-02 20:25] mcoker opened #2436 "Add 2xl breakpoint to [hidden/visible]On[breakpoint] table cell visibility classes"
we have a new breakpoint `$pf-global--breakpoint--2xl` that should be supported with both `visibleOn` and `hiddenOn` with the `classNames(Visibility.hidden, Visibility.visibleOnMd, Visibility.hiddenOnLg, ...)` classes.

[2019-07-03 02:49] dlabrecq opened #2437 "Broken chart layouts"
Seeing some odd layouts with the latest chart changes. It appears that the chart padding is not correct. I cannot see the axis labels and ticks.

<img width="600" alt="Screen Shot 2019-07-02 at 10 46 42 PM" src="https://user-images.githubusercontent.com/17481322/60559728-696deb80-9d1b-11e9-9bcc-030e651979d8.png">

<img width="476" alt="Screen Shot 2019-07-02 at 10 46 57 PM" src="https://user-image

[2019-07-03 04:21] dlabrecq commented on #2280
This PR is now available https://github.com/patternfly/patternfly-react/issues/2280. However, we need to fix a few pf-core variables.

I created this pf-core issue: https://github.com/patternfly/patternfly-next/issues/2011

[2019-07-03 06:50] quarckster opened #2440 "PF4: Trigger of widgetastic.patternfly4 tests was deleted"
PR #2287 removed a curl command that sends a POST request to Travis that triggers browser tests from https://github.com/RedHatQE/widgetastic.patternfly4/tree/master/testing. This request should be returned back and should be sent when https://www.patternfly.org/v4/documentation/react/components/ is updated. Curl command:
[code]

@tlabaj for PR review

[2019-07-03 11:39] karelhala commented on #2211
@rachael-phillips well, we have started to use different component because select has currently another issue and you can't use typeahed in there. Input does not receive focus.

[2019-07-03 13:35] redallen commented on #2440
It's much trickier if you're testing against patternfly.org. There is no build that runs to update patternfly.org.

Right now, staging.patternfly.org gets updated by a build in https://github.com/patternfly/patternfly-org and is occasionally copied over to patternfly.org. However, if you're testing against patternfly-react.surge.sh, I can add that to our build here.

Let me know how you'd like to

[2019-07-03 13:43] dlabrecq opened #2441 "Charts: Need bottom-left legend position"
Cost Management needs to align legends on the bottom-left, for its area charts. Currently, react-charts only supports centered legends.

![Screen Shot 2019-07-03 at 9 35 50 AM](https://user-images.githubusercontent.com/17481322/60596352-d4004500-9d76-11e9-88b6-de2b42d8bc16.png)

[2019-07-03 13:52] KKoukiou opened #2444 "PF4: Typeahead select input does not have isLoading property"
PF3 TypeAheadSelect has an Async variant which allows the users to show a spinner if the 'isLoading' property was passed.

It's really useful for my usecase because there is another dialog field which auto-fill the default value of this component, but this is done asynchronously.
This I need an indicator this the default value is being searched for.

[2019-07-03 13:53] KKoukiou opened #2445 "PF4: Typeahead select input does not support pagination"
Which results in big lists to grow uncontrollably long - the PF3 variation supported pagination.

related core issue that needs to be resolved first
https://github.com/patternfly/patternfly-next/issues/2052

[2019-07-03 13:55] KKoukiou opened #2446 "PF4: Typeahead select input does not do properly substring match when filtering"
The PF3 variant matches substring, and  also allows case sensitivity to be set by the user of the component. This PF4 variant does prefix string match, and is only case sensitive.

In addition the pF3 variant allowed setting of a custom filter function by the user, which is really useful.

[2019-07-03 13:56] jessiehuff opened #2447 "Convert Grid to Typescript"
Convert grid to typescript, add demo, and integration testing

[2019-07-03 14:30] quarckster commented on #2440
We used to tests against patternfly-react.surge.sh but some components are broken there so we switched to patternfly.org. It's not clear for me when documentation page with components on patternfly.org is updated. What does mean "occasionally"? Someone update it manually? Anyway, if documentation on staging.patternfly.org reflects the latest commit from master it will be enough for us.

[2019-07-03 14:36] tlabaj commented on #2096
closed by #2201

[2019-07-03 14:36] #2096 closed

[2019-07-03 14:42] dgutride commented on #2440
@quarckster  - staging.patternfly.org is not directly related to patternfly-react master - those updates happen close to once a month right now - if you want to test against a nightly build of patternfly.org, we'd have to build something different for you

[2019-07-03 14:49] tlabaj commented on #2316
closed by #2297

[2019-07-03 14:49] #2316 closed

[2019-07-03 14:51] tlabaj commented on #2094
Issue #2366 will address disabling the Select Component.

[2019-07-03 14:56] jessiehuff opened #2449 "Convert Level to Typescript"
Convert level to typescript, add demo, and integration testing

[2019-07-03 15:01] #2231 closed

[2019-07-03 15:06] jschuler opened #2451 "AppLauncher: Better solution for custom router links"
Instead of allowing a router link to be passed into the `.pf-c-app-launcher__menu-item-text` container, look at possibility for providing a router `Link` component to be passed into `ApplicationLauncherItem` that renders the Link component as the outer `.pf-c-app-launcher__menu-item` container. This way the markup will remain unchanged and the whole item will remain clickable.

For example, from:

[2019-07-03 15:11] redallen commented on #2440
To make it clearer, these are your choices for webpages to test against.

1. https://patternfly-react.surge.sh -> updated most frequently on every push to `master` on this https://github.com/patternfly/patternfly-react
2. https://staging.patternfly.org -> updated less frequently on every push to `master` on https://github.com/patternfly/patternfly-org
3. https://patternfly.org -> updated monthly b

[2019-07-03 15:15] jschuler opened #2452 "AppLauncher: docs don't show additional properties inherited from Dropdown"
For example, the AppLauncherItem has both its own props but also inherits the DropdownItem props:
https://github.com/patternfly/patternfly-react/blob/1912733f3812f16ee7de544b1b500befb86d4ed4/packages/patternfly-4/react-core/src/components/ApplicationLauncher/ApplicationLauncherItem.tsx#L21
But the docs only show the ApplicationLauncherItemProps
https://patternfly-react.surge.sh/patternfly-4/compon

[2019-07-03 15:39] kmcfaul commented on #2051
`event.target` will return the whole element that was selected, and as boaz0 commented adding an `id` can provide an easy way of identifying which specific link. If that is not sufficient, what is the preference for data the method should send back (id, text value, etc)? @jeff-phillips-18 @rachael-phillips

[2019-07-03 16:02] mcoker opened #2454 "Should the page component sidebar collapse on mobile when you click anywhere outside of the sidebar?"
Resulting from a discussion about the [drawer component in core](https://github.com/patternfly/patternfly-next/issues/1786). On mobile, if the sidebar is open, should clicking on anything outside of the sidebar automatically collapse it?

cc @mcarrano @kybaker

[2019-07-03 16:17] kmcfaul commented on #2159
I am still investigating, but have discovered that the dropdown menu item class isn't being applied to that single action. The surge has it displaying correctly.

@redallen Any ideas why the v4 site diverges with the surge?

[2019-07-03 16:20] tlabaj commented on #2094
C

[2019-07-03 16:20] #2094 closed

[2019-07-03 16:43] tlabaj commented on #2067
This issue was closed by PR #2067

[2019-07-03 16:43] #2067 closed

[2019-07-03 17:37] quarckster commented on #2440
@redallen @dgutride I checked https://patternfly-react.surge.sh it seems all previous issues were fixed and we can use it to test the components from the master. So let's just return `curl` command to the same place where it was before.

[2019-07-03 17:59] tlabaj commented on #2095
@mcoker Can you take a look at this one?  Does it have to do with the z-index?

[2019-07-03 18:27] mcarrano commented on #2211
@karelhala There is a specific variant called "Typeahead select input" https://www.patternfly.org/v4/documentation/react/components/select/#typeahead-select-input   Does this not do what you need?

[2019-07-03 18:33] tlabaj commented on #2095
@SpyTec The first issue here should be  resolved in the latest version of react-core.
The second issue is being investigated in core.  [#2019](https://github.com/patternfly/patternfly-next/issues/2019)

[2019-07-03 19:48] #2280 closed

[2019-07-03 19:48] #2437 closed

[2019-07-04 15:12] dlabrecq opened #2459 "Update chart theme for adjusted / new pf-core vars"
Need to update the chart theme for the adjusted pf-core chart vars described below. A couple vars are new.

https://github.com/patternfly/patternfly-next/issues/2011
https://github.com/patternfly/patternfly-next/issues/2023

[2019-07-04 15:25] dlabrecq opened #2460 "Remove invalid pf-core var"
Need the latest pf-core changes to update charts. However, a var was removed which breaks the build.

Needed to fix https://github.com/patternfly/patternfly-react/pull/2458

[2019-07-05 13:34] #1738 closed

[2019-07-05 13:38] redallen commented on #2416
Even if we remove it, they can always add it to commit messages using `git commit`. Even if we lint them with Husky, they can still bypass them.

It's on me to do some scripting to detect `\n\nBreaking change:` in commit messages in CircleCI and fail the build. It'd be a good thing to add to the `lint` stage.

[2019-07-05 14:22] #2460 closed

[2019-07-05 15:13] #2019 closed

[2019-07-05 16:01] jenny-s51 opened #2464 "Remove rememberMeAriaLabel prop from LoginForm.tsx"
This is in reference to issue #1737 , where this aria-label was removed from `<TextInput>`

Remove this prop:

[code]

[2019-07-05 16:17] jessiehuff opened #2465 "Convert Split to Typescript"
Convert split to typescript, add demo, and integration testing

[2019-07-05 16:29] #2144 closed

[2019-07-05 16:29] #2411 closed

[2019-07-05 16:36] #2424 closed

[2019-07-05 17:20] #2416 closed

[2019-07-05 20:34] #2431 closed

[2019-07-07 23:06] dlabaj opened #2469 "Patternfly does not build on Windows"
Patternfly does not build on Windows.  After doing a yarn install if you run yarn build you will receive errors.  See screenshot below

![image](https://user-images.githubusercontent.com/6126356/60774955-2d0b0880-a0ea-11e9-85ef-81dfb63e3d60.png)

[2019-07-08 11:14] elad661 opened #2470 "PF4: tooltips don't work on disabled DropdownItem"
I have a `<Dropdown>`, inside which there are some `<DropdownItem>`s. Some dropdown items are disabled and have tooltips, for example:

[code]

This doesn't work. Looking at the React inspector, I can see that the `<Tooltip>` inside exists, but it doesn't show when I hover with the mouse over the item. If I remove the `isDisabled`, the tooltip works - but my only usecase for tooltips here is to ex

[2019-07-08 11:23] elad661 commented on #2470
The root cause of this issue seems to be this CSS rule:

[code]
This disables any pointer event on the dropdown item, including hover / mouseenter, so the event handler to show the tooltip is never called.

Does this mean I need to move this issue to patternfly/patternfly-next? (I don't know where this style comes from exactly)

[2019-07-08 13:38] #2028 closed

[2019-07-08 13:55] #2303 closed

[2019-07-08 15:18] #2449 closed

[2019-07-08 15:24] #2197 closed

[2019-07-08 15:36] jeff-phillips-18 opened #2472 "PF4 Dropdown should allow callers to specify the initial focus item"
If a dropdown is being used for selection, the currently selected item should get the initial focus. Therefore, the application should be able to specify which dropdown item has initial focus rather than defaulting to the first item.

Also, if using custom children (not an array of dropdown items) the outer container is given focus. In the case of custom children, the DropdownMenu should not try t

[2019-07-08 17:32] #2465 closed

[2019-07-08 17:58] jessiehuff opened #2474 "Convert Toolbar to Typescript"
Convert toolbar to typescript, add demo, and integration testing

[2019-07-08 18:08] #2469 closed

[2019-07-08 18:25] tlabaj commented on #990
Issue moved to [patternfly/patternfly-next #2027](https://github.com/patternfly/patternfly-next/issues/2027) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-08 18:25] #990 closed

[2019-07-08 18:28] ryelo commented on #2344
Just an FYI, there was a bug that we filed for this:

https://github.com/patternfly/patternfly-next/issues/1536

We have a manual override we're doing in some cases that we can share @jiridostal

[2019-07-08 18:29] tlabaj commented on #1434
@mceledonia has the small size icon been introduced in core?

[2019-07-08 18:54] #2474 closed

[2019-07-08 19:06] #2472 closed

[2019-07-08 19:07] dlabaj commented on #2415
@mcoker Can you take a look to see if this is a core issue.

[2019-07-08 19:20] mcoker commented on #2415
@dlabaj weird, I can click anywhere in the button and select something in the options menu. However if I have already selected something in the "single option" example, clicking on the check icon or it's padding toggles the selection. But in the plain, right aligned, top aligned and plain with text examples it's the opposite - clicking on the check icon does nothing, but clicking on the text toggl

[2019-07-08 19:23] #2115 closed

[2019-07-08 19:25] dlabaj commented on #2050
duplicate of #1982

[2019-07-08 19:26] redallen commented on #2408
Closing since we reverted #2326 .

[2019-07-08 19:26] #2408 closed

[2019-07-08 19:28] priley86 opened #2476 "PF4: StackChart - setting the default tooltip background color"
It seems that our current default theme applied to StackCharts sets the tooltip fill and stroke to #EDEDED making the text unreadable.

![Screen Shot 2019-07-08 at 3 09 18 PM](https://user-images.githubusercontent.com/4237045/60836785-79ab1e00-a194-11e9-965d-2e1a9b061e31.png)

(changing our first StackChart example to reproduce this):
[code]

![Screen Shot 2019-07-08 at 2 37 59 PM](https://user-im

[2019-07-08 19:28] dlabaj commented on #2045
Options component will be fixed with issue #2370

[2019-07-08 19:32] quarckster opened #2477 "PF4: OUIA attrbiutes are not rendered if window.localStorage.ouia is true"
#2304 should enable `ouia` compatibility when `window.localStorage.ouia` is set to `true`. https://patternfly-react.surge.sh/patternfly-4/components/switch/ rerenders the component only when code example is edited.

Expected result:
`ouia` attributes should appear in the DOM when  `window.localStorage.ouia` is set to `true`.

[2019-07-08 19:32] quarckster commented on #2477
cc @redallen

[2019-07-08 19:35] dlabaj commented on #1855
@mcarrano Can you add a link to the core issue?

[2019-07-08 19:37] dlabaj commented on #1790
@mcoker Can you take another look at this to see if the 1200px and 1260px issues should be fixed in core?

[2019-07-08 20:25] jeff-phillips-18 opened #2479 "Can't build against react-core 3.67.1"
Error building:

[code]

[2019-07-08 20:57] mcoker commented on #1790
@dlabaj I believe this has to do with the width of the data in the cost management table. @dlabrecq we have since added `grid-2xl` as an option for `gridBreakPoint`, which will break the table to the grid layout at `450px`. Will that work?

[2019-07-09 12:13] karelhala opened #2482 "PF4: Chart tooltip is unresponsive"
When I use bar chart with title and hover over different values the title is not rendering correctly and jumps over different values.

![Peek 2019-07-09 14-08](https://user-images.githubusercontent.com/3439771/60886865-4da2a200-a253-11e9-9b72-ee8efda1a7f5.gif)

[2019-07-09 12:17] karelhala commented on #2482
@rachael-phillips ping this is quite urgent because our UX person is currently designing report tool that will show bar chart with titles.

[2019-07-09 12:22] karelhala commented on #2211
@mcarrano not really because I am unable to match the values based on my own filtering function. given the example I would like to filter the values by typing `ba` and see option `Alabama` as it contains the sring.

[2019-07-09 12:39] SpyTec opened #2483 "Select has no max height"
Select has no `max-height`, meaning that for long lists it will expand every entry. A height limit should be imposed so it can become scrollable

[2019-07-09 13:00] marusak opened #2484 "Missing .css in import after 5bbc4a25d"
Commit https://github.com/patternfly/patternfly-react/commit/5bbc4a25dba7b351cfd0c174d15eb1b28eda3384 had broken build for us. Now I see following error:
[code]
If I write there `.css` back it works again.

[2019-07-09 13:05] SpyTec opened #2485 "Select has no virtual scroller"
Related to #2483. Once Select is scrollable I think a virtual scroller would be a good improvement. The performance gains of utilizing a virtual scroller far surpasses native scrolling.

[2019-07-09 13:33] #2459 closed

[2019-07-09 13:34] bond95 opened #2486 "PF4: subTitleComponent is not used in ChartDonut"
`ChartDonut` component in function `getSubTitle` using prop `titleComponent` instead of `subTitleComponent`:
https://github.com/patternfly/patternfly-react/blob/aa99158129f3ff75fd871f1286c1c522bcbb8b22/packages/patternfly-4/react-charts/src/components/ChartDonut/ChartDonut.tsx#L488-L494

[2019-07-09 13:58] #2479 closed

[2019-07-09 14:33] priley86 commented on #2358
Sorry, was away for a bit. Here is my $.02 on this one...

`Table` is the fully featured export. It's quite light compared to some table libraries. You can also pick and choose ESM modules if you'd like to reconstruct it 😸. I think to be honest though, many teams would prefer to see more abstractions rather than less, but this is definitely a tradeoff you have to weigh. We have split out major add

[2019-07-09 17:52] tlabaj opened #2490 "PF4 Datalist: hiddenOn2Xl and visibleOn2Xl breakpoints do not work"
This is a follow up  issue for the PR #2251.  The hiddenOn2Xl and visibleOn2Xl breakpoints still not working when merged.

[2019-07-09 18:41] redallen commented on #2484
Weird, if I add `.css` it breaks. I'll see if there's a way to add it back without breaking.

[2019-07-09 19:01] jessiehuff commented on #2394
I tested the following components for the toggle element transitions on the React side, and they all appear to work:
* accordion
* clipboard copy
* data list
* expandable
* nav
* table
* wizard toggle

Looks great, Christie! :)

[2019-07-09 19:01] #2394 closed

[2019-07-09 19:54] redallen commented on #2484
Adding it back to the SASS doesn't work for the importer, but adding it back to the LESS doesn't matter for our build. Let me know if it fixes your build once merged.

[2019-07-09 20:21] #1624 closed

[2019-07-09 20:25] #2484 closed

[2019-07-10 06:26] marusak commented on #2484
Thank you for quick fix! For us it was only missing in .less file, so the PR fixes that.

[2019-07-10 11:30] rvsia opened #2494 "EmptyStateBody does not allow DOMNesting"
EmptyStateBody is wrapper around `<p>` and so we can't use many HTML tags inside the body because of `Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>.
` etc.

https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/EmptyState/EmptyStateBody.tsx#L17

I propose to change it to `<div>`

[2019-07-10 12:34] redallen commented on #2484
Happy to help. Thanks for reporting the bug!

[2019-07-10 14:13] redallen commented on #2490
@mcoker verified this works in master [in this comment](https://github.com/patternfly/patternfly-react/pull/2251#issuecomment-509763029), likely the PR preview previously tested against didn't get updated. Reopen if there's still an issue.

[2019-07-10 14:13] #2490 closed

[2019-07-10 14:29] tlabaj commented on #2494
@mcoker thoughts on this one?

[2019-07-10 14:39] priley86 commented on #2476
I've custom tailored this a bit further due to our larger/wide responsive graph. Just noting this for later when we review this again w/ StackChart tooltips, wide responsive variations will help!

https://github.com/RedHatInsights/curiosity-frontend/pull/35

[2019-07-10 14:48] tlabaj commented on #2483
@mcoker can you please take a look at this one too

[2019-07-10 14:58] #2486 closed

[2019-07-10 15:03] jessiehuff commented on #1653
@martinpovolny Would this work? You can tell Button to use the React Router component. `<Button component={Link} to="/new">Button Link</Button>`

[2019-07-10 15:04] dlabrecq commented on #2482
This tooltip functionality is provided by Victory; however, tooltips can be applied to charts differently.

In this particular example, we overrode the chart's containerComponent property. However, you can add a tooltip directly to the bar component itself.

See https://formidable.com/open-source/victory/guides/tooltips#simple-tooltips

[2019-07-10 15:06] dlabrecq commented on #2482
We may change the examples so that bar chart example does not use VoronoiContainer.

[2019-07-10 15:21] dlabrecq commented on #2482
FYI, the issue appears to be resolved if you set `voronoiDimension`, like so:

`containerComponent={<ChartVoronoiContainer labels={datum => `${datum.name}: ${datum.y}`} voronoiDimension="x"/>}`

[2019-07-10 15:30] #2441 closed

[2019-07-10 15:40] #2447 closed

[2019-07-10 17:28] dlabaj commented on #2454
@mcarrano @kybaker We can do this in react if this is what the interaction is intended to be.

[2019-07-10 17:38] tlabaj commented on #1855
Depends on core issue [#1837](https://github.com/patternfly/patternfly-next/issues/1837)

[2019-07-10 18:37] tlabaj commented on #2446
Closing this because issue #2369

[2019-07-10 18:37] #2446 closed

[2019-07-10 19:17] tlabaj commented on #2444
@mcarrano Is this a feature we plan on supporting.  We do not have a design for this.

[2019-07-10 19:19] tlabaj commented on #2445
@mcarrano can you provide feedback for this enhancement request.  Do we currently have a design for this?

[2019-07-10 19:38] tlabaj commented on #2436
@priley86 for review of PR

[2019-07-10 20:02] dlabrecq opened #2496 "Chart tooltip colors are incorrect"
While adding custom tooltips to the examples, I noticed that the color vars in pf-core are incorrect. The background and label are the same black color, so the text is not visible when overriding labelComponent (i.e., using ChartTooltip).

<img width="521" alt="Screen Shot 2019-07-10 at 4 45 53 PM" src="https://user-images.githubusercontent.com/17481322/61003592-5027f900-a332-11e9-9094-d8f53a10c2a

[2019-07-10 21:05] mcoker commented on #2483
@mcarrano can you weigh in on this one?

[2019-07-10 21:46] mcoker commented on #2494
@rvsia thanks for the issue! We changed `.pf-c-empty-state__body` from a `<p>` to a `<div>`  in core back in April, and looks like we missed requesting this change to be updated in react. https://github.com/patternfly/patternfly-next/commit/14cc89873991781f26cb2d4f2c916ccbc80d8aae

[2019-07-10 23:10] tlabaj commented on #1446
closed by #2493

[2019-07-10 23:10] #1446 closed

[2019-07-10 23:17] tlabaj commented on #1636
@dlaThis this should be resolved in the latest version of react-core.  Can you verify it works for you so we can close this issue.

[2019-07-10 23:28] tlabaj commented on #1389
closed by #2405

[2019-07-10 23:28] #1389 closed

[2019-07-11 00:22] tlabaj commented on #1949
@mcarrano thoughts on this one?

[2019-07-11 00:26] tlabaj commented on #1910
Closing this since it is no longer an issue in the latest version of react-core

[2019-07-11 00:26] #1910 closed

[2019-07-11 00:27] tlabaj commented on #2223
Closed by #2201

[2019-07-11 00:27] #2223 closed

[2019-07-11 00:30] tlabaj commented on #2100
@idevat is your issue . resolved with the latest version

[2019-07-11 02:50] dlabrecq commented on #2482
Added the `voronoiDimension` prop to fix the tooltip hover for our bar chart examples. Then, modified the stack chart example to show how tooltips are applied without a voronoi container.

https://github.com/patternfly/patternfly-react/pull/2497

[2019-07-11 05:36] idevat commented on #2100
@tlabaj yes, I've been using the version `3.38.0`, where the issues has been fixed, until now and now I can see that the current version `3.58.1` works fine as well. Thanks.

[2019-07-11 08:05] rvsia commented on #2494
Thank you for quick response! :+1:

[2019-07-11 11:23] lucasponce opened #2501 "Filter component in PF4"
Kiali uses PF3 Filter component [1] to implement one of the main features which requires multi-dimensional + multi-value filtering.

Patternfly 4 has some design guidelines in [2] but there is not an implementation for PF4 + React.

So, that limitation prevents us to run a full migration to PF4, as we should to implement a custom filter to have same features we had in PF3.

Our expectation is if P

[2019-07-11 12:40] #2482 closed

[2019-07-11 12:40] #2496 closed

[2019-07-11 13:24] tlabaj commented on #2159
@redallen @jschuler is this a site styling issue?  Can we close this?

[2019-07-11 13:30] mceledonia commented on #1434
@kybaker What size is the icon in your mockup? I am thinking we just keep them all at 54, though we did have that even larger size for the "success" version of the empty state. @dlabrecq I wouldn't worry too much about matching it to Kyle's mocks unless he's got a reason for the change.

[2019-07-11 14:05] #2100 closed

[2019-07-11 14:36] priley86 commented on #2436
sounds good... should be a simple add here hopefully:

https://github.com/patternfly/patternfly-react/blob/fdbde6d0fa3e6151300f1bbb8322a3308fb606c0/packages/patternfly-4/react-table/src/components/Table/utils/decorators/classNames.js

[2019-07-11 14:36] #2344 closed

[2019-07-11 15:03] #1737 closed

[2019-07-11 15:23] dlabrecq commented on #2476
dup of https://github.com/patternfly/patternfly-react/issues/2496

[2019-07-11 15:23] #2476 closed

[2019-07-11 17:46] jenny-s51 commented on #1892
closed via #2129

[2019-07-11 17:47] #1892 closed

[2019-07-11 17:51] mcoker commented on #2415
@jenny-s51 we have icons in the [link variation of button](https://patternfly-react.surge.sh/patternfly-4/components/button/) and [App launcher w/ sections and icons](https://patternfly-react.surge.sh/patternfly-4/components/applicationlauncher/). Do you know if those components have the same problem?

[2019-07-11 18:25] dlabrecq opened #2503 "react-docs: broken doc layout"
There appears to be something wrong with the react-docs layout for charts. The columns for name, type, etc. are wrapping text, which makes the docs unreadable.

![Screen Shot 2019-07-11 at 2 21 14 PM](https://user-images.githubusercontent.com/17481322/61075190-6643c100-a3e7-11e9-9670-3bef07f471f9.png)

[2019-07-11 18:34] jenny-s51 commented on #2415
@mcoker Just checked -- I don't think so! Neither of those seem to have this problem.

[2019-07-11 18:39] jschuler commented on #2159
Fixed on staging https://staging.patternfly.org/v4/documentation/react/components/table/

[2019-07-11 18:45] priley86 commented on #2476
confirmed this resolve the theme issue downstream as well. So upgrading to `@patternfly/react-charts@4.5.2` fixes it!

thanks @dlabrecq 😸

[2019-07-11 19:04] jenny-s51 commented on #1781
Closing per @redallen's confirmation that a failed demo-app already fails the PR build.

[2019-07-11 19:04] #1781 closed

[2019-07-11 19:06] jenny-s51 commented on #1397
Awaiting feedback from @jgiardino as to how to continue here

[2019-07-11 19:09] mcoker commented on #2415
@jenny-s51 thanks! Do you know why, and what the difference is as to why the options menu needs it?

[2019-07-11 20:56] tlabaj commented on #2114
Issue [#2046](https://github.com/patternfly/patternfly-next/issues/2046) has been opened in core to address issue number 1 in the list.

[2019-07-12 03:38] crackcomm opened #2504 "Expandable doesn't match cellFormatters signature"
Code from [Compact expandable table](https://www.patternfly.org/v4/documentation/react/components/table/#compact-expandable-table) does not work in [patternfly-react-seed](https://github.com/patternfly/patternfly-react-seed/) with `"@patternfly/react-table": "^2.13.43"`.

Error message:

Full type error:

[code]

Full code:

[code]

[2019-07-12 13:22] priley86 commented on #2504
thanks! i can try to address this in #1950. Still working on that now.

[2019-07-12 14:43] #1498 closed

[2019-07-12 15:14] mattnolting opened #2506 "Make charts traversable"
relates to #1498

Possible approaches:
- assign `role="group"` to chart, and `role="presentation"` to elements as described here: https://css-tricks.com/accessible-svgs/#article-header-id-16
- create a hidden table with chart data for SRs

@jgiardino what do you think?

[2019-07-12 15:15] redallen opened #2507 "Add aria-role to charts"
From @mattnolting in #2500 :

[2019-07-12 16:33] dlabrecq commented on #2507
This appears to be a dup of https://github.com/patternfly/patternfly-react/issues/2507

[2019-07-12 16:33] #2507 closed

[2019-07-12 16:35] dlabrecq commented on #2506
I don't believe we have the ability to add our own `role` attributes to the SVG tags output by Victory. However, it appears that aira roles may already be in place:

FormidableLabs/victory-chart#233

[2019-07-12 16:42] dlabrecq commented on #2506
Some examples of `role="presentation"`

<img width="887" alt="Screen Shot 2019-07-12 at 12 42 13 PM" src="https://user-images.githubusercontent.com/17481322/61144287-7e2c4b00-a4a2-11e9-829b-1f8eca9e250e.png">

[2019-07-12 16:47] dlabrecq opened #2509 "Area chart example: Tweak aria titles"
There are a couple incorrect aria titles for the area chart example.

`ariaTitle="Donut chart example"`

should be:

`ariaTitle="Area chart example"`

[2019-07-13 21:25] dlabrecq commented on #1448
Loading all tabs at once is still an issue.

[2019-07-13 21:26] dlabrecq commented on #1450
This is still an issue

[2019-07-13 21:28] dlabrecq commented on #1600
I believe we still want to port the bullet chart. Spent most of this time addressing basic architecture issues in react-charts, first.

[2019-07-13 21:36] dlabrecq commented on #1567
I'd still like an optional `offset` property to help simplify calculations, but will defer to the PF4 team.

[2019-07-13 22:21] ares commented on #232
The PR is WIP

[2019-07-15 13:58] mcarrano commented on #923
@LHinson @tlabaj Not sure if we still need this component. Do we have what we need to build filters today on React? I think there is still work on Filters pending, correct? I think we could make a TextBox filter from an input group.

Maybe we should just close this and open new issues if needed. Thoughts?

[2019-07-15 14:13] #2509 closed

[2019-07-15 14:35] mcarrano commented on #1949
@vbusch @tlabaj From a design perspective we should never encounter this situation. If there are 0 pages, then there is no data to display and we should be using the empty state pattern as described here: https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/empty-state

[2019-07-15 14:39] vbusch commented on #1949
@mcarrano thank you.  This should be marked as invalid then.
I am no longer showing the pagination, when 0 items, in our app.

[2019-07-15 14:40] mcarrano commented on #2483
I don't feel strongly about this one @mcoker but I do see @SpyTec 's point. I can see arguments both ways. Maybe we add the ability to set max-height as an option? What do you think?

[2019-07-15 14:46] mcarrano commented on #2445
@KKoukiou it's not entirely clear what you mean by pagination in this context. Do you mean the ability to set a max-height and scroll the list? Part of the reason for using type-ahead to to more easily search/filter a long list of items. Can you provide an example?

[2019-07-15 14:50] SpyTec commented on #2483
Though if max-height was an optional thing, would #2485 be possible? Given hundreds of entries, would there then be a different component more suitable?

[2019-07-15 14:50] mcarrano commented on #2444
No, we don't have a design for this @tlabaj but I can see how this can be useful. I will open a core issue for this to consider as an enhancement request. @LHinson @rachael-phillips FYI.

[2019-07-15 14:52] KKoukiou commented on #2445
Bootstrap's typeahead select (same PF3 TypeAhead component) used to provide the paginate propery see https://github.com/ericgio/react-bootstrap-typeahead/blob/master/docs/Props.md - paginate for more info.

Even if filtering is easy with keyboard, we should provide a fallback for mouse only users I believe.

See [this ](https://rawgit.com/patternfly/patternfly-react/gh-pages/patternfly-3/?knob-Sho

[2019-07-15 15:02] mcarrano commented on #2454
Yes, this is what we want @dlabaj . The logic is that if I open the nav, but then click on something else, the nav should just close.

[2019-07-15 15:32] mcarrano commented on #2211
I see. That makes sense @karelhala . It should be possible to do that.

[2019-07-15 17:38] mcarrano commented on #2445
Thanks for clarifying this @KKoukiou . Yes, I can see how this would be useful.

@tlabaj I will open a separate core issue for this as it's something that will need to first be addressed by design.

[2019-07-15 18:51] mcarrano commented on #986
I think that the Language Selector issue is still pending, but not sure where it is on the roadmap. There is a core issue here: https://github.com/patternfly/patternfly-next/issues/349 @rachael-phillips can you help sort this out? I think this issue remains open unless it is now covered somewhere else.

[2019-07-15 19:53] jschuler opened #2520 "PF4: Spaces between badges"
There should be spaces between the badges https://patternfly-react.surge.sh/patternfly-4/components/badge/

[2019-07-16 12:29] #1915 closed

[2019-07-16 13:34] doruskova commented on #2046
I also had a problem with it this week. Really confusing. Thanks @rvsia for mentioned this.

[2019-07-16 13:35] katierik commented on #2046
Logged a similar bug in patternfly-org: https://github.com/patternfly/patternfly-org/issues/1290

[2019-07-16 13:36] dlabrecq commented on #1208
This would still be a good addition to the examples

[2019-07-16 13:52] matankb opened #2521 "PF4: Accordion renders children twice"
The `<Accordion>` component renders its children twice, as shown by  [the examples in the docs](https://www.patternfly.org/v4/documentation/react/components/accordion/). This seems to be caused by an issue on line 27  in `/dist/esm/Accordion.js`:

[code]

The issue doesn't appear in `/dist/js/Accordion.js`.

[2019-07-16 14:03] christiemolloy commented on #2046
This should be fixed in Core first, I just created an issue to capture it: https://github.com/patternfly/patternfly-next/issues/2056

[2019-07-16 19:40] LHinson commented on #1935
Will not pursue at this time... only need atm are enhancements to the app launcher

[2019-07-16 19:40] #1935 closed

[2019-07-16 20:29] #1913 closed

[2019-07-16 21:02] seanforyou23 opened #2525 "README badges need updating"
It looks like some of the badges are not being updated correctly. The circleci badge says FAILED although it looks like all the recent builds have passed, codecov says "unknown", and selenium tests badge doesn't seem to point to anything?

<img width="730" alt="Screen Shot 2019-07-16 at 4 54 47 PM" src="https://user-images.githubusercontent.com/5942899/61329397-36335e00-a7eb-11e9-9766-7afbefdf6991

[2019-07-16 23:49] dlabrecq opened #2528 "Add individual padding vars for donut charts"
Need to add individual padding vars for each donut chart. (Currently, the donut charts inherit the pie chart's padding property.) That will ensure changes, to the pie chart padding property, do not break donut charts.

Also need to ensure that the donut size is always the minimum of `height` / `width` (default) and the `donutHeight` / `donutWidth` props. This has the potential to cause layout issu

[2019-07-17 13:18] #1705 closed

[2019-07-17 15:34] LHinson opened #2531 "Investigate react-select component"
In discussion with @karelhala, he mentioned how robust the [react select component](https://react-select.com/home) is. This would provide him with a rich set of features for the component, that PatternFly has not yet build.

In this issue, PatternFly is to investigate whether or not we could leverage react-select. It should include detailing any pros and cons in order to determine how to proceed.

[2019-07-17 15:39] redallen opened #2532 "Track @patternfly/patternfly versions in the IncrementalBuild"
We should add in some logic to the incremental build to also keep track of our `@patternfly/patternfly` versions and which packages change their `dist` depending on it, like `react-tokens` and `react-styles`.

[2019-07-17 15:50] karelhala opened #2533 "Split react icons"
Currently if any icon is imported from `@patternlfy/react-icons` package, it will bundle all icons into your final bundle. This happens even if you reference the icon directly `@patternlfy/react-icons/dist/esm/icons/ad-icon`.

It would be nice if there would be something similiar to what lodash is doing by creating different files in root folder of their package. Another great example can be mater

[2019-07-17 16:57] #2525 closed

[2019-07-17 19:12] johnsonm325 commented on #1949
So, then I understand that if there are 0 items, then we remove the pagination bar and show an empty state like this:

![image](https://user-images.githubusercontent.com/15373136/61404329-3a23b680-a8a5-11e9-99d0-e72241c73c3f.png)

[2019-07-17 20:02] mcarrano commented on #1949
Yes, exactly!

[2019-07-18 07:07] boaz0 commented on #2521
Hi @matankb
This was fixed as you can see [here](https://patternfly-react.surge.sh/patternfly-4/components/accordion/) . Make sure you're using the latest of PF-4 (v3.58.1)

[2019-07-18 08:43] SpyTec opened #2536 "Add ability to use icons with Tabs"
Right now in PF4, you cannot add PF icons to Tab components. This issue is a feature request to add that functionality

My first thought is having a new prop for icon where the React component is sent in

[2019-07-18 09:10] SpyTec opened #4647 "Tab component is missing documentation in React"
Right now, Tabs component page does not list documentation for the Tab child component. As such I cannot at a glance see what props it accepts or what the props do

[2019-07-18 12:40] rachael-phillips commented on #2536
Hi @SpyTec thanks for filing this! @mcarrano is this something we ever talked about in the design process or would recommend?

[2019-07-18 12:55] rachael-phillips commented on #2532
Hi @redallen what priority do you think this is?

[2019-07-18 12:57] mcarrano commented on #2536
@rachael-phillips we had not considered an option to add icons to tabs. @SpyTec can you give me a bit more background about your usage and why you need this?

[2019-07-18 13:12] redallen commented on #2532
Low. Easy workaround is just running `yarn clean`.

[2019-07-18 13:55] seanforyou23 opened #2537 "Tri-State Checkbox Dropdown Example Request"
Request for a demo/example for how to incorporate the [tri-state checkbox](https://patternfly-react.surge.sh/patternfly-4/components/checkbox/) with the [split button dropdown](https://patternfly-react.surge.sh/patternfly-4/components/dropdown/).

We've received a UX design that combines these two components, but there's not clear examples on how to make these two things work well together.

![tri

[2019-07-18 14:11] SpyTec commented on #2536
As an example of what I mean:

![image](https://user-images.githubusercontent.com/6598829/61464280-4d528700-a976-11e9-9708-10b681065750.png)

I could just see this as better UX as you can at a glance see what each tab is, such as you would on a navigation. On smaller devices or screens one could even reduce the overall size by only showing icon

![image](https://user-images.githubusercontent.com/6

[2019-07-18 14:32] rachael-phillips commented on #2501
Hi @lucasponce, do you mind adding this issue to our next repo?

[2019-07-18 14:34] lucasponce commented on #2501
https://github.com/patternfly/patternfly-next/issues/2077

[2019-07-18 14:34] #2528 closed

[2019-07-18 14:39] seanforyou23 opened #2538 "Add back GH Badges"
We recently disabled several of them because they were not in good working order. This is a backlog issue to add them back when there is time. Might be a good opportunity to incorporate the new fancy badges from https://shields.io/category/build

Related to https://github.com/patternfly/patternfly-react/issues/2525

[2019-07-18 15:14] rachael-phillips commented on #2482
Hi @karelhala I'm sorry for the delay - I was away and just got back from pto. @dlabrecque did we resolve @karelhala's issue?

[2019-07-18 15:41] mcarrano opened #2540 "Epic: Refactor Wizard"
I'm creating this epic to aggregate a number of issues that have come up regarding changes requested to our Wizard approach.

These roughly include:
* Removing the wizard from the modal to allow for "in-page" variants.
* Updating the stepper design.
* Creating an "in-page" wizard demo.

This will include some breaking changes as we'd need to revise the current modal-only approach.

[2019-07-18 15:53] kialam opened #2541 "Donut Chart - SVG tooltip overflow properties"
Existing tooltips for donut charts do not account for their bounding box edges.
![Screen Shot 2019-07-18 at 11 35 43 AM](https://user-images.githubusercontent.com/2293210/61471139-3b5ded80-a950-11e9-8c88-e4e1a4d36b26.png)
![Screen Shot 2019-07-18 at 11 45 02 AM](https://user-images.githubusercontent.com/2293210/61472034-a2c86d00-a951-11e9-9baa-984b570a0923.png)

When a chart is placed either on th

[2019-07-18 16:17] kialam opened #2542 "Donut Chart - Handle datasets with 0 values"
If passing in a sample dataset that contains 0 values, I would expect the donut chart to render and the tooltips to reflect the correct values relative to their slices.

Sample dataset:
[code]

Observed behavior:
![pf-donut-handle-zeros](https://user-images.githubusercontent.com/2293210/61475490-e83c6880-a958-11e9-987e-3372308ef662.gif)

edit: update percentage values for clarity.

[2019-07-18 17:13] dlabrecq commented on #2482
I believe so. I was able to correct the bar chart example

[2019-07-18 18:18] jenny-s51 opened #2543 "PF4 Select w/ typeahead does not enter text input field on click"
This was discovered upon reproducing the issue in #2066 -- currently the only way to activate the text input field is to trap focus by tabbing through the other select examples.

For reference, @SpyTec shared this gif of the problem: https://i.imgur.com/te4UdgY.gifv

[2019-07-18 18:46] kybaker commented on #2536
@mcarrano My only concern with this proposed solution is that it maintains accessibility when only showing an icon in the smallest view port size.

[2019-07-18 18:56] mcarrano commented on #2536
@SpyTec @rachael-phillips We currently have some work planning to rework our tab designs here https://github.com/patternfly/patternfly-next/issues/1855  We can factor this in.

[2019-07-19 12:12] priley86 commented on #1950
i've made some more progress on this lately. Have converted the base Reactabular source to TSX. It compiles and UI runs fine, but tests currently break. Will continue converting the remaining source and existing tests to TypeScript...

https://github.com/patternfly/patternfly-react/pull/2360/commits/c4e2d298059ae7dc04b8ea01ec57eb13fdc67ebc

[2019-07-19 12:35] dlabrecq commented on #2541
Overflowing the chart container isn't always desired. However, there are a couple ways you can address tooltips.

1. Make the container large enough to accommodate the tooltip.
2. Use a style to set overflow.

There are various examples showing how to make the container large enough for legends, for example,

The Sparkline example shows overflow in action.

<img width="218" alt="Screen Shot 2019-0

[2019-07-19 14:38] redallen commented on #2521
Closing as this doesn't appear in the latest [@patternfly/react-core](https://www.npmjs.com/package/@patternfly/react-core). Feel free to reopen.

[2019-07-19 14:38] #2521 closed

[2019-07-19 15:07] dlabrecq commented on #2542
Victory is not expected to render a data point with a zero value.

Obviously, the orange data point (above) is not zero. However, you're not seeing that particular tooltip because the container isn't large enough to accommodate tooltips.

You either need to make the SVG larger or use overflow to see all tooltips.

[2019-07-19 15:08] dlabrecq commented on #2542
This is a dup of https://github.com/patternfly/patternfly-react/issues/2541

[2019-07-19 15:14] dlabrecq opened #2550 "Create new mutil-color theme for ordered charts"
Folks have noted that Blue_300 & Purple_300 are too similar for a 4 item, multi-color donut chart.

<img width="676" alt="Screen Shot 2019-07-18 at 2 18 11 PM" src="https://user-images.githubusercontent.com/6640236/61489477-cd79ec00-a978-11e9-8d88-a59303ae5787.png">

We want to create a new, second multi-color theme. Specifically for ordered charts such as donut, pie, stack, etc.

@Michael Celedon

[2019-07-19 15:16] redallen commented on #2336
There's not much left to automate inside of this repo outside of #2549.

We would like to automate prerelease validation in products. Specific products should be picked and environments setup for them. Once given a list of products by @dgutride , we can look into leveraging infrastructure to do this for the easiest ones.

We would also like a more rigorous integration test suite to verify release

[2019-07-19 15:17] redallen commented on #1612
Closing in favor of #2336 .

[2019-07-19 15:17] #1612 closed

[2019-07-19 15:22] thaorell opened #2551 "Modal PF4: cannot render on specified element"
[Potential enhancements]

I'm trying to write a PF4 Modal, then run ReactDOM.render(modal, target), with target being the container that modal would be rendered in (similar to [link](https://github.com/oVirt/ovirt-engine-ui-extensions/blob/83e676c701ffc7696eae1a7d073facbbeec2a6ba/src/integrations/showClusterUpgrade.js#L95)). However, the modal is rendered in the iframe document body, but not in th

[2019-07-19 15:52] #1824 closed

[2019-07-20 04:41] dlabrecq commented on #2541
Overflowing the chart container isn't always desired. However, there are a couple ways you can handle tooltips.

1. Make the container large enough to accommodate the tooltip.
2. Change the SVG scale -- see docs for height & width
3. Use CSS to set SVG overflow
4. Provide a custom tooltip

There are various examples showing how to make the SVG & parent container large enough to accommodate legends

[2019-07-22 08:26] Hyperkid123 opened #2555 "PF4 react-core static files"
I would like to point out minor issue when building a production bundle of application using PF4 react-core repo.

Regardless of how many or what components you use, your bundle will always have to build all static resources included in react-core.

Here is a list of static files after using single `Button` component in app boostraped by `create-react-app` and using `import '@patternfly/react-core

[2019-07-22 12:05] karelhala opened #2557 "0 or negative number of items for pagination"
When consumer passes 0 or negative number to pagination user is still able to change page and can see 1 page out of 0.

![Screenshot from 2019-07-22 14-05-25](https://user-images.githubusercontent.com/3439771/61631108-c9f0a880-ac89-11e9-99f2-713806f1f356.png)

[2019-07-22 13:13] #2520 closed

[2019-07-22 13:21] jenny-s51 commented on #2415
Closing via #2513

[2019-07-22 13:21] #2415 closed

[2019-07-22 14:02] kmcfaul commented on #1392
@mcoker I am planning on adding a flag parameter to insert span to account for the difference in padding but `list-view-pf-expand` doesn't have the correct padding, and the angle-right and angle-down classes contain the icon. Is there a spacer css class in PF3 that can be used for this case?

[2019-07-22 14:26] mcarrano commented on #2537
We have an open issue to introduce a tri-state checkbox here: https://github.com/patternfly/patternfly-next/issues/1411 This is currently in the Core backlog.

[2019-07-22 14:29] tlabaj commented on #1949
I am closing this issue since the use case is invalid.

[2019-07-22 14:29] #1949 closed

[2019-07-22 14:35] jenny-s51 commented on #2543
Should be closed with https://github.com/patternfly/patternfly-next/pull/2075 per @kmcfaul

[2019-07-22 14:35] #2543 closed

[2019-07-22 15:14] jgiardino commented on #1397
When I test the different components used within `<FormGroup>` I see that when I add `isRequired` to `<FormSelect>` that a `required` attribute is not added to the `<select>` in the html.

Here are the steps I used to produce this issue:
1. Navigate to this example: https://www.patternfly.org/v4/documentation/react/components/form/#form-horizontal
2. Click the Toggle Code button below the example.

[2019-07-22 16:03] rachael-phillips commented on #2551
Hi @thaorell thank you for filing this. Is this a blocker for you at this time?

[2019-07-22 16:07] rachael-phillips commented on #2538
Hi @jessiehuff will #2546 resolve this?

[2019-07-22 16:44] sjd78 commented on #2551
@rachael-phillips - On ovirt/RHV Admin Portal the UI plugins are setup so they run within an iframe.  We cannot easily change the way the plugin API does things.  Without being able to open a Modal in the iframe parent window, we are blocked from adopting PF4 Modals.

I have a PR nearly ready that we'll test and post in the next day or so.

[2019-07-22 16:59] rachael-phillips commented on #1657
Hi @jcaianirh are we ready to close this issue?

[2019-07-22 17:05] rachael-phillips commented on #970
@dlabaj @dgutride did we find out if we need to address this?

[2019-07-22 17:06] rachael-phillips commented on #2053
Hi @mcoker and @tlabaj did we find out where the issue was on this one?

[2019-07-22 17:07] rachael-phillips commented on #2054
@tlabaj @mcoker following up here. Can you confirm @dlabaj 's comment above?

[2019-07-22 17:12] rachael-phillips commented on #2315
@mcoker are we ready to get started on this on the React side?

[2019-07-22 17:14] mcoker commented on #2054
@rachael-phillips that's correct. I think we can close this one in favor of https://github.com/patternfly/patternfly-next/issues/1849. Or do you prefer leave it open @jeff-phillips-18 to verify once 1849 is merged?

[2019-07-22 17:18] mcoker commented on #1392
@kybaker is this a variation we want to support?

[2019-07-22 17:23] mcoker commented on #2315
@rachael-phillips yep!

[2019-07-22 17:33] jenny-s51 opened #2561 "Select menu has incorrect closing behavior"
This is an extension to issue #2066 , and PR #2560

See example below. Currently, the select menu is hidden when the input is initally focused, but backspacing to an empty input leaves the menu open.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32821331/61652347-b6dbd980-ac85-11e9-8b33-c28669f84755.gif)

[2019-07-22 17:36] rachael-phillips commented on #2561
Thanks for filing @jenny-s51 !

[2019-07-22 17:42] tlabaj commented on #2494
closed by #2499

[2019-07-22 17:42] #2494 closed

[2019-07-22 17:45] rachael-phillips commented on #2555
@Hyperkid123 would you consider this more of a bug or an enhancement?

[2019-07-22 17:54] rachael-phillips commented on #2542
Closing as this is a duplica

[2019-07-22 17:54] #2542 closed

[2019-07-22 17:59] jcaianirh commented on #1657
yes! thanks this is closed with the mentioned merged pr.

[2019-07-22 17:59] #1657 closed

[2019-07-22 18:00] rachael-phillips commented on #2390
@boaz0 will #2422 solve this issue?

[2019-07-22 18:13] martinpovolny commented on #1653
Thanks, yes, this works for us.

[2019-07-22 18:31] #2550 closed

[2019-07-22 18:49] jessiehuff commented on #1653
Awesome, thanks so much for checking! :) Feel free to reopen if you'd like.

[2019-07-22 18:49] #1653 closed

[2019-07-22 19:14] #2300 closed

[2019-07-22 19:28] rachael-phillips commented on #1434
@kybaker @mceledonia any update you can provide us here? :)

[2019-07-22 19:36] rachael-phillips commented on #2561
@mcarrano is this the expected behavior for Selects? Double checking here before we put up the PR.

[2019-07-22 19:39] christiemolloy opened #2565 "fix(a11y): Update Form demo to use check over radio"
The website is showing that an a11y is coming from the React form component:
https://www.patternfly.org/v4/documentation/react/components/form/

The issue:
"Radio inputs with the same name attribute value must be part of a group"

Aligning with what we have in Core (https://pf4.patternfly.org/demos/BasicForms/examples/) will help as they will be converted to "checks" and have the correct a11y trai

[2019-07-22 20:21] dlabrecq commented on #2541
Overflowing the chart container isn't always desired. However, there are a couple ways you can handle tooltips.

1. Resize the container to accommodate the tooltips
2. Change the SVG scale -- see docs for height & width
3. Use CSS to set SVG overflow
4. Provide a custom tooltip

We have various examples showing how to resize the SVG & parent container to accommodate legends and labels. With that a

[2019-07-22 20:31] christiemolloy opened #2568 "fix(a11y): Radio component"
This issue was found in org but is coming from React: https://github.com/patternfly/patternfly-org/issues/1318

The issue is: "Radio inputs with the same name attribute value must be part of a group"

[2019-07-22 20:33] mcoker commented on #2053
@rachael-phillips commented on the core issue - https://github.com/patternfly/patternfly-next/issues/1850#issuecomment-513943051

[2019-07-22 20:34] kybaker commented on #1392
@mcoker I like the flexibility this adds. Can we make sure the content is left aligned whether there is an arrow present or not?

[2019-07-22 21:01] #1962 closed

[2019-07-22 21:09] mcarrano commented on #2561
My opinion is that it's fine the way it is. I wouldn't necessarily expect the menu to close as long as focus is still on the input field. It should only close if the user tabs away.

On a related note - when testing this on the website, I found that the type-ahead no longer works for me on Firefox. It used to. Can someone test this?

[2019-07-22 21:23] mcoker commented on #1392
@kmcfaul @martinpitt I created an issue to add support (with examples) for this in core in our upcoming sprint - https://github.com/patternfly/patternfly-next/issues/2084

[2019-07-22 21:57] tlabaj commented on #2557
@mcarrano isn't this a duplicate of #1949 that was closed?

[2019-07-22 22:02] mcarrano commented on #2557
Well, sort of, @tlabaj . I guess technically it's a bug that the user can advance the page, but this should never happen as we should not be exposing a pagination control for 0 pages.

[2019-07-22 23:17] tlabaj commented on #2090
Closed by #2518

[2019-07-22 23:17] #2090 closed

[2019-07-22 23:33] tlabaj commented on #1936
Closed by #2563

[2019-07-22 23:33] #1936 closed

[2019-07-23 06:48] Hyperkid123 commented on #2555
@rachael-phillips i think this is more on the enhancement side. It does not block us it would be a nice thing to have.

[2019-07-23 09:44] yuwang-RH opened #2569 "Dropdown: The first item in the dropdown is always selected"
The first item in the Dropdown is always selected even when users move on the other item in the dropdown menu.
It looks strange that there are two item selected when the user try to choose the other item rather than the first one.

[2019-07-23 12:12] abonas commented on #2501
@serenamarie125 fyi

[2019-07-23 13:13] jenny-s51 commented on #2561
Hi @mcarrano! Per @mcoker, the type-ahead problem should have been resolved in this core PR that was merged yesterday: https://github.com/patternfly/patternfly-next/pull/2075

[2019-07-23 13:19] rachael-phillips commented on #2569
@yuwang-RH is this referring to the PatternFly 4 dropdown?
@mcarrano do you know if this is he expected interaction?

[2019-07-23 14:25] christiemolloy opened #2570 "fix(data-list): fix a11y"
Based on the audit from patternfly-org, there are several issues in the Data List component:
https://github.com/patternfly/patternfly-org/issues/1311

There are 4 places in the component that this issue is occurring: "ARIA attributes must conform to valid values"

To find these errors / test if your solution works:
1. Right click on the page and choose inspect
2. In the developer tools, choose "ax

[2019-07-23 14:30] christiemolloy opened #2571 "fix(a11y): React documentation tables"
Related to this issue from patternfly-org: https://github.com/patternfly/patternfly-org/issues/1304

This issue is happening from patternfly-react: "All th elements and elements with role=columnheader/rowheader must have data cells they describe"

If we can update these tables in React that would solve our a11y issues in org.

[2019-07-23 15:54] mcarrano commented on #2044
Is this something we still intend to do? If so, we should get it on the roadmap. I don't believe there are any design dependencies. @LHinson @rachael-phillips FYI

[2019-07-23 16:02] mcarrano commented on #2569
I believe this is because the first item automatically receives focus to support keyboard navigation. @tlabaj @jgiardino can you confirm that this is why the dropdown is coded this way?

[2019-07-23 16:33] jgiardino commented on #2569
I would have to go back to earlier PR's to dig up specific discussions on this, and am going only on memory here... I'm fairly certain that when @kmcfaul originally implemented the dropdown component, that she was differentiating between mouse click and Enter events, so that if the user is using a mouse, the focus doesn't shift, but when using Enter key (i.e. keyboard only navigation), the focus w

[2019-07-23 17:17] jgiardino commented on #2569
The second half of the following comment documents the original behavior that was implemented for the dropdown with regard to mouse and keyboard interaction:
https://github.com/patternfly/patternfly-react/issues/1002#issuecomment-452763351

And this behavior was implemented in https://github.com/patternfly/patternfly-react/pull/1075

[2019-07-23 17:37] tlabaj commented on #2046
On hold while waiting for core fix.

[2019-07-23 17:56] rachael-phillips commented on #2557
@karelhala do you have any questions about @mcarrano 's comment above? I think his point of view is correct, that we shouldn't be exposing the control for 0 pages.

[2019-07-23 17:59] rachael-phillips commented on #2470
@mcoker does this need to be fixed in Core first? cc @tlabaj

[2019-07-23 18:00] rachael-phillips commented on #2470
@elad661 is this currently blocking you?

[2019-07-23 18:01] rachael-phillips commented on #2483
@mcoker and @mcarrano what are your thoughts to @SpyTec 's comment above?

[2019-07-23 18:02] karelhala commented on #2557
@rachael-phillips honestly I think that we should try to be as defensive as possible = Expect the unexpected. This is not a big of a change and it only disables both navigation elements if there are 0 items (similiar to when there is only one page).

On other hand we can change it and when user passes 0 items we can disable all navigational elements so there would be no page navigation and input w

[2019-07-23 18:06] rachael-phillips commented on #2557
Thanks for the explanation @karelhala ! @mcarrano what is your preference for approach based on the design side?

[2019-07-23 18:12] kybaker commented on #1434
@dlabrecq @rachael-phillips @mceledonia I created this mockup before the empty state pattern existed in its currect form. It would be best if this icon was consistent with the rest of the empty state patterns. Since this was filed in February we have evolved the empty state to accommodate this layout. I think this issue should be closed.

[2019-07-23 18:12] mcoker commented on #2470
@rachael-phillips from glancing at it, I don't think so, though it depends on what the ultimate solution is. We may need to make a modification in core, or we may just need to document a technique that allows for the tooltip to display on a disabled element, like @elad661's suggestion of wrapping the disabled element in another element that has the event handler that triggers the tooltip.

[2019-07-23 18:17] rachael-phillips commented on #1230
Closing because this has been inactive for a long period of time

[2019-07-23 18:17] #1230 closed

[2019-07-23 18:19] rachael-phillips commented on #789
Hi @jgiardino would you be open to me turning this issue into an epic?

[2019-07-23 18:20] tlabaj commented on #2044
on hold. waiting for core implementation

[2019-07-23 18:24] dlabrecq opened #2573 "Update charts to use Red Hat font"
When the `pf-m-redhat-font` selector is added to the page, the Red Hat font is expected to be used instead of the default Overpass font. However, the charts are not picking up this change.

This is due to the fact that the charts are outputting the font value instead of a PatternFly variable.

(Victory typically requires values for colors, pixels, etc. The font size; for example, must be output as

[2019-07-23 18:32] mcarrano commented on #2557
I think that @karelhala makes a good point about coding this to be as defensive as possible. If it's an easy fix, then I'd say to go forward with it. But from a usability perspective we should still be avoiding this situation.

[2019-07-23 18:50] christiemolloy opened #2575 "Create Divider Feature"
This got merged in Core: https://github.com/patternfly/patternfly-next/pull/2080

Create a divider component with the same examples as in Core.

[2019-07-23 18:56] #1941 closed

[2019-07-23 18:56] redallen commented on #1557
Closed from #2471.

[2019-07-23 18:56] #1557 closed

[2019-07-23 18:56] christiemolloy opened #2576 "AppLauncher: Add support for right and top alignment"
This PR was merged in Core: https://github.com/patternfly/patternfly-next/pull/2081

[2019-07-23 18:58] christiemolloy opened #2577 "feat(select): add plain variation"
This issue was merged in Core:
https://github.com/patternfly/patternfly-next/pull/2053/files

[2019-07-23 19:20] tlabaj commented on #2370
Closed by #2419

[2019-07-23 19:20] #2370 closed

[2019-07-23 19:42] tlabaj commented on #2337
@boaz are you still interested in working on this?

[2019-07-23 20:07] rachael-phillips commented on #2306
Closing as this has been complete

[2019-07-23 20:07] #2306 closed

[2019-07-23 20:14] mcoker commented on #2577
@christiemolloy I think this will be resolved in https://github.com/patternfly/patternfly-react/issues/2371

[2019-07-23 20:19] mcoker opened #2578 "Add wrap prop for <td> and <th> cells in a <thead>"
I don't see support for the `.pf-m-wrap` class you can add to cells of the `<thead>` element to allow the content in the cells to wrap. If we don't support that, we should add it, and also add an example. We recently added an example to the core workspace here - https://github.com/patternfly/patternfly-next/pull/2065

[2019-07-23 20:20] rachael-phillips opened #2579 "Contact Us page"
We will be creating a contact us page.

- Blog
- Forum
- Slack

[2019-07-23 20:30] boaz0 commented on #2390
@rachael-phillips yes it will.

[2019-07-23 20:31] boaz0 commented on #2337
yes please.

[2019-07-23 20:32] boaz0 commented on #2337
@tlabaj - yes please :pray:

[2019-07-23 20:32] rachael-phillips commented on #2578
Hi @mcoker is this a high priority issue?

[2019-07-23 20:32] #2577 closed

[2019-07-23 20:33] seanforyou23 opened #2580 "Configurable roles for Page and PageHeader"
Currently, these components default to `role="main"` and `role="banner"` respectively. These are sensible defaults, but shouldn't be hardcoded. We shouldn't assume that Patternfly layouts are always used at the root of an application. It's a feature that the page markup/styling is nestable, so we need to make sure users can customize these settings in these cases.

An immediate example is within o

[2019-07-23 20:41] mcoker commented on #2578
I know Patrick has used it on openshift, though I think he's adding the class manually versus using a react prop. So I think it's high enough that products would use it and we should support it since it's available in core, but there are workarounds since you can just add the class manually. FWIW, should be a pretty low level of effort, too.

[2019-07-23 20:45] #1434 closed

[2019-07-23 22:12] mcoker commented on #2483
I agree setting a `max-height` as an optional variation would be useful, though I don't understand the technical implications of a virtual scroller, so not sure why it wouldn't (maybe?) be possible if the choice to limit the height was a prop?

I'm also not sure if another component would be more suitable. I suppose it depends on the use case - maybe a selectable table or datalist with the option

[2019-07-24 07:18] SpyTec commented on #2483
I've never implemented a virtual scroller myself. Though from my POV it would seem like a lot of work to implement if it will only be used if max-height is active.

All of these require you to have visible data that isn't hidden behind a dropdown, and it would need to occupy space and not be floating like dropdowns do.

[2019-07-24 13:25] lareplog opened #2581 "a11y issue in documentation/react/dropdown"
only need to fix the "buttons must have discernible text" issue.

https://github.com/patternfly/patternfly-org/issues/1312

To find these errors / test if your solution works:

1. Right click on the page and choose inspect
2. In developer tools, choose "axe" from the top menu
3. Run the test

[2019-07-24 13:41] jschuler opened #2582 "ApplicationLauncher: Remove deprecated prop"
Remove deprecated prop `dropdownItems`. It has been replaced with `items`

[2019-07-24 13:46] rachael-phillips commented on #2016
We will tackle this one in the future.

[2019-07-24 13:47] rachael-phillips commented on #2016
We will investigate whether this issue is necessary to take on.

[2019-07-24 13:49] jschuler commented on #2016
I see that AlertActionCloseButtonProps offers `variantLabel` and `onClose` over ButtonProps so this can be closed.

[2019-07-24 13:49] #2016 closed

[2019-07-24 13:55] kmcfaul commented on #1393
@mcoker Is there something in css we could add for padding for this case?

[2019-07-24 14:02] rachael-phillips commented on #1439
After discussion, we'd like to move forward with making the headinglevel required but not the name change.

[2019-07-24 16:00] #2573 closed

[2019-07-24 16:01] #2336 closed

[2019-07-24 17:07] rachael-phillips commented on #2579
This was opened in the wrong location

[2019-07-24 17:07] #2579 closed

[2019-07-24 18:26] jschuler opened #2585 "Modal: Cancel button should be a LinkButton"

[2019-07-24 20:56] #2477 closed

[2019-07-25 14:31] dlabrecq opened #2587 "Donut threshold chart warning for donutWidth=0"
The donut threshold chart appears to generate the warning below when `donutWidth` is zero.

<img width="598" alt="Screen Shot 2019-07-25 at 10 18 34 AM" src="https://user-images.githubusercontent.com/17481322/61882078-baf63a00-aec5-11e9-8b19-93327bd135e4.png">

"I think figured out where the @patternfly/react-charts prop type warning in OpenShift is coming from . In `ChartDonutThreshold.tsx` on L5

[2019-07-25 14:38] dlabrecq commented on #2587
Providing the donut looks good at smaller sizes (e.g., 175px), we might want to consider applying  a percentage to `donutSize`.

`donutSize - (donutSize * (dynamicTheme.pie.height / theme.pie.height))`

Alternatively, we could apply a min size?

[2019-07-25 14:49] #1458 closed

[2019-07-25 15:38] dlabrecq commented on #2587
Using a percentage works fine for large charts, but not so well for small charts.

![Screen Shot 2019-07-25 at 11 11 57 AM](https://user-images.githubusercontent.com/17481322/61886115-1677f600-aecd-11e9-8ace-c5971ac4468d.png)

I'll just ensure that the value is greater than zero. Note that the inner chart isn't even visible less than 50px -- it's just too small at that point.

[2019-07-25 16:46] seanforyou23 opened #2591 "Skip to content should point to primary content container"
This change is necessary to create a "contract" or "handshake" if you will, between what the framework provides out of the box and what consuming applications will need to manage on their end in terms of an overall accessible experience. The overall goal is to ensure we have consistent hooks for managing focus and announcing dynamic content changes to assistive technology. By designating the main

[2019-07-25 18:11] #2209 closed

[2019-07-25 18:15] rachael-phillips opened #2592 "Wizard structure Issue"
I wanted to break the master issue into separate issues to improve tracking. Referencing https://github.com/patternfly/patternfly-react/issues/2114

Structure
The structure of wizard is confusing:

<div>
  <WizardHeader />
  <WizardToggle >
     <WizardFooter />
  </WizardToggle>
</div>
Where is the body? Where is the nav? Why is the footer in the toggle?

The structure should be more clear and re

[2019-07-25 18:18] rachael-phillips opened #2593 "String props on wizard"
This is the original issue. On string props:
Title, descriptions, button labels, all these props should be React nodes to allow put there anything (ex.: localized text with using of react-intl, or titles with a tooltip). Only string props should be accessibility props (aria-label, etc.) where any html elements cannot be rendered .

[2019-07-25 18:18] rachael-phillips commented on #2114
I broke out 2 and 3 here: https://github.com/patternfly/patternfly-react/issues/2592
and 4 here: https://github.com/patternfly/patternfly-react/issues/2593

[2019-07-25 18:24] #2565 closed

[2019-07-25 18:24] #2561 closed

[2019-07-25 19:49] kmcfaul commented on #2569
When using keyboard navigation, hitting enter on a dropdown should open the menu and move focus to the first element. After which the arrow keys will move the focus up and down. When using the mouse, the first element will not be focused, but hovering the mouse over an element will show the same grey highlighting.
Is this double selection using both types of input or just one or the other?

[2019-07-25 19:53] #2587 closed

[2019-07-25 19:54] #2503 closed

[2019-07-25 19:57] #2440 closed

[2019-07-25 20:30] mcoker commented on #1393
Hmm... the datalist can handle a "grid" type layout to a certain extent, but this is a case where it will be hard to align a group of items in one row with a group in another row. One thing you could do in this case is apply the following, so that the items grow to fill their parent (will change the spacing), but they're all based off of the same `flex-basis` so they will be equal widths (each ite

[2019-07-26 08:18] aljesusg opened #2594 "[PF4] There isn't onRowClick in VirtualTable"
React-Virtualized PF4: https://patternfly-react.surge.sh/patternfly-4/virtual%20scroll/virtualized/

React-virtualized table => https://github.com/bvaughn/react-virtualized/blob/master/docs/Table.md#prop-types

React-virtualized table PF4 tbody props => https://patternfly-react.surge.sh/patternfly-4/components/table/

This impact to Kiali https://github.com/kiali/kiali-ui/pull/1319

cc @serenamari

[2019-07-26 09:27] #2594 closed

[2019-07-26 13:08] LHinson opened #2596 "Add default alert"
Add an "default" alert. See the core PR here: https://github.com/patternfly/patternfly-next/pull/2107

[2019-07-26 14:23] kmcfaul commented on #1393
Adding the flex property to that class will space them out evenly, opposed to the more left aligned items.

![Screen Shot 2019-07-26 at 10 19 54 AM](https://user-images.githubusercontent.com/45077788/61958321-17715c00-af8f-11e9-8707-b5017a5584f6.png)

Should this be changed in core or should a separate class be added in core and applied to the items via a flag parameter? @kybaker @mcoker

[2019-07-26 14:39] tlabaj commented on #2066
closed by #2572

[2019-07-26 14:39] #2066 closed

[2019-07-26 14:45] tlabaj commented on #2322
This was fixed in core.

[2019-07-26 14:45] #2322 closed

[2019-07-26 14:52] tlabaj commented on #1790
@dlabrecq did you try the grid-2xl breakpoint?  is this still an issue for you

[2019-07-26 14:53] kmcfaul commented on #2052
@jeff-phillips-18 Has `component="button"` resolved your issue? DropdownItem defaults to `<a>` so it would be navigating on a click.

[2019-07-26 15:23] mcoker commented on #1393
@kmcfaul since this is pf3, we only want to introduce changes for high priority blocking changes (features, bugs, etc).

@martinpitt would the option above help in your case, or can I help you re-work it so that it does? Or could you potentially consider a table for a layout where columns will align with one another in all rows?

[2019-07-26 15:35] kmcfaul commented on #1393
@mcoker @kybaker Of the three ListView issues then (#1392, #1393, #1394), are either of the other two besides #1392 slated to change? #1394 I haven't pinged on because it should be able to be done only on the react side, with letting a user has in a null/empty `actions` parameter to keep the spacing div (just without children).

[2019-07-26 16:02] mcoker commented on #1392
@kmcfaul @martinpitt I apologize, I missed the PF3 label on this issue. The issue I created in the patternfly-next repo is for PF4.

@rachael-phillips can you comment on whether this is something we want to add to PF3 core?

[2019-07-26 17:40] tlabaj opened #2597 "Page: make mainContainerId prop required"
The mainContainerId prop should be required for the skip to content to function as expected.

cc @seanforyou23

[2019-07-26 18:16] seanforyou23 opened #2598 "Make mainContainerId prop required for Page component"
Once [this PR](https://github.com/patternfly/patternfly-react/pull/2519) is merged, users who don't specify the optional `mainContainerId` prop will have a less than optimal accessible experience. We'd like to make this a required property, but we need to wait until the next point in time that's safe to make breaking changes. This is a stub issue so we don't forget to do it.

[2019-07-26 18:17] seanforyou23 commented on #2598
Whoops, looks like there was already an issue opened for this. Closing in favor of https://github.com/patternfly/patternfly-react/issues/2597

[2019-07-26 18:17] #2598 closed

[2019-07-26 19:58] #2557 closed

[2019-07-26 20:24] mturley opened #2599 "[PF3] Pagination controls are not exported outside the context of a PaginationRow, so they can't be rendered at both the top and bottom of a list"
In IMS, we have a few list views with pagination, and when we implemented them we just added a pagination row at the bottom, as provided by the PaginationRow component here: https://patternfly-react.surge.sh/patternfly-3/index.html?knob-Item%20Count%3A=75&knob-Items%20End=15&knob-Page=1&knob-Page%20Size%20Drop%20Up=true&knob-firstPage=First%20Page&knob-Total%20items=75&knob-of=of&knob-Items%20Star

[2019-07-26 22:19] mcoker commented on #1394
Hey @martinpitt, I noticed the same behavior in my product and wrote a local override to make it work with my product's UI. Maybe @kybaker or @mcarrano can speak to the original intent of this component more - is it expected that a list view with actions should have the same actions in each row to maintain proper alignment?

[2019-07-27 15:21] #1522 closed

[2019-07-27 23:16] boaz0 opened #2600 "PF4 Switch label props breaking change"
A follow up to #2468 - to match the implementation to PF4 core the current API should be changed to include the label when the toggle is off and a different label when the toggle is on.

To solve this two ways come to mind:

* update the type of `label` from `string` to `string[2]` where the first item is the label on `on` and the second one is on `off`
* create two props `labelOn` and `labelOff`

[2019-07-28 01:44] boaz0 commented on #2578
@tlabaj @rachael-phillips - do you mind if I work on it?

[2019-07-29 12:58] seanforyou23 commented on #2591
Closed with https://github.com/patternfly/patternfly-react/pull/2519

[2019-07-29 12:58] #2591 closed

[2019-07-29 13:41] rachael-phillips commented on #2578
Yes! Thanks @boaz0!

[2019-07-29 13:54] mcarrano commented on #865
This feature is still needed for PF4 and currently lives in our feature backlog. It should not be closed.

[2019-07-29 14:22] dlabaj commented on #2531
Took a look at this component and what we currently have for our select component implementation.  While this does offer a lot of functionality currently we are going to make the updates requested by consumers to the existing PF4 component.  We have had some issues pulling in 3rd party components in the past (tippy and react table) when trying to get them to conform to our PF4 implementations.  Th

[2019-07-29 14:23] rachael-phillips commented on #1394
What are your thoughts here @kybaker and @mcarrano ?

[2019-07-29 14:32] katierik opened #2602 "Pagination and empty state - error"
On Firefox

A table has no results and is showing an empty state, and the pagination widget shows an error. There are zero results, so there are zero pages.
The error shows up on page load, and seems to happen only in Firefox 68.0.1

![Xnip2019-07-29_10-18-54](https://user-images.githubusercontent.com/23172038/62056545-e2ae1080-b1eb-11e9-9f13-ee32deff8802.jpg)

cc @AllenBW

[2019-07-29 14:33] #1837 closed

[2019-07-29 14:46] mcarrano commented on #1394
List views are intended to allow for flexible presentation of data and actions unlike a table where it's expected that every row will contain a consistent set of items. So in looking at the screen shot above, I see nothing wrong with this except that as pointed out, the alignment is untidy because of the inconsistent content in rows.

@mcoker Is this just a matter of applying the right layout for

[2019-07-29 14:51] #2532 closed

[2019-07-29 15:02] AllenBW commented on #2602
the react-pagination component doesn't appear to handle the edge case of 0 results well
<img width="589" alt="Screen Shot 2019-07-29 at 10 59 42 AM" src="https://user-images.githubusercontent.com/6640236/62058827-0ecb9080-b1f0-11e9-9965-7ee0a57142ca.png">

unsure what the right fix is here 🤔  a few options
* hide the component when there are no results
* say there is one result (to avoid the red b

[2019-07-29 15:22] redallen commented on #2600
This could not be a breaking change if we:
- Change the type to `string | string[2]` and check if they pass an array or a string to render the label.
- Add a `labelOff` prop and keep the `label` prop.

Renaming the `label` prop seems a little extreme to me.

[2019-07-29 15:23] seanforyou23 opened #2603 "Stack layout has misleading doc"
In the docs for `Stack` layout, it mentions the `isFilled` prop affects the horizontal space occupied. I think this should actually refer to the vertical space it takes up.

https://patternfly-react.surge.sh/patternfly-4/layouts/stack/

[2019-07-29 15:28] kybaker commented on #1394
@mcoker @mcarrano In the context of PF3 a 'data list' is really serving as a data table. In this case it makes sense that the content would be aligned properly like we would treat a data table in PF4.

[2019-07-29 15:30] rachael-phillips commented on #2599
@mcoker will this have any implication on the Core side?

[2019-07-29 16:02] boaz0 commented on #2600
Both ideas sound good. Nevertheless, the latter seems easy to implement.

Thanks @jschuler I will be working on it

[2019-07-29 16:05] KKoukiou opened #2606 "Avoid inline-styling to meet tighter content-security-policy"
To make use of the patternfly-react in projects with higher security demands, like the Cockpit (www.cockpit-project.org), modifications/use of style HTML element attribute must be avoided.

I tried to import Table component, and I got the following warning in the browser:
[code]

Looks like that some of your component are injecting styles into the html.
[code]

Can we use css for that?

[2019-07-29 16:28] priley86 commented on #2606
Interesting... thanks for this!

Since you are referencing the table, I took a quick glance at this (although I realize this is a global thing related to current Css-In-JS libs). It looks like it may be easiest to add support for this by using Emotion's `nonce` prop. We'd have to do that in `@patternfly/react-styles`. What do you think?

Related issues:
https://github.com/threepointone/glamor/issu

[2019-07-29 16:30] #2369 closed

[2019-07-29 18:03] rachael-phillips commented on #2606
Hi @KKoukiou is this a blocking issue for you?

[2019-07-29 18:32] dgutride commented on #2606
@priley86  - we should be avoiding use of the inject function within react styles wherever possible.  Toolbar is being replaced by work happening now (it hasn't made it to react yet), but as for topology and the table packages, those should be importing from a css file so we don't use a style tag.  cc: @jeff-phillips-18 since topology is mentioned, too

[2019-07-29 18:49] jgiardino opened #2607 "Tabs as nav example doesn't match html equivalent"
When I look at the HTML examples for Tabs, the [Tabs using the nav element](https://www.patternfly.org/v4/documentation/core/components/tabs#tabs-using-the-nav-element) shows the tabs as `<a>` instead of `<button>` elements.

When I look at a similar [example for react](https://www.patternfly.org/v4/documentation/react/components/tabs/#tabs-using-the-nav-element), I don't see `<a>` elements being

[2019-07-29 19:37] mcoker commented on #2599
@mturley are you able to reorder the elements in the existing component as a new component in react without needing any styling updates, or will we need to style the new variation in core?

[2019-07-29 19:53] mturley commented on #2599
I think we can probably do that in react without any updates to core. I'll give it a try when I can and get back to you. The issue in my product was pushed to another release, so I might not get to it any time soon.

[2019-07-29 19:56] priley86 commented on #2606
@dgutride - ok, good to know. Yes i seem to recall this now (that we can avoid `inject` here). Thanks.

[2019-07-29 19:59] priley86 commented on #2606
@dgutride do you have a suggestion as far as inline css goes? I believe the InlineEdit CSS is currently only impacting those consuming the `@patternfly/react-inline-edit-extension`. We can surely change this usage in a future PR...

[2019-07-30 08:11] Hyperkid123 commented on #2531
@dlabaj the reason why we are suggesting this is that we are already using react-select and we need these features now. We need async variant, we need create-able variant, custom filtering, etc.

While i understand this argument i don't think its valid for this component. Take a look at the react-select docs. There is a ton of customization and you can literally replace default component with PF4

[2019-07-30 08:25] dLobatog commented on #2531
Currently on https://github.com/RedHatInsights/compliance-frontend we are using an adapted form of react-select to use PF4 styles and it's definitely fitting our use case - https://github.com/data-driven-forms/react-forms/tree/master/packages/pf4-component-mapper/src/form-fields/select

Before, I had a few issues with the typeahead in https://www.patternfly.org/v4/documentation/react/components/se

[2019-07-30 08:30] KKoukiou commented on #2606
Oh yes, Cockpit has strict CDP, we don't allow inline-styling.

In addition, this issue does not appear only when consuming `@patternfly/react-inline-edit-extension`, in fact I don't even have this installed.

As I mentioned in the issue description, I see this when importing the Table component from patternfly-react-table. But I it's happening with other components from @patternfly/react-core.

[2019-07-30 08:43] martinpovolny commented on #2531
In my perspective @dLobatog and @Hyperkid123 gave enough arguments and examples that cast a shadow on PF's decision in this matter.

Can you revisit this?

[2019-07-30 08:43] martinpovolny commented on #2531
@karelhala : what's your view on this?

[2019-07-30 09:20] karelhala commented on #2531
Wow quite a hasty aproach on this critical issue. I expected a bit more discussion on this topic with a few stakeholders and try to discuss features that are aleady implemented in the react select component and see if we could come up with solution to improve PF select component.

As @Hyperkid123 mentioned, we are already requiring these features and because PF select was lacking in them we looked

[2019-07-30 10:29] xeviknal opened #2609 "Feature: Tab component misses mountOnEnter, unmountOnExit properties"
In PF3 we had something like the following:

[code]

In patternfly 4, we want to implement Tabs also using the `mountOnEnter` and `unmountOnExit`

[code]

Is there the possibility to implement those properties for PF4 for Tab component?

[2019-07-30 10:51] abonas commented on #2609
cc @serenamarie125 @aljesusg

[2019-07-30 13:14] rachael-phillips commented on #2609
@tlabaj making you aware of this one.

[2019-07-30 13:31] ryelo commented on #2531
I can understand the hesitation of bringing in another dependency, but could we just hold it in another package similar to react-table and charts?

As @karelhala said, I don't understand why having more features is bad.  It is a great component and will be a huge improvement in a lot of frontends on cloud.redhat.com.

If Patternfly doesn't want to roll with it, I'd be happy to meet with Patternfly

[2019-07-30 13:50] #1545 closed

[2019-07-30 14:09] #2390 closed

[2019-07-30 14:21] priley86 commented on #2504
i've updated the PR for #1950 over in #2360. Will try to confirm it fixes this before merge. FWIW, the types for `ICell` are currently the following there... and `cellFormatters` is included.

[code]

[2019-07-30 14:31] #2337 closed

[2019-07-30 14:49] #2603 closed

[2019-07-30 15:16] shaded-enmity opened #2610 "PF3 ExpandCollapse missing onToggle callback"
The `Expandable` component in PF4 provides `onToggle` callback, however the PF3 `ExpandCollapse` component has no such callback, which makes it impossible to use when the expanded part triggers a re-render of a parent component.

I can submit a PR for this, let me know if such change is welcomed.

[2019-07-30 19:46] rachael-phillips commented on #2602
Hi @katierik and @AllenBW thank you for filing this. @tlabaj making you aware

[2019-07-31 07:45] aljesusg opened #2616 "[PF4] lodash-es problems in React-table"
Hi

After add the react-table for the VirtualScroll in kiali we have a problem with lodash-es library imported in react-table.

Why react-table use lodash-es instead lodash like react-charts?
[code]

Thanks

[2019-07-31 10:55] karelhala commented on #2616
@redallen any reason why lodash-es was chosen in favor of lodash?

We have encountered similiar problem when running tests with jest and found workaround by aupdating `moduleNameMapper`:
[code]
It has no impact on bundle size and effect tests only.

[2019-07-31 11:11] aljesusg commented on #2616
For us moduleNameMapper is not supported by create react app :(

[code]

Maybe with watchPathIgnorePatterns

[2019-07-31 12:41] rachael-phillips commented on #2616
@priley86 making you aware.

[2019-07-31 13:06] redallen opened #2617 "Replace lodash-es with lodash"
We have no reason to depend twice on the same library. We should replace *`lodash-es` with `lodash`.

[2019-07-31 13:08] redallen commented on #2616
React table depends on `lodash-es`. It used to be a peer dependency, but to resolve #2222 it was moved to being a dev dependency.

As for the difference between `lodash` and `lodash-es`, `lodash-es` produces smaller bundle sizes because it uses ESM exports instead of CommonJS. I agree as a library we should consistently only use `lodash-es`. I've opened #2617 for this.

Is @karelhala 's workaround

[2019-07-31 13:30] dlabrecq commented on #2617
"I used lodash-es instead of lodash because it is currently a dependency in OpenShift." -- @priley86

Victory charts has lodash as a dependency; thus, react-charts inherits this dependency as well. It's not likely that we can change that to use lodash-es.

[2019-07-31 13:32] dlabrecq commented on #2616
"I used lodash-es instead of lodash because it is currently a dependency in OpenShift." -- @priley86

Victory charts has lodash as a dependency; thus, react-charts inherits this dependency as well. It's not likely that we can change that to use lodash-es.

[2019-07-31 13:34] priley86 commented on #2616
I am seeing that `babel-plugin-lodash` and `lodash-webpack-plugin` can be used to treeshake lodash imports like `import foo from 'lodash/foo'`, but I don't see why we would prefer this option over `lodash-es` for the reason @redallen mentions (it's already ESM).

For PF, I am perfectly fine w/ swaying one way here. For some products, this may become very hard due to the 3rd party ecosystem. For th

[2019-07-31 13:52] karelhala commented on #2616
@aljesusg you should be able to pass additional attributes directly to `react-scripts` [1], so you might want to fix it with this.

I think that using  `babel-plugin-lodash` would be better approach. It plays nicely with jest, so if we'd were to use it and change all lodashes to `lodash` instead of `lodash-es` we wouldn't force consumers to fight these problems.

[1] https://github.com/facebook/cr

[2019-07-31 13:56] aljesusg commented on #2616
@karelhala I tried to pass --transformignore.... But nothing, we are not using Babel :(

[2019-07-31 14:01] SpyTec opened #2618 "PF4 Select checkbox variant cannot expand with empty children"
If you have no children with `SelectVariant.checkbox` and try to expand you will be met with a "You can't have a focus-trap without at least one focusable element" error

## Expended results
1. Click to expand Select
1. Met with empty window

## Actual results
1. Click to expand select
1. Error crashes the application

Reproducible sandbox:
https://codesandbox.io/s/amazing-dawn-ueed9?fontsize=14

[2019-07-31 14:42] SpyTec opened #2619 "PF4 Uncontrolled checkbox in surge docs checks wrong checkbox when clicking label"
Simple fix, but Uncontrolled checkbox in https://patternfly-react.surge.sh/patternfly-4/components/checkbox/ checks the controlled checkboxes when clicking the label

[2019-07-31 16:36] janwright73 commented on #2531
Discussed this issue with Ryan, Karel and others today - we would like to understand the must have features that react-select provides that are needed by products so that the PF team can estimate time to deliver those features in existing technology.  Thanks for the extra dialog and understanding.  @dlabaj @kmcfaul - please ping @LHinson or I if you have questions.

[2019-07-31 17:20] #2371 closed

[2019-07-31 17:43] #2578 closed

[2019-07-31 18:08] rachael-phillips commented on #2618
@SpyTec is this currently blocking you?

[2019-07-31 18:17] jeff-phillips-18 commented on #2054
I'm ok with closing.

[2019-07-31 18:18] #2054 closed

[2019-07-31 18:21] rachael-phillips commented on #2610
@shaded-enmity thanks for filing! Yes, it would be great if you could put up a PR for this one :)

[2019-07-31 18:23] rachael-phillips commented on #2609
@xeviknal is this currently blocking you

[2019-07-31 18:43] seanforyou23 opened #2620 "Move Inline edit inline table to "experimental""
Currently, there is a disconnect with [Inline edit inline table](https://patternfly-react.surge.sh/patternfly-4/inline%20table/inlineedit/). It's being actively used in design artifacts for PF4 apps, but there's no direct support from the PF team and this component has problems.

The component doesn't work when pulled into an app built using TypeScript - type errors. Consuming it as a JavaScript m

[2019-07-31 19:55] janwright73 commented on #2620
@LHinson fuse online wants this for 7.5 release -  @seanforyou23 knows more.

[2019-08-01 04:08] xeviknal commented on #2609
@rachael-phillips I did a workaround that looks like is working, although is not that elegant. So, not blocking.

[2019-08-01 04:12] xeviknal opened #2623 "Feature: Support JSX.Element on Tab title property"
Right now, Tab title component only supports string values. It would be great that it supported Elements.

Kiali wants to render as a tab title one string and one icon, like the following:
![Screenshot of Kiali Console (4)](https://user-images.githubusercontent.com/613814/62265153-525a1080-b423-11e9-82a4-2d63f41e9479.jpg)
![Screenshot of Kiali Console (5)](https://user-images.githubusercontent.com

[2019-08-01 04:13] xeviknal commented on #2623
cc @serenamarie125 @aljesusg @pilhuhn @abonas

[2019-08-01 07:26] SpyTec commented on #2618
Hi @rachael-phillips, I can get around it so it's not currently blocking me

[2019-08-01 07:41] abonas commented on #2594
@aljesusg I see this is closed  - is this resolved?

[2019-08-01 08:41] karelhala commented on #2531
When I opened https://github.com/patternfly/patternfly-react/issues/2211 we were trying to use PF select component and found a lot of issues with it so we looked around and found this really good component. Some of these things are currently used or as planed features.
* direct connection to redux
* async loading - this one is a huge one, indicate that data are loading (on select and in option con

[2019-08-01 08:49] Hyperkid123 commented on #2531
Probably the most important feature in addition to list that @karelhala just mentioned is in my opinion component customization.

React select offers amazing API for switching the building blocks of the component which allows us to adjust any sub-component exactly as we need.

Once you encounter even the smallest visual adjustment and current PF4 implementation does not support it, we are done and

[2019-08-01 09:44] xeviknal commented on #2623
In the second example, we needed to have this last tab opening a new tab (other tabs should just run as usual). Is there a way to achieve it with actual implementation of tabs?

[2019-08-01 11:16] aljesusg commented on #2594
not resolved @abonas but I check the openshift console and the "link" is in the name of the item no in the row so we don't need this.

[2019-08-01 12:59] rachael-phillips commented on #2623
Hi @xeviknal what is your timeline like on this request, and what level of urgency would you say this is?

[2019-08-01 13:29] LHinson commented on #2531
@karelhala will you clarify in the list below if it's currently used or planned? and if it's planned, when you plan to adopt it? Thanks in advance for helping us to understand the full story here to help evaluate.

[2019-08-01 13:32] rachael-phillips commented on #2609
Thanks so much for letting us know @xeviknal !

[2019-08-01 14:00] TheRealJon opened #2624 "Bug - ChartArea does not have correct fill color when not wrapped by ChartGroup"
When applying a theme to a `Chart` component directly wrapping a `ChartArea` component, the fill color for the data is incorrect. The only way to get the correct color for the theme is by wrapping the `ChartArea` as such: `Chart > ChartGroup > ChartArea`.

[2019-08-01 14:13] karelhala commented on #2531
@LHinson all of these features are currently being used with exception of async loading where we are still trying to figure out what kind of async are we going to use, either onmount load or on type loading.

[2019-08-01 14:51] christianvogt opened #2627 "icon button size look out of place in topology"
The icon buttons used in the topology look out of place as the height of the button is larger than the width:
![image](https://user-images.githubusercontent.com/14068621/62303359-f656b280-b449-11e9-9301-94c0aaa33831.png)

The designs show a wider button than taller button:
![image](https://user-images.githubusercontent.com/14068621/62303519-4897d380-b44a-11e9-975d-689f2c9082d8.png)
![image](https:

[2019-08-01 15:09] newswangerd opened #2629 "PF4 Pagination doesn't update page count"
On the PF4 `Pagination` component, updating the `page` prop doesn't cause the page number text field to update.

When I update the page number from an external event such as a button press, this is what happens:

![ScreenRecording2019-08-01at1](https://user-images.githubusercontent.com/6063371/62304727-931a4f80-b44c-11e9-863b-9d45043ba326.gif)

Code used for this:

[code]

[2019-08-01 15:24] shaded-enmity opened #2630 "PF3 jest failure due to PF4 settings"
`jest.config.js` contains `"<rootDir>/packages/patternfly-4/react-core/scripts/snapshot-serializer"` and when trying to run tests for PF3 via `yarn test:pf3` I'm getting:
[code]

For all of the PF3 test suites.

[2019-08-01 15:45] rachael-phillips commented on #2630
Thanks for filing @shaded-enmity . Is this a blocking issue for you at this time?

[2019-08-01 15:50] shaded-enmity commented on #2630
@rachael-phillips Nope, I removed the PF4 specific line from the config and was able to run the tests ok :)

[2019-08-01 15:50] rachael-phillips commented on #2630
ok great! Thanks @shaded-enmity !

[2019-08-01 16:51] priley86 commented on #2504
i've pushed a workaround for this issue for now and have changed the interface above to accept `any` types for now:
https://github.com/patternfly/patternfly-react/pull/2360/commits/4acf7c8c1ecc8920ba7707091d3953789cf7a16a

`IDecorator` is not accurate. This should really be more like:
[code]

The current problem w/ this is we have several different names for the formatter and transformer arguments

[2019-08-01 17:18] serenamarie125 commented on #2627
@mceledonia i see that the PF topology design shows the graph buttons wider than tall.  I think that having them more square as @jeff-phillips-18 implemented it looks better.  What do you think ?

[2019-08-01 18:23] #2391 closed

[2019-08-01 18:50] christianvogt commented on #2627
@serenamarie125  The current implementation isn't more square. It's a taller rectangle...

[2019-08-01 19:29] LHinson commented on #2531
Thanks for the additional information @karelhala We're looking into it.

[2019-08-01 20:44] nlcwong opened #2632 "Tooltip text alignment - allow different alignments"
Currently, the PF4 tooltip component's text is centered aligned.  Would like to request an enhancement to allow the customization of the text alignment to be either left or right as well as centered.

Use case:  It is possible the tooltip could be used to show more information of a status or data on a data table and might show multi-line data that would be easily scannable if they were either left

[2019-08-02 11:11] xeviknal commented on #2623
@rachael-phillips another workaround for both solutions: icons and links.
However, starting to have a lot of workarounds, hehe.

Example that works. Notice the trick of telling title is type any. Tab.title expects a string.
[code]

Non working scenario:
[code]

[2019-08-02 13:04] mceledonia commented on #2627
@serenamarie125 @christianvogt I'm thinking either square or wider rectangle would be best. Since they are the same height either way, making them skinnier will make them a smaller click target which could potentially get dicey on mobile.

[2019-08-02 13:15] rachael-phillips commented on #2623
That's a great point, @xeviknal Thanks for posting the workaround!

[2019-08-02 13:18] jeff-phillips-18 commented on #2627
when developing the topology components, I specifically set the left/right margins to `-sm` (top). The PF4 default is `-md` (bottom):

![image](https://user-images.githubusercontent.com/11633780/62372778-59a61a80-b506-11e9-9718-1c11a3a976ca.png)

@mceledonia remove my setting of `-sm`?

[2019-08-02 13:55] mceledonia commented on #2627
Yeah, I feel like our Goldilocks is somewhere in the middle of those two, but since we're working with the variables I'd go with the wider versus the skinnier due to the reason I mentioned above.

[2019-08-02 14:32] redallen commented on #2630
@shaded-enmity Try running `yarn build:pf3` or `yarn build` first.

[2019-08-02 14:37] rachael-phillips commented on #2632
@nlcwong I'm just double checking that this is only for the tooltips on charting?

[2019-08-02 15:04] dgutride commented on #2620
@seanforyou23  @priley86  - can somebody find the initial PR/issue that landed this in an extension to start?  I'm trying to remember the history, but in general - if this is needed by multiple products and belongs in PatternFly as a pattern, I think we should consider this request.

[2019-08-02 15:06] shaded-enmity commented on #2630
@redallen Thanks, so:

[code]

fails with the barrage of errors, while

[code]

Works fine!

[2019-08-02 15:11] redallen commented on #2630
Ah, that makes sense. It's due to a PF4 package building the `snapshot-serializer` that Jest needs. Reopen if you have any other issues, thank for your interest in building PatternFly!

[2019-08-02 15:11] #2630 closed

[2019-08-02 16:24] rareddy commented on #2620
For Data Virtualization in Syndesis, we want to start the development with "View Output" screen, which is using this component per UX team's mockups, any prioritization on this component would be greatly appreciated.

[2019-08-02 17:53] nlcwong commented on #2632
@rachael-phillips No, this is for all tooltips, charts or no charts.  There might be times where the tooltip text would go beyond a single line and some might feel that it would be easier to read the text if it was right aligned.  So the ask is not to change the default text alignment, but to add additional parameters that allows the designer/dev to be able to change the text alignment if they wan

[2019-08-02 18:42] tlabaj opened #2636 "Convert Topology to TypeScript"
Convert Topology to TypeScript

cc @jeff-phillips-18

[2019-08-02 18:44] jeff-phillips-18 commented on #2636
The topology component are TypeScript, though the examples are not.

[2019-08-02 19:04] tlabaj commented on #2636
Excellent!  I will close this issue.

[2019-08-02 19:04] #2636 closed

[2019-08-02 19:05] #2627 closed

[2019-08-02 19:51] #2029 closed

[2019-08-02 20:29] #2624 closed

[2019-08-02 20:32] #2435 closed

[2019-08-02 20:32] #2600 closed

[2019-08-02 20:59] priley86 commented on #2620
opened a PR temporarily to improve Gatsby docs on extensions...
https://github.com/patternfly/patternfly-react/pull/2637

I'm happy to see `@patternfly/react-inline-edit-extension` as an extension or as an experimental component until it is officially added in Core.

`@patternfly/react-virtualized-extension` is being used actively downstream, but it is technically still can extension. It is also u

[2019-08-05 13:18] rachael-phillips commented on #1393
Hi @mcoker and @kybaker I'm following up here. What should @kmcfaul 's next steps be here?

[2019-08-05 14:26] AllenBW commented on #2629
Seeing this as well, halp.

[2019-08-05 14:30] AllenBW commented on #2629
<3 <3 <3

[2019-08-05 15:15] priley86 commented on #2616
hi, I spoke to @redallen and @vojtechszocs some further. I think it is probably best to convert react-table to use `lodash` instead of `lodash-es` to avoid this potential problem for the time being. Then consumers using legacy format can just use `lodash` and `babel-plugin-lodash` if using babel:

[code]
There is a good article describing performance gains w/ babel [here](https://nolanlawson.com/2

[2019-08-05 15:26] redallen commented on #2617
In that case, we should replace `lodash-es` with `lodash`.

[2019-08-05 15:43] priley86 opened #2642 "react-virtualized dependency is not treeshaking"
It seems that our react-virtualized versions in `@patternfly/react-virtualized-extension` and `patternfly-react-extensions` are causing multiple versions to be installed downstream.

[2019-08-05 15:50] boaz0 commented on #2585
Are you talking about the close button? The Modal doesn't have any cancel button.

[2019-08-05 15:56] #2616 closed

[2019-08-05 15:56] #2617 closed

[2019-08-05 16:10] tlabaj commented on #1658
closed by #2608

[2019-08-05 16:10] #1658 closed

[2019-08-05 17:43] jenny-s51 commented on #986
Hi @mcarrano, it looks like the language selector was removed from the login page in this release: https://github.com/patternfly/patternfly-react/compare/@patternfly/react-core@2.1.1...@patternfly/react-core@2.1.2

Can this issue be closed?

[2019-08-05 18:02] dlabaj commented on #2531
@Hyperkid123 and @karelhala Taking another look.  Would like to understand what you need the ability customize any components that make up the select component?  Is it just the spinner for loading from the server that's in issue #2211?  Thanks.

[2019-08-05 18:03] mcarrano commented on #986
I think this issue can be closed @jenny-s51 . There is an open issue in core here to add the language selector in the background area of the page: https://github.com/patternfly/patternfly-next/issues/1821. It may make sense to close this and open a new React issue when the time is right as this issue was related to the old designs.

@rachael-phillips what do you think?

[2019-08-05 19:14] #2642 closed

[2019-08-05 20:49] tlabaj opened #2646 "PF4 Alert: Alert should default to "default" instead of "info""
1. The Alert should default to "default" instead of "info" alert
2. The default variant should be removed from the variant union since it has no matching modifier in core.  Instead if the consumer does not provide variant type, the default (meaning no modifier) alert will be used.

[2019-08-06 07:07] karelhala commented on #2531
Well we and probably oher apps in future will receive some variations of select, be it options or different input and other things. Some of these variants will be directly bound to the project and they wouldn't be used outside (I know that PF is trying to sync all designs but these things will occure) or adding them to PF would take some time (designs would have to be revisited, new styles writen

[2019-08-06 13:07] #2629 closed

[2019-08-06 13:45] jenny-s51 commented on #986
closing per @rachael-phillips

[2019-08-06 13:45] #986 closed

[2019-08-06 13:47] jenny-s51 commented on #1397
per @tlabaj , this is not considered a breaking change as it adds an optional (but not required) prop

[2019-08-06 15:51] tlabaj commented on #2050
Closing this since it is duplicate.

[2019-08-06 15:51] #2050 closed

[2019-08-06 15:55] rachael-phillips commented on #2632
Yes, that would be great if you can open an issue just for charting updates in React. I'm going to move this issue to Core because non-charting tooltip enhancements should be considered in core.

[2019-08-06 15:55] tlabaj commented on #2356
Closed by #2375

[2019-08-06 15:55] #2356 closed

[2019-08-06 18:23] rachael-phillips commented on #2620
I was talking with @rareddy who needs the above inline-table editor mentioned in the GitHub issue to start developing one of the main screens for data virtualization. Sept 27th is when he needs to deliver the functionality based on this component. He says "we can work with a developer to fine-tune to our requirements. we will enter the issues we are facing on the JIRA."

[2019-08-06 19:41] jenny-s51 commented on #2328
https://github.com/priley86/patternfly-react/pull/10

[2019-08-07 08:31] terezanovotna commented on #2046
Looking forward to seeing this fixed!🥳🥳

[2019-08-07 12:28] boaz0 commented on #2623
@rachael-phillips @tlabaj can you assign this to me?

[2019-08-07 13:36] jeff-phillips-18 commented on #2052
That should be fine.

[2019-08-07 13:36] #2052 closed

[2019-08-07 13:37] jeff-phillips-18 commented on #2051
what @boaz0 suggested works fine.

[2019-08-07 13:37] #2051 closed

[2019-08-07 14:09] Djfaucette opened #2656 "React Table throws JS errors"
In a default testing setup inside a React app, I'm getting an error in react/table:

[code]

I'm using @patternfly/react-table v2.14.23.

[2019-08-07 14:14] kmcfaul opened #2658 "PF4 Dropdown: onSelect doesn't pass back event from item"

[2019-08-07 14:30] priley86 commented on #2656
hi @Djfaucette - is your environment using Babel/es6 constructs?

I would also double check that you also have a default export inside of `add.js`, ie:
[code]
https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export

I don't know that this is anything specific to table. We'll need more info here 😄

[2019-08-07 15:01] Djfaucette commented on #2656
Hi, Patrick

Thanks for the quick reply. The error is being thrown from: `./node_modules/@patternfly/react-table/dist/js/components/Table/base/evaluate-transforms.js`

So my guess is that there is an imported file that has a strange export statement somewhere in that component.

[2019-08-07 15:02] Djfaucette commented on #2656
I just noticed I didn't include the full file paths in my issue. Whoops!

[code]

[2019-08-07 15:11] jgiardino opened #2660 "PF4 Forms (horizontal) alignment of label to checkbox"
When creating a form that includes a label for a group of checkboxes, the label text and the checkbox text are not aligned. Also, an example of this layout would be nice to see so that we know that we're using the component correctly.

[2019-08-07 15:15] jkozol commented on #2660
This is an example of a form that has the misalignment:

[code]

[2019-08-07 15:33] tlabaj opened #2662 "PF4 Page: rename defaultManagedSidebarOpen prop"
Since we are still Pre-release, let's go ahead and rename the defaultManagedSidebarOpen prop to defaultManagedSidebarIsOpen to be consistent with naming in other components.

[2019-08-07 15:47] rachael-phillips commented on #2660
Hi @jgiardino and @jkozol is this issue currently blocking you?

[2019-08-07 17:26] priley86 commented on #2656
This seems build related in your environment if ESM is not recognized. We use ESM is many apps now downstream along w/ webpack for tree shaking dependencies, however we do still build CommonJS and UMD modules (you can see those in the `dist/js` and `dist/umd` folders of our npm packages.  We recently switched from `lodash-es` to `lodash` - maybe updating can help you? FWIW, I've tested latest alph

[2019-08-07 19:52] dlabaj opened #2665 "Creatable and New options support for select component"
PF4 select component is missing the ability to add creatable items as seen here: https://react-select.com/creatable .  This feature is needed by product teams.  Product teams also need the ability add new options by typing them in input (these options should stay in pool of options).

Please see issue #2531 for further details.

[2019-08-07 20:29] mcoker opened #2666 "disabled button should only apply the disabled attribute"
Currently if you use

[code]

That generates

[code]

When disabling a `<button>` html element, all you need is the `disabled` attribute, not the class `.pf-m-disabled`. The class doesn't break anything, but it's unnecessary. The class `.pf-m-disabled` should only apply to elements that don't support the `disabled` attribute, like `<a>` elements, for example.

In the case above, the rendered HTML

[2019-08-07 20:36] rachael-phillips commented on #2623
Done! Thanks for your help @boaz0 !

[2019-08-07 20:39] ssilvert opened #2667 "TabContent.d.ts doesn't include onAuxClick"
I'm trying to upgrade to the latest react-core.

Looks like TabContent.d.ts is broken.  I can't transpile because of the error.  Looks like the problem was introduced in version 3.51.0.  Version 3.50.0 does not generate this error.

node_modules/@patternfly/react-core/dist/js/components/Tabs/TabContent.d.ts:20:88 - error TS2344: Type '"start" | "hidden" | "color" | "content" | "size" | "style" | "

[2019-08-07 21:31] mcoker commented on #2366
@tlabaj @kmcfaul the work for this is done in core, merged in https://github.com/patternfly/patternfly-next/pull/2028

[2019-08-08 13:04] ssilvert commented on #2667
BTW, I am transpiling with these options:

tsc --noImplicitAny --strictNullChecks --jsx react -p ./

[2019-08-08 13:20] rachael-phillips commented on #2667
@ssilvert are you blocked because of this?

[2019-08-08 14:27] abalakh opened #2669 "Turning switch on/off does not change anything in DOM"
I'm looking at examples in docs (both patternfly-react.surge.sh and patternfly.org). Switch's input is loaded with or without "checked" attribute (`<input class="pf-c-switch__input" ... checked>`), but when changing switch state that attr is not added/removed. No classes or anything else are updated as well.
Moreover, both labels (for "on" and "off" states) are present in DOM at the same time, so

[2019-08-08 14:28] abalakh commented on #2669
Optionally, some attr in labels like "hidden=True" would make it easier to determine what label is shown, and i won't have to write some complex xpath like `/span[contains(@class, 'pf-m-on') and preceding-sibling::input[@checked] or contains(@class, 'pf-m-off') and preceding-sibling::input[not(@checked)]]` to figure that out. But even such weird xpath will only work if `checked` actually reflexts

[2019-08-08 14:41] rachael-phillips commented on #2669
Hi @abalakh is this bug for PF3 or PF4? Are you currently blocked at this time because of this bug?

[2019-08-08 14:42] mcarrano commented on #1855
Based on an Aug 8 meeting with @tlabaj and @mcoker we should move forward with this fix and allow the consumer to pass a threshold value to control the number of chips to display before exposing the overflow. Make the default = 3.

[2019-08-08 14:43] rachael-phillips commented on #1855
Hi @mcarrano thank you for the update! We will still wait until #1837 is closed before picking up this issue, correct?

[2019-08-08 14:53] abalakh commented on #2669
@rachael-phillips PF4 ([here](https://patternfly-react.surge.sh/patternfly-4/components/switch/?shadow=False) or [here](https://www.patternfly.org/v4/documentation/react/components/switch/?shadow=False)).
Not currently blocked as i'm just adding support for Switch in our automation, so far it's not yet used in our tests AFAIK, but soon will be for sure, we have switches present on webUI, so if you

[2019-08-08 14:54] mcarrano opened #2671 "Select not taking click events"
None of the Select component example exposed in the React documentation section of the website seem to be taking click events to select an item from the dropdown. Looking at this page: https://www.patternfly.org/v4/documentation/react/components/select/  I'm seeing this problem with either Firefox or Chrome.

[2019-08-08 15:04] #2618 closed

[2019-08-08 15:05] #2045 closed

[2019-08-08 15:14] rachael-phillips commented on #2669
Thank you! That's super helpful.

[2019-08-08 15:18] #2619 closed

[2019-08-08 16:12] ssilvert commented on #2667
@rachael-phillips  I'm not sure if this one is not a total blocker.  It looks like all my code still transpiled.  I can't run it because of a different blocker that I'm still investigating.

[2019-08-08 17:51] rachael-phillips commented on #2667
@ssilvert ok let me know! Is the other blocker you are investigating also a PF bug or something else?

[2019-08-08 19:22] priley86 opened #2673 "PF4 React-Table - TypeScript followup"
In #2360, I noted a couple of additional nice-to-haves:

- [x] It would be better to expose all formatter/transformer props in `Table.tsx` with our explicitly defined types. Doing so would also require ensuring all formatters and transformers are tested via that interface (as explicit props to `Table`). https://github.com/patternfly/patternfly-react/pull/2360#issuecomment-517371474

- [ ] Ensure t

[2019-08-08 19:58] ssilvert commented on #2667
@rachael-phillips I'm pretty sure it's a PF bug.  I just sent Dana an email about it.

I assume that the fix for the TabContent.d.ts should be quick?

[2019-08-08 20:40] ssilvert opened #2674 "styles doesn't work with UMD"
It looks like this commit broke my app:

https://github.com/patternfly/patternfly-react/pull/2085

I'm not sure how this is supposed to be consumed now.  Now it looks like react-styles is looking for files like ...components/Alert/alert.js?

Those don't exist in the react-styles distribution.

[2019-08-09 00:44] #762 closed

[2019-08-09 01:00] #1254 closed

[2019-08-09 08:36] karelhala opened #2675 "DropdownItem HTML elements"
This is huge blocker because we want to add translations to our UI with [react-intl](https://github.com/formatjs/react-intl) and you do that by usig [`formattedmessage`](https://github.com/formatjs/react-intl/blob/master/docs/Components.md#formattedmessage) that is regular component and once you add any component to dropdownItem it changes the styles and it's not showing properly in the menu.

Can

[2019-08-09 13:16] rachael-phillips commented on #2674
@ssilvert this is the bug that's currently blocking you, correct?

[2019-08-09 13:19] rachael-phillips commented on #2596
@tlabaj are you ready for me to close this issue?

[2019-08-09 13:47] tlabaj commented on #793
Closing this since there is a work around.

[2019-08-09 13:47] #793 closed

[2019-08-09 14:09] seanforyou23 commented on #2620
This work item has been moved into our roadmap starting with finalizing the designs and implementing the html/css solution first. Closing this issue in favor of [the effort in core](https://github.com/patternfly/patternfly-next/issues/404). Will create a new issue for the react implementation once we're ready for it.

[2019-08-09 14:09] #2620 closed

[2019-08-09 14:13] rachael-phillips commented on #232
Hi @sjd78 are you still working on this?

[2019-08-09 14:50] seanforyou23 opened #2677 "Outstanding lint warnings"
When running `yarn lint:js` from the project root, warnings are thrown like

`[ESLINT_LEGACY_OBJECT_REST_SPREAD] DeprecationWarning: The 'parserOptions.ecmaFeatures.experimentalObjectRestSpread' option is deprecated. Use 'parserOptions.ecmaVersion' instead.`

These come from both `patternfly4-react-lerna-root` and `patternfly3-react-lerna-root`. Is it something that can be fixed?

[2019-08-09 14:59] mcarrano commented on #1146
@jeff-phillips-18 what is the fix you are looking for here? My opinion is that these very long names should be truncated per the guidelines given here: https://www.patternfly.org/v3/styles/terminology-and-wording/ Is there another solution you are looking for?

[2019-08-09 15:14] dlabrecq commented on #1790
I still see the issue when the window is resized between 1000px and 600px.

Am we expected to wrap the table in a grid? Isn't the table responsive itself?

Note that I'm able to reproduce the issue with the PF 4 examples.

<img width="528" alt="Screen Shot 2019-08-09 at 11 12 32 AM" src="https://user-images.githubusercontent.com/17481322/62789344-b5d4e580-ba96-11e9-9c3d-289a8350e5c6.png">

[2019-08-09 15:59] dgutride commented on #2185
@skateman - I agree that putting a class on the body is a hack.  That isn't what my example demonstrated, though.

[code]

The above shows two attributes that would directly impact the dialog and internal content.  This shows the bootstrap component allows for not hacking the body tag with an extra class.  Please feel free to set up a meeting with me directly if you'd like an in-person demonstrati

[2019-08-09 16:01] tlabaj commented on #1886
closed by #1905

[2019-08-09 16:01] #1886 closed

[2019-08-09 16:42] ssilvert commented on #2674
@rachael-phillips Correct.  It's a blocker.

[2019-08-09 17:57] #1938 closed

[2019-08-09 18:08] mcoker commented on #1790
@dlabrecq it's up to the user to apply the correct grid breakpoint in their table to tell the table when to wrap. In the case above, the `<th>` content is causing the table to overflow its container since `<th>` doesn't/shouldn't wrap by default. We should either increase the grid breakpoint or shorten the `<th>` content.

There is also a `.pf-m-wrap` modifier you can use on the `<th>` cells to al

[2019-08-09 19:21] priley86 opened #2679 "PF4 - React Table - Inline Edit Feature"
In this issue, I will try to capture additional needs for the upcoming Inline Edit feature 😸 . Please feel free to append...

This issue will include the following:

- Provide an implementation of the new Inline Editable table coming to PF Core. Link to [PF Core issue](https://github.com/patternfly/patternfly-next/issues/404).
- Refactor inline editable row and inline editable table to meet latest

[2019-08-09 19:41] mturley commented on #2673
Just commenting here so this issue ends up in my "participating" filter. This all sounds like good stuff!

[2019-08-09 19:42] mturley commented on #2679
Just commenting here so this issue ends up in my "participating" filter. I will definitely want to get involved in this, I wrestled with the PF3 inline edit feature quite a bit.

[2019-08-09 20:43] tlabaj commented on #2596
Closed by #2648

[2019-08-09 20:43] #2596 closed

[2019-08-09 20:43] tlabaj commented on #2662
Closed by #2664

[2019-08-09 20:43] #2662 closed

[2019-08-09 20:58] tlabaj commented on #2366
Closed by #2678

[2019-08-09 20:58] #2366 closed

[2019-08-10 17:06] carlosga opened #2680 "PF4 Possible bug on empty state size class binding"
Looking at the demo page of the Empty State component ( https://www.patternfly.org/v4/documentation/react/components/emptystate/  ) it looks like the css class for the component size is not being generated correctly, on the demo page, the small size one is being generated as **'styles.modifiers.sm'** and the large one as **'styles.modifiers.lg'**, if i'm not wrong they should be generated as **'pf

[2019-08-10 19:13] #919 closed

[2019-08-11 06:33] skateman commented on #2185
Thanks @dgutride this seems working :+1:

[2019-08-11 09:53] boaz0 commented on #2680
@carlosga you're right it looks like a bug.

[2019-08-12 01:49] dlabrecq commented on #1790
@mcoker Are you speaking about applying a modifier to the raw HTML from PF-core or the React table component?

I don't see any React table examples showing how to apply the `.pf-m-wrap` modifier or how to apply the `grid-2xl `break point. At least, I don't see how the React table component exposes the `<th>` cells directly?

It's possible that the React table component needs to be adjusted? I just

[2019-08-12 10:50] #2610 closed

[2019-08-12 12:05] #2185 closed

[2019-08-12 12:13] jeff-phillips-18 commented on #1146
The fix can be found in the override in openshift console PR above:
https://github.com/openshift/console/pull/1025

[2019-08-12 14:16] rachael-phillips commented on #2680
@carlosga is this currently blocking you or do you have a workaround?

[2019-08-12 14:18] boaz0 commented on #2680
A possible workaround is to pass `pf-m-lg` or `pf-m-sm` to the `className` prop of `EmptyState`

//cc @carlosga @rachael-phillips

[2019-08-12 14:23] rachael-phillips commented on #2675
Hi @karelhala we'll be investigating this one. Thanks for filing!

[2019-08-12 14:24] rachael-phillips commented on #2674
@dgutride I know you were looking at this with @ssilvert . What was the outcome of that and what should our next steps be?

[2019-08-12 14:28] rachael-phillips commented on #2667
@dgutride making you aware of this issue, as well

[2019-08-12 16:52] carlosga commented on #2680
No, 'it's not blocking.

[2019-08-12 18:49] jenny-s51 opened #2688 "PF4 demo-app left sidebar: scrolling should be independent of body"
In the react-integration demo app, the left sidebar includes all the links to the demos. However the sidebar does not scroll independently from the body, and a user needs to repeatedly scroll up or down to view/click on a new demo.

Instead, the left sidebar should be a separate scrolling panel, independent of the body. _Only_ this left sidebar should be scroll-able.

The ideal scrolling behavior

[2019-08-12 19:20] tlabaj opened #2689 "Props are no longer being spread to the DropdownToggle"
The typescript conversion (PR #2502) removed the spreading of the props in the DropdownToggle. This is causing the aria-labels to not be added correctly

[2019-08-12 21:49] seanforyou23 opened #2691 "DropdownToggleCheckbox type error for checked prop"
I see this with latest react-core. Think it's a problem with [this interface](https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/Dropdown/DropdownToggleCheckbox.tsx#L16). Should we omit it with the other native props?

`Types of property 'checked' are incompatible.`
`Type 'boolean | null | undefined' is not assignable to type 'boolean | undef

[2019-08-13 07:26] akshygupt opened #2693 "PF4 Login Page background image doesn't show up in Firefox"
System Details:
Operating System: Fedora 29
Browser: Firefox Quantum 68
@patternfly/react-core:

If you visit the login page [example](https://www.patternfly.org/v4/documentation/react/components/loginpage/) provide in the documentation, the background image doesn't show up.

This seems to be an issue with the filter property, if i were to remove this, the image starts to show up

.pf-c-background

[2019-08-13 10:15] rawagner opened #2694 "Issues with Accordion styling"
Im trying to use PF4's Accordion but Im facing a few issues

- every AccordionToggle is wrapped in heading (h1-h6, which can be configured) - I dont want that, I cannot even pass a custom className to the heading. It seems to me that this wrapping inside heading tag is unnecessary. If i'd like to use heading tag I can specify it as

[code]

- adding custom classes to AccordionToggle's button eleme

[2019-08-13 13:35] #2606 closed

[2019-08-13 14:03] rachael-phillips commented on #2694
Hi @rawagner is this currently blocking you or do you have a work around?

[2019-08-13 14:27] dlabaj commented on #1654
There isn't much work to add this ability. @rachael-phillips @tlabaj

[2019-08-13 14:49] #2691 closed

[2019-08-13 14:51] mcarrano commented on #1654
We should definitely have this capability. Here's what our design documentation currently says about this:

[2019-08-13 15:11] tlabaj commented on #2581
This will be fixed by PR #2690

[2019-08-13 15:13] rachael-phillips commented on #1741
Hi @mceledonia what are your thoughts on this issue?

[2019-08-13 15:15] mcoker commented on #1790
@dlabrecq on https://patternfly-react.surge.sh/patternfly-4/components/table/ look for the "Table with headers that wrap" example. And the breakpoints are defined in the `gridBreakPoint` prop. For a 2xl breakpoint you would define ` gridBreakPoint="grid-2xl"`

[2019-08-13 15:23] dlabaj commented on #1654
@mcoker @seanforyou23 Are we thinking it will be hidden or removed from the DOM?  If it's hidden do we need a modifier for it?

[2019-08-13 15:50] #402 closed

[2019-08-13 18:15] mcarrano commented on #1654
That's fine to keep the current default behavior @dlabaj . As for whether to hide or remove, seems like you would want to remove. Otherwise if you hide, how does the user get rid of them?

[2019-08-13 18:19] rachael-phillips opened #2697 "toolbar"

[2019-08-13 18:50] seanforyou23 commented on #1654
@dlabaj  I think removing it from the DOM is the way to go, can't think of any reason to keep it around at the moment.

[2019-08-13 20:23] dlabrecq commented on #1790
@mcoker Thank you for clarifying. The gridBreakPoint="grid-2xl" seems to be working.

[2019-08-13 20:36] #1790 closed

[2019-08-13 21:46] dlabaj commented on #1654
Thanks @mcarrano and @seanforyou23 for the feedback.  If it was hidden the developer would have to remove them.  Wasn't sure if there was a use case where the notification would want to be seen by the user after it disappears.  We will go with removing them from the DOM.

[2019-08-14 13:00] rawagner commented on #2694
not blocking, I can style with some ugly css rules for now :)

[2019-08-14 13:24] #1950 closed

[2019-08-14 13:43] redallen commented on #2658
Fixed in #2657 .

[2019-08-14 13:43] #2658 closed

[2019-08-14 13:44] redallen commented on #2689
Fixed in #2690

[2019-08-14 13:44] #2689 closed

[2019-08-14 13:45] rhamilto opened #2700 "Tooltip arrows can't point at the wrong node or nothing at all"
See https://github.com/openshift/console/pull/2345 for details.

cc:  @janwright73, @dgutride, @spadgett

[2019-08-14 14:58] tlabaj opened #2703 "Dropdown regressions"
1. DropdownMenuItem Styles are missing
2. Typescript error thrown for iconComponent prop

[2019-08-14 16:02] rachael-phillips commented on #2694
Thanks for the info!

[2019-08-14 16:03] rachael-phillips commented on #2694
@mcoker I placed a P2 on this issue because it is not blocking. Feel free to review and correct if needed.

[2019-08-14 17:29] redallen commented on #1532
All core components have been converted, including Table.

[2019-08-14 17:29] #1532 closed

[2019-08-14 17:34] redallen commented on #2139
Still awaiting its update and merge. Can likely dedicate a day this week to fix it upstream.

[2019-08-14 18:10] mcoker commented on #2694
Thanks @rachael-phillips. Related - https://github.com/patternfly/patternfly-next/issues/2116

[2019-08-14 19:08] boaz0 commented on #1767
I will give this +1 as this is what we need for the PF4 filter we are using.
I tried to solve this using `InputGroup` and `InputGroupText` but it doesn't look perfect as having the icon inside the select toggle.

If no one is working on this, can you assign this to me.

related to https://github.com/project-koku/koku-ui/issues/946

//cc @dlabrecq

[2019-08-14 20:00] seanforyou23 opened #2705 "TextArea throws warning when being used as an uncontrolled component"
We want to be able to use this as a controlled or uncontrolled component. Currently, a warning is thrown when providing `defaultValue` as a prop. When defaultValue is provided, we should omit the `value` property from being set.

<img width="1434" alt="Screen Shot 2019-08-12 at 5 04 11 PM" src="https://user-images.githubusercontent.com/5942899/63052113-9251d680-beac-11e9-90b8-bcd0cd883a67.png">

[2019-08-14 21:28] dlabrecq commented on #1767
Attn: @LHinson @rachael-phillips

Cost Management needs the ability to add a filter icon in order to implement the PatternFly filter design shown below.

https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/filters#attribute-value-textbox-filters
![Screen Shot 2019-08-14 at 10 19 59 AM](https://user-images.githubusercontent.com/17481322/63028615-273cdb80-be7d-11e9-9694-4288cd3d5a74.p

[2019-08-15 07:21] dlabrecq opened #2706 "Charts: clean up tests and doc"
While implementing the new bullet chart, I encountered some minor issues with the tests and docs.

For example, some tests are not labeled properly. The legendData prop is not documented well. And the axis ticks are not being shown.

Also want to remove the `setTimeout` used by the responsive examples.

[2019-08-15 09:10] bond95 opened #2709 "Problem with @spice-project/spice-html5 in SpiceConsole"
`SpiceConsole` importing `@spice-project/spice-html5` which cause error, because Chrome is not supported `import * as` construction.

[2019-08-15 12:58] ssilvert commented on #2674
@rachael-phillips Is anyone looking at this?

[2019-08-15 13:36] abstractj commented on #2667
@rachael-phillips I tried to upgrade Patternfly and seems to be a blocker because I got the same issue. Below a snippet from my dependencies:

[code]

[2019-08-15 15:23] redallen commented on #2709
Can you give steps to reproduce or link a repo/branch?

[2019-08-15 19:15] redallen commented on #2694
Opened a PR for this.

[2019-08-15 19:19] #2700 closed

[2019-08-15 19:30] redallen commented on #2362
I think for now we should use TSLint on everything, including our JS via the `--allowJS` option. Later, we can move to ESLint per [Palantir's post](https://medium.com/palantir/tslint-in-2019-1a144c2317a9). I'll investigate the feasibility of TSLint soon™.

[2019-08-15 21:15] alecmerdler opened #2714 "`CatalogTile` Icon Should Support Alternate Text"
### Description

The `CatalogTile` component accepts an `iconImg` prop, but nothing to satisfy the [`alt` property of the `<img>` tag](https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-3/patternfly-react-extensions/src/components/CatalogTile/CatalogTile.js#L138). It would be nice to add an `iconAlt` prop.

[2019-08-16 02:20] mturley commented on #2362
@redallen I don't have a strong opinion either way, I just think we should either run Prettier or disable tslint-config-prettier and let TSLint enforce code style.

[2019-08-16 10:03] bond95 commented on #2709
@redallen in this PR https://github.com/oVirt/ovirt-web-ui/pull/1091 we use only `VncConsole`, to make it work I did mock file and set it as alias with name `@spice-project/spice-html5`.

[2019-08-16 11:43] SpyTec opened #2716 "Pagination number field doesn't trigger on change"
Clicking the buttons and navigating pagination works, but changing the number field directly does not trigger any changes.

See: https://patternfly-react.surge.sh/patternfly-4/components/pagination/

## Repro steps

1. Navigate up one pagination by clicking next
2. Click on input field
3. Change back to page 1

## Expected behaviour
Page is changed back to 1

## Actual behaviour
Page does not chan

[2019-08-16 13:26] redallen commented on #2709
That's interesting, [`@spice-project/spice-html5` claims to be Chrome and Firefox compatible](https://www.npmjs.com/package/@spice-project/spice-html5). If you're using tree-shaken ESM modules, it should only be a problem if you `import { SpiceConsole } from '@patternfly/react-console';`, which I don't see in your project. What's the exact error you're seeing?

[2019-08-16 13:43] rachael-phillips commented on #2716
@SpyTec thanks for filing! Is this currently blocking you or do you have a work around?

[2019-08-16 14:26] rachael-phillips commented on #1767
HI @dlabrecq @aljesusg @boaz0 we have opened https://github.com/patternfly/patternfly-next/issues/2152 on the Core side. We'd like to address this first before addressing 1767. We'll add support for the icon in core by creating a new element in the select component for it, and that element will apply style (spacing) to the icon. Then #1767 can be updated to pull in that change and make the icon a